@model IOAS.Models.CashBookModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Connect UW">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/connectuw-icn.png" />
    <title>Cash Book</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />
    <style>
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 20px;
            padding-top: 20px;
        }

            .umr-hd h2 {
                font-size: 16px;
                color: #000;
                font-weight: normal;
                text-align: left;
            }

                .umr-hd h2 em {
                    font-size: 14px;
                    float: left;
                    font-style: normal;
                }

                .umr-hd h2 b {
                    font-size: 14px;
                    float: right;
                    font-weight: normal;
                }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .ct-tr-tb {
            margin-bottom: 0px;
        }

        .logo-section .icsr-logo {
            width: 80px;
            float: left;
        }

        .logo-section .dts {
            width: calc(100% - 180px);
            float: left;
            text-align:center;
        }

        .logo-section h4 {
            margin-top: 0px;
        }

        .logo-section .iitm-logo {
            width: 100px;
            float: right;
        }

        .logo-section h5 {
            font-size: 16px;
        }

        .ct-tr-tb.table-bordered > tbody > tr > td, .ct-tr-tb.table-bordered {
            border: 0px;
        }

        .ct-br-tb.table-bordered > tbody > tr > td {
            border-color: rgba(0,0,0,0.7);
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 15px;
        }

        .gr-bg {
            background: #eee;
        }


        .ct-tr-tb {
            margin-bottom: 0px;
        }

            .ct-tr-tb.table-bordered > tbody > tr > td, .ct-tr-tb.table-bordered {
                border: 0px;
            }

        .ct-br-tb.table-bordered > tbody > tr > td {
            border-color: rgba(0,0,0,0.7);
        }

        .logo-section h3 {
            margin-top: 10px;
            margin-bottom: 3px;
            font-size: 24px;
            text-align:center;
        }

        .logo-section h4 {
            margin-bottom: 3px;
            font-weight: normal;
        }

        .logo-section h5 {
            margin-bottom: 3px;
            font-weight: normal;
            font-size: 18px;
            margin-top: 0px;
        }
    </style>





</head>
<body class="umr-body">

    <div class="umr-hd">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="logo-section">
                    @*<img src="img/icsr_logo.png" class="icsr-logo">*@
                    <img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" />
                    <div class="dts">
                        <h3><b>Centre for Industrial Consultancy and Sponsored Research</b></h3>
                        <h5><b>Indian Institute of Technology Madras</b></h5>
                        <h5><b>'Bank Book'</b></h5>
                    </div>
                    @*<img src="img/iitm_logo.png" class="iitm-logo">*@
                    <img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" />
                </div>
            </div>
        </div>
    </div>
    <section class="grey-bg">
        <div class="row">
            @*<div class="col-md-2">
                    <div class="icn-box">
                        <b>Date of cashbook</b><br />
                        @Html.DisplayFor(m=>m.CashBookDate)
                    </div>
                </div>*@
            <div class="col-md-2">
                <div class="icn-box">
                    <b>From</b><br />
                    @Html.DisplayFor(m => m.fromdate)
                </div>
            </div>
            <div class="col-md-2">
                <div class="icn-box">
                    <b>To	</b><br />
                    @Html.DisplayFor(m => m.todate)
                </div>
            </div>
            <div class="col-md-4">
                <div class="icn-box">
                    <b>Bank Name</b><br />
                    @Html.DisplayFor(m => m.Bank)
                </div>
            </div>
            <div class="col-md-2">
                <div class="icn-box">
                    <b>Opening Bal</b><br />
                    @Html.DisplayFor(m => m.FinalOB)
                </div>
            </div>
            <div class="col-md-2">
                <div class="icn-box">
                    <b>Closing Bal</b><br />
                    @Html.DisplayFor(m => m.FinalCB)
                </div>
            </div>
        </div>
    </section>
    <section class="cnt-bg">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-bordered ct-br-tb">
                        <thead>

                        </thead>
                        <tbody>
                            @if (Model.Id > 0)
                            {
                                if (Model.PAY.Count == 0 && Model.REC.Count == 0)
                                {
                                    <tr>
                                        <td colspan="3" class="text-center"><b>Payment</b> </td>
                                        <td colspan="6" class="text-center"><b>Receipt</b> </td>
                                    </tr>
                                }
                                if (Model.PAY != null || Model.REC != null)
                                {
                                    if (Model.PAY.Count > Model.REC.Count)
                                    {
                                        <tr>
                                            <td colspan="3" class="text-center"><b>Payment</b> </td>
                                            <td colspan="6" class="text-center"><b>Receipt</b> </td>
                                        </tr>
                                    }
                                    if (Model.PAY.Count < Model.REC.Count)
                                    {
                                        <tr>
                                            <td colspan="3" class="text-center"><b>Receipt</b> </td>
                                            <td colspan="6" class="text-center"><b>Payment</b> </td>
                                        </tr>
                                    }
                                }
                            }
                            <tr>
                                <td class="gr-bg" style="width:75px;"><b>Date</b></td>
                                <td class="gr-bg" style="width:150px;"><b>Particular</b></td>
                                <td class="gr-bg" style="width:75px;"><b>Amount</b></td>
                                <td class="gr-bg" style="width:75px;"><b>Date</b></td>
                                <td class="gr-bg" style="width:150px;"><b>Particular</b></td>
                                <td class="gr-bg" style="width:75px;"><b>Amount</b></td>
                            </tr>
                            @if (Model.Id > 0)
                            {


                                if (Model.PAY != null || Model.REC != null)
                                {
                                    if (Model.PAY.Count > Model.REC.Count)
                                    {
                                        for (int i = 0; i < Model.PAY.Count; i++)
                                        {
                                            <tr>
                                                <td style="width:75px;">
                                                    @Html.DisplayFor(m => Model.PAY[i].ReferenceDate)
                                                </td>
                                                <td style="width:150px;">
                                                    @Html.DisplayFor(m => Model.PAY[i].VoucherPayee)
                                                </td>
                                                <td style="width:75px;" class="text-right">
                                                    @Html.DisplayFor(m => Model.PAY[i].Amount)
                                                </td>
                                                @if (Model.REC.Count == 0)
                                                {
                                                    <td style="width:75px;"></td>
                                                    <td style="width:150px;"></td>
                                                    <td style="width:75px;"></td>
                                                }
                                                @for (int j = 0; j < Model.REC.Count; j++)
                                                {
                                                    if (Model.REC.Count < i + 1)
                                                    {
                                                        <td style="width:75px;"></td>
                                                        <td style="width:150px;"></td>
                                                        <td style="width:75px;"></td>
                                                    }
                                                    else
                                                    {

                                                        <td style="width:75px;">
                                                            @Html.DisplayFor(m => Model.REC[i].ReferenceDate)
                                                        </td>
                                                        <td style="width:150px;">
                                                            @Html.DisplayFor(m => Model.REC[i].VoucherPayee)
                                                        </td>
                                                        <td style="width:75px;" class="text-right">
                                                            @Html.DisplayFor(m => Model.REC[i].Amount)
                                                        </td>
                                                    }
                                                    break;

                                                }
                                            </tr>
                                        }
                                    }
                                    if (Model.PAY.Count < Model.REC.Count)
                                    {
                                        for (int i = 0; i < Model.REC.Count; i++)
                                        {
                                            <tr>
                                                <td style="width:75px;">
                                                    @Html.DisplayFor(m => Model.REC[i].ReferenceDate)
                                                </td>
                                                <td style="width:150px;">
                                                    @Html.DisplayFor(m => Model.REC[i].VoucherPayee)
                                                </td>
                                                <td style="width:75px;" class="text-right">
                                                    @Html.DisplayFor(m => Model.REC[i].Amount)
                                                </td>
                                                @if (Model.PAY.Count == 0)
                                                {
                                                    <td style="width:75px;"></td>
                                                    <td style="width:150px;"></td>
                                                    <td style="width:75px;"></td>
                                                }
                                                @for (int j = 0; j < Model.PAY.Count; j++)
                                                {
                                                    if (Model.PAY.Count < i + 1)
                                                    {
                                                        <td style="width:75px;"></td>
                                                        <td style="width:150px;"></td>
                                                        <td style="width:75px;"></td>
                                                    }
                                                    else
                                                    {

                                                        <td style="width:75px;">
                                                            @Html.DisplayFor(m => Model.PAY[i].ReferenceDate)
                                                        </td>
                                                        <td style="width:150px;">
                                                            @Html.DisplayFor(m => Model.PAY[i].VoucherPayee)
                                                        </td>
                                                        <td style="width:75px;" class="text-right">
                                                            @Html.DisplayFor(m => Model.PAY[i].Amount)
                                                        </td>
                                                    }
                                                    break;

                                                }
                                            </tr>
                                        }
                                    }
                                }
                            }
                        </tbody>

                    </table>
                </div>
                @*<div class="col-md-6">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="3" class="text-center">Receipt </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="gr-bg"><b>Date</b></td>
                                    <td class="gr-bg"><b>Particular</b></td>
                                    <td class="gr-bg"><b>Amount</b></td>
                                </tr>
                                <tr>
                                    <td>12-02-2019</td>
                                    <td>Particular01</td>
                                    <td>13000.00</td>
                                </tr>
                                <tr>
                                    <td>12-02-2019</td>
                                    <td>Particular01</td>
                                    <td>13000.00</td>
                                </tr>
                                <tr>
                                    <td>12-02-2019</td>
                                    <td>Particular01</td>
                                    <td>13000.00</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>*@
            </div>

            <div class="row">
                <div class="col-md-12">
                    @if (Model.PAY.Count > Model.REC.Count)
                    {
                        <div class="col-md-4">
                            <div class="form-group custom-form-group ">
                                <label>Total Payment Amount</label><br />
                                @Html.DisplayFor(m=>m.PaymentTotalAmount)
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group custom-form-group ">
                                <label>Total Receipt Amount</label><br />
                                @Html.DisplayFor(m => m.ReceiptTotalAmount)
                            </div>
                        </div>
                    }
                    @if (Model.REC.Count > Model.PAY.Count)
                    {
                        <div class="col-md-4">
                            <div class="form-group custom-form-group ">
                                <label>Total Receipt Amount</label><br />
                                @Html.DisplayFor(m => m.ReceiptTotalAmount)
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group custom-form-group ">
                                <label>Total Payment Amount</label><br />
                                @Html.DisplayFor(m => m.PaymentTotalAmount)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>