@model IOAS.Models.ProjSummaryModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Connect UW">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/connectuw-icn.png" />
    <title>Commitment Bill</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />

    <style>
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 20px;
            padding-top: 20px;
        }

            .umr-hd h2 {
                font-size: 16px;
                color: #000;
                font-weight: normal;
                text-align: left;
            }

                .umr-hd h2 em {
                    font-size: 14px;
                    float: left;
                    font-style: normal;
                }

                .umr-hd h2 b {
                    font-size: 14px;
                    float: right;
                    font-weight: normal;
                }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mt-sm {
            margin-top: 15px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 9px 15px 15px 15px;
        }

        .gr-bg {
            background: #eee;
        }

        .logo-section .icsr-logo {
            width: 70px;
            float: left;
        }

        .logo-section .dts {
            width: calc(100% - 160px);
            float: left;
        }

        .logo-section h4 {
        }

        .logo-section .iitm-logo {
            width: 70px;
            float: left;
        }


        .fn-bl {
            font-weight: bold;
        }


        .cnt-bg .table em {
            font-size: 13px;
            font-style: normal;
            width: 100%;
            display: inline-block;
            margin-bottom: 5px;
        }
    </style>

</head>
<body class="umr-body">

    <header class="umr-hd">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="logo-section">
                        <img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" />
                        <div class="dts">
                            <h4>Centre for Industrial Consultancy and Sponsored Research</h4>
                            <h5>Indian Institute of Technology Madras</h5>
                        </div>
                        <img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" />
                    </div>
                </div>
                <div class="col-md-offset-8 col-md-2 ">
                    <span> Printed date :  @Model.LoginTS</span>
                </div>
            </div>
        </div>

    </header>

    <section class="cnt-bg">
        <div class="container-fluid">
            <div class="row mt-sm">

                <div class="col-md-12">
                    <table class="table table-bordered">

                        <tbody>
                            <tr>
                                <td><b>Account Type : @Html.DisplayFor(m => m.Summary.ProjectType)</b></td>
                                <td>
                                    <b>
                                        Accounts (Project Cell) <br>
                                        @Html.DisplayFor(m => m.Date)
                                    </b>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="row mt-sm">

                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="gr-bg" colspan="4">Project Details </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Login Users:</td>
                                <td colspan="3">@Html.DisplayFor(m => m.loginUser)</td>
                            </tr>
                            <tr>
                                <td><b>Project Number</b></td>
                                <td colspan="3">@Html.DisplayFor(m => m.Summary.ProjectNo)</td>
                            </tr>
                            <tr>
                                <td><b>PI Name</b></td>
                                <td colspan="3">@Html.DisplayFor(m => m.Summary.PIname)</td>
                            </tr>
                            <tr>
                                <td><b>Project Title</b></td>
                                <td colspan="3">@Html.DisplayFor(m => m.Summary.ProjectTittle)</td>
                            </tr>
                            <tr>
                                <td><b>Project Start and End  Date</b></td>
                                <td colspan="3">@Html.DisplayFor(m => m.Summary.StartDate)      to      @Html.DisplayFor(m => m.Summary.CloseDate)</td>
                                @*<td><b>Project Closure Date</b></td>
            <td>@Html.DisplayFor(m => m.ProjectCloseDate)</td>*@

                            </tr>
                            <tr>
                                <td colspan="4"><b>Commitment Details</b></td>
                            </tr>
                            <tr>
                                <td>Commitment Number </td>
                                <td colspan="3">@Html.DisplayFor(m => m.CommitNo)</td>
                            </tr>

                            <tr>
                                <td>Head </td>
                                <td colspan="3">@Html.DisplayFor(m => m.HeadName)</td>
                            </tr>
                            @if (Model.SourceReference != null)
                            {
                                <tr>
                                    <td>Source Tapal Number</td>
                                    <td>@Html.DisplayFor(m => m.SourceReference)</td>
                                </tr>
                            }
                            @if (Model.SourceEmail != null)
                            {
                                <tr>
                                    <td>Source Email</td>
                                    <td>@Html.DisplayFor(m => m.SourceEmail)</td>
                                </tr>
                            }
                            @if (Model.BalCommitAmt > 0)
                            {
                                <tr>
                                    <td>Closed Amount </td>
                                    <td>@Html.DisplayFor(m => m.BalCommitAmt)</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4"><b>Commitment Amount</b></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered ct-tr-tb" style="margin-bottom:0px;">
                                        <thead>
                                            <tr>
                                                <th>Currency</th>
                                                <th>Amount</th>
                                                <th>Exc.Rate</th>
                                                <th>Add.Chrg</th>
                                                <th>Booked Amt</th>
                                                <th>Available Amt</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Html.DisplayFor(m => m.Currency)</td>
                                                <td>@Html.DisplayFor(m => m.ForeCurr)</td>
                                                <td>@Html.DisplayFor(m => m.ExcRate)</td>
                                                <td>@Html.DisplayFor(m => m.Addcharge)</td>
                                                <td>@Html.DisplayFor(m => m.CommitAmt)</td>
                                                <td>@Html.DisplayFor(m => m.CommitBalanceAmt)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="4"><b>Po Details</b></td>
                            </tr>
                            <tr>
                                <td>Po Number </td>
                                <td colspan="3">@Html.DisplayFor(m => m.PoNo)</td>
                            </tr>
                            <tr>
                                <td>Vendor Name </td>
                                <td colspan="3">@Html.DisplayFor(m => m.vendorName)</td>
                            </tr>
                            <tr>
                                <td>Item Description </td>
                                <td colspan="3">@Html.DisplayFor(m => m.ItemDesc)</td>
                            </tr>

                            @*IC36775 Commitmentype to be added 13/Dec/22
                            for the ticket#8167*@

                            @if (Model.CommitType == 2)
                            {
                                <tr>
                                    <th colspan="4">Note- Commitment will be valid only for 90 days from the date of booking, Hence kindly try to submit the bills at the earliest.</th>
                                </tr>
                            }


                            <tr>
                                <td colspan="4"><b>Salary</b></td>
                            </tr>
                            <tr>
                                <td>Staff Name</td>
                                <td colspan="3">@Html.DisplayFor(m => m.StaffName)</td>
                            </tr>
                            <tr>
                                <td>Start Date</td>
                                <td colspan="3">@Html.DisplayFor(m => m.StartDate)</td>
                            </tr>
                            <tr>
                                <td>End Date</td>
                                <td colspan="3"> @Html.DisplayFor(m => m.EndDate)</td>
                            </tr>

                            <tr>
                                <td>Remarks </td>
                                <td colspan="3">@Html.DisplayFor(m => m.Remarks)</td>
                            </tr>
                            <tr>
                                <td>Commitment Status </td>
                                <td colspan="3">@Html.DisplayFor(m => m.Status)</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="gr-bg" colspan="2">Project Over All Funds Position</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Sanctioned Project Cost :</b></td>
                                <td style="width:200px;">@Html.DisplayFor(m => m.Summary.SanctionedValue)</td>
                            </tr>
                            <tr>
                                <td><b>Opening Balance</b></td>
                                <td>@Html.DisplayFor(m => m.Summary.OpeningBalance)</td>
                            </tr>
                            <tr>
                                <td><b>Budget Allocation</b></td>
                                <td>@Html.DisplayFor(m => m.BudgAlloc)</td>
                            </tr>
                            <tr>
                                <td><b>Expenditure + Pending Commitments AS ON @Html.DisplayFor(m => m.Date)</b></td>
                                <td>@Html.DisplayFor(m => m.ExpAmt)</td>
                            </tr>
                            <tr>
                                <td><b>Max Commitments allowed to book under the @Html.DisplayFor(m => m.HeadName)  head</b></td>
                                <td> @Math.Round((Model.MaxAllowed)- (Model.CommitAmt)) </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>



        </div>



    </section>



    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>
