@model IOAS.Models.ContractorBillModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Connect UW">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/connectuw-icn.png" />
    <title>Connect UW</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />

    <style>
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 0px;
            padding-top: 7px;
        }

            .umr-hd h2 {
                font-size: 16px;
                color: #000;
                font-weight: normal;
                text-align: left;
            }

                .umr-hd h2 em {
                    font-size: 14px;
                    float: left;
                    font-style: normal;
                }

                .umr-hd h2 b {
                    font-size: 14px;
                    float: right;
                    font-weight: normal;
                }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mt-sm {
            margin-top: 15px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 15px;
        }

        .gr-bg {
            background: #eee;
        }

        .logo-section .icsr-logo {
            width: 70px;
            float: left;
        }

        .logo-section .dts {
            width: calc(100% - 160px);
            float: left;
        }

        .logo-section h4 {
        }

        .logo-section .iitm-logo {
            width: 70px;
            float: left;
        }


        .fn-bl {
            font-weight: bold;
        }


        .cnt-bg .table em {
            font-size: 13px;
            font-style: normal;
            width: 100%;
            display: inline-block;
            margin-bottom: 5px;
        }
        .box {
  width: 80px;
  height: 80px;
  border: 1px solid;
  padding: 10px;
  margin:20px auto;
}
        .mt-60{
            margin-top: 60px;
        }
    </style>





</head>
<body class="umr-body">

   

        <section class="cnt-bg">
            <div class="container-fluid mt-60">
                <div class="row">

                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="3" class="text-center">
                                        CONTRACTOR'S BILL
                                        <b class="pull-right">I.A.F.A(Revised)</b>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3"><b>Head of Accounts : <u>  @Html.DisplayFor(m => m.HeadOfAccounts)   </u></b></td>

                                </tr>
                                <tr>
                                    <td colspan="3"><b>Contract Agreement No. <u>@Html.DisplayFor(m => m.AgreementNo)</u> date: <u>@Html.DisplayFor(m => m.FDate)</u> for the period from <u> @Html.DisplayFor(m => m.TDate) </u> </b></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><b>Name of Contractor with full postal Address <u>THE REGISTRAR IIT MADRAS CHENNAI -600 036</u></b></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="gr-bg text-center"><b>Supporting voucher No and date</b></th>
                                    <th class="gr-bg text-center"><b>Name of Unit</b></th>
                                    <th class="gr-bg text-center"><b>Description of articles supplied of service rendered</b></th>
                                    <th class="gr-bg text-center"><b>Quantity or number accepted </b></th>
                                    <th class="gr-bg text-center"><b>Rate(per)</b></th>
                                    <th class="gr-bg text-center"><b>Total Cost</b></th>
                                    <th class="gr-bg text-center"><b>Remarks</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.BillDetails.Count > 0)
                                {
                                    foreach (var item in Model.BillDetails)
                                    {
                                        <tr>
                                            <td>@item.SupportingVocherNo</td>
                                            <td>@item.Unit</td>
                                            <td>@item.Description</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Rate</td>
                                            <td>@item.Amount/-</td>
                                            <td>@item.DetailRemarks</td>
                                        </tr>

                                    }
                                }
                                else
                                {

                                }
                                <tr>
                                    <td colspan="7">
                                        <table>
                                            <tr>
                                                <td style="width:60%;padding-right:10px;">
                                                    <table style="vertical-align:top;padding-right:10px;">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody style="border-right:1px solid">
                                                            <tr>
                                                                <td colspan="2">Certified that:</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <h4 class="text-center"><b>GST Tax Certificate</b></h4>
                                                                    <p>Certified that the goods on which GST Tax has been charged have not been exempted under the Central GST / States /  Unit Territory Tax Act or the Rules made there under and the amount charged on account of GST Tax on these goods is not more than that what is payable the Provisions of the relevant Act of the Rules made there under. </p>
                                                                    <p>Certified further that we (or our Branch or Agent) ________________(Address) ________________________are registered as declares in the State of under local registration No. _______________and in the State of __________under Central Registration No____________for the purpose of GST Tax.</p><br><br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Seals of the Firm  <br>
                                                                    Dated:<u>@Html.DisplayFor(m => m.CurrentDate)</u>
                                                                </td>
                                                                <td class="pull-right">Signature of Contractor</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <br>
                                                                    <h4><b>CERTIFICATE FROM THE CONTRACTOR</b></h4>
                                                                    <p>I have personally examined and verified and no hereby certify that the goods in respect of which payment is being claimed have been actually despatched by me/ us under RR No. / B L No. / Air Consignment No / Postal Receipt No. ____________dated_____________duly drawn in favour of the consigne which is genuine and mentioned in the bill and that I hold myself personally responsible for the Correctness of theis statement.</p>
                                                                    <p>I further certify that the Above mentioned R.R No. B.L No./ Air Consignment No. / Postal Receipt No. __________dated______has been forwarded to the consignee mentioned in the contract under registered post acknowledgement due on ____________________ vide our letter no. __________dated______________</p> <br><br><br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Date <u>@Html.DisplayFor(m => m.CurrentDate)</u></td>
                                                                <td>(Signature and seal of Contractor)</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="width:30%;padding-right:5px;vertical-align:top;">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody style="border-right:1px solid">
                                                            <tr>
                                                                <td colspan="2">I Certify</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <p>(n) that the stores have been duly delivered and inspected and found conformable to patterns and specification and fit for Govt. service and taken on Charge vide. ________________</p>
                                                                    <p>(b) that the rated passed in this bill(1) agree with those passed in the __________and that they have been compared and agree with original documents recorded in this office,(2) are reasonable.</p>
                                                                    <p>(c) certified correct according to transport indent register item No. ___________and I.A.F.Z. 2150 attached ______________</p>
                                                                    <p>(d) that no Govt. transport was available </p><br><br><br><br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Station </td>
                                                                <td>Rank</td>
                                                            </tr>

                                                            <tr>
                                                                <td><br><br><br><br>Date  </td>
                                                                <td class=""><br><br><br><br>Designation </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <br><br><br><br>
                                                                    <p>* These certificates are not required in respect of A.S.C supplies </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><br><br></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="width:10%;vertical-align:top;">

                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="2" style="vertical-align:top;">
                                                                    <p>Received the amount of Rupees (inwords)<p><u>@Html.DisplayFor(m => m.Totalcostwords)</u></p>Payment to made to my Banksers M/s. The _____________________</p>
                                                                    <br><br><br>
                                                                    <p class="box">
                                                                        1 Rupee<br />
                                                                        Stamp
                                                                    </p>

                                                                    <br>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td class="text-center">Signature Contractor  </td>

                                                            </tr>
                                                            <tr>
                                                                <td><br><br><br><br>Station</td>
                                                            </tr>
                                                            <tr>
                                                                <td><br><br><br><br>Signature Contractor  </td>

                                                            </tr>
                                                            <tr>

                                                                <td><br><br><br><br><br><br><br>Date @Html.DisplayFor(m => m.CurrentDate) </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>





            </div>
        </section>



        <!-- main js files -->
        <script src="js/plugins/jquery-2.2.4.min.js"></script>
        <script src="js/bootstrap.js"></script>

</body>
</html>
