@model IOAS.Models.ContingentBillModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Connect UW">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/connectuw-icn.png" />
    <title>Connect UW</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />

    <style>
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 20px;
            padding-top: 20px;
        }

            .umr-hd h2 {
                font-size: 16px;
                color: #000;
                font-weight: normal;
                text-align: left;
            }

                .umr-hd h2 em {
                    font-size: 14px;
                    float: left;
                    font-style: normal;
                }

                .umr-hd h2 b {
                    font-size: 14px;
                    float: right;
                    font-weight: normal;
                }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mt-sm {
            margin-top: 15px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 15px;
        }

        .gr-bg {
            background: #eee;
        }

        .logo-section .icsr-logo {
            width: 70px;
            float: left;
        }

        .logo-section .dts {
            width: calc(100% - 160px);
            float: left;
        }

        .logo-section h4 {
        }

        .logo-section .iitm-logo {
            width: 70px;
            float: left;
        }


        .fn-bl {
            font-weight: bold;
        }


        .cnt-bg .table em {
            font-size: 13px;
            font-style: normal;
            width: 100%;
            display: inline-block;
            margin-bottom: 5px;
        }
        .mt-38{
            margin-top: 38px;
        }
    </style>





</head>
<body class="umr-body">

   

    <section class="cnt-bg">
        <div class="container-fluid mt-38">
            <div class="row mt-sm">

                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-left">
                                    Project No : <b>@Model.ProjectNumber</b>    
                                    <b class="pull-right">in lieu of I.A.F.A-115 (Small)</b>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3" class="text-center">
                                    <h4>CONTINGENT BILL</h4>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p>Amount of Allotment : <span></span> Rs : <b>@Model.Amounts/-</b> </p>
                                    <p>Amount expended and for which bills have already been submitted for payment : <span></span></p>
                                    <p>Balance of allotment excluding  amount of this bill: <span></span></p>
                                    <p>Expenditure on account of -------  incurred ----- During <b>@Model.Duringyear</b></p>
                                    <p>(i) Authority No: @Model.AuthorityNo    Dated : <b>@Model.AuthrityDate</b> </p>
                                    <p>(ii) Months account in which last charge on this account was preferred.</p>
                                    <p>Payment may be released in favour ofThe <b>Registrar, IIT Madras:</b></p>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>

            </div>

            <div class="row  mt-sm">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="gr-bg text-center"><b>Serial No.</b></th>
                                <th class="gr-bg text-center"><b>Date</b></th>
                                <th class="gr-bg text-center"><b>Details of  expenditure</b></th>
                                <th colspan="3" class="gr-bg text-center"><b>Number or quantity </b></th>
                                <th colspan="2" class="gr-bg text-center"><b>Rate Rs.        P.</b></th>
                                <th class="gr-bg text-center"><b>per</b></th>
                                <th class="gr-bg text-center"><b>Amount Rs.P.</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>@Model.CurrentDate</td>
                                <td><span>@Model.ProjectTittle</span>
                                <br />
                                <br />

                                <span>@Model.Milestone</span><br />
                                <br />
                                <span>Project Coordinator</span><br />
                               <span>@Model.ProjectCordinator</span><br />
                                <span>@Model.DeptofEngg</span>
                                <br />
                                <br />
                                <span>Advance received on -----(date) <br />From @Model.AdvReceivedFrom</span>
                                </td>
                                <td class="text-right">@Model.NoOfQuantity</td>
                                <td></td>
                                <td></td>
                                <td class="text-right">@Model.Rate</td>
                                <td></td>
                                <td></td>
                                <td class="text-right">@Model.Amounts/-</td>
                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row  mt-sm">
                <div class="col-md-12">
                    <p>Net amount due (in Words)<b>@Model.AmountinWords</b></p>

                    <p>
                        1.  Certified that the above charges have been necessarily incurred in the interests of the State, that the rates charged at the lowest obtainable and that all receipts for sum of Rs.25/- and under except or regards payment made in M.E.S. to contractors on running accounts have been defaced or mutilated that they cannot be used again and that I have personally checked the progressive total in the bill with that in the contingent registers and found it to agree. <br>

                        2.  Certified that the telegrams were sent to State Services and that cash payment was unavoidable.<br>

                        3.  Certified that payment of subsistence allowance was in the interest of service and that the rejected recruits for whom allowance has been claimed were rejected either medically of by enrolling officer: <br>

                        Note: (Under Rs. Four Lakhs Only) should be written across the bill in prominent place near to and above the total amount of the bill.<br />
                        The amount should be the next multiple of ten rupees exceeding the amount of the bill.

                    </p><br><br><br>

                    <table style="width:100%;">
                        <thead>
                            <tr><th colspan="4"></th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Station:  Chennai –600 036 <br></td>
                                <td>Principal Investigator </td>
                                <td>Countersigned </td>
                                
                            </tr>
                            <tr>
                                <td>
                                  
                                    Date    : <b>@Model.CurrentDate</b><br>
                                </td>
                                <td></td>
                                <td>(Sign of Administrative Authority)</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>



        </div>
    </section>



    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>
