@model IOAS.Models.InvoiceReportModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Connect UW">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/connectuw-icn.png" />
    <title>
        TAX INVOICE
    </title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

    <style>
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 20px;
            padding-top: 20px;
        }

            .umr-hd h2 {
                font-size: 16px;
                color: #000;
                font-weight: normal;
                text-align: left;
            }

                .umr-hd h2 em {
                    font-size: 14px;
                    float: left;
                    font-style: normal;
                }

                .umr-hd h2 b {
                    font-size: 14px;
                    float: right;
                    font-weight: normal;
                }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mt-sm {
            margin-top: 15px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .mt-null {
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 15px;
        }

        .gr-bg {
            background: #eee;
        }

        .logo-section .icsr-logo {
            width: 70px;
            float: left;
        }

        .logo-section .dts {
            width: calc(100% - 160px);
            float: left;
        }

        .logo-section h4 {
        }

        .logo-section .iitm-logo {
            width: 70px;
            float: left;
        }


        .fn-bl {
            font-weight: bold;
        }


        .cnt-bg .table em {
            font-size: 13px;
            font-style: normal;
            width: 100%;
            display: inline-block;
            margin-bottom: 5px;
        }
    </style>

</head>
<body class="umr-body">


    <header class="umr-hd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo-section">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" /></td>
                                    <td class="text-center">
                                        <div class="dts " style="width:100%;">
                                            <h3 style="padding-bottom: 5px;"><b>Centre for IC & SR, IIT Madras</b></h3>
                                            <h5 style="padding-bottom: 5px;"><b>Chennai 600 036</b></h5>
                                            <b>GSTIN: 33AAAAI3615G1Z6</b><b style="margin-left:5px;">PAN: AAAAI3615G</b>

                                        </div>
                                    </td>
                                    <td><img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="cnt-bg">
        <div class="container-fluid">
            <div class="row mt-sm">

                <div class="col-md-12">
                    <h4 class="text-center mt-null">Credit Note</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center">
                                    Credit Note Details
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Credit Note No: </b></td>
                                <td>@Html.DisplayFor(m => m.CreditNoteNo)</td>
                                <td><b>Credit Note Date: </b></td>
                                <td>@Html.DisplayFor(m => m.CreditNoteDate)</td>
                            </tr>
                            <tr>
                                <td><b>Original Invoice No: </b></td>
                                <td>@Html.DisplayFor(m => m.InvoiceNo)</td>
                                <td><b>Original Invoice Date: </b></td>
                                <td>@Html.DisplayFor(m => m.InvoiceDate)</td>
                            </tr>
                            <tr>
                                <td><b>Project Number: </b></td>
                                <td colspan="3">@Html.DisplayFor(m => m.ProjectNumber)</td>

                            </tr>
                            <tr>
                                <td><b>Department Name: </b></td>
                                <td>@Html.DisplayFor(m => m.DepartmentName)</td>
                                <td><b>PI Name : </b></td>
                                <td>@Html.DisplayFor(m => m.PIName)</td>
                            </tr>
                            <tr>
                                <td><b>SAC Number: </b></td>
                                <td>@Html.DisplayFor(m => m.SACNumber)</td>
                                <td><b>IITM - GSTIN: </b></td>
                                <td>33AAAAI3615G1Z6</td>
                            </tr>
                        </tbody>
                    </table>


                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center">
                                    Billed To Address
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:150px"><b>Name: </b></td>
                                <td style="width:250px">@Html.DisplayFor(m => m.Name)</td>
                                <td style="width:150px"><b>Address: </b></td>
                                <td>@Html.DisplayFor(m => m.Address)</td>
                            </tr>
                            <tr>
                                <td><b>District: </b></td>
                                <td>@Html.DisplayFor(m => m.District)</td>
                                <td><b>Pin Code: </b></td>
                                <td>@Html.DisplayFor(m => m.PinCode)</td>
                            </tr>
                            <tr>
                                <td><b>State: </b></td>
                                <td>@Html.DisplayFor(m => m.State)</td>
                                <td><b>State Code : </b></td>
                                <td>@Html.DisplayFor(m => m.StateCode)</td>
                            </tr>
                            <tr>
                                <td><b>GSTIN: </b></td>
                                <td>@Html.DisplayFor(m => m.GSTIN)</td>
                                <td><b>PAN: </b></td>
                                <td>@Html.DisplayFor(m => m.PANNo)</td>
                            </tr>
                            <tr>
                                <td><b>TAN: </b></td>
                                <td>@Html.DisplayFor(m => m.TANNo)</td>
                                <td><b>Contact Person: </b></td>
                                <td>@Html.DisplayFor(m => m.ContactPerson)</td>
                            </tr>
                            <tr>
                                <td><b>Email: </b></td>
                                <td>@Html.DisplayFor(m => m.Email)</td>
                                <td><b>Contact No: </b></td>
                                <td>@Html.DisplayFor(m => m.ContactNo)</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">

                        <tbody>
                            <tr>
                                <td style="width:250px;"><b>Description of Services </b></td>
                                <td>@Html.DisplayFor(m => m.DescriptionofServices)</td>
                            </tr>
                            <tr>
                                <td><b>Credit Note Amount: </b></td>
                                <td>@Html.DisplayFor(m => m.TaxableValue1)</td>
                            </tr>
                            <tr>
                                <td><b>CGST: </b></td>
                                <td>@Html.DisplayFor(m => m.CGSTstr)</td>
                            </tr>
                            <tr>
                                <td><b>SGST: </b></td>
                                <td>@Html.DisplayFor(m => m.SGSTstr)</td>
                            </tr>
                            <tr>
                                <td><b>IGST: </b></td>
                                <td>@Html.DisplayFor(m => m.IGSTstr)</td>
                            </tr>
                            <tr>
                                <td><b>Total Credit Value: </b></td>
                                <td>@Html.DisplayFor(m => m.Amount)</td>
                            </tr>
                            <tr>
                                <td><b>Total Credit Value (In words): </b></td>
                                <td>@Html.DisplayFor(m => m.TotalInvoiceValueInWords)</td>
                            </tr>
                            <tr>
                                <td><b>Reason for Issuing document</b></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>Narration</b></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <div class="col-md-12">
                            <label class="text-right"> For IITM</label>
                        </div>
                       
                    </div>
                    <table class="table table-bordered">
                     
                        <tbody>
                         
                           
                            <tr>
                                <td><b>Prepared by :</b></td>
                                <td class="text-right"><b>Authorised Signatory</b></td>
                            </tr>
                                      
                        </tbody>
                    </table>


                </div>


            </div>

        </div>
    </section>



    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>