@model IOAS.Models.ProjSummaryModel
@{
    ViewBag.Title = "Report";
    ViewBag.Subtitle = "Reports";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}


<div class="row hd-tt-bg ">
    <div class="col-md-12">
        <h4><b>Year wise FinancialReport</b></h4>
    </div>
</div>

<div class="row">
    <div class="page-wrapper">
        <div class="col-md-12 mt30">
            <div class="row">
                <div class="col-md-12">
                    <div class="vh-tt-bg vh-tt-bg-adj mt-null">
                        <div class="vh-frm-bg bl-lg-panel-box pb-null br-adj-null">
                            <div class="row">
                                <div class="">
                                    <div class="col-md-12">
                                        <div class="grey-bg-adj mb-lg">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row mt-md">
                                                        <div class="col-md-3 ">
                                                            <div class="form-group custom-form-group ">
                                                                <label class="required">Project Number </label>
                                                                @Html.TextBoxFor(m => m.ProjectNo, new { @class = "form-control", @id = "ProjectNo", @autocomplete = "off" })
                                                                @Html.TextBoxFor(m => m.ProjectId, new { @class = "form-control dis-none", @id = "ProjectId" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 ">
                                                            <div class="form-group custom-form-group ">
                                                                <label class="required">Exp year  </label>
                                                                @Html.DropDownListFor(m => m.ProjId, new SelectList(ViewBag.YearList, "Id", "label"), "", new { @class = "form-control", @autocomplete = "off", @required = "required", @id = "year" })
                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12 mt-md mb-lg text-center">
                <input type="submit" value="Download" class="btn btn-primary" id="btnSubmit" />

            </div>
        </div>
    </div>

</div>

<div id="delsuccess" class="modal fade modal-success" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="ion-android-checkmark-circle"></i>
                <h3 class="modal-title">No Record found!...</h3>
            </div>
            <div class="modal-body">
                <p> No Record found!...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).on('click', '#ProjectNo', function () {

        applyAutoComplete($('#ProjectNo'), $('#ProjectId'), "../CoreAccounts/LoadProjectNumber", undefined, undefined, undefined);
    });
    $('#btnSubmit').click(function () {
        var ProjectId = $("#ProjectId").val();
        var year = $("#year").val();
        if (ProjectId != "" || year!="")
        {
            var url = '@Url.Action("YearwiseFinancialReport", "Reports")?ProjectId=' + ProjectId + "&Year=" + year;
        window.location.href = url;
        } else {
            $('#FailedAlert').html("Project No, year fields are required");
            $('#Failed').modal('toggle');
        }

    });

    $("#ProjectNo").change(function () {
        var projid = $("#ProjectId").val();
        $.getJSON("@Url.Action("GetProjectExpyear", "ReportMaster")", { projid: projid },
                       function (locationdata) {
                           var select = $("#year");
                           select.empty();
                           $.each(locationdata, function (index, itemData) {
                               select.append($('<option/>', {
                                   value: itemData.Id,
                                   text: itemData.label
                               }));
                           });
                           select.selectpicker('refresh');
                       });
    });
</script>

