@model IOAS.Models.InvoiceReportPrintModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Connect UW">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/connectuw-icn.png" />
    <title>TAX INVOICE</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

    <style>
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 10px;
            padding-top: 20px;
        }

            .umr-hd h2 {
                font-size: 16px;
                color: #000;
                font-weight: normal;
                text-align: left;
            }

                .umr-hd h2 em {
                    font-size: 14px;
                    float: left;
                    font-style: normal;
                }

                .umr-hd h2 b {
                    font-size: 14px;
                    float: right;
                    font-weight: normal;
                }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mt-sm {
            margin-top: 15px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .mt-null {
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 15px;
        }

        .gr-bg {
            background: #eee;
        }

        .logo-section .icsr-logo {
            width: 70px;
            float: left;
        }

        .logo-section .dts {
            width: calc(100% - 160px);
            float: left;
        }

        .logo-section h4 {
        }

        .logo-section .iitm-logo {
            width: 70px;
            float: left;
        }


        .fn-bl {
            font-weight: bold;
        }


        .cnt-bg .table em {
            font-size: 13px;
            font-style: normal;
            width: 100%;
            display: inline-block;
            margin-bottom: 5px;
        }

        .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
            padding: 6px;
        }

        #watermark {
            color: #d0d0d0;
            font-size: 50px;
            position: absolute;
            width: 100%;
            height: auto;
            margin: 0;
            z-index: -1;
            text-align: center;
            top: 60%;
        }
    </style>

</head>
<body class="umr-body">
    @if (Model.Watermark_f)
    {
        <div id="watermark">
            <p>e-Invoice not generated in GST Website</p>
        </div>
    }
    <header class="umr-hd">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <div class="logo-section">
                        <img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" />
                        <div class="dts">
                            <h3 class="text-uppercase">Indian Institute of Technology Madras</h3>
                            <h4>Centre for Industrial Consultancy and Sponsored Research</h4>
                            <h5>Sardar Patel road, Adyar, Chennai - 600 036</h5>
                        </div>
                        <img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" />
                    </div>
                </div>
            </div>
        </div>

    </header>

    <section class="cnt-bg">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <h4 class="text-center mt-null">ORIGINAL TAX INVOICE</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center">
                                    Invoice Details
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Invoice No: </b></td>
                                <td>@Html.DisplayFor(m => m.InvoiceNo)</td>
                                <td><b>Invoice Date: </b></td>
                                <td>@Html.DisplayFor(m => m.InvoiceDate)</td>
                            </tr>
                            <tr>
                                <td><b>Project Number: </b></td>
                                <td>@Html.DisplayFor(m => m.ProjectNumber)</td>
                                <td><b>PO Number: </b></td>
                                <td>@Html.DisplayFor(m => m.PONumber)</td>
                            </tr>
                            <tr>
                                <td><b>Department Name: </b></td>
                                <td>@Html.DisplayFor(m => m.DepartmentName)</td>
                                <td><b>PI Name : </b></td>
                                <td>@Html.DisplayFor(m => m.PIName)</td>
                            </tr>
                            <tr>
                                <td><b>SAC Number: </b></td>
                                <td>@Html.DisplayFor(m => m.SACNumber)</td>
                                <td><b>IITM - GSTIN: </b></td>
                                <td>33AAAAI3615G1Z6</td>
                            </tr>
                        </tbody>
                    </table>


                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center">
                                    Billed To Address
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:150px"><b>Name: </b></td>
                                <td style="width:250px">@Html.DisplayFor(m => m.Name)</td>
                                <td style="width:150px"><b>Address: </b></td>
                                <td>@Html.DisplayFor(m => m.Address)</td>
                            </tr>
                            @if (Model.InvoiceType == 1)
                            {
                                <tr>
                                    <td><b>Country: </b></td>
                                    <td>@Html.DisplayFor(m => m.Country)</td>
                                    <td><b>Contact Person: </b></td>
                                    <td>@Html.DisplayFor(m => m.ContactPerson)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><b>District: </b></td>
                                    <td>@Html.DisplayFor(m => m.District)</td>
                                    <td><b>Pin Code: </b></td>
                                    <td>@Html.DisplayFor(m => m.PinCode)</td>
                                </tr>
                                <tr>
                                    <td><b>State: </b></td>
                                    <td>@Html.DisplayFor(m => m.State)</td>
                                    <td><b>State Code : </b></td>
                                    <td>@Html.DisplayFor(m => m.StateCode)</td>
                                </tr>
                                <tr>
                                    <td><b>GSTIN: </b></td>
                                    <td>@Html.DisplayFor(m => m.GSTIN)</td>
                                    <td><b>PAN: </b></td>
                                    <td>@Html.DisplayFor(m => m.PANNo)</td>
                                </tr>
                                <tr>
                                    <td><b>TAN: </b></td>
                                    <td>@Html.DisplayFor(m => m.TANNo)</td>
                                    <td><b>Contact Person: </b></td>
                                    <td>@Html.DisplayFor(m => m.ContactPerson)</td>
                                </tr>
                            }
                            <tr>
                                <td><b>Email: </b></td>
                                <td>@Html.DisplayFor(m => m.Email)</td>
                                <td><b>Contact No: </b></td>
                                <td>@Html.DisplayFor(m => m.ContactNo)</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">

                        <tbody>
                            <tr>
                                <td style="width:250px;"><b>Description of Services </b></td>
                                <td>@Html.DisplayFor(m => m.DescriptionofServices)</td>
                            </tr>
                            <tr>
                                <td><b>Taxable Value: </b></td>
                                <td>@Html.DisplayFor(m => m.TaxableValue)</td>
                            </tr>
                            <tr>
                                <td><b>CGST (@Model.CGSTPct%): </b></td>
                                <td>@Html.DisplayFor(m => m.CGST)</td>
                            </tr>
                            <tr>
                                <td><b>SGST (@Model.SGSTPct%): </b></td>
                                <td>@Html.DisplayFor(m => m.SGST)</td>
                            </tr>
                            <tr>
                                <td><b>IGST (@Model.IGSTPct%): </b></td>
                                <td>@Html.DisplayFor(m => m.IGST)</td>
                            </tr>
                            <tr>
                                <td><b>Total Invoice Value (rounded figure): </b></td>
                                <td>@Html.DisplayFor(m => m.Amount)</td>
                            </tr>
                            <tr>
                                <td><b>Total Invoice Value (In words): </b></td>
                                <td>@Html.DisplayFor(m => m.TotalInvoiceValueInWords)</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center">
                                    Bank Account Details
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>A/C Name: </b></td>
                                <td>The Registrar, IIT Madras</td>
                                <td><b>A/C No: </b></td>
                                <td>2722101016162</td>
                            </tr>
                            <tr>
                                <td><b>Bank Name: </b></td>
                                <td>CANARA BANK</td>
                                <td><b>Branch Name: </b></td>
                                <td>IIT-Madras Branch</td>
                            </tr>
                            <tr>
                                <td><b>IFSC: </b></td>
                                <td>CNRB0002722</td>
                                <td><b>MICR Code : </b></td>
                                <td>600015085</td>
                            </tr>
                            <tr>
                                <td><b>SWIFT Code: </b></td>
                                <td colspan="3">CNRBINBBIIT</td>

                            </tr>
                            <tr>
                                <td colspan="4">
                                    * Terms and Conditions : <br>
                                    1. Cheque to be drawn in favour of "The Registrar, IIT Madras", in case of NEFT,RTGS provide details<br>
                                    2. The taxes shown are not on reverse charge basis<br>
                                    3. TDS under GST should not be deducted by Government Departments and Public Sector Undertakings, vide
                                    Notification No.73/2018 - Central Tax<br>
                                    4. As per Section 16 of the IGST Act 2017, a Letter of Undertaking without Payment of Integrated Tax is Required for
                                    Supply Meant for Export of Goods/Services & Supplies to SEZ Unit (LUT ARN: AD330420000119W)<br>
                                    @if (Model.SignNR_f)
                                    {
                                        <b>5.This invoice is electronically generated and hence, signature and seal is not required</b><br>
                                    }
                                </td>

                            </tr>
                            @if (!Model.SignNR_f)
                            {
                                <tr>
                                    <td><b>Signature :</b></td>
                                    <td colspan="3"></td>
                                </tr>

                                <tr>
                                    <td><b>Name of the Signatory:</b></td>
                                    <td colspan="3"></td>
                                </tr>

                                <tr>
                                    <td><b>Designation: </b></td>
                                    <td colspan="3"></td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>


            </div>

        </div>
    </section>



    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>