@model IOAS.Models.LCOpeningModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/IOASContent/img/iitm_logo.png")" />
    <title>LC Ammendment</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />
    <style>
           /*
            body{
                width: 21cm;
                height: 29.7cm;
                margin: 30mm 45mm 30mm 45mm;
                border: 1px solid #ccc;
            }
        */
           .umr-body {
               font-family: 'Poppins', sans-serif;
               font-size: 14px;
               color: #2a2a2a;
           }

           .umr-hd {
               text-align: center;
               border-bottom: 1px solid #d4d4d4;
               padding-bottom: 5px;
               padding-top: 10px;
               width: 100%;
               display: inline-block;
               margin-bottom: 10px;
           }

               .umr-hd h2 {
                   font-size: 16px;
                   color: #000;
                   font-weight: normal;
                   text-align: left;
               }

                   .umr-hd h2 em {
                       font-size: 14px;
                       float: left;
                       font-style: normal;
                   }

                   .umr-hd h2 b {
                       font-size: 14px;
                       float: right;
                       font-weight: normal;
                   }

           .umr-hd-tt {
               font-size: 26px;
           }

           .umr-hd-stt {
               font-size: 16px;
               margin-bottom: 20px;
           }

           .sb-tt {
               margin-top: 0px;
               font-weight: normal;
               text-decoration: underline;
           }

           .mb-md {
               margin-bottom: 30px;
           }

           .mb-sm {
               margin-bottom: 15px;
           }

           .mt-md {
               margin-top: 30px;
           }

           .mb-sm {
               margin-bottom: 10px;
           }

           .umr-body li {
               margin-bottom: 10px;
           }

           .tp-tt {
               margin-top: 20px;
               text-decoration: underline;
               font-weight: bold;
           }

           .grey-bg {
               background: #eee;
               padding: 15px;
               width: 100%;
               margin: 0 auto;
           }

               .grey-bg .icn-box {
                   padding: 10px;
               }

                   .grey-bg .icn-box em {
                       font-size: 13px;
                       color: #000;
                       font-style: normal;
                       width: 100%;
                       display: inline-block;
                       margin-bottom: 5px;
                   }

                   .grey-bg .icn-box span {
                       font-size: 15px;
                       color: #000;
                       font-style: normal;
                   }

           .cnt-bg {
               padding: 15px 15px;
           }

           .gr-bg {
               background: #eee;
           }

           .logo-section .icsr-logo {
               width: 50px;
               float: left;
           }

           .logo-section .dts {
               width: calc(100% - 160px);
               float: left;
           }

           .logo-section h4 {
               margin-top: 0px;
           }

           .logo-section .iitm-logo {
               width: 50px;
               float: right;
           }

           .logo-section h5 {
               font-size: 16px;
           }

           .umr-body .table > tbody > tr > td, .umr-body .table > tbody > tr > th, .umr-body .table > tfoot > tr > td, .umr-body .table > tfoot > tr > th, .umr-body .table > thead > tr > td, .umr-body .table > thead > tr > th {
               padding: 5px;
           }

           .ct-tb em {
               width: 100%;
               display: inline-block;
               font-size: 14px;
               font-style: normal;
           }

           .ct-tb span {
               font-weight: bold;
           }

           .ct-tb {
               margin-bottom: 15px;
           }

           .ct-tr-tb {
               margin-bottom: 0px;
           }

               .ct-tr-tb.table-bordered > tbody > tr > td, .ct-tr-tb.table-bordered {
                   border: 0px;
               }

           .ct-br-tb.table-bordered {
               border-color: #000;
           }

               .ct-br-tb.table-bordered > tbody > tr > td, .ct-br-tb.table-bordered > thead > tr > th {
                   border-color: rgba(0,0,0,0.7);
               }

           .ct-tb-trp.table-bordered > tbody > tr > td, .ct-tb-trp.table-bordered, .ct-tb-trp.table > thead > tr > th {
               border: 0px;
           }

           .cnt-bg h4 {
               margin-top: 30px;
           }

           .mn-tt {
               font-size: 18px;
           }

           .mr-md {
               margin-right: 15px;
           }

           .wdt-auto {
               width: auto !important;
           }
    </style>

</head>
<body class="umr-body">

    <header class="umr-hd">
        <div class="col-md-10 col-md-offset-1">
            <div class="logo-section">
                <img src="@Url.Content("~/Content/IOASContent/img/icsr_logo.png")" class="icsr-logo">
                <div class="dts">
                    <h4>Centre for IC & SR, IIT Madras</h4>
                    <h5>Chennai 600 036</h5>
                    <h5>'ICSR Over Head'</h5>
                </div>
                <img src="@Url.Content("~/Content/IOASContent/img/iitm_logo.png")" class="iitm-logo">
            </div>
        </div>
    </header>
    <div style="page-break-after:always">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered ct-tb ct-tb-trp">
                            <tbody>
                                <tr>
                                    <td colspan="3">
                                        <em class="mr-md wdt-auto">Proj.No: @Html.DisplayFor(m => m.ProjectNumber)</em>
                                        <em class="mr-md wdt-auto">IF (IMP) 1602R/(50*3)/30T/9608/MKP</em>
                                        <em class="mr-md wdt-auto">P O NO:  @Html.DisplayFor(m => m.PONumber)</em>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-center mn-tt">REVISED</td>
                                </tr>
                                <tr>
                                    <td>
                                        From, <br>
                                        The Dean (ICSR) <br>
                                        IIT Madras <br>
                                        Chennai- 600036.
                                    </td>
                                    <td>@Html.DisplayFor(m => m.LCOpeningNumber)</td>
                                    <td class="text-right">
                                        Place: <b>Chennai</b> <br>
                                        Dated:  <b>@Html.DisplayFor(m => m.Dated)</b><br>  @*@String.Format("{0:dd-MM-yyyy}", DateTime.Now)</b><br>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em>
                                            To,<br>
                                            MANAGER, Canara Bank <br>
                                            IIT Branch, Madras – 36.<br>
                                        </em>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        Dear Sir, <br>
                                        Your Letter of Credit No. <b>@Html.DisplayFor(m => m.DraftLCNumber) &nbsp; DT: @Html.DisplayFor(m => m.AmmendmentDate) FOR &nbsp; @Html.DisplayFor(m => m.LCDraftCurrency) &nbsp; @Html.DisplayFor(m => m.LCDraftAmount)/</b> -	Favoring <u>M/S  &nbsp; @Html.DisplayFor(m => m.Beneficiary),&nbsp; DT: @Html.DisplayFor(m => m.BeneficiaryAddress), &nbsp; @Html.DisplayFor(m => m.BeneficiaryCity), &nbsp; @Html.DisplayFor(m => m.BeneficiaryState), &nbsp; @Html.DisplayFor(m => m.BeneficiaryPostalCode), &nbsp; @Html.DisplayFor(m => m.BeneficiaryCountryName) 2211 LEWIS AVENUE – ROCKVILLE MD 20851 USA</u> The following deletion/ modification may please be made on the draft and the LC may be Established. The copy of the established L.C may be sent for our record.
                                        Details of Amendment/Establishment
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="cnt-bg">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <table class="table table-bordered ct-br-tb">
                            <thead style="display: table-header-group;">
                                <tr>
                                    <th>LC CLAUSE</th>
                                    <th>EXISTING ENTRY </th>
                                    <th>TO BE MODIFIED</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DraftLCConditions)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(m => item.LCDraftClause)
                                        </td>
                                        <td>
                                             @Html.DisplayFor(m => item.LCDraftExistConditions)
                                        </td>
                                        <td>
                                             @Html.DisplayFor(m => item.LCDraftNewConditions)
                                        </td>
                                    </tr>
                                 }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="cnt-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h4>THE AMENDMENT CHARGES ARE TO BE BORN E BY THE SUPPLIER / APPLICANT (Account to be debited - @Html.DisplayFor(m => m.BankAccountNumber))</h4>
                        <p>
                            All other conditions remain unchanged.  It is understood that the above amendments are subject to the concurrence of beneficiary.  under the above letter of credit is still covered under…….
                            chapter_______ Para________of Import Trade Control Policy April-March 200_ and the same has not been
                            included in the Negative or Restricted or Canalized list in the Import policy.
                        </p>

                        <table class="table table-bordered ct-br-tb">
                            <tbody>
                                <tr>
                                    <td>
                                        (Authorized Signatory)<br>
                                        BRANCH CERTIFICATE<br>
                                        TO,<br>
                                        Canara Bank
                                    </td>
                                    <td>
                                        (To be completed by the branch)<br>
                                    </td>
                                    <td>
                                        Date: <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p>We request to advise the above amendment and establish the LC in favor of  beneficiary.  We certify that this amendment is within the limit sanctioned or within this power delegated to the b ranch.</p>
                        <p>[ ] Relative Import License/s enclosed.</p>
                        <p>
                            We also confirm that we have obtained permission from appropriate authorities for waiver of pr.otective clauses (*) mentioned here below:-
                        </p>
                        <p>
                            (to be filled in by branch wherever applicable) <br>
                            1._______________________________________<br>	2._____________________________________________<br>
                        </p>
                        <p class="text-right">
                            Authorized Signatory
                        </p>

                    </div>

                </div>
            </div>
        </section>
    </div>
    

    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>