@model IOAS.Models.LCOpeningModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Connect UW">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/connectuw-icn.png" />
    <title>LC Retirement of Documents</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />
    <style>
        /*
            body{
                width: 21cm;
                height: 29.7cm;
                margin: 30mm 45mm 30mm 45mm;
                border: 1px solid #ccc;
            }
        */
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 5px;
            padding-top: 10px;
            width: 100%;
            display: inline-block;
            margin-bottom: 10px;
        }

            .umr-hd h2 {
                font-size: 16px;
                color: #000;
                font-weight: normal;
                text-align: left;
            }

                .umr-hd h2 em {
                    font-size: 14px;
                    float: left;
                    font-style: normal;
                }

                .umr-hd h2 b {
                    font-size: 14px;
                    float: right;
                    font-weight: normal;
                }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 15px 15px;
        }

        .gr-bg {
            background: #eee;
        }

        .logo-section .icsr-logo {
            width: 50px;
            float: left;
        }

        .logo-section .dts {
            width: calc(100% - 160px);
            float: left;
        }

        .logo-section h4 {
            margin-top: 0px;
        }

        .logo-section .iitm-logo {
            width: 50px;
            float: right;
        }

        .logo-section h5 {
            font-size: 16px;
        }

        .umr-body .table > tbody > tr > td, .umr-body .table > tbody > tr > th, .umr-body .table > tfoot > tr > td, .umr-body .table > tfoot > tr > th, .umr-body .table > thead > tr > td, .umr-body .table > thead > tr > th {
            padding: 5px;
        }

        .ct-tb em {
            width: 100%;
            display: inline-block;
            font-size: 14px;
            font-style: normal;
        }

        .ct-tb span {
            font-weight: bold;
        }

        .ct-tb {
            margin-bottom: 15px;
        }

        .ct-tr-tb {
            margin-bottom: 0px;
        }

            .ct-tr-tb.table-bordered > tbody > tr > td, .ct-tr-tb.table-bordered {
                border: 0px;
            }

        .ct-br-tb.table-bordered > tbody > tr > td {
            border-color: rgba(0,0,0,0.7);
        }

        .ct-tb-trp.table-bordered > tbody > tr > td, .ct-tb-trp.table-bordered, .ct-tb-trp.table > thead > tr > th {
            border: 0px;
        }

        .cnt-bg h4 {
            margin-top: 30px;
        }

        .mn-tt {
            font-size: 18px;
        }
    </style>

</head>
<body class="umr-body">
    <header class="umr-hd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo-section">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" /></td>
                                    <td class="text-center">
                                        <div class="dts " style="width:100%;">
                                            <h3 style="padding-bottom: 5px;"><b>Centre for IC & SR, IIT Madras</b></h3>
                                            <h5 style="padding-bottom: 5px;"><b>Chennai 600 036</b></h5>                                                                               
                                        </div>
                                    </td>
                                    <td><img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered ct-tb ct-tb-trp">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center mn-tt">APPLICATION AND AGREEMENT FOR &nbsp; @Html.DisplayFor(m => m.LCType) &nbsp; LETTER OF CREDIT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>To,</td>
                                <td class="text-center">@Html.DisplayFor(m => m.LCOpeningNumber)</td>
                                <td class="text-right">Dated : <b>@Html.DisplayFor(m => m.Dated)</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <em>
                                        The Branch Manager	<br>
                                        CANARA BANK LTD.	<br>
                                        IITM BRANCH
                                    </em>
                                </td>
                                <td>
                                    <em>
                                        Project No: @Html.DisplayFor(m => m.ProjectNumber)<br>
                                        Commitment No: @Html.DisplayFor(m => m.CommitmentNumber)<br>
                                        Invoice No: @Html.DisplayFor(m => m.ProformaInvoiceNumber)
                                    </em>
                                </td>
                                <td>
                                    <em>
                                        PO No: @Html.DisplayFor(m => m.PONumber)<br>
                                        Invoice Date: @Html.DisplayFor(m => m.ProformaInvoiceDate)
                                    </em>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">We wish to make an advance payment towards import of Goods prescribed on the Invoice (Goods / Services) as part of our Raw Material / Capital Goods requirement:</td>
                            </tr>
                            <tr>
                                <td colspan="3">We request you to issue an irrevocable letter of credit as per details mentioned below:	<b>IEC Code: 0100000011</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="cnt-bg">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-bordered ct-br-tb">
                        <tbody>
                            <tr>
                                <td style="width:400px">Name & Address of the Customer</td>
                                <td>
                                    M/s. THE REGISTRAR IIT MADRAS <br>
                                    IIT Madras Campus Post Office, Sardar Patel Road, Chennai
                                </td>
                            </tr>
                            <tr>
                                <td>Beneficiary (Name & Address)</td>
                                <td>@Html.DisplayFor(m => m.Beneficiary), &nbsp; @Html.DisplayFor(m => m.BeneficiaryAddress), &nbsp; @Html.DisplayFor(m => m.BeneficiaryCity), &nbsp; @Html.DisplayFor(m => m.BeneficiaryState), &nbsp; @Html.DisplayFor(m => m.BeneficiaryPostalCode), &nbsp; @Html.DisplayFor(m => m.BeneficiaryCountryName)</td>
                            </tr>
                            <tr>
                                <td>Account to be Debited</td>
                                <td>@Html.DisplayFor(m => m.BankAccountNumber)</td>
                            </tr>
                            @*<tr>
                                <td>Advising Bank</td>
                                <td>@Html.DisplayFor(m => m.AdvisingBank)</td>
                            </tr>
                            <tr>
                                <td>Swift Code</td>
                                <td>@Html.DisplayFor(m => m.SwiftorIFSCCode)</td>
                            </tr>*@
                            <tr>
                                <td>Amount and Currency to be remitted (figures & words)</td>
                                <td>@Html.DisplayFor(m => m.LCDraftCurrency),&nbsp;  @Html.DisplayFor(m => m.LCDraftAmount) ( @Html.DisplayFor(m => m.LCDraftCurrency),&nbsp; @Html.DisplayFor(m => m.LCDraftAmountinWords) )</td>
                            </tr>
                            <tr>
                                <td>Shipping Term</td>
                                <td>@Html.DisplayFor(m => m.INCOTerms)</td>
                            </tr>
                            <tr>
                                <td>Credit Available With (41A)</td>
                                <td>@Html.DisplayFor(m => m.CreditAvailableBank)</td>
                            </tr>
                            <tr>
                                <td>By (41A)</td>
                                <td>@Html.DisplayFor(m => m.CreditAvailableBy41A)</td>
                            </tr>
                            <tr>
                                <td>Type (40A) </td>
                                <td>@Html.DisplayFor(m => m.LCType)</td>
                            </tr>
                            <tr>
                                <td>Tenor (42C)</td>
                                <td>@Html.DisplayFor(m => m.Tenor42C)</td>
                            </tr>
                            <tr>
                                <td>
                                    Partial Shipment
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.PartShipOption)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Trans Shipment
                                </td>
                                <td>@Html.DisplayFor(m => m.TransShipOption)</td>
                            </tr>
                            <tr>
                                <td>Port / Airport of Discharge</td>
                                <td>@Html.DisplayFor(m => m.PortorAirportofDestination)</td>
                            </tr>
                            <tr>
                                <td>Port / Airport of Loading</td>
                                <td>@Html.DisplayFor(m => m.PortorAirportofLoading)</td>
                            </tr>
                            <tr>
                                <td>Last Shipment Date: @Html.DisplayFor(m => m.LatestDateofShipment)</td>
                                <td>LC Expiry Date: @Html.DisplayFor(m => m.LCExpiryDate)</td>
                            </tr>
                            <tr>
                                <td>Place of Expiry: @Html.DisplayFor(m => m.PlaceofExpiry)</td>
                                <td>Presentation Period: @Html.DisplayFor(m => m.PresentationPeriod)</td>
                            </tr>
                            <tr>
                                <td>Goods Description</td>
                                <td>@Html.DisplayFor(m => m.DescriptionofGoodsandService)</td>
                            </tr>
                            <tr>
                                <td>HS Code No.</td>
                                <td>LC Expiry Date: @Html.DisplayFor(m => m.LCExpiryDate)</td>
                            </tr>
                            <tr>
                                <td>Documents Required</td>
                                <td>@Html.Raw(Model.DocContent)</td>
                            </tr>
                            <tr>
                                <td>Additional Conditions</td>
                                <td>@Html.Raw(Model.AddtnlConditionsContent)</td>
                            </tr>
                        </tbody>
                        
                    </table>
                    <h4>IN CONSIDERATION OF YOUR OPENING THE FOREIGN LETTER OF CREDIT AS AFORESAID, I/WE UNDERTAKE AS FOLLOWS: </h4>
                    <p>I/We engage that Insurance shall be effected on the shipments to the full value thereof.  Such insurance to be made available for your benefit by the deposit of the policy/ies or Certificate of insurance and in case of default, your bank is at liberty to effect insurance thereon and the premia and expenses connected therewith, I/we engage to repay.</p>
                    <p>And further, I/we agree that all goods covered by such draft/s shall remain in your possession until each draft/s shall have been paid by me/us and I/we hereby hypothecate and pledge, the said goods to you as security for the payment at maturity of the draft/s and hereby give you authority if there shall be any breach by me/us of any term thereof to sell the said goods either by public auction or private contract, and to apply the net proceeds thereof, towards payment of any sum which then or shall thereafter become owing by me/us to you.</p>
                    <p>I/we hereby undertake to pay on demand all sight drafts and to accept on presentation and pay at maturity all usance drafts which may have been negotiated under this credit, reimbursing you at the current rate of exchange ruling on the day of payment by me/us together with interest thereof at the rate of 18% per annum from the date of the advance to the approximate due date of arrival on return remittance in                       plus bank commission, postage and all other charges which may become due thereon. Documents purchased or negotiated under this credit and where required your foreign correspondent banks are authorised to reimburse the negotiating banks for their payment and charges if any and to claim from us the equivalent converted at the ruling rate prevailing on the date of negotiation of documents and/or the date of receipt of the payment advice from the negotiating bank in the foreign country.  I/we further undertake and agree to pay the foreign currency equivalent of the drafts or documents at the rate of exchange ruling on the date of payment by us.</p>

                    <h4>And further I/we agree that on no account shall any claim be made against the bank after the draft is retired by me/us.</h4>
                    <p>
                        I/we further agree that, I/we open this credit entirely at my/our own risk and will honour all drafts presented even should the goods not arrive or be refused landing through any act of war or restrictions imposed by Government Ordinance.  Should this credit be extended or amended in any way and such amendment will be treated as part of this agreement and we agree to pay all charges in connection therewith. <br><br>

                        I/we hereby confirm that I/we relieve you entirely from all responsibility whatsoever for regularity genuineness and/or validity of any document which you may be called upon to receive on my/our behalf and for genuineness or the endorsement and/or signatures thereon and for the weight, quantity, quality or nature of the goods to which such documents refer and in the event of their loss in transit.   I/we will at once reimburse the amount of the payment and charges upon your furnishing evidence of such payments having been effected.<br><br>

                        I/we agree that neither you nor your correspondents shall be responsible for any loss or damage to goods however and wherever caused or for failure for any reason by you/your correspondents or any other person to store and insure the goods and I/we further agree that all acts and omissions of the drawers and/or correspondents and/or any other person shall be at my/our risk.<br><br>

                        I/we agree to comply with any import trade control, Exchange Control, Customs Regulations applicable to import of goods into India.<br><br>

                        I/we put on record, this agreement arrived at by and between you and me/us to the effect that on receipt of the documents drawn under the foreign currency letter of credit to be established by you as per my/our request, you have irrevocable authority to convert our foreign currency liability represented by the said documents towards yourselves, into a rupee liability, on the tenth day from the date of receipt of documents at your end at your Bank’s prevailing Bill Selling rate for the currency in which the documents have been drawn, whether I/we have received the presentation memo or not provided no forward sale contract for the retirement of the said documents have been entered into between the bank and me/us.  Where the documents received under LC are covered under a Forward Contract, you are authorised to convert the foreign currency at the contracted rate.  In case the delinking results in early/late delivery under the forward contract, it would be in order for you to levy early/late delivery charges, if any, as per FEDAI rules.   Such conversion when made from time to time shall be fully and completely binding on me/us. <br><br>

                        I/we hereby undertake to submit all necessary control documents at the appropriate time so as to enable you to do all that is necessary in connection with or relating to the Bills received under LC from time to time. <br><br>

                        I/we authorise you, without any prior notice to me/us, which right is specifically waived by me/us, to debit any of my/our deposit/advances accounts with you or create a separate advance account in my/our name under your terms and conditions which will be binding on me/us for adjusting any pending bills.<br><br>

                        Our above irrevocable authority to you will also hold and apply where you are to establish usance Letters of Credit on our behalf.  However, the conversion of our foreign currency liability into a rupee liability towards yourselves, will be on the date of maturity of the bill.<br><br>

                        When called upon by the bank, I/we hereby undertake to execute all necessary loan papers and comply with all relative terms and conditions for the proper conduct of the transactions herein above mentioned.<br><br>

                        If the credit is revocable, it may be cancelled by you at any time and cancellation by you or by me/us shall be without prejudice to our respective obligations as regards any bills negotiated or accepted or payments made there under before notice of such cancellation has reached its destination.<br><br>

                        All SWIFT messages in connection with this credit shall be despatched at my/our risk and cost and you shall not be responsible for any loss caused by mistake or omission, coding or decoding or interpretation when received or by delay on the part of the cable or telegraph companies concerned.<br><br>

                        The receipt by you at any time of other collateral of whatsoever nature shall not be deemed a waiver of any of your rights or powers relating to any collateral which you may hold at the time of receipt.<br><br>

                        This obligation to continue in force notwithstanding any change in membership of any partnership of the undersigned whether arising from the death or retirement of one or more partners or accession of one or more new partners.<br><br>

                        This letter of credit can be revoked or altered only with the consent of all parties interested.   <br><br>

                        The documents accepted in connection with this credit may be those which are generally acceptable in accordance with the laws, customs and usages at the place of negotiation or which may be considered, satisfactory by you or your branch or correspondents.<br><br>

                        I/we agree that as per the present Exchange Control Regulations, the effective date of establishment of the Letter of Credit is its date of SWIFT communication.   We therefore authorise you to return the documents to me/us without any engagement on your part in case the items to be imported mentioned herein is banned/brought under control by the Import Control Authorities, until compliance of the revised Control requirements.

                    </p>

                    <h3>We request you to make payment as per the above details</h3>
                    <p>
                        I/We hereby declare that the transaction, the details of which are specifically mentioned above, does not involve, and is not designed for the purpose of any contravention or evasion of the provisions of the Foreign Exchange Management Act, 1999, or any rule, regulation, notification, direction or order made there under. <br><br>
                        I/We further agree to give you all such information/particulars as may be required by you and called for by you to determine whether such transaction contravenes any of the provisions of the Foreign Exchange Management Act or any other rule, regulation, notification or order made hereunder.<br><br>
                        I/We hereby declare that all the information/particulars given by us are true and correct to the best of my/our knowledge and information.<br><br>
                        I/We also understand and agree that if I/We refuse to comply with any such requirement or make only unsatisfactory compliance therewith, the bank is always at liberty to refuse in writing to undertake the transaction and shall if it has reason to believe that any contravention/ evasion is contemplated by me/us report the matter to Reserve Bank of India.<br><br>
                        I/We further declare that the undersigned has/have the authority to give this declaration and undertaking on behalf of the firm/company.
                        With reference to our above imports, we hereby declare that -<br><br>
                        <ol type="i">
                            <li>the merchandise referred above can be imported freely as per the existing Foreign Trade Policy; and the subject goods have not been restricted or canalized under ITC (HS) Classification of Export and Import Items.</li>
                        </ol> <br><br>
                        I/We undertake to submit to you the Exchange Control Copy of Bill of Entry for Home Consumption certified by the Customs / Customs Assessment Certificate or Postal Appraisal Form, as the case may  be, --
                        <ol type="a">
                            <li>within three months from the date of remittance, in the case of import on sight D/P basis.,</li>
                            <li>on or before the due date of the bills, in the case of import  on D/A usance basis.,</li>
                            <li>within 15 days after completion of 12 months from date of advance remittance in case of capital goods and within 15 days after completion of three months from date of advance  remittance in case of other goods.</li>
                        </ol>
                    </p>

                    <table class="table table-bordered ct-tb ct-tb-trp ">
                        <tbody>
                            <tr>
                                <td>
                                    PLACE	: &nbsp; Chennai <br>
                                    DATE	: &nbsp; @Html.DisplayFor(m => m.Dated)
                                </td>
                                <td class="text-right">Yours faithfully,</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">Signature of the Applicant for Foreign Exchange.</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        Branch certificate  (to be completed by the branch) <br>
                    </p>
                    <p>
                        To <br>
                        The Branch Senior Manager<br>
                        Canara Bank<br>
                        Foreign Department / FEX Cell
                    </p>
                    <p>Branch FLC NO. <br></p>
                    <p>
                        We certify that the FLC opened is within the limit sanctioned or within the powers delegated to the branch. <br>
                        We also confirm that, we have obtained permission from appropriate authorities for waiver of protective clauses mentioned here below (to be filled in by the branch wherever applicable)
                    </p>
                    <p><b>FOR CANARA BANK, IIT MADRAS</b> <br><br></p>
                    <p><b>AUTHORISED SIGNATORY</b></p>
                </div>


            </div>
        </div>
    </section>
    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>