@model IOAS.Models.LongBill

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Connect UW">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/connectuw-icn.png" />
    <title>Long Bill</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />

    <style>
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 20px;
            padding-top: 20px;
        }

            .umr-hd h2 {
                font-size: 16px;
                color: #000;
                font-weight: normal;
                text-align: left;
            }

                .umr-hd h2 em {
                    font-size: 14px;
                    float: left;
                    font-style: normal;
                }

                .umr-hd h2 b {
                    font-size: 14px;
                    float: right;
                    font-weight: normal;
                }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mt-sm {
            margin-top: 15px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 15px;
        }

        .gr-bg {
            background: #eee;
        }

        .logo-section .icsr-logo {
            width: 80px;
            float: left;
        }

        .logo-section .dts {
            /* width: calc(100% - 230px);
             float: left*/
        }

        .logo-section h4 {
            margin-top: 0px;
        }

        .logo-section .iitm-logo {
            width: 100px;
            float: right;
        }

        .logo-section h5 {
            font-size: 16px;
        }


        .fn-bl {
            font-weight: bold;
        }


        .cnt-bg .table em {
            font-size: 13px;
            font-style: normal;
            width: 100%;
            display: inline-block;
            margin-bottom: 5px;
        }

        .table-bordered > tbody > tr > td {
            vertical-align: middle;
        }

        .table-bordered {
            display: inline-block;
        }
    </style>



</head>
<body class="umr-body">

    <header class="umr-hd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo-section">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" /></td>
                                    <td class="text-center">
                                        <div class="dts " style="width:100%;">
                                            <h3 style="padding-bottom: 5px;"><b>Centre for IC & SR, IIT Madras</b></h3>
                                            <h5 style="padding-bottom: 5px;"><b>Chennai 600 036</b></h5>
                                            <h4>'ICSR Over Head'</h4>

                                        </div>
                                    </td>
                                    <td><img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section class="cnt-bg">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-bordered ct-br-tb" style="display:inline-table;">
                        <tbody>
                            <tr class="text-center">
                                <td colspan="2"><b>CONSOLIDATED STATEMENT</b></td>
                                <td colspan="4"><b>PROJECT PAYMENT FOR JUNE 2019</b></td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="2"><b>PAYMENTS</b></td>
                                <td colspan="4"><b>RECOVERIES</b></td>
                            </tr>
                            <tr>
                                <td>01. BASIC PAY : </td>
                                <td>@Html.DisplayFor(m => m.BASICPAY)</td>
                                <td>10. L.I.C.	</td>
                                <td>@Html.DisplayFor(m => m.LIC)</td>
                                <td>40. PROFL. TAX</td>
                                <td>@Html.DisplayFor(m => m.PROFLTAX)</td>
                            </tr>
                            
                            <tr>
                                <td>02. MED. INS. </td>
                                <td>@Html.DisplayFor(m => m.MEDINS)</td>
                                <td>11. INCOME TAX	</td>
                                <td>@Html.DisplayFor(m => m.INCOMETAX)</td>
                                <td>46. COURT</td>
                                <td>@Html.DisplayFor(m => m.COURT)</td>
                            </tr>
                            <tr>
                                <td>04. MED. CHARG. </td>
                                <td>0</td>
                                <td>17. TEMPLE	</td>
                                <td>@Html.DisplayFor(m => m.TEMPLE)</td>
                                <td>50. PM REL FND</td>
                                <td>@Html.DisplayFor(m => m.PMRELFND)</td>
                            </tr>
                            <tr>
                                <td>06. MISC. PAYNT </td>
                                <td>@Html.DisplayFor(m => m.MISCPAYNT)</td>
                                <td>18. AYYAPPA	</td>
                                <td>@Html.DisplayFor(m => m.AYYAPPA)</td>
                                <td>62. IT-OTH.PAY</td>
                                <td>@Html.DisplayFor(m => m.ITOTHPAY)</td>
                            </tr>
                            <tr>
                                <td>07. C.F.ACC.</td>
                                <td>@Html.DisplayFor(m => m.CFACC)</td>
                                <td>20. MED. CHARG/Allo	</td>
                                <td>@Html.DisplayFor(m => m.MEDCHARG)</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>08. C.C.ALL.</td>
                                <td>@Html.DisplayFor(m => m.CCALL)</td>
                                <td>27. MED. INS.	</td>
                                <td>@Html.DisplayFor(m => m.MEDINS)</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>61. OTHER PAY</td>
                                <td>@Html.DisplayFor(m => m.OTHERPAY)</td>
                                <td>29. MISC. RECVY	</td>
                                <td>@Html.DisplayFor(m => m.MISCRECVY)</td>
                                <td></td>
                                <td></td>
                            </tr>
                            
                            <tr>
                                <td>85. O.T. ALL.</td>
                                <td>@Html.DisplayFor(m => m.OTALL)</td>
                                <td>33. PEELI	</td>
                                <td>@Html.DisplayFor(m => m.PEELI)</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>88. TRANS. ALL</td>
                                <td>@Html.DisplayFor(m => m.TRANSALL)</td>
                                <td>36. CAN BANK	</td>
                                <td>@Html.DisplayFor(m => m.CANBANK)</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>39. PAY RECVRY	</td>
                                <td>@Html.DisplayFor(m => m.PAYRECVRY)</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>OVERALL PAYMENTS</b></td>
                                <td>@Html.DisplayFor(m => m.PAYMENTS)</td>
                                <td><b>RECOVERIES</b></td>
                                <td>@Html.DisplayFor(m => m.RECOVERIES)</td>
                                <td><b>NET PAYABLE</b></td>
                                <td>@Html.DisplayFor(m => m.NETPAYABLE)</td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    <b>Payment Mode:</b>
                                </td>
                            </tr>
                            <tr>
                                <td>CANARA BANK</td>
                                <td>@Html.DisplayFor(m => m.CANARABANK)</td>
                                <td>OTHER BANK</td>
                                <td>@Html.DisplayFor(m => m.OTHERBANK)</td>
                                <td>CHEQUE:</td>
                                <td>@Html.DisplayFor(m => m.CHEQUE)</td>
                            </tr>
                            <tr>
                                <td>IITM PENSIONER</td>
                                <td>@Html.DisplayFor(m => m.IITMPENSIONER)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>Passed for payment of Rs</b></td>
                                <td><b>@Html.DisplayFor(m => m.NETPAYABLE)</b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    <b>
                                        @Html.DisplayFor(m => m.AmtWords)
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="height:50px;"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            </tr>

                            <tr>
                                <td colspan="2">SO(PA)</td>
                                <td colspan="2">DR(PA)</td>
                                <td colspan="2">REGISTRAR</td>
                            </tr>
                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </section>

    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>