@model IOAS.Models.CreateInvoiceModel

@{
    Layout = null;
}
@{
    System.Globalization.CultureInfo Indian = new System.Globalization.CultureInfo("hi-IN");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Connect UW">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/connectuw-icn.png" />
    <title>Direct Import Payment</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet"/>
    <style>
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 20px;
            padding-top: 20px;
        }

            .umr-hd h2 {
                font-size: 16px;
                color: #000;
                font-weight: normal;
                text-align: left;
            }

                .umr-hd h2 em {
                    font-size: 14px;
                    float: left;
                    font-style: normal;
                }

                .umr-hd h2 b {
                    font-size: 14px;
                    float: right;
                    font-weight: normal;
                }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mt-sm {
            margin-top: 15px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 15px;
        }

        .gr-bg {
            background: #eee;
        }

        .logo-section .icsr-logo {
            width: 70px;
            float: left;
        }

        .logo-section .dts {
            width: calc(100% - 160px);
            float: left;
        }

        .logo-section h4 {
        }

        .logo-section .iitm-logo {
            width: 70px;
            float: left;
        }


        .fn-bl {
            font-weight: bold;
        }


        .cnt-bg .table em {
            font-size: 13px;
            font-style: normal;
            width: 100%;
            display: inline-block;
            margin-bottom: 5px;
        }
        .fn-md{
            font-size:15px;
        }
    </style>

</head>
<body class="umr-body">

    @*<header class="umr-hd">
        <div class="col-md-8 col-md-offset-2">
            <div class="logo-section">
                <img src="@Url.Content("~/Content/IOASContent/img/icsr_logo.png")" class="icsr-logo">
                <div class="dts">
                    <h4>Centre for Industrial Consultancy and Sponsored Research</h4>
                    <h5>Indian Institute of Technology Madras</h5>
                </div>
                <img src="@Url.Content("~/Content/IOASContent/img/iitm_logo.png")" class="iitm-logo">
            </div>
        </div>
    </header>*@
    <header class="umr-hd">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="logo-section">
                        <img src="@Url.Content("~/Content/IOASContent/img/icsr_logo.png")" class="icsr-logo">
                        <div class="dts">
                            <h4><b>Centre for Industrial Consultancy and Sponsored Research</b></h4>
                            <h5><b>Indian Institute of Technology Madras</b></h5>
                        </div>
                        <img src="@Url.Content("~/Content/IOASContent/img/iitm_logo.png")" class="iitm-logo">
                    </div>
                </div>
            </div>
        </div>

    </header>
    <section class="cnt-bg">
        <div class="container-fluid">
            <div class="row mt-sm">
                @*<div class="col-md-12 mb20">
                    <h3 class="text-center">Receipt</h3>
                </div>*@
                <h4 class="text-center"><b>Pay in Slip</b></h4>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-bordered">
                            <tbody>
                                <tr class="fn-md">
                                    <td style="width:180px;"><b>Pay in Slip Number :</b></td>
                                    <td>@Html.DisplayFor(m => m.PaySlipReferenceNumber, new { @class = "form-control", @id = "txtpayinslipnumber" })</td>
                                    <td><b>Date of Pay in Slip :</b></td>
                                    <td style="width:180px;">@Html.DisplayFor(m => m.PayinslipDate, new { @class = "form-control", @id = "txtpayinslipdate" })</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:180px;"><b>Project Number</b></td>
                                <td>@Html.DisplayFor(m => m.ProjectNumber, new { @class = "form-control", @id = "txtprojectnumber" })</td>
                            </tr>
                            <tr>
                                <td><b>Invoice No</b></td>
                                <td>@Html.DisplayFor(m => m.InvoiceNumber, new { @class = "form-control", @id = "txtinvoicenumber" })</td>
                            </tr>
                            <tr>
                                <td><b>PI Name</b></td>
                                <td>@Html.DisplayFor(m => m.NameofPI, new { @class = "form-control", @id = "txtpiname" })</td>
                            </tr>
                            <tr>
                                <td><b>Invoice Date</b></td>
                                <td>@Html.DisplayFor(m => m.Invoicedatestrng, new { @class = "form-control", @id = "txtpiname" })</td>
                            </tr>
                            <tr>
                                <td><b>Name of Client</b></td>
                                <td>@Html.DisplayFor(m => m.SponsoringAgencyName, new { @class = "form-control", @id = "txtagency" })</td>
                            </tr>
                            <tr>
                                <td><b>Address of Client</b></td>
                                <td>@Html.DisplayFor(m => m.CommunicationAddress, new { @class = "form-control", @id = "txtagencyaddress" })</td>
                            </tr>
                            <tr>
                                <td><b>District</b></td>
                                <td>@Html.DisplayFor(m => m.Agencydistrict, new { @class = "form-control", @id = "txtagencydistrict" })</td>
                            </tr>
                            <tr>
                                <td><b>State</b></td>
                                <td>@Html.DisplayFor(m => m.Agencystate, new { @class = "form-control", @id = "txtagencystate" })</td>
                            </tr>
                            <tr>
                                <td><b>GSTIN of Client</b></td>
                                <td>@Html.DisplayFor(m => m.GSTNumber, new { @class = "form-control", @id = "txtagencygstin" })</td>
                            </tr>
                        </tbody>
                    </table>
                   
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><b>Taxable Value</b></td>
                                <td style="width:180px;" class="text-right">@(String.Format(Indian, "{0:N0}", Model.TaxableValue))</td>
                            </tr>
                            <tr>
                                <td><b>CGST</b> (@Html.DisplayFor(m => m.CGSTRate, new { @class = "form-control", @id = "txtcgstrate" })%)</td>
                                <td class="text-right">@(String.Format(Indian, "{0:N0}", Model.CGST))</td>
                            </tr>
                            <tr>
                                <td><b>SGST</b> (@Html.DisplayFor(m => m.SGSTRate, new { @class = "form-control", @id = "txtsgstrate" })%)</td>
                                <td class="text-right">@(String.Format(Indian, "{0:N0}", Model.SGST))</td>
                            </tr>
                            <tr>
                                <td><b>IGST</b> (@Html.DisplayFor(m => m.IGSTRate, new { @class = "form-control", @id = "txtigstrate" })%)</td>
                                <td class="text-right">@(String.Format(Indian, "{0:N0}", Model.IGST))</td>
                            </tr>
                            <tr class="fn-md">
                                <td><b>Total Invoice Value</b></td>
                                <td class="text-right">@(String.Format(Indian, "{0:N0}", Model.TotalInvoiceValue))</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><b>Amount Received</b></td>
                                <td class="text-right" style="width:180px;">@(String.Format(Indian, "{0:N0}", Model.AmountReceived))</td>
                            </tr>
                            <tr>
                                <td><b>TDS Receivable [IT]</b></td>
                                <td class="text-right">@(String.Format(Indian, "{0:N0}", Model.TDSReceived))</td>
                            </tr>
                            <tr>
                                <td><b>TDS Receivable [GST]</b></td>
                                <td class="text-right">@(String.Format(Indian, "{0:N0}", Model.TDSReceivableGST))</td>
                            </tr>
                            <tr>
                                <td><b>Mode of Payment</b></td>
                                <td>@Html.DisplayFor(m => m.ModeofPayment, new { @class = "form-control", @id = "txtmodeofpayment" })</td>
                            </tr>
                            <tr>
                                <td><b>Reference Number</b></td>
                                <td>@Html.DisplayFor(m => m.ReceiptReference, new { @class = "form-control", @id = "txtmodeofpayment" })</td>
                            </tr>
                            <tr>
                                <td><b>Instruments Date</b></td>
                                <td>@Html.DisplayFor(m => m.InstrumentsDate, new { @class = "form-control", @id = "txtmodeofpayment" })</td>
                            </tr>
                            <tr>
                                <td><b>Remarks / Name of the Test</b></td>
                                <td>@Html.DisplayFor(m => m.InstrumentsRemarks, new { @class = "form-control", @id = "txtmodeofpayment" })</td>
                            </tr>
                            <tr class="fn-md">
                                <td><b>Outstanding</b></td>
                                <td class="text-right">@(String.Format(Indian, "{0:N0}", Model.OutstandingAmount))</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>




            <div class="row  mt-sm">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    Note : <br>
                                    1. To be sent IC&SR Office<br>
                                    2. GST (as stipulated by Central Govt) 18% w.e.f. 01.07.2017 to be deducted from the receipts to the Consultancy Projects, based on the invoice.<br>
                                    3. This is Invoice cum Receipt, no separate receipt will be issued.<br>
                                </td>
                                <td style="vertical-align:bottom; width:200px;">Signature of the PI :</td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>




        </div>



    </section>
        <!-- main js files -->
<script src="js/plugins/jquery-2.2.4.min.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>