@model IOAS.Models.ProjSummaryModel

@{
    ViewBag.Title = "ProjectSummaryBillDetails";
}
@{
    System.Globalization.CultureInfo Indian = new System.Globalization.CultureInfo("hi-IN");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Connect UW">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/connectuw-icn.png" />
    <title>Bill</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet" />
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />
    <style>
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 20px;
            padding-top: 20px;
        }

            .umr-hd h2 {
                font-size: 16px;
                color: #000;
                font-weight: normal;
                text-align: left;
            }

                .umr-hd h2 em {
                    font-size: 14px;
                    float: left;
                    font-style: normal;
                }

                .umr-hd h2 b {
                    font-size: 14px;
                    float: right;
                    font-weight: normal;
                }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mt-sm {
            margin-top: 15px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 15px;
        }

        .gr-bg {
            background: #eee;
        }

        .logo-section .icsr-logo {
            width: 80px;
            float: left;
        }

        .logo-section .dts {
            /* width: calc(100% - 230px);
            float: left*/
        }

        .logo-section h4 {
            margin-top: 0px;
        }

        .logo-section .iitm-logo {
            width: 100px;
            float: right;
        }

        .logo-section h5 {
            font-size: 16px;
        }

        .fn-bl {
            font-weight: bold;
        }


        .cnt-bg .table em {
            font-size: 13px;
            font-style: normal;
            width: 100%;
            display: inline-block;
            margin-bottom: 5px;
        }

        .table-bordered > tbody > tr > td {
            vertical-align: middle;
        }

        .table-bordered {
            display: inline-block;
        }
    </style></head>
<body class="umr-body">

    <header class="umr-hd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo-section">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td><img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" /></td>
                                    <td class="text-center">
                                        <div class="dts " style="width:100%;">
                                            <h3 style="padding-bottom: 5px;"><b>Centre for IC & SR, IIT Madras</b></h3>
                                            <h5 style="padding-bottom: 5px;"><b>Chennai 600 036</b></h5>
                                            <b>GSTIN: 33AAAAI3615G1Z6</b><b style="margin-left:5px;">PAN: AAAAI3615G</b>
                                            @Html.HiddenFor(m => m.ProjId)
                                        </div>
                                    </td>
                                    <td><img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" /></td>
                                </tr>
                                @*<tr>
                                    <td></td>
                                    <td>
                                        
                                    </td>
                                    <td class="pull-left" colspan="3"> Printed date : @Model.LoginTS </td >
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-offset-8 col-md-2 ">
                        <span> Printed date :  @Model.LoginTS</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section style="padding-top: 10px;">
        <table class="table table-bordered mb-md" style="display:inline-table;">
            <tbody>
                <tr>
                    <td>
                        <b>Name of Coordinator :</b>
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Summary.PIname)
                    </td>
                    <td>
                        <b>Project number :</b>
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Summary.ProjectNo)
                    </td>
                    <td>
                        <b>Account Type :</b>
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Summary.ProjectType)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Total Sanctioned Value :</b>
                    </td>
                    <td>
                        @(String.Format(Indian, "{0:N}", Model.Summary.SanctionedValue))
                        @*@Html.DisplayFor(m => m.Summary.SanctionedValue)*@
                    </td>
                    <td>
                        <b>Start date :</b>
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.ProjectStartDate)
                    </td>
                    <td>
                        <b>Closure Date :</b>
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.ProjectCloseDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Agency :</b>
                    </td>
                    <td >
                        @Html.DisplayFor(m => m.Summary.AgencyName)
                    </td>
                    <td>
                        <b>Title of project :</b>
                    </td>
                    <td colspan="4">
                        @Html.DisplayFor(m => m.Summary.ProjectTittle)
                    </td>
                   
                </tr>
                <tr>
                    <td>
                        <b>Sanction Order No :</b>
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Summary.SanctionOrderNo)
                    </td>
                    <td>
                        <b>Sanction Order Date  :</b>
                    </td>
                    <td >
                        @Html.DisplayFor(m => m.Summary.SanctionOrderDate)
                    </td>

                </tr>


            </tbody>
        </table>

    </section>
    <section class="cnt-bg" style="padding-top: 10px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 vw-dts-bg mb-tb">
                    <table class="table table-bordered mb-md" style="display:inline-table;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th >Role</th>
                                <th >PCF %</th>
                                <th >RMF %</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(m => m.Common.PIName)</td>
                                <td>PI</td>
                                <td>@(String.Format("{0:N}", Model.Common.PIPCF))</td>
                                <td>@(String.Format("{0:N}", Model.Common.PIRMF))</td>
                            </tr>

                            @if (Model != null && Model.Common.CoPIs != null)
                            {
                                foreach (var item in Model.Common.CoPIs)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(m => item.Name)</td>
                                        <td>Co-PI</td>
                                        <td>@(String.Format("{0:N}", item.PCF))</td>
                                        <td>@(String.Format("{0:N}", item.RMF))</td>
                                    </tr>
                                }
                            }

                        </tbody>

                    </table>
                </div>

            </div>

        </div>
    </section>
    <section class="cnt-bg" style="padding-top: 10px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 vw-dts-bg mb-tb">
                    <table class="table table-bordered mb-md" style="display:inline-table;">
                        <thead>
                            <tr>
                                <th>Head</th>
                                <th class="text-right">Allocation</th>
                                <th class="text-right">Commitment (X)</th>
                                <th class="text-right">Expenditure (Y)</th>
                                <th class="text-right">Total (X+Y)</th>
                                @if (Model.Common.ProjectClassification != 2 && Model.Common.ProjectClassification != 3)
                                {
                                    <th class="text-right">Head Wise Available Balance</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ProjId > 0)
                            {
                                if (Model.Detail.HeadWise != null)
                                {
                                    if (Model.Detail.HeadWise.Count() > 0)
                                    {
                                        var count = 0;
                                        foreach (var item in Model.Detail.HeadWise)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(m => item.AllocationHeadName)
                                                </td>
                                                <td class="text-right">
                                                    @(String.Format(Indian, "{0:N}", item.Amount))
                                                </td>
                                                <td class="text-right">
                                                    @(String.Format(Indian, "{0:N}", item.BalanceAmount))
                                                </td>
                                                <td class="text-right">
                                                    @(String.Format(Indian, "{0:N}", item.Expenditure))
                                                </td>
                                                <td class="text-right">
                                                    @(String.Format(Indian, "{0:N}", item.Total))
                                                </td>
                                                @if (Model.Common.ProjectClassification != 2 && Model.Common.ProjectClassification != 3)
                                                {
                                                    <td class="text-right">
                                                        @(String.Format(Indian, "{0:N}", item.Available))
                                                    </td>
                                                }
                                            </tr>
                                            count++;
                                        }
                                        <tr class="bg-gray">
                                            <td>
                                                <b>  Total</b>
                                            </td>
                                            <td class="text-right">
                                                <b> @(String.Format(Indian, "{0:N}", Model.Detail.HeadWise.Sum(m => m.Amount)))</b>
                                            </td>
                                            <td class="text-right">
                                                <b> @(String.Format(Indian, "{0:N}", Model.Detail.HeadWise.Sum(m => m.BalanceAmount)))</b>
                                            </td>
                                            <td class="text-right">
                                                <b>@(String.Format(Indian, "{0:N}", Model.Detail.HeadWise.Sum(m => m.Expenditure)))</b>
                                            </td>
                                            <td class="text-right">
                                                <b> @(String.Format(Indian, "{0:N}", Model.Detail.HeadWise.Sum(m => m.Total)))</b>
                                            </td>
                                            @if (Model.Common.ProjectClassification != 2 && Model.Common.ProjectClassification != 3)
                                            {
                                                <td class="text-right">
                                                    <b> @(String.Format(Indian, "{0:N}", Model.Detail.HeadWise.Sum(m => m.Available)))</b>
                                                </td>
                                            }
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                No Records Found !
                                            </td>
                                        </tr>
                                    }
                                }

                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </section>
    <section style="padding-top: 10px;">
        <div class="col-md-12 vw-dts-bg mb-tb pr-dts-grd">

            <table class="table table-bordered mb-md" style="display:inline-table;">
                <tbody>
                    <tr>
                        <td class="bg-gray">
                            <label>Receipt upto 31-03-2019</label>
                        </td>
                        <td class="text-right">
                            <h4>@(String.Format(Indian, "{0:N}", Model.Summary.PrevRec))</h4>
                        </td>
                        <td class="bg-gray">
                            <label>Receipt after 01-04-2019 <a href="javascript:void(0)" class="DownBtn"><i class="ion-android-download"></i></a></label>
                        </td>
                        <td class="text-right">
                            <h4>@(String.Format(Indian, "{0:N}", Model.Summary.TotalReceipt)) </h4>
                        </td>

                        <td class="bg-gray"><label>Total Grant Received till date (A)</label></td>
                        <td class="text-right"><h4><b>@(String.Format(Indian, "{0:N}", Model.Summary.TotalGrantReceived))</b></h4></td>


                    </tr>
                    <tr>
                        <td class="bg-gray">
                            <label>Interest upto 31-03-2019</label>
                        </td>
                        <td class="text-right">
                            <h4>@(String.Format(Indian, "{0:N}", Model.Summary.PrevInterest))</h4>
                        </td>
                        <td class="bg-gray">
                            <label>Interest after 01-04-2019 </label>
                        </td>
                        <td class="text-right">
                            <h4>@(String.Format(Indian, "{0:N}", Model.Summary.AfterInterest)) </h4>
                        </td>

                        <td class="bg-gray"><label>Total Interest Earned (B)</label></td>
                        <td class="text-right"><h4><b>@(String.Format(Indian, "{0:N}", Model.Summary.TotalInterest))</b></h4></td>


                    </tr>
                    <tr>
                        <td class="bg-gray">
                            <label>Expenditure upto 31-03-2019</label>
                        </td>
                        <td class="text-right">
                            <h4>@(String.Format(Indian, "{0:N}", Model.Summary.PrevExp)) </h4>
                        </td>


                        <td class="bg-gray">
                            <label>Expenditure after 01-04-2019</label>
                        </td>
                        <td class="text-right">
                            <h4>@(String.Format(Indian, "{0:N}", Model.Summary.ExpAmt)) </h4>
                        </td>
                        <td class="bg-gray">
                            <label>Total expenditure till date (C)</label>
                        </td>
                        <td class="text-right">
                            <h4><b>@(String.Format(Indian, "{0:N}", Model.Summary.TotalExpenditure))</b></h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray">
                            <label>Opening Balance <br />(As on 01-04-2019)</label>
                        </td>
                        <td class="text-right">
                            <h4>@(String.Format(Indian, "{0:N}", Model.Summary.OpeningBalance)) </h4>
                        </td>
                        <td class="bg-gray"></td>
                        <td></td>
                        <td class="bg-gray">
                            <label>Commitment (D)</label>
                        </td>
                        <td class="text-right"><h4><b>@(String.Format(Indian, "{0:N}", Model.Summary.PreviousCommitment)) </b></h4></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="bg-gray"><label>Negative Approval Available</label></td>
                        <td class="text-right txt-red"><h4><b>@(String.Format(Indian, "{0:N}", Model.Summary.ApprovedNegativeBalance)) </b></h4></td>
                        <td class="bg-green">
                            <label class="txt-wht">Available balance in the project <br />(A+B)-(C+D)</label>
                        </td>
                        <td class="text-right bg-green">
                            <h4 class="txt-wht fn20"><b>@(String.Format(Indian, "{0:N}", Model.Summary.AvailableBalanceinProject)) </b></h4>
                        </td>
                    </tr>

                </tbody>
            </table>
</div>
</section>

    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>


