@model IOAS.Models.ProvisionalStatementReportModel

@{
    ViewBag.Title = "ProvisionalStatementReportDetails";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Connect UW">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/connectuw-icn.png" />
    <title>Bill</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />

    <style>
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 20px;
            padding-top: 20px;
        }

            .umr-hd h2 {
                font-size: 16px;
                color: #000;
                font-weight: normal;
                text-align: left;
            }

                .umr-hd h2 em {
                    font-size: 14px;
                    float: left;
                    font-style: normal;
                }

                .umr-hd h2 b {
                    font-size: 14px;
                    float: right;
                    font-weight: normal;
                }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mt-sm {
            margin-top: 15px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 15px;
        }

        .gr-bg {
            background: #eee;
        }

        .logo-section .icsr-logo {
            width: 70px;
            float: left;
        }

        .logo-section .dts {
            width: calc(100% - 160px);
            float: left;
        }

        .logo-section h4 {
        }

        .logo-section .iitm-logo {
            width: 70px;
            float: left;
        }


        .fn-bl {
            font-weight: bold;
        }


        .cnt-bg .table em {
            font-size: 13px;
            font-style: normal;
            width: 100%;
            display: inline-block;
            margin-bottom: 5px;
        }
    </style>


</head>
<body class="umr-body">

    <header class="umr-hd">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="logo-section">
                        <img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" />
                        <div class="dts">
                            <h4>Centre for Industrial Consultancy and Sponsored Research</h4>
                            <h5>Indian Institute of Technology Madras</h5>
                        </div>
                        <img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" />
                    </div>
                </div>
                <div class="col-md-offset-8 col-md-2 ">
                    <span> Printed date :  @Model.LoginTS</span>
                </div>
            </div>
        </div>

    </header>

    <section class="cnt-bg">
        <div class="container-fluid">
            <div class="row mt-sm">

                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>IC & SR Approval No.</td>
                                <td>@Html.DisplayFor(m => m.ProjectNo)</td>
                            </tr>
                            <tr>
                                <td>Project Sponsored by:</td>
                                <td>@Html.DisplayFor(m => m.SponseringAgency)</td>
                            </tr>
                            <tr>
                                <td>Name of Co-ordinator:</td>
                                <td>@Html.DisplayFor(m => m.ProjCor)</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Project Title:</td>
                                <td>@Html.DisplayFor(m => m.ProjectTitle)</td>
                            </tr>
                            <tr>
                                <td style="height:75px;">Project Sanctn. No:</td>
                                <td>@Html.DisplayFor(m => m.SanctionNo)</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5>PROVISIONAL STATEMENT OF ACCOUNTS FOR THE PERIOD FROM @Html.DisplayFor(m => m.FromDate) To @Html.DisplayFor(m => m.ToDate)</h5>
                </div>
            </div>

            <div class="row  mt-sm">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="4" class="text-center"><b> Receipts(A)</b></td>
                                <td colspan="10" class="text-center"><b>Payments(B) </b></td>
                                <td><b>Balance</b></td>
                            </tr>
                            <tr>
                                <td>Opening Balance</td>
                                <td>Receipts</td>
                                <td>Interest</td>
                                <td>Total</td>
                                <td>Staff</td>
                                <td>Equipment</td>
                                <td>Consumables</td>
                                <td>Contingency</td>
                                <td>Travel</td>
                                <td>Components</td>
                                <td>Overheads</td>
                                <td>Others</td>
                                <td>Miscellaneous</td>
                                <td>Total Expenditure</td>

                                <td>(A - B)</td>
                            </tr>

                            <tr>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                                <td class="text-center">Rs.</td>
                               
                            </tr>

                            <tr>
                                <td  class="text-right"> @Html.DisplayFor(m => m.OB)</td>
                                <td class="text-right">@Html.DisplayFor(m => m.Receipt)</td>
                                <td class="text-right"> @Html.DisplayFor(m => m.Interest)</td>
                                <td class="text-right">@Html.DisplayFor(m => m.ReceiptTotal)</td>
                                <td class="text-right">@Html.DisplayFor(m => m.Staff)</td>
                                <td class="text-right">@Html.DisplayFor(m => m.Equipment)</td>
                                <td class="text-right">@Html.DisplayFor(m => m.Consumables)</td>
                                <td class="text-right">@Html.DisplayFor(m => m.Contingency)</td>
                                <td class="text-right">@Html.DisplayFor(m => m.Travel)</td>
                                <td class="text-right">@Html.DisplayFor(m => m.Components)</td>
                                <td class="text-right">@Html.DisplayFor(m => m.Overheads)</td>
                                <td class="text-right">@Html.DisplayFor(m => m.Others)</td>
                                <td class="text-right">@Html.DisplayFor(m => m.Miscellaneous)</td>
                                <td class="text-right">@Html.DisplayFor(m => m.TotalExpenditure)</td>
                                <td class="text-right"> @Html.DisplayFor(m => m.Balance)</td>
                            </tr>

                            <tr>
                                <td colspan="14" class="text-right">Balance Commitments</td>
                                <td >@Html.DisplayFor(m => m.BalanceCommitments)</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>



            <div class="row  mt-sm">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    i) Certified that the accounts in respect of the funds given by the Govt.of India have been test checked. <br><br>
                                    ii) Certified that the expenditure from the grant has been audited by this office and it is certified by the I.I.T., Madras, that the grant has been utilised for the purpose for which it was sanctioned.<br>
                                </td>
                                <td style="vertical-align:bottom;">DEPUTY REGISTRAR (P&A)</td>
                            </tr>
                            <tr>
                                <td>
                                    To <br>
                                    1. The Funding Agency through the Co-ordinator<br>
                                    2. The Co-ordinator<br>
                                    3. File Copy.<br>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>




        </div>
    </section>



    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>

