
<link href="@Url.Content("~/Content/IOASContent/css/froala/froala_editor.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/IOASContent/css/froala/froala_editor.pkgd.min.css")" rel="stylesheet" />
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div id="editor">
            <div id='edit' style="margin-top: 30px;" class="spl-editor">
                <div>
                    @Html.Raw(Model.UCRawFile)
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-12 text-center pd-tb-30">

        <input type="button" onclick="window.location.href='@Url.Action("List", "Uc")';" class="btn btn-default" value="Close" id="btnclose" />
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Content/IOASContent/js/froala/froala_editor.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/IOASContent/js/froala/froala_editor.pkgd.min.js")"></script>
<!-- Include PDF export JS lib. -->
<script type="text/javascript" src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script>
    var editor = new FroalaEditor('#edit', {
        html2pdf: window.html2pdf
    });
    
</script>