
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    @if (Model.RequestType == "New Appointment" || Model.RequestType == "New Commitment")
    {
        <title>New Commitment Booked</title>
    }
    else
    {
        <title>@Model.TypeofAction @Model.RequestType</title>
    }

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>
            @if (Model.RequestType == "New Appointment" || Model.RequestType == "New Commitment")
            {
                <p>This is with reference to the request received from the project recruitment section, an amount of Rs. @Model.commitmentAmount has been booked in the project no: @Model.projectNo</p>
            }
            else
            {
                <p>This is with reference to the @Model.RequestType request received from the project recruitment section, an amount of Rs. @Model.commitmentAmount has been done from the project no: @Model.projectNo</p>
            }
            <table border="1" cellspacing="0" cellpadding="5" style="margin-bottom: 10px; text-align:left;width:100%;">
                <tr>
                    <td>
                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">Staff Name</h4>
                    </td>
                    <td>
                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@Model.name</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">Salary per month</h4>
                    </td>
                    <td>
                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@Model.salary</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">Appointment from date and to date</h4>
                    </td>
                    <td>
                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@Model.FromDate to @Model.ToDate</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">Commitment Number</h4>
                    </td>
                    <td>
                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@Model.commitmentNo</h4>
                    </td>
                </tr>

            </table>
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                @Model.crt_Name<br>
                Project Accounts<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>
</html>
