<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Offer Letter</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>
            <p>Please find attached your Consultant engagement letter with reference to the request submitted by Prof. <b>@Model.PIName</b> for engaging the <b>@Model.DesignationName</b> in the <b>@Model.Department</b> under the project no: <b>@Model.ProjectNumber .</b></p>
            <ol type="1">
                <li>Submit the soft copy of the joining report enclosed on your date of joining to <a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank">icsrrecruitment@iitm.ac.in</a> (Note: The joining report can be digitally signed by the Project Coordinator or it can be approved via email).</li>
                <li>The retainer fee process will be initiated only on the completion of verification and issuance of Work order.</li>
                <li>In order to generate the consultant ID card, kindly send the passport size photo and signature in .JPEG format.</li>
            </ol>
            <p>For any queries please email to <a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank">icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest. </p>
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                @Model.DAName<br>
                Project Recruitment<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>
</html>

