
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Application acknowledgement</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>
            <p>This is with reference to the term <b>@Model.Ordertype</b> request received for <b>@Model.PersonName, @Model.DesignationName</b> under project no: <b>@Model.ProjectNumber</b>. While processing the request we found the following deviations from the norms prescribed by the Institute.</p>
            <p>Please provide a response for the below deviation(s) within 3 business days. During this period the @Model.Ordertype process will be kept on hold.</p>
            <table border="1" cellspacing="0" cellpadding="5" style="margin-bottom: 10px;" class="CheckListBody">
                <tr>
                    <td>
                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">S.No.</h4>
                    </td>
                    <td>
                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">Deviation (s)</h4>
                    </td>
                    <td>
                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">Actual norms</h4>
                    </td>
                    <td>
                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">Deviation from norms</h4>
                    </td>
                </tr>
                @if (Model.checkdetails.Count() > 0)
                {
                    int inc = 0;
                    int incl = 0;
                    int SNo = 0;
                    foreach (var item in Model.checkdetails)
                    {
                        if (item.checklistId != 39 && item.checklistId != 40 && item.checklistId != 32 && item.checklistId != 33 && item.checklistId != 38 && item.checklistId != 35)
                        {
                            SNo++;
                            <tr class="Checklist_@item.checklistId">
                                <td>
                                    <h4 class="dyn-srl-No" style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@SNo</h4>
                                </td>
                                <td>
                                    <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@item.devScenarios</h4>
                                </td>
                                <td>
                                    <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@item.actNorms</h4>
                                </td>
                                <td>
                                    <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@item.devinNorms</h4>
                                </td>
                            </tr>
                        }
                        if (item.checklistId == 38 || item.checklistId == 35)
                        {
                            SNo++;
                            <tr class="Checklist_@item.checklistId">
                                <td>
                                    <h4 class="dyn-srl-No" style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@SNo</h4>
                                </td>
                                <td>
                                    <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@item.devScenarios</h4>
                                </td>
                                @if (string.IsNullOrEmpty(Model.Paytype))
                                {
                                    <td>
                                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">Please refer the IC&SR norms link --> <a href="https://icsr.iitm.ac.in/admin/upload/forms/N1.pdf">icsr.iitm.ac.in/admin/upload/forms/N1.pdf</a> , <a href="https://icsr.iitm.ac.in/admin/upload/forms/N%204%20.pdf">icsr.iitm.ac.in/admin/upload/forms/N%204%20.pdf</a> , <a href="https://icsr.iitm.ac.in/admin/upload/forms/N%203%20.pdf">icsr.iitm.ac.in/admin/upload/forms/N%203%20.pdf</a></h4>
                                    </td>
                                }
                                else if (Model.Paytype == "Consolidated Pay")
                                {
                                    <td>
                                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">Please refer the IC&SR norms link --> <a href="https://icsr.iitm.ac.in/admin/upload/forms/N1.pdf">icsr.iitm.ac.in/admin/upload/forms/N1.pdf</a> , <a href="https://icsr.iitm.ac.in/admin/upload/forms/N%204%20.pdf">icsr.iitm.ac.in/admin/upload/forms/N%204%20.pdf</a></h4>
                                    </td>
                                }
                                else if (Model.Paytype == "Fellowship Pay")
                                {
                                    <td>
                                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">Please refer the IC&SR norms link --> <a href="https://icsr.iitm.ac.in/admin/upload/forms/N%203%20.pdf">icsr.iitm.ac.in/admin/upload/forms/N%203%20.pdf</a></h4>
                                    </td>
                                }

                                <td>
                                    <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@item.devinNorms</h4>
                                </td>
                            </tr>
                        }
                        if (item.checklistId == 39 || item.checklistId == 40 || item.checklistId == 32 || item.checklistId == 33)
                        {
                            inc++;
                        }
                    }
                    foreach (var item in Model.checkdetails)
                    {
                        if (inc > 0 && (item.checklistId == 39 || item.checklistId == 40 || item.checklistId == 32 || item.checklistId == 33))
                        {
                            incl++;
                            SNo++;
                            <tr class="Checklist_@item.checklistId">
                                <td>
                                    <h4 class="dyn-srl-No" style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@SNo</h4>
                                </td>
                                <td>
                                    <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@item.devScenarios</h4>
                                </td>
                                <td>
                                    <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">@item.actNorms</h4>
                                </td>
                                @if (incl == 1)
                                {
                                    <td rowspan="@inc">
                                        <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;" id="txt-Comments">@Model.Comments</h4>
                                    </td>
                                }
                            </tr>
                        }
                    }
                }
            </table>
            <p>For any queries, kindly send an email to <a href="mailto:icsrrecruitment3@imail.iitm.ac.in" target="_blank"> icsrrecruitment3@imail.iitm.ac.in </a>/<a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest.</p>
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                @Model.DAName<br>
                Project Recruitment<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>
</html>
