
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Foreign Remittance Process</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>
    <body style="margin:0; padding:0; background:#f6f6f6;">

        <div style="width:100%; margin:0 auto;">

            <table  border="0" style="width:100%; background:#fff; margin:0; padding:0;font-family: 'Poppins' , sans-serif; font-size 14px;color:#302c2b; line-height:2;" cellpadding="0" cellspacing="0">
                <tr>
                    @{ 
                        var icsrUrl = Model.baseUrl + "/Content/IOASContent/img/icsr_logo.png";
                        var iitUrl = Model.baseUrl + "/Content/IOASContent/img/iitm_logo.png";
                        var cboxUrl = Model.baseUrl + "/Content/IOASContent/img/check-mark-icon.png";
                        }
                    <td style="padding:30px;background: #fafafa;border-bottom: 1px solid rgba(0,0,0,0.05);">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width:70px;"><img src="@icsrUrl" style="width:75%;"></td>
                                <td style="text-align:center;">
                                    <h4 style="font-size: 18px;margin: 0;">Centre for Industrial Consultancy and Sponsored Research</h4>
                                    <h5 style="font-size:16px; font-weight:normal; margin:0;">Indian Institute of Technology Madras</h5>
                                </td>
                                <td style="width:70px;"><img src="@iitUrl" style="width:90%;"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
                
                
                <tr>
                    <td style="padding:0px 30px; margin-bottom:30px;">
                        <p style="font-size:15px;color:#000;margin-bottom: 0px;">Dear sir,</p>

                        <h2 style="color:#0b76e0; font-size:12px;">Wire Transfer Import Payment has been made successfully please find enclosed bank SWIFT and DEBIT advice for your reference: -</h2>
                        <table width="50%" border="1" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                           

                            <tr>
                                <td style="border:1px solid #ccc;border-width:1px 1px 0px 0px;">
                                    Project No : 
                                </td> 
                                <td style="border:1px solid #ccc;border-width:1px 0px 0px 0px;">
                                    @Model.projectNumber
                                </td> 
                            </tr>
                            <tr>
                                <td style="border:1px solid #ccc;border-width:1px 1px 0px 0px;">
                                    PO No :
                                </td>
                                <td style="border:1px solid #ccc;border-width:1px 0px 0px 0px;">
                                    @Model.poNo
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid #ccc;border-width:1px 1px 0px 0px;">
                                    Commitment No :
                                </td>
                                <td style="border:1px solid #ccc;border-width:1px 0px 0px 0px;">
                                    @Model.commitmentNumber
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid #ccc;border-width:1px 1px 0px 0px;">
                                    Portfolio Name :
                                </td>
                                <td style="border:1px solid #ccc;border-width:1px 0px 0px 0px;">
                                    @Model.portfolioName
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid #ccc;border-width:1px 1px 0px 0px;">
                                    Type of Payment :
                                </td>
                                <td style="border:1px solid #ccc;border-width:1px 0px 0px 0px;">
                                    @Model.typeofPayment
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid #ccc;border-width:1px 1px 0px 0px;">
                                    Invoice Number :
                                </td>
                                <td style="border:1px solid #ccc;border-width:1px 0px 0px 0px;">
                                    @Model.invoiceNumber
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid #ccc;border-width:1px 1px 0px 0px;">
                                    Invoice Date :
                                </td>
                                <td style="border:1px solid #ccc;border-width:1px 0px 0px 0px;">
                                    @Model.invoiceDate
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid #ccc;border-width:1px 1px 0px 0px;">
                                    Beneficiary Name :
                                </td>
                                <td style="border:1px solid #ccc;border-width:1px 0px 0px 0px;">
                                    @Model.beneficiary
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid #ccc;border-width:1px 1px 0px 0px;">
                                    Remittance Amount and Currency :
                                </td>
                                <td style="border:1px solid #ccc;border-width:1px 0px 0px 0px;">
                                    @Model.remittanceCurrency &nbsp; @Model.remittanceAmount
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid #ccc;border-width:1px 1px 0px 0px;">
                                    Remittance Number :
                                </td>
                                <td style="border:1px solid #ccc;border-width:1px 0px 0px 0px;">
                                    @Model.remittanceNumber
                                </td>
                            </tr>
                        </table>
                        <br />
                        <h4>Note: This is an auto-generated email.  Please do not reply.</h4>
                    </td>
                </tr>






                <tr>
                    <td style="padding:30px; background:#efefef;">
                        <table width="90%" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; text-align:center;">
                            @*<tr>
                                <td>
                                    <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">For any queries contact <a href="mailto:icsraccounts@iitm.ac.in" target="_blank"> icsraccounts@iitm.ac.in</a></h4>
                                </td>
                            </tr>*@
                            <tr>
                                <td>
                                    <h2 style="font-size:16px;margin-bottom: 0px;">Indian Institute of Technology Madras</h2>
                                    <p style="margin-top:0px;">IIT P.O., Chennai 600 036 <br>INDIA</p>
                                    <p style="font-size:13px;">
                                        <b style="font-size:15px;">Main Gate (in and out) :</b> <br>
                                        Opposite to C.L.R.I and beside The Adyar Cancer Institute, on Sardar Patel Road, Adyar, Chennai.
                                    </p>
                                    <p style="font-size:11px;">Notice of Confidentiality: This transmission contains information that may be confidential and that may also be privileged. Unless you are the intended recipient of the message (or authorized to receive it for the intended recipient) you may not copy, forward, or otherwise use it, or disclose the contents to anyone else. If you have received this transmission in error please notify us to <a href="mailto:icsritsupport@ioas.iitm.ac.in" target="_blank">icsritsupport@ioas.iitm.ac.in</a> immediately and delete it from your system.</p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>



        </div>



    </body>
</html>
