
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Norms deviation</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>
<body style="margin:0; padding:0; background:#f6f6f6;">

    <div style="width:100%; margin:0 auto;" class="rt-tb-scrl">

        <table border="0" style="width:100%; background:#fff; margin:0; padding:0;font-family: 'Poppins' , sans-serif; font-size 14px;color:#302c2b; line-height:2;" cellpadding="0" cellspacing="0">
            <tr>
                @{
                    var icsrUrl = Model.baseUrl + "/Content/IOASContent/img/icsr_logo.png";
                    var iitUrl = Model.baseUrl + "/Content/IOASContent/img/iitm_logo.png";
                    var cboxUrl = Model.baseUrl + "/Content/IOASContent/img/check-mark-icon.png";
                }
                <td style="padding:30px;background: #fafafa;border-bottom: 1px solid rgba(0,0,0,0.05);">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="width:70px;"><img src="@icsrUrl" style="width:75%;"></td>
                            <td style="text-align:center;">
                                <h4 style="font-size: 18px;margin: 0;">Centre for Industrial Consultancy and Sponsored Research</h4>
                                <h5 style="font-size:16px; font-weight:normal; margin:0;">Indian Institute of Technology Madras</h5>
                            </td>
                            <td style="width:70px;"><img src="@iitUrl" style="width:90%;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding:30px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="width:60%;">
                                <h2>Dear Sir / Madam,</h2>
                                <p>The applicant <b>@Model.PersonName</b> who has applied for the post of <b>@Model.DesignationName</b>,under <b>@Model.ProjectNumber</b>,<b>@Model.ProjectTitle</b>  is having following deviation from the norms prescribed by the institute.</p>
                            </td>
                        </tr>
                    </table>
                </td>
                @*<td style="padding:0px 30px; margin-bottom:30px;">
                        <p style="font-size:15px;color:#000;margin-bottom: 0px;">Dear Sir / Madam,</p>

                        <h2 style="color:#0b76e0; font-size:12px;">The applicant @Model.PersonName who has applied for the post of @Model.DesignationName, is having following deviation from the norms prescribed by the institute.</h2>


                    </td>*@
            </tr>
            <tr>
                @if (Model.checkdetails.Count() > 0)
                {
                    <td style="padding:30px; background:#efefef;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <ul style="padding: 0;margin: 0;list-style: none;font-size: 15px;" id="li-content">
                                        @foreach (var item in Model.checkdetails)
                                        {
                                            <li style="width:100%; display:inline-block;">
                                                <img src="@cboxUrl" width="25" height="25" style="margin-right:15px;float:left;margin-top: 3px;">
                                                <span style="float:left;">@item.CheckList</span>
                                            </li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                        </table>

                    </td>
                }
            </tr>

            @*@if (Model.checkdetails.Count() > 0)
                {

                    foreach (var item in Model.checkdetails)
                    {
                        <tr>
                            <td style="padding:0px 30px; margin-bottom:30px;">
                            <h2 style="font-size:16px;margin-bottom: 0px;"><b>@item.CheckList</b></h2>
                            </td>
                        </tr>
                    }
                }*@
            @if (!string.IsNullOrEmpty(Model.Comments))
            {
                <tr id="tr-cmt">
                    <td style="padding:30px;background:#efefef;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <p style="margin-top:15px;" id="txt-mail-comments">@Model.Comments</p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            }
            else
            {
                <tr id="tr-cmt" style="display:none">
                    <td style="padding:30px;background:#efefef;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <p style="margin-top:15px;" id="txt-mail-comments">@Model.Comments</p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            }
            <tr>
                <td style="padding:30px;">
                    <table width="60%" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; text-align:center;">
                        <tr>
                            <td>
                                <p style="margin-top:15px;">Request you to kindly give your justification on the same.</p>
                            </td>
                        </tr>
                    </table>

                </td>
                @*<td style="padding:0px 30px; margin-bottom:30px;">
                        <h2 style="color:#0b76e0; font-size:12px;">Request you to kindly give your justification on the same.</h2>
                    </td>*@
            </tr>


            <tr>
                <td style="padding:30px; background:#efefef;">
                    <table width="90%" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; text-align:center;">
                        <tr>
                            <td>
                                <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">For any queries, please mail to "<a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a>" and we will get back to you at the earliest.</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">Thank You!</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 style="font-size:16px;margin-bottom: 0px;">Indian Institute of Technology Madras</h2>
                                <p style="margin-top:0px;">IIT P.O., Chennai 600 036 <br>INDIA</p>
                                <p style="font-size:13px;">
                                    <b style="font-size:15px;">Main Gate (in and out) :</b> <br>
                                    Opposite to C.L.R.I and beside The Adyar Cancer Institute, on Sardar Patel Road, Adyar, Chennai.
                                </p>
                                <p style="font-size:11px;">Notice of Confidentiality: This transmission contains information that may be confidential and that may also be privileged. Unless you are the intended recipient of the message (or authorized to receive it for the intended recipient) you may not copy, forward, or otherwise use it, or disclose the contents to anyone else. If you have received this transmission in error please notify us to <a href="mailto:icsritsupport@ioas.iitm.ac.in" target="_blank">icsritsupport@ioas.iitm.ac.in</a> immediately and delete it from your system.</p>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>

    </div>

</body>
</html>
