
<!doctype html>
<html>
<head>
    <meta charset="utf-8">


    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>
        
            @if (Model.Ordertype == "New")
            {
                <p>This is with reference to the appointment of <b>@Model.PersonName</b> (Emp ID: <b>@Model.EmployeeNum</b>) for the post of <b>@Model.DesignationName</b> under outsourcing mode.</p>
                <p>The following will be the next steps from our end:</p>
                <p>1. Release of appointment letter</p>
                <p>2. Issue of ID Card </p>
                <p>Note: Candidate documents and joining reports are available in the portal.</p>
            }
            else if (Model.Ordertype == "Extension" && Model.subject.Contains("Revision of pay for"))
            {
                <p>This is with reference to the appointment of <b>@Model.PersonName</b> (Emp ID: <b>@Model.EmployeeNum</b>) for the post of <b>@Model.DesignationName</b> under outsourcing mode.</p>
                <p>The following will be the next steps from our end:</p>
                <p>1. Release of appointment letter</p>
                <p>2. Issue of ID Card </p>
                <p>Note: Candidate documents and joining reports are available in the portal.</p>
            }
            else if (Model.Ordertype == "Extension")
            {
                <p>This is with reference to the @Model.FillFields of  <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName (@Model.AppointmentType)</b> under outsourcing mode.</p>
                <table border="1" cellspacing="0" cellpadding="5" style="margin-bottom: 10px; text-align:left;width:60%;">
                    <tr>
                        <th>
                            <b>Title</b>
                        </th>
                        <th>
                            <b>Staff details</b>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Employee ID
                        </td>
                        <td>
                            @Model.EmployeeNum
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Employee Name
                        </td>
                        <td>
                            @Model.PersonName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Appointment mode
                        </td>
                        <td>
                            @Model.AppointmentType
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Designation Name
                        </td>
                        <td>
                            @Model.DesignationName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Appointment Date
                        </td>
                        <td>
                            @Model.FromDate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            To Date
                        </td>
                        <td>
                            @Model.ToDate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PF Basic Wages
                        </td>
                        <td>
                            @Model.PFBasicwages
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Gross Salary
                        </td>
                        <td>
                            @Model.BasicPay
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PF Eligibility
                        </td>
                        <td>
                            @Model.PFEligiblity
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ESIC Eligibility
                        </td>
                        <td>
                            @Model.ESICEligiblity
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email ID
                        </td>
                        <td>
                            @Model.Email
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Contact number
                        </td>
                        <td>
                            @Model.MobileNumber
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Physically Challenged
                        </td>
                        <td>
                            @Model.PhysicallyChallenged
                        </td>
                    </tr>
                </table>
                <p>The following will be the next steps from our end:</p>
                <ol>
                    @if (Model.subject.Contains("Extension and enhancement"))
                    {
                        <li>Release of extension cum enhancement letter</li>
                    }
                    else
                    {
                        <li>Release of extension letter</li>
                    }
                    <li>Issue of ID Card </li>
                </ol>
            }
            else if (Model.Ordertype == "Enhancement" && Model.subject.Contains("Enhancement for"))
            {
                <p>This is with reference to the enhancement of <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName (@Model.AppointmentType)</b> under outsourcing mode. Kindly release the enhancement letter.</p>
                <table border="1" cellspacing="0" cellpadding="5" style="margin-bottom: 10px; text-align:left;width:60%;">
                    <tr>
                        <th>
                            <b style="font-size:14px;margin-bottom: 0px;">Title</b>
                        </th>
                        <th>
                            <b style="font-size:14px;margin-bottom: 0px;">Staff details</b>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Employee ID
                        </td>
                        <td>
                            @Model.EmployeeNum
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Employee Name
                        </td>
                        <td>
                            @Model.PersonName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Appointment mode
                        </td>
                        <td>
                            @Model.AppointmentType
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Designation Name
                        </td>
                        <td>
                            @Model.DesignationName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Appointment Date
                        </td>
                        <td>
                            @Model.FromDate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            To Date
                        </td>
                        <td>
                            @Model.ToDate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PF Basic wages
                        </td>
                        <td>
                            @Model.PFBasicwages
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Gross Salary
                        </td>
                        <td>
                            @Model.BasicPay
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PF Eligibility
                        </td>
                        <td>
                            @Model.PFEligiblity
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ESIC Eligibility
                        </td>
                        <td>
                            @Model.ESICEligiblity
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email ID
                        </td>
                        <td>
                            @Model.Email
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Contact number
                        </td>
                        <td>
                            @Model.MobileNumber
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Physically Challenged
                        </td>
                        <td>
                            @Model.PhysicallyChallenged
                        </td>
                    </tr>
                </table>

            }
            else if (Model.Ordertype == "Enhancement")
            {
                <p>With reference to the previous email <b>@Model.PersonName</b> (Emp ID: <b>@Model.EmployeeNum</b>) for the post of <b>@Model.DesignationName</b> has submitted the joining report. Hence the same should be included in the payroll.</p>

            }
            else if (Model.Ordertype == "Change of project")
            {
                <p>With reference to the previous email <b>@Model.PersonName</b> (Emp ID: <b>@Model.EmployeeNum</b>) for the post of <b>@Model.DesignationName</b> has submitted the joining report. Hence the same should be included in the payroll.</p>
            }
            else if (Model.Ordertype == "Amendment")
            {
                <p>Kindly release revised @Model.FillFields for <b>@Model.PersonName</b>, <b>@Model.DesignationName</b> may be read as @Model.FromDate to @Model.ToDate instead of @Model.PrevFromDate to @Model.PrevToDate</p>
                <p>The following will be the next steps from your end:</p>
                <p>1. Revised @Model.FillFields</p>
                <p>2. Issue of ID Card </p>
            }
            else if (Model.Ordertype == "Relieving" && Model.subject.Contains("Relieving and release of service certificate"))
            {
                <p>This is with reference to the relieving request of <b>@Model.PersonName</b> (Emp ID: <b>@Model.EmployeeNum</b>) for the post of <b>@Model.DesignationName</b> under outsourcing mode. Kindly relieve the staff w.e.f @Model.RelievingDate and release the Service certificate.</p>
                <p>Note: Collect the ID card from the staff after completing the exit formalities.</p>
            }
            else if (Model.Ordertype == "Relieving" && Model.subject.Contains("Initiate Relieving process for"))
            {
                <p>This is with reference to the relieving request of <b>@Model.PersonName</b> (Emp ID: <b>@Model.EmployeeNum</b>) for the post of <b>@Model.DesignationName</b> under outsourcing mode. Kindly relieve the staff w.e.f @Model.RelievingDate.</p>
                <p>Note: Issue of service certificate should be on hold, until further information from our end. Since staff has to submit the no dues.</p>
            }
            else if (Model.Ordertype == "Relieving" && Model.subject.Contains("Release of service certificate for"))
            {
                <p>With reference to the previous email, kindly release the service certificate for <b>@Model.PersonName</b> (Emp no: <b>@Model.EmployeeNum</b>)</p>
                <p>Note: Collect the ID card from the staff after completing the exit formalities.</p>
            }
            <p>For any queries, please mail to <a href="mailto:icsrrecruitment5@imail.iitm.ac.in" target="_blank"> icsrrecruitment5@imail.iitm.ac.in</a> / <a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest.</p>
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                @Model.DAName<br>
                Project Recruitment<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>
</html>
