
<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>

            @if (Model.Ordertype == "New")
            {
                <p>This is with reference to the @Model.FillFields of <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName</b> under outsourcing mode.</p>
            }
            else if (Model.Ordertype == "Extension")
            {
                <p>This is with reference to the revision of pay of <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName</b> under outsourcing mode.</p>
            }
            else if (Model.Ordertype == "Enhancement")
            {
                <p>This is with reference to the @Model.FillFields of <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName</b> under outsourcing mode.</p>
            }
            else if (Model.Ordertype == "Change of project")
            {
                <p>This is with reference to the term extension of <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName</b> under outsourcing mode.</p>
            }

            <table border="1" cellspacing="0" cellpadding="5" style="margin-bottom: 10px; text-align:left;width:60%;">
                <tr>
                    <th>
                        <b>Title</b>
                    </th>
                    <th>
                        <b>Staff details</b>
                    </th>
                </tr>
                <tr>
                    <td>
                        Employee ID
                    </td>
                    <td>
                        @Model.EmployeeNum
                    </td>
                </tr>
                <tr>
                    <td>
                        Employee Name
                    </td>
                    <td>
                        @Model.PersonName
                    </td>
                </tr>
                <tr>
                    <td>
                        Appointment mode
                    </td>
                    <td>
                        @Model.AppointmentType
                    </td>
                </tr>
                <tr>
                    <td>
                        Designation Name
                    </td>
                    <td>
                        @Model.DesignationName
                    </td>
                </tr>
                <tr>
                    <td>
                        Appointment Date
                    </td>
                    <td>
                        @Model.FromDate
                    </td>
                </tr>
                <tr>
                    <td>
                        To Date
                    </td>
                    <td>
                        @Model.ToDate
                    </td>
                </tr>
                <tr>
                    <td>
                        PF Basicwages
                    </td>
                    <td>
                        @Model.PFBasicwages
                    </td>
                </tr>
                <tr>
                    <td>
                        Gross Salary
                    </td>
                    <td>
                        @Model.GrossPay
                    </td>
                </tr>
                <tr>
                    <td>
                        PF Eligibility
                    </td>
                    <td>
                        @Model.PFEligiblity
                    </td>
                </tr>
                <tr>
                    <td>
                        ESIC Eligibility
                    </td>
                    <td>
                        @Model.ESICEligiblity
                    </td>
                </tr>
                <tr>
                    <td>
                        Email ID
                    </td>
                    <td>
                        @Model.toMail
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact number
                    </td>
                    <td>
                        @Model.MobileNumber
                    </td>
                </tr>
                <tr>
                    <td>
                        Physically Challenged
                    </td>
                    <td>
                        @Model.PhysicallyChallenged
                    </td>
                </tr>
            </table>

            @if (Model.Ordertype == "New")
            {
                <p>Please note: Kindly release the offer letter along with the required forms to complete the joining formalities.</p>
            }
            @if (Model.Ordertype == "Extension")
            {
                <p>The following will be the next steps from our end:</p>
                <p>1.	Kindly release the offer letter along with the required forms to complete the joining formalities.</p>
            }
            @if (Model.Ordertype == "Enhancement")
            {
                <p>The following will be the next steps from our end:</p>

                if (!Model.FillFields.Contains("revision of pay"))
                {
                    <p>1.	Release of @Model.FillFields letter</p>
                }
                else
                {
                    <p>1.	Release of Offer Letter</p>
                }

                <p>
                    2.  Issue of ID Card.
                </p>
            }
            @if (Model.Ordertype == "Change of project")
            {
                <p>The following will be the next steps from our end:</p>
                <p>
                    1.	Release of Offer letter with joining report checklist
                </p>
                <p>
                    2.	Issue of ID Card.
                </p>
            }
            <p>For any queries, please mail to <a href="mailto:icsrrecruitment5@imail.iitm.ac.in" target="_blank"> icsrrecruitment5@imail.iitm.ac.in</a> / <a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest.</p>
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                @Model.DAName<br>
                Project Recruitment<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>
</html>
