
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Application acknowledgement</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>


<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>
            @if (Model.Ordertype == "Extension")
            {
                <p>This is with reference to the @Model.FillFields request received for <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName (@Model.AppointmentType)</b> under the Project number <b>@Model.ProjectNumber</b></p>               
                if (Model.SendSlryStruct == "SST")
                {
                    <p>Kindly find attached the pay structure for the period from @Model.FromDate, to @Model.ToDate with the pay of Rs. @Model.BasicPay. Please approve the pay structure or let us know for any changes.</p>
                }

                <p>The following will be the next steps from our end:</p>
                <ol>
                    <li>Commitment booking </li>
                    @if (Model.FillFields == "revision of pay")
                    {
                        <li>Committee approval</li>
                    }

                    @if (Model.FillFields != "revision of pay" && Model.SalaryDiff_f == false)
                    {
                        <li>Release of extension letter by outsourcing vendor</li>
                    }
                    else if (Model.FillFields != "revision of pay" && Model.SalaryDiff_f == true)
                    {
                        <li>Release of extension cum enhancement letter by outsourcing vendor</li>
                    }
                    else
                    {
                        <li>Release of offer letter by outsourcing vendor</li>
                    }
                </ol>
            }
            else if (Model.Ordertype == "Enhancement")
            {
                if (Model.FillFields == "extension with change of project")
                {
                    <p>This is with reference to the extension with change of project request received for <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName (@Model.AppointmentType)</b> under the Project number <b>@Model.ProjectNumber</b></p>
                }
                else if (Model.FillFields == "change of designation" && Model.Extended_f == true && Model.SalaryDiff_f == false)
                {
                    <p>This is with reference to the extension with change of designation request received for <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName (@Model.AppointmentType)</b> under the Project number <b>@Model.ProjectNumber</b></p>
                }
                else if (Model.FillFields == "change of designation" && Model.Extended_f == true && Model.SalaryDiff_f == true)
                {
                    <p>This is with reference to the extension cum enhancement with change of designation request received for <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName (@Model.AppointmentType)</b> under the Project number <b>@Model.ProjectNumber</b></p>
                }
                else if (Model.FillFields == "change of designation" && Model.SalaryDiff_f == true)
                {
                    <p>This is with reference to the change of designation with enhancement request received for <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName (@Model.AppointmentType)</b> under the Project number <b>@Model.ProjectNumber</b></p>
                }
                else if (Model.FillFields == "change of designation")
                {
                    <p>This is with reference to the change of designation request received for <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName (@Model.AppointmentType)</b> under the Project number <b>@Model.ProjectNumber</b></p>
                }
                else
                {
                    <p> This is with reference to the @Model.FillFields request received for <b> @Model.PersonName </b> for the post of <b> @Model.DesignationName (@Model.AppointmentType) </b> under the Project number <b> @Model.ProjectNumber </b></p>
                }

                if (Model.SendSlryStruct == "SST")
                {
                    <p> Kindly find attached the pay structure for the period from @Model.FromDate, to @Model.ToDate with the pay of Rs. @Model.BasicPay .Please approve the pay structure or let us know for any changes.</p>
                }

                <p>The following will be the next steps from our end</p>
                <ol>
                    @if ((Model.FillFields == "change of designation" && Model.Extended_f == true) || (Model.FillFields == "extension with change of project" && Model.Extended_f == true))
                    {
                        <li>Commitment booking</li>
                    }
                    else if (Model.Extended_f == false && Model.FillFields == "appointment")
                    {
                        <li>Commitment withdrawal with a differential amount in the salary</li>
                    }
                    else if (Model.Extended_f == false && Model.SalaryDiff_f == true)
                    {
                        <li>Commitment booking for the differential amount in the salary</li>
                    }

                    @if (Model.FillFields == "appointment" || Model.FillFields == "change of designation" || Model.FillFields == "extension with change of project")
                    {
                        <li>Committee approval</li>
                    }

                    @if (Model.FillFields == "extension with change of project" && Model.SalaryDiff_f == true && Model.DesignationDiff_f == true)
                    {
                        <li>Release of extension cum enhancement with change of designation letter by outsourcing vendor</li>
                    }
                    else if (Model.FillFields == "extension with change of project" && Model.SalaryDiff_f == false && Model.DesignationDiff_f == true)
                    {
                        <li>Release of extension with change of designation letter by outsourcing vendor</li>
                    }
                    else if (Model.FillFields == "extension with change of project" && Model.SalaryDiff_f == true)
                    {
                        <li>Release of extension with enhancement letter by outsourcing vendor</li>
                    }
                    else if (Model.FillFields == "extension with change of project")
                    {
                        <li>Release of extension letter by outsourcing vendor</li>
                    }
                    else if (Model.FillFields == "change of designation" && Model.Extended_f == true && Model.SalaryDiff_f == false)
                    {
                        <li>Release of extension with change of designation letter by outsourcing vendor</li>
                    }
                    else if (Model.FillFields == "change of designation" && Model.Extended_f == true && Model.SalaryDiff_f == true)
                    {
                        <li>Release of extension cum enhancement with change of designation letter by outsourcing vendor    </li>
                    }
                    else if (Model.FillFields == "change of designation" && Model.SalaryDiff_f == true)
                    {
                        <li>Release of change of designation with enhancement letter by outsourcing vendor</li>
                    }
                    else if (Model.FillFields == "change of designation")
                    {
                        <li>Release of change of designation letter by outsourcing vendor</li>
                    }
                    else if (Model.FillFields == "salary enhancement")
                    {
                        <li>Release of enhancement letter by outsourcing vendor</li>
                    }
                    else
                    {
                        <li>Release of offer letter by outsourcing vendor</li>
                    }
                </ol>
            }   
            else if (Model.Ordertype == "Change of project")
            {
                <p>This is with reference to the Change of Project request received for <b>@Model.PersonName</b> for the post of <b>@Model.DesignationName (@Model.AppointmentType)</b> under project no: <b>@Model.ProjectNumber</b> Kindly find attached the pay structure for the period from @Model.FromDate to @Model.ToDate with the pay of Rs. @Model.BasicPay pm. Please approve the pay structure or let us know for any changes.</p>
                if (Model.SendSlryStruct == "SST")
                {
                    <p>Kindly find attached the pay structure for the period from @Model.FromDate, to @Model.ToDate with the pay of Rs. @Model.BasicPay. Please approve the pay structure or let us know for any changes.</p>
                }
                <p>The following will be the next steps from our end</p>
                <ol>
                    <li>Commitment booking</li>
                    <li>Committee approval</li>
                    <li>Release of offer letter by outsourcing vendor</li>
                </ol>
                <p>@*The normal turnaround time to release the offer letter is 7 working days from the receipt of this email.*@</p>
            }

            @if (Model.AppointmentType == "Part time")
            {
                <p>Please note: Part-time employees will not be covered under PF, insurance, and Institute hospital facilities.</p>
            }
            <p>For any queries, please mail to <a href="mailto:icsrrecruitment5@imail.iitm.ac.in" target="_blank"> icsrrecruitment5@imail.iitm.ac.in</a> / <a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest.</p>
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                @Model.DAName<br>
                Project Recruitment<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>

</html>
