
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Payment Process</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

</head>
<body style="margin:0; padding:0; background:#f6f6f6;">

    <div style="width:100%; margin:0 auto;">
        @{
            var bcssUrl = Model.baseUrl + "/Content/IOASContent/css/bootstrap.min.css";
            var bjsUrl = Model.baseUrl + "/Content/IOASContent/js/bootstrap.min.js";
            var icsrUrl = Model.baseUrl + "/Content/IOASContent/img/icsr_logo.png";
            var iitUrl = Model.baseUrl + "/Content/IOASContent/img/iitm_logo.png";
            var cboxUrl = Model.baseUrl + "/Content/IOASContent/img/check-mark-icon.png";
        }
        <link href="@bcssUrl" rel="stylesheet" />
        <script src="@bjsUrl"></script>
        <table border="0" style="width:100%; background:#fff; margin:0; padding:0;font-family: 'Poppins' , sans-serif; font-size 14px;color:#302c2b; line-height:2;" cellpadding="0" cellspacing="0">
            <tr>
                <td style="padding:30px;background: #fafafa;border-bottom: 1px solid rgba(0,0,0,0.05);">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="width:70px;">@*<img src="@icsrUrl" style="width:75%;">*@</td>
                            <td style="text-align:center;">
                                <h4 style="font-size: 18px;margin: 0;">Centre for Industrial Consultancy and Sponsored Research</h4>
                                <h5 style="font-size:16px; font-weight:normal; margin:0;">Indian Institute of Technology Madras</h5>
                            </td>
                            <td style="width:70px;">@*<img src="@iitUrl" style="width:90%;">*@</td>
                        </tr>
                    </table>

                </td>
            </tr>


            <tr>
                <td style="padding:0px 30px; margin-bottom:30px;">
                    <table width="75%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <p style="font-size:15px;color:#000;margin-bottom: 0px;">Dear @Model.name,</p>
                                @if (Model.modeOfPayment == 2)
                                {
                                    <h2 style="color:#0b76e0; font-size:18px;">Payment for the invoice/request given below has been approved and initiated through bank transfer. The amount is expected to appear in the beneficiary's bank account within 4 working days.</h2>
                                }
                                else
                                {
                                    <h2 style="color:#0b76e0; font-size:18px;">The payment for below invoice/request has been approved. The cheque shall be available at ICSR accounts in 2 working days.</h2>
                                }
                                <table class="table table-bordered" style="border-spacing: 0; border-collapse: collapse; margin-bottom:30px; border: 1px solid #ddd;  width: 100%; max-width: 100%;">
                                    <thead>
                                        <tr>
                                            <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">Bill Ref. Number</th>
                                            <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">Beneficiary Name</th>
                                            <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">Payment Amount (INR)</th>
                                            <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">Payment Mode</th>
                                            <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">TDS IT Section</th>
                                            <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">TDS IT Amount (INR)</th>
                                            <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">TDS GST Amount (INR)</th>
                                            <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">PO Number</th>
                                            <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">Bill Narration</th>
                                            <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">Payment Narration</th>
                                            <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">Date & Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.refNo</td>
                                            <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.beneficiary</td>
                                            <td align="right" style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.amount</td>
                                            <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.mode</td>
                                            <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.tdsITSection</td>
                                            <td align="right" style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.tdsITAmount</td>
                                            <td align="right" style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.tdsGSTAmount</td>
                                            <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.poNumber</td>
                                            <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.billNarration</td>
                                            <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.paymentNarration</td>
                                            <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.date</td>
                                        </tr>
                                    </tbody>
                                </table>
                                @if (Model.invDetails != null)
                                {
                                    <table class="table table-bordered" style="border-spacing: 0; border-collapse: collapse; margin-bottom:30px; border: 1px solid #ddd;  width: 100%; max-width: 100%;">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">Invoice Number</th>
                                                <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">Invoice Date</th>
                                                <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">Invoice Amount (INR)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.invDetails)
                                            {

                                                <tr>
                                                    <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@item.invoiceNumber</td>
                                                    <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@item.invoiceDate</td>
                                                    <td align="right" style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@item.invoiceAmount</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;"></td>
                                                <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;"><b>Total  :</b></td>
                                                <td align="right" style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;"><b>@Model.ttlInvoiceAmount </b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                                @if (Model.projectNumber != null)
                                {
                                    <table class="table table-bordered" style="border-spacing: 0; border-collapse: collapse; margin-bottom:30px; border: 1px solid #ddd;  width: 100%; max-width: 100%;">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th style="padding: 8px; line-height: 1.42857143; vertical-align: top; border-bottom-width: 2px; border: 1px solid #ddd;">Project Number</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.projectNumber)
                                            {

                                                <tr>
                                                    <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@item</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                @if (Model.modeOfPayment == 2)
                                {
                                    <table class="table table-bordered" style="border-spacing: 0; border-collapse: collapse; margin-bottom:30px; border: 1px solid #ddd; width: 100%; max-width: 100%;">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th colspan="2">Bank Details </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">Account Number :</td>
                                                <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.accountNumber</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">IFSC Code :</td>
                                                <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.ifsc</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">Bank Name :</td>
                                                <td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top;">@Model.bank</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                                @*<ul style="padding: 0;margin: 0;list-style: none;font-size: 15px;">
                                        <li style="width:100%; display:inline-block;">
                                            <img src="@cboxUrl" style="margin-right:15px;float:left;margin-top: 3px;" width="25" height="25">
                                            <span style="float:left;">Amount : Rs.@Model.amount</span>
                                        </li>
                                        <li style="width:100%; display:inline-block;">
                                            <img src="@cboxUrl" style="margin-right:15px;float:left;margin-top: 3px;" width="25" height="25">
                                            <span style="float:left;">Mode : @Model.mode</span>
                                        </li>
                                        <li style="width:100%; display:inline-block;">
                                            <img src="@cboxUrl" style="margin-right:15px;float:left;margin-top: 3px;" width="25" height="25">
                                            <span style="float:left;">Bill Reference Number : @Model.refNo</span>
                                        </li>
                                        <li style="width:100%; display:inline-block;">
                                            <img src="@cboxUrl" style="margin-right:15px;float:left;margin-top: 3px;" width="25" height="25">
                                            <span style="float:left;">Invoice Number : @Model.invoiceNumber</span>
                                        </li>
                                        <li style="width:100%; display:inline-block;">
                                            <img src="@cboxUrl" style="margin-right:15px;float:left;margin-top: 3px;" width="25" height="25">
                                            <span style="float:left;">Bill Narration : @Model.billNarration</span>
                                        </li>
                                        <li style="width:100%; display:inline-block;">
                                            <img src="@cboxUrl" style="margin-right:15px;float:left;margin-top: 3px;" width="25" height="25">
                                            <span style="float:left;">Payment Narration : @Model.paymentNarration</span>
                                        </li>
                                        <li style="width:100%; display:inline-block;">
                                            <img src="@cboxUrl" style="margin-right:15px;float:left;margin-top: 3px;" width="25" height="25">
                                            <span style="float:left;">Beneficiary Name : @Model.beneficiary</span>
                                        </li>
                                        @if (Model.modeOfPayment == 2)
                                        {
                                            <li style="width:100%; display:inline-block;">
                                                <img src="@cboxUrl" style="margin-right:15px;float:left;margin-top: 3px;" width="25" height="25">
                                                <span style="float:left;">Account Number : @Model.accountNumber</span>
                                            </li>
                                            <li style="width:100%; display:inline-block;">
                                                <img src="@cboxUrl" style="margin-right:15px;float:left;margin-top: 3px;" width="25" height="25">
                                                <span style="float:left;">Bank Name : @Model.bank</span>
                                            </li>
                                            <li style="width:100%; display:inline-block;">
                                                <img src="@cboxUrl" style="margin-right:15px;float:left;margin-top: 3px;" width="25" height="25">
                                                <span style="float:left;">IFSC Code : @Model.ifsc</span>
                                            </li>
                                        }
                                        <li style="width:100%; display:inline-block; margin-bottom:30px;">
                                            <img src="@cboxUrl" style="margin-right:15px;float:left;margin-top: 3px;" width="25" height="25">
                                            <span style="float:left;">Date & Time : @Model.date</span>
                                        </li>
                                    </ul>*@
                                <br />
                                <h4>Note: This is an auto-generated email.  Please do not reply.</h4>
                            </td>


                        </tr>
                    </table>

                </td>
            </tr>

            <tr>
                <td style="padding:30px; background:#efefef;">
                    <table width="90%" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; text-align:center;">
                        <tr>
                            <td>
                                <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">For any queries contact <a href="mailto:icsraccounts@iitm.ac.in" target="_blank"> icsraccounts@iitm.ac.in</a></h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 style="font-size:16px;margin-bottom: 0px;">Indian Institute of Technology Madras</h2>
                                <p style="margin-top:0px;">IIT P.O., Chennai 600 036 <br>INDIA</p>
                                <p style="font-size:13px;">
                                    <b style="font-size:15px;">Main Gate (in and out) :</b> <br>
                                    Opposite to C.L.R.I and beside The Adyar Cancer Institute, on Sardar Patel Road, Adyar, Chennai.
                                </p>
                                <p style="font-size:11px;">Notice of Confidentiality: This transmission contains information that may be confidential and that may also be privileged. Unless you are the intended recipient of the message (or authorized to receive it for the intended recipient) you may not copy, forward, or otherwise use it, or disclose the contents to anyone else. If you have received this transmission in error please notify us to <a href="mailto:icsritsupport@ioas.iitm.ac.in" target="_blank">icsritsupport@ioas.iitm.ac.in</a> immediately and delete it from your system.</p>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>



    </div>



</body>
</html>
