
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>HRA approval order</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>
            @if (Model.Ack_f == true)
            {
                <p>This is with reference to the HRA request received for <b>@Model.PersonName</b>, @Model.DesignationName with effect from  <b>@Model.AppointmentStartDate</b> to <b>@Model.AppointmentEndDate</b>,under the project no. @Model.ProjectNumber with the HRA amount of Rs. @Model.BasicPay /- per month) is under process.</p>
                <p>The following will be the next steps from our end.</p>
                <p>
                    <ol type="1">
                        <li>Commitment booking</li>
                        <li>HRA order release</li>
                    </ol>
                </p>
                <p>@*The normal turnaround time to release the extension order is 3 working days from the receipt of this email.*@</p>
            }
            else if (Model.Send_f == true)
            {
                <p>Please find attached the HRA order of <b>@Model.PersonName</b> working under the project no. @Model.ProjectNumber . </p>
            }
            else if (Model.AppointmentType == "HRA Cancellation" && Model.HRAFullCancel_f == true)
            {
                <p>This is with reference to the House Rent Allowance cancellation request for <b>@Model.PersonName</b>, @Model.TypeofAppointment in the project no. @Model.ProjectNumber, will be treated as cancelled with effect <b>@Model.AppointmentStartDate</b> to  <b>@Model.AppointmentEndDate</b></p>
            }
            else
            {
                <p>This is with reference to the House Rent Allowance cancellation request for <b>@Model.PersonName</b>, @Model.TypeofAppointment in the project no. @Model.ProjectNumber, will be stopped with effect from <b>@Model.AppointmentStartDate</b></p>
            }

            <p>For any queries, kindly send an email to <a href="mailto:icsrrecruitment1@iitm.ac.in" target="_blank">icsrrecruitment1@iitm.ac.in </a>/<a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest.</p>
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                @Model.DAName<br>
                Project Recruitment<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>
</html>
