<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Relieving order / Service certificate content</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>

            @if (Model.IsRelease == false && Model.vendorMail_f == false)
            {
                <p>
                    This is with reference to the maternity leave request for <b>@Model.PersonName. </b>
                </p>
                <p>
                    We have processed maternity leave request with effect from <b>@Model.AppointmentStartDate</b> to <b>@Model.AppointmentEndDate</b> in the project <b>@Model.ProjectNumber</b>.
                </p>
            }
            else if (Model.IsRelease == false && Model.vendorMail_f == true)
            {
                <p>
                    This is with reference to the maternity leave request for <b>@Model.PersonName</b>.
                </p>
                <p>
                    We have initiated maternity leave request with effect from <b>@Model.AppointmentStartDate</b> to <b>@Model.AppointmentEndDate</b>.
                </p>
            }
            else if (Model.IsRelease == true && Model.vendorMail_f == true)
            {
                <p>
                    <b>@Model.PersonName</b> has re-joined the duty after maternity leave. Kindly regularize the salary with effect from <b>@Model.AppointmentStartDate</b>.
                </p>
            }
            else
            {
                <p>
                    This is with reference to the re-joining request received for <b>@Model.PersonName</b>.
                </p>
                <p>
                    We have regularized the salary with effect from <b>@Model.AppointmentStartDate</b> as she has re-joined to duty after completing the maternity period.
                </p>
            }
            <p>
                This is for your information.
            </p>
            @if (Model.Apptype == "OSG")
            {
                <p>For any queries, please mail to <a href="mailto:icsrrecruitment5@imail.iitm.ac.in" target="_blank"> icsrrecruitment5@imail.iitm.ac.in</a> / <a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest.</p>
            }
            else
            {
                <p>For any queries, kindly send an email to <a href="mailto:icsrrecruitment4@imail.iitm.ac.in" target="_blank"> icsrrecruitment4@imail.iitm.ac.in </a>/<a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest.</p>
            }
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                @Model.DAName<br>
                Project Recruitment<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>
</html>
