<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Send Order Template</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>
            @if (Model.AppointmentType == "Extension")
            {
                <p>Please find the attached term extension order with reference to the request submitted by <b>Prof.@Model.PIName</b> under project no <b>@Model.ProjectNumber</b> with effect from <b>@Model.AppointmentStartDate</b> to <b>@Model.AppointmentEndDate</b></p>
                <p>You are requested to surrender your old ID card and collect the new ID card between 2:00 p.m. – 5:00 p.m. from the Project Recruitment section, second floor IC&SR building, IIT Madras.</p>
            }
            else if (Model.AppointmentType == "Enhancement")
            {
                <p>Please find the attached salary enhancement order with reference to the request submitted by <b>Prof.@Model.PIName</b> under project no <b>@Model.ProjectNumber</b></p>
            }
            else if (Model.AppointmentType == "Amendment")
            {
                <p>Please find the attached amendment order with reference to the request submitted by <b>Prof.@Model.PIName</b> under project no <b>@Model.ProjectNumber</b></p>
            }
            <p>For any queries, kindly send an email to <a href="mailto:icsrrecruitment3@imail.iitm.ac.in" target="_blank"> icsrrecruitment3@imail.iitm.ac.in </a>/<a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest.</p>
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                @Model.DAName<br>
                Project Recruitment<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>
</html>
