<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Send Order Template</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>
            @if (Model.AppointmentType == "Extension")
            {
                <p>Please find the attached term extension order with reference to the request submitted by <b>Prof.@Model.PIName</b> under project no <b>@Model.ProjectNumber</b> with effect from <b>@Model.AppointmentStartDate</b> to <b>@Model.AppointmentEndDate</b></p>
                <h4> To collect your ID Card:</h4>
                <ol>
                    <li>Kindly fill out the Google form <a href="https://forms.gle/JsD5KWErV1brcA9S6/" target="_blank">https://forms.gle/JsD5KWErV1brcA9S6/</a>, to raise your ID card request.</li>
                    <li>Once the request is raised, you can collect your ID card after 1 working day and same can be collected from IC&SR Reception between 3:00 p.m. to 4:30 p.m.</li>
                    <li>If you are an existing staff member, you ought to surrender your old ID card without fail in IC&SR Recruitment section before you collect the new ID card.</li>
                    <li>You must apply for a new card after receiving your office order / Extension order and the same must be collected within 5 days of raising the request.</li>
                </ol>
                <h4>Note:</h4>
                <ol>
                    <li>The charges will be levied for reissuance of ID cards, if the card is damaged, missing, or unclaimed.</li>
                    <li>If the requested ID card is not collected within a week, the same will be scrapped and a further request is considered as a re-issuance request only.</li>
                </ol>
                    <h4> Other Information:</h4>
                    <ol>
                    <li> For payslips and medical insurance card downloads, please visit our employee portal
                    <a href="https://staff.icsr.in/" target="_blank"> https://staff.icsr.in/</a> using your login credentials.
                    </li>
                    </ol>
                }
                else if (Model.AppointmentType == "Enhancement")
                {
                    <p>Please find the attached salary enhancement order with reference to the request submitted by <b>Prof.@Model.PIName</b> under project no <b>@Model.ProjectNumber</b></p>
                }
                else if (Model.AppointmentType == "Amendment")
                {
                    <p>Please find the attached amendment order with reference to the request submitted by <b>Prof.@Model.PIName</b> under project no <b>@Model.ProjectNumber</b></p>
                }
                <p>For any queries, kindly send an email to <a href="mailto:icsrrecruitment3@imail.iitm.ac.in" target="_blank"> icsrrecruitment3@imail.iitm.ac.in </a>/<a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest.</p>
                <p>Thanks and Regards,</p>
                <p style="margin-top:0px;">
                    @Model.DAName<br>
                    Project Recruitment<br>
                    Centre for IC&SR<br>
                    IIT Madras<br>
                    *This is a system generated email.
                </p>
</div>
    </div>
</body>
</html>
