
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Stop Payment and LossofPay</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>
            @if (Model.MailType == 10 && Model.IsRelease == false)
            {
                <p>This is with reference to the stop payment request for <b>@Model.PersonName, @Model.DesignationName</b> in the project no <b>@Model.ProjectNumber</b>.</p>
                <p>We have stopped the payment with effect from <b>@Model.AppointmentStartDate</b>.</p>
                <p>Further salaries for the future months will be released based on your confirmation.</p>
            }
            @if (Model.MailType == 11 && Model.IsRelease == true)
            {
                if (Model.Apptype != "OSG")
                {
                    <p>This is with reference to the Leave on Loss of Pay request received for <b>@Model.PersonName</b>.</p>
                    <p>We have processed the request with effect from <b>@Model.AppointmentStartDate</b> to <b>@Model.AppointmentEndDate</b> in the project no : <b>@Model.ProjectNumber</b>.</p>
                }
                else
                {
                    <p>This is with reference to the Loss of Pay request received for <b>@Model.PersonName</b>.</p>
                    <p>We have processed the request with effect from <b>@Model.AppointmentStartDate</b> to <b>@Model.AppointmentEndDate</b> in the project no : <b>@Model.ProjectNumber</b>. </p>
                }
                <p>
                    This is for your information.
                </p>
            }
            @if (Model.MailType == 10 && Model.IsRelease == true)
            {
                <p>
                    This is with reference to the release of salary request received for <b>@Model.PersonName</b>.
                </p>
                <p>
                    We have released the salary with effect from <b>@Model.AppointmentStartDate</b> in the project no: <b>@Model.ProjectNumber</b>
                </p>
                <p>
                    This is for your information.
                </p>
            }
            @if (Model.Apptype == "OSG")
            {
                <p>For any queries, please mail to <a href="mailto:icsrrecruitment5@imail.iitm.ac.in" target="_blank"> icsrrecruitment5@imail.iitm.ac.in</a> / <a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest.</p>
            }
            else
            {
                <p>For any queries, kindly send an email to <a href="mailto:icsrrecruitment4@imail.iitm.ac.in" target="_blank"> icsrrecruitment4@imail.iitm.ac.in </a>/<a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest.</p>
            }
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                @Model.DAName<br>
                Project Recruitment<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>
</html>