
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Term end mail</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>
            This is a reminder email regarding the term completion of <b>@Model.PersonName</b> . Please find below the details of the staff:

            <table border="1" cellspacing="0" cellpadding="5" style="margin-bottom: 10px;margin-top: 10px; text-align:left;width:100%;">
                <tr>
                    <th>
                        <b>Emp ID</b>
                    </th>
                    <th>
                        <b>Designation / Salary </b>
                    </th>
                    <th>
                        <b>Project No</b>
                    </th>
                    <th>
                        <b>Tenure end date</b>
                    </th>
                    <th>
                        <b>Total service</b>
                    </th>
                    <th>
                        <b>Project closure date</b>
                    </th>
                </tr>
                <tr>
                    <td>
                        @Model.EmployeeNum
                    </td>
                    <td>
                        @Model.DesignationName / Rs . @Model.BasicPay /- pm
                    </td>
                    <td>
                        @Model.ProjectNumber
                    </td>
                    <td>
                        @Model.AppointmentEndDate
                    </td>
                    <td>
                        @Model.IITMExperience
                    </td>
                    <td>
                        @Model.ProjectEndDate
                    </td>
                </tr>
            </table>
            @if (Model.IITMExperiencedes >= 5)
            {
                <p>
                    <b>For extension:</b> As per IC & SR norms, he / she has exceeded 5 years of service(maximum limit of term of appointment).Further extension beyond five years will be considered based on the approval from the Dean (IC & SR).Hence kindly send us a justification email regarding the same.Minimum duration of extension is 1 month and the maximum is 1 year, any deviation on the same needs Dean(IC & SR) approval.                                                          
                </p>
            }
            else
            {
                <p>
                    <b>For extension:</b> Minimum duration of extension is 1 month and the maximum is 1 year, any deviation on the same needs Dean (IC&SR) approval.
                </p>
            }

            <p>
                <b>For relieving:</b> Please inform if any dues have to be collected from the project staff or else the salary will be paid without any deduction.
            </p>

            @if (Model.subject.Contains("Reminder 1"))
            {
                <p>Note:  Please ensure to reply atleast two weeks before the completion of the appointment or else the project staff will be automatically relieved by IC&SR.</p>
            }
            else
            {
                <p>Note:  If we do not get any reply one week before the completion of tenure the project staff will get automatically relieved.</p>
            }
            <p>
                Kindly send an email to <a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> for extension / relieving or for any queries.
            </p>
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                @Model.DAName<br>
                Project Recruitment<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>
</html>
