
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Receipt Process</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>
<body style="margin:0; padding:0; background:#f6f6f6;">

    <div style="width:100%; margin:0 auto;">

        <table border="0" style="width:100%; background:#fff; margin:0; padding:0;font-family: 'Poppins' , sans-serif; font-size 14px;color:#302c2b; line-height:2;" cellpadding="0" cellspacing="0">
            <tr>
                @{
                    var icsrUrl = Model.baseUrl + "/Content/IOASContent/img/icsr_logo.png";
                    var iitUrl = Model.baseUrl + "/Content/IOASContent/img/iitm_logo.png";
                    var cboxUrl = Model.baseUrl + "/Content/IOASContent/img/check-mark-icon.png";
                }
                <td style="padding:30px;background: #fafafa;border-bottom: 1px solid rgba(0,0,0,0.05);">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="width:70px;">@*<img src="@icsrUrl" style="width:75%;">*@</td>
                            <td style="text-align:center;">
                                <h4 style="font-size: 18px;margin: 0;">Centre for Industrial Consultancy and Sponsored Research</h4>
                                <h5 style="font-size:16px; font-weight:normal; margin:0;">Indian Institute of Technology Madras</h5>
                            </td>
                            <td style="width:70px;">@*<img src="@iitUrl" style="width:90%;">*@</td>
                        </tr>
                    </table>

                </td>
            </tr>

            <tr>
                <td style="padding:0px 30px; margin-bottom:30px;">
                    <p style="font-size:15px;color:#000;margin-bottom: 0px;">Dear sir/madam,</p><br />
                    This is to confirm that IC & SR has received an amount of
                    Rs <u>@Model.ReceiptAmount</u> (In words &nbsp;<u>@Model.ReceiptAmountinWords</u>)<br />
                    from <u>M/S @Model.AgencyRegName </u>and the amount has been placed into the<br />
                    Project Number: @Model.projectNumber <br />
                    Titled: "@Model.ProjectTitle" <br /><br />


                    @if (Model.ProjectType == "Spon")
                    {
                        <p style="font-size:15px;color:#000;margin-bottom: 0px;">NOTE : </p><br />
                            <p>
                                We request you to submit or forward the release order received from the funding agency to <a href="mailto:icsraccounts8@iitm.ac.in">icsraccounts8@iitm.ac.in</a> which will be used to allocate the receipt head wise for all sponsored projects. If you have already shared, kindly ignore this.<br />
                            </p><br />
                            <p>
                                <b>Overheads</b> will be deducted based on the above release order to avoid<br />
                                incorrect deduction of overheads and rejection of UC by the agencies.
                            </p><br />
                            <p>
                                UC & SOE will be prepared in according to the release order  
                            </p><br />
                    }
                    <h4>This is an auto generated e-receipt which does not require signature.</h4>
                    @*<h2 style="color:#0b76e0; font-size:12px;">ICSR has received the fund from M/S @Model.AgencyRegName in our Bank Account. Kindly find the enclosed Receipt for your reference. </h2>*@
                </td>
            </tr>

            <tr>
                <td style="padding:30px; background:#efefef;">
                    <table width="90%" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto; text-align:center;">
                        @*<tr>
                                <td>
                                    <h4 style="font-size:14px;margin-bottom: 0px; font-weight:normal;">For any queries contact <a href="mailto:icsraccounts@iitm.ac.in" target="_blank"> icsraccounts@iitm.ac.in</a></h4>
                                </td>
                            </tr>*@
                        <tr>
                            <td>
                                <h2 style="font-size:16px;margin-bottom: 0px;">Indian Institute of Technology Madras</h2>
                                <p style="margin-top:0px;">IIT P.O., Chennai 600 036 <br>INDIA</p>
                                <p style="font-size:13px;">
                                    <b style="font-size:15px;">Main Gate (in and out) :</b> <br>
                                    Opposite to C.L.R.I and beside The Adyar Cancer Institute, on Sardar Patel Road, Adyar, Chennai.
                                </p>
                                <p style="font-size:11px;">Notice of Confidentiality: This transmission contains information that may be confidential and that may also be privileged. Unless you are the intended recipient of the message (or authorized to receive it for the intended recipient) you may not copy, forward, or otherwise use it, or disclose the contents to anyone else. If you have received this transmission in error please notify us to <a href="mailto:icsritsupport@ioas.iitm.ac.in" target="_blank">icsritsupport@ioas.iitm.ac.in</a> immediately and delete it from your system.</p>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>

    </div>

</body>
</html>
