<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Offer Letter</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
</head>

<body style="font-family: 'Poppins' , sans-serif; font-size:14px;color:#302c2b; line-height:2;">
    <div class="rt-tb-scrl">
        <div class="col-md-12">
            <p>Dear Sir / Madam,</p>
            @if (Model.isMSPhd == true && Model.TypeofAppointment == "Selection")
            {
                <p>Please find the attached Offer letter with reference to your admission for <b>@Model.MSPhD</b> Programme under Project category for the post of  <b>@Model.DesignationName</b>.</p>
            }
            else if (Model.TypeofAppointment == "Selection")
            {
                <p>Please find the attached offer letter with reference to the interview you have attended for the post of <b>@Model.DesignationName</b>.</p>
            }
            else
            {
                <p>Please find the attached offer letter with reference to your @Model.FillFields request submitted by  <b>Prof. @Model.PIName</b> for the post of <b>@Model.DesignationName</b> in  the <b>@Model.Department</b> under the project no:<b>@Model.ProjectNumber</b></p>
            }

            @if (Model.isExistingEmployee == true)
            {
                <ol type="1">
                    <li>In order to generate the Office Order, kindly send the soft copies of the duly filled joining report on your date of joining to <a href="mailto:icsrrecruitment2@imail.iitm.ac.in">icsrrecruitment2@imail.iitm.ac.in</a> (Note: The Checklist forms can be digitally signed by the Project Coordinator or it can be approved via email).</li>
                    <li>Verification should be completed on the joining date or within 15 days from the date of joining. If the verification process is not completed within 15 days, your offer will stand cancelled with immediate effect without prior intimation.</li>
                </ol>
            }
            else
            {
                <ol type="1">
                    <li>You are requested to submit scanned photocopies of all your certificates (Originals should be produced for verification if necessary)</li>
                    <li>Submit the soft copies of the duly filled checklist forms and personal details enclosed on your date of joining to <a href="mailto:icsrrecruitment2@imail.iitm.ac.in">icsrrecruitment2@imail.iitm.ac.in</a> (Note: The Checklist forms can be digitally signed by the Project Coordinator or it can be approved via email).</li>
                    <li>Verification should be completed on the joining date or within 15 days from the date of joining. If the verification process is not completed within 15 days, your offer will stand cancelled with immediate effect without prior intimation.</li>
                    <li>The Salary payment process will be initiated only on the completion of verification and issuance of Office order.</li>
                    <li>In order to generate the employee ID card, kindly send the Passport Size Photo and Signature in .JPEG format to the above mentioned email.</li>
                </ol>
            }

            <p>For any queries, kindly send an email to <a href="mailto:icsrrecruitment1@imail.iitm.ac.in" target="_blank"> icsrrecruitment1@imail.iitm.ac.in </a>/<a href="mailto:icsrrecruitment@iitm.ac.in" target="_blank"> icsrrecruitment@iitm.ac.in</a> and we will get back to you at the earliest.</p>
            <p>Thanks and Regards,</p>
            <p style="margin-top:0px;">
                @Model.DAName<br>
                Project Recruitment<br>
                Centre for IC&SR<br>
                IIT Madras<br>
                *This is a system generated email.
            </p>
        </div>
    </div>
</body>
</html>

