@model IOAS.Models.EmployeeDetailModel
<style>
    .modal-dialog {
        width: 100%;
        padding: 15px 15px;
    }

    .modal-body {
        padding: 15px 15px;
    }

    /*.scrl-body {
        height: 500px;
        overflow: auto;
    }*/
</style>
<div id="popupEmpStatus" class="modal fade" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header brd-bottom">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Employee Detail</h4>
            </div>
            <div class="modal-body">
                <div class="vw-dts-bg">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label>Employee Name</label>
                                            <h4>@Html.DisplayFor(m => m.Employeename)</h4>
                                        </td>
                                        <td>
                                            <label>Employee Number </label>
                                            <h4>@Html.DisplayFor(m => m.EmployeeNumber)</h4>
                                            @Html.HiddenFor(m => m.EmployeeNumber)
                                        </td>
                                        <td>
                                            <label>Employee Email </label>
                                            <h4>@Html.DisplayFor(m => m.EmployeeEmail)</h4>
                                        </td>
                                        <td>
                                            <label>Employee Current Satus </label>
                                            <h4>@Html.DisplayFor(m => m.EmployeeCurrentStatus)</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="required">Change Employee Status</label>
                                            @Html.DropDownListFor(m=>m.EmployeeStatus,new SelectList(ViewBag.getStatus,"name","name"),"Select Status",new {@class="form-control" } )
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-lg text-center">
                            <input type="submit" class="btn btn-primary" value="Submit" name="Button" id="btnStatusModi" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>



            </div>
            <div class="modal-footer brd-top">

            </div>
        </div>
    </div>
</div>
<script>
    $('#btnStatusModi').on('click', function () {
        var empNo = $('#EmployeeNumber').val()||null;
        var Status = $('#EmployeeStatus').val()||null;
        if (empNo != null && Status!=null)
        {
            var url = '@Url.Action("EmployeeStatusChange", "Requirement")?EmployeeNumber=' + empNo + "&EmployeeStatus=" + Status;
            window.location.href = url;
            $(".loading-bg").removeClass('dis-none');
        }
        else
        {
            $.confirm({
                title: 'Warning Message',
                content: 'Status Field And Employee Number Required',
                type: 'Yellow',
                buttons: {
                    Ok: function () {
                       
                    },
                },
            });
        }

    });
</script>
