@*@model IOAS.Models.DeployeModels*@

@using IOAS.Infrastructure
@{
    var username = User.Identity.Name;

    var userRoles = Common.GetRoleId(username);

    //var isDeploy = Common.GetDevelopmentMessage();

}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">

            <div class="navbar navbar-hd-bg ">
                <div class="col-md-offset-1 ts-st-bg">
                    <h2>Financial Year 2020-2021 </h2>
                </div>
                <div id="TulaAlert" class="text-dark bg-warning"></div>

                <ul class="nav navbar-right">

                    <li class="dropdown pull-right user-pr-icon">

                        <span data-toggle="dropdown"><a href="#">@username<i class="glyphicon glyphicon-user"></i> <b></b></a></span>

                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Change Password", "ChangePassword", "Account")
                            </li>
                            <li>
                                @Html.ActionLink("Logout", "LogOff", "Account")
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown pull-right">
                        <a class="circle-btn-wht" href="#">
                            <i class="ion-ios-email-outline"></i>
                        </a>
                    </li>
                    <li class="dropdown pull-right">
                        <a class="circle-btn-wht" href="#">

                            <i class="ion-ios-bell-outline"></i>
                        </a>
                    </li>
                    <li class="dropdown pull-right user-pr-icon">
                        <span>
                            <a href="/Account/UserManualMenu" target="_blank">User Manual<i class=""></i> <b></b></a>
                        </span>
                    </li>
                    <li class="dropdown pull-right user-pr-icon">
                        <span>
                            <a href="https://qatula.icsr.in/" target="_blank">Report<i class=""></i> <b></b></a>
                        </span>
                    </li>
                </ul>
            </div>
       
        </div>
    }
}
<script>
    $(document).ready(function () {
        ReadyDeployment();
    });

    function ReadyDeployment() {

            var Isdeploye = 0;
            $.ajax({
                type: "GET",
                async: false,
                url: '@Url.Action("TulaGlobalAlert", "Account")',
                dataType: "json",
                success: function (result) {
                    Isdeploye = result;
                    $('#TulaAlert').html (result);
                }
            });
            return Isdeploye;
    };
    
</script>
