@model IOAS.Models.STEModel
<div class="row">
    <div class="col-md-12">
        <div class="bl-lg-panel-box pb-null">
            <div class="cmn-panel-box">
                <div class="grey-bg-adj mb-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table alter-table mb-null">
                                <thead>
                                    <tr>
                                        <th>Other Detail</th>
                                        <th>Description</th>
                                        <th>Attachment </th>
                                        <th>Remarks</th>
                                       
                                    </tr>
                                </thead>
                                <tbody id="tbodyOthers">
                                    @if (Model.OtherDetail != null)
                                    {
                                        var count = 0;
                                        foreach (var item in Model.OtherDetail)
                                        {
                                            var othrId = "OtherDetail[" + count + "].OtherDetailId";
                                            var othrnam = "OtherDetail[" + count + "].OtherNames";
                                            var desc = "OtherDetail[" + count + "].Description";
                                            var file = "OtherDetail[" + count + "].OtherDetailFile";
                                            var filePath = "OtherDetail[" + count + "].OtherDetailFilePath";
                                            var remark = "OtherDetail[" + count + "].Remarks";
                                            <tr>                                                
                                                <td>
                                                    @Html.TextBox(@othrnam, item.OtherNames, new { @class = "form-control" })
                                                    @Html.ValidationMessage(@othrnam)
                                                    @Html.Hidden("OtherDetail.Index", @count)
                                                    @Html.Hidden(@othrId, item.OtherDetailId)
                                                </td>
                                                <td>
                                                    @Html.TextArea(@desc, item.Description, new { @class = "form-control"})
                                                    @Html.ValidationMessage(@desc)
                                                </td>
                                                
                                                <td>
                                                    @if (item.OtherDetailId == null)
                                                    {
                                                        <input type="file" class="form-control" name="@file" />@:&nbsp; &nbsp; &nbsp;
                                                    }
                                                    else
                                                    {
                                                        <input type="file" class="form-control" name="@file" />@:&nbsp; &nbsp; &nbsp;
                                                        if (Model.STEId > 0 && !string.IsNullOrEmpty(item.OtherDetailFilePath))
                                                        {
                                                            @*@Html.Hidden(@cerfilePath, item.CertificatePath)*@
                                                            <a href="@Url.Action("ShowFile", new { Controller="Requirement", filepath="~/Content/Requirement/STE",file=item.OtherDetailFilePath, target="_blank" })"> <b> @item.OtherDetailFileName </b></a>
                                                        }
                                                    }
                                                    @Html.ValidationMessage(@file)
                                                </td>
                                                <td>
                                                    @Html.TextBox(@remark, item.Remarks, new { @class = "form-control" })
                                                    @Html.ValidationMessage(@remark)
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)" class="btn-sm btn btn-danger removeOtherDetail"><i class="ion-android-close"></i></a>
                                                </td>
                                            </tr>

                                            count++;
                                        }                                        
                                    }
                                    else
                                    {
                                        <tr>
                         
                                            <td>
                                                @Html.TextBox("OtherDetail[0].OtherNames", "", new { @class = "form-control" })
                                                @Html.ValidationMessage("OtherNames[0].OtherNames")
                                                @Html.Hidden("OtherDetail.Index", 0)
                                            </td>
                                            <td>
                                                @Html.TextArea("OtherDetail[0].Description", "", new { @class = "form-control"})
                                                @Html.ValidationMessage("OtherDetail[0].Description")
                                            </td>
                                            
                                            <td>
                                                <input type="file" class="form-control" name="OtherDetail[0].OtherDetailFile" />&nbsp;&nbsp;&nbsp;
                                                @Html.ValidationMessage("OtherDetail[0].OtherDetailFile")

                                            </td>
                                            <td>
                                                @Html.TextBox("OtherDetail[0].Remarks", "", new { @class = "form-control" })
                                                @Html.ValidationMessage("OtherDetail[0].Remarks")
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" class="btn-sm btn btn-danger removeOtherDetail"><i class="ion-android-close"></i></a>
                                            </td>
                                        </tr>                                        
                                    }
                                </tbody>
                            </table>
                            <div class="col-md-6 mt-md">
                                <a href="javascript:void(0)" id="btnAddOthers" class="btn btn-primary">Add New</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $("#btnAddOthers").click(function () {       
        var cln = $('#tbodyOthers tr:first').clone().find("select,input,textarea").val("").end();
        var index = $('#tbodyOthers tr:last').find("input[name='OtherDetail.Index']").val();
        index = parseInt(index) + 1;
        $(cln).find('b').parent('a').remove();
        $(cln).find('b').remove();
        $(cln).find("input[name='OtherDetail.Index']").val(index);
        $(cln).find("input, select,textarea").each(function () {
            $(this).attr("name", $(this).attr("name").replace(/\d+/, index));
            if ($(this).attr("id"))
                $(this).attr("id", $(this).attr("id").replace(/\d+/, index));
        });
        $(cln).find("span[data-valmsg-for]").each(function () {
            $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(/\d+/, index));
        });
        $('#tbodyOthers').append(cln);
    });

    $(document).on('click', 'a.removeOtherDetail', function () {
        if ($('#tbodyOthers tr').length != 1) {
            $(this).closest('tr').remove();
        }
    });

    @*$(document).on('change', 'select[id^="qulfiAPP_"]', function () {
        var Departmentid = $(this).val();
        var ID = $(this).attr("id");
        var idx = ID.substr(ID.lastIndexOf("_") + 1);
        var select = $(this).closest('#tbodyOthers').find('select[name="OtherDetail[' + idx + '].DisciplineId"]');
        $(select).empty().selectpicker('refresh');
        $.getJSON("@Url.Action("LoadPIByCourseList", "Requirement")", { DepartmentId: Departmentid },
                    function (locationdata) {

                        $.each(locationdata, function (index, itemData) {
                            $(select).append($('<option/>', {
                                value: itemData.id,
                                text: itemData.name
                            })).selectpicker('refresh');
                        });
                    });
    });*@


    var selectPickerApiElement = function (el, choice, options, select) {
        debugger
        $(el).find('select').selectpicker({
            liveSearch: true
        });
        $(el).children().eq(2).siblings().remove();
        if (choice == "add") {
            $(el).find('.selectpicker').append("<option>" + options + "</option>");
        } else if (choice == "all" && select != '') {
            $(el).find('.selectpicker').children().remove();
            for (var i = 0 ; i < options.length ; i++) {
                $(el).find('.selectpicker').append("<option value=" + options[i].id + ">" + options[i].name + "</option>");
            }
            $(el).find('.selectpicker option[value=' + select + ']').attr('selected', 'selected');
        } else if (choice == "all" && select == '') {
            $(el).find('.selectpicker').children().remove();
            for (var i = 0 ; i < options.length ; i++) {
                $(el).find('.selectpicker').append("<option value=" + options[i].id + ">" + options[i].name + "</option>");
            }
        } else if (choice == "empty") {
            $(el).find('.selectpicker').children().remove();
            $(el).find('.selectpicker').append("<option value=''>Select any</option>");
        } else {
            var selectOptionsLength = $(el).find('.selectpicker').children().length;
            for (var i = 1 ; i <= selectOptionsLength ; i++) {
                if (options == $(el).find('.selectpicker').children().eq(i).val()) {
                    $(el).find('.selectpicker').children().eq(i).remove();
                    break;
                } else {
                    continue;
                }

            }

        }
        $(el).find('select').selectpicker('refresh');
        return $(el).children().first().unwrap();

    }

    $('input[name="isHaveGateScore"]').change(function () {
        var value = $("input[name='isHaveGateScore']:checked").val();
        if (value == "Yes")
            $('#divScore').removeClass('dis-none');
        else
            $('#divScore').addClass('dis-none');

    });

    var isHaveGateScore = $("input[name='isHaveGateScore']:checked").val();
    if (isHaveGateScore == "Yes")
        $('#divScore').removeClass('dis-none');
    else
        $('#divScore').addClass('dis-none');
</script>
