@model IOAS.Models.STEViewModel
@using IOAS.GenericServices
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- favicon icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&display=swap" rel="stylesheet">
    <style>
        .umr-body {
            /*font-family: 'Poppins', sans-serif;*/
            font-family: 'Poppins', sans-serif !important;
            font-size: 14px;
            color: #2a2a2a;
            margin-left: 15px;
            margin-top: 25px;
            margin-bottom: 15px;
            margin-right: 15px;
        }

            .umr-body li {
                margin-bottom: 10px;
            }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .ct-in h2 em {
            float: left;
            font-style: normal;
            width: calc(100% - 250px);
            text-align: center;
            padding-top: 35px;
            font-size: 20px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mn-m-tt {
            font-size: 20px;
            padding-bottom: 5px;
        }

        .mn-tt {
            font-size: 16px;
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
        }

        h5 {
            font-weight: bold;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border: 0px;
        }

        .bg-grey {
            background: #ccc;
        }

        .tbl-style > .table > tbody > tr > td {
            border: inherit;
        }

        .tbl-style > .table > tbody > tr > th {
            border: inherit;
        }

        .tbl-style > .table > thead > tr {
            border-color: #000;
        }

            .tbl-style > .table > thead > tr > td {
                border: 1px solid #000;
                border-width: 1px 1px 0px 1px !important;
            }

        .tbl-style > .table-bordered > thead > tr > th {
            border-bottom-width: 0px;
        }

        .tbl-style > .table.table-bordered > tbody > tr > td {
            border: 1px solid #000;
            border-width: 1px 1px 0px 1px !important;
            width: 100px;
        }

        .tp-tt {
            font-weight: bold;
        }

        .tbl-style > .table-bordered > thead > tr > th {
            border: 1px solid #000;
            border-width: 1px 1px 0px 1px !important;
            width: 100px;
        }

        .tbl-style > .table-bordered > tbody > tr > th {
            border: 1px solid #000;
            border-width: 1px 1px 0px 1px !important;
        }

        .tbl-style table, .tbl-style tr, .tbl-style td, .tbl-style th {
            border: 1px solid #000;
        }

        .tbl-style > .table {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 98% !important;
            max-width: 100% !important;
            margin-left: 15px;
        }

        .txt-bold {
            font-weight: bold;
        }

        .outer {
            width: 95%;
            height: 1400px;
            border-style: double;
            border-color: black;
            padding: 20px;
            margin-left: 25px;
        }
    </style>
</head>
<body class="umr-body">
    <div>
        <div class="outer">
            <div class="row">
                <div class="col-md-12">
                    <center><h4><b>Pay structure – Outsourcing </b></h4></center>
                    <br/>
                    <div class="tbl-style">

                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    Name
                                </td>
                                <td>
                                    @Model.Name
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    Appointment type
                                </td>
                                <td class="text-left">
                                    @Model.Typeofappointment
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    Project No
                                </td>
                                <td class="text-left">
                                    @Model.ProjectNumber
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    From date
                                </td>
                                <td class="text-left">
                                    @Model.Appointmentstartdate
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    To date
                                </td>
                                <td class="text-left">
                                    @Model.AppointmentEndDate
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    Designation
                                </td>
                                <td class="text-left">
                                    @Model.Designation
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    @Model.PayeeType
                                </td>
                                <td class="text-left">
                                     @if (Model.RecommendedSalary != null)
                                    {
                                            <b>@Model.RecommendedSalary</b>
                                    }
                                    else
                                    {
                                            <b>@Model.BasicPay</b>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    Qualification / Experience
                                </td>
                                <td class="text-left">
                                    @Model.Qualification / @Model.Experience
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-left">
                                        <center><b>PAY STRUCTURE w.e.f @Model.Appointmentstartdate</b></center>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left">
                                        <b>Recommended Consolidated Salary</b>
                                    </td>
                                    <td class="text-left">
                                        @if (Model.RecommendedSalary != null)
                                    {
                                            <b>@Model.RecommendedSalary</b>
                                    }
                                    else
                                    {
                                            <b>@Model.BasicPay</b>
                                    }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        PF Basic wages
                                    </td>
                                    <td class="text-left">
                                        @Model.EmpPFBasicWages
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        <b>Gross Salary</b>
                                    </td>
                                    <td class="text-left">
                                        @if (Model.RecommendedSalary != null)
                                    {
                                            <b>@Model.RecommendedSalary</b>
                                    }
                                    else
                                    {
                                            <b>@Model.BasicPay</b>
                                    }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Employee PF
                                    </td>
                                    <td class="text-left">
                                        @Model.EmployeePF
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Employee ESIC (0.75% of GP)
                                    </td>
                                    <td class="text-left">
                                        @Model.EmployeeESIC
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Professional Tax
                                    </td>
                                    <td class="text-left">
                                        @Model.EmployeeProfessionalTax
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        <b>Total employee Deduction</b>
                                    </td>
                                    <td class="text-left">
                                        <b>@Model.EmployeeTtlDeduct</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        <b>Net Salary (Take home)</b>
                                    </td>
                                    <td class="text-left">
                                        <b>@Model.EmployeeNetSalary</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Employer PF
                                    </td>
                                    <td class="text-left">
                                        @Model.EmployerPF
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Employer ESIC (3.25% of GP)
                                    </td>
                                    <td class="text-left">
                                        @Model.EmployerESIC
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Insurance
                                    </td>
                                    <td class="text-left">
                                        @Model.EmployerIns
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        <b>Total Employer Contribution</b>
                                    </td>
                                    <td class="text-left">
                                        <b>@Model.EmployerTtlContribute</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        <b>Cost To Project (CTC) Per Month</b>
                                    </td>
                                    <td class="text-left">
                                        <b>@Model.EmployeeCTC</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        ** Agency Fee (@Model.AgencyFeePrecentage %)
                                    </td>
                                    <td class="text-left">
                                        @Model.AgencyFee
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        CTC with Agency Fee
                                    </td>
                                    <td class="text-left">
                                        @Model.CTCwithAgencyFee
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        ** GST @@ @Model.GSTPrecentage %
                                    </td>
                                    <td class="text-left">
                                        @Model.SalaryGST
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        <b>Total cost / Per Month</b>
                                    </td>
                                    <td class="text-left">
                                        <b>@Model.TotalCTC</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left" colspan="2">
                                        <b>
                                            Total Commitment amount : @Model.CommitmentAmount <br />
                                            *Only for the month of December Labour welfare fund (LWF) employer contribution – Rs.20 will be added to the CTC.<br />
                                            ** Both Agency Fee & GST will be borne by ICSR over heads
                                        </b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <br />
                    <p class="text-center">***This is computer generated no signature is required</p>
                </div>
            </div>
        </div>
    </div>
    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
