@model  IOAS.Models.EmployeeBasicDetails
<style>
    .modal-dialog {
        width: 100%;
        padding: 15px 15px;
    }

    .modal-body {
        padding: 15px 15px;
    }

    /*.scrl-body {
        height: 500px;
        overflow: auto;
    }*/
</style>
<div id="popCommitmentDetails" class="modal fade" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header brd-bottom">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">RCT Commitment Details</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <div class="col-md-3">
                        <label>Name</label>
                        <h4>@Html.DisplayFor(m => m.EmployeeName)</h4>
                    </div>
                    <div class="col-md-2">
                        <label>Designation</label>
                        <h4>@Html.DisplayFor(m => m.DesigantionName)</h4>
                    </div>
                    <div class="col-md-2">
                        <label>Employee Number</label>
                        <h4>@Html.DisplayFor(m => m.EmployeeNumber)</h4>
                    </div>
                    <div class="col-md-2">
                        <label>Project Number</label>
                        <h4>@Html.DisplayFor(m => m.ProjectNumber)</h4>
                    </div>
                    <div class="col-md-3">
                        <label>Commitment No</label>
                        <h4>@Html.DisplayFor(m => m.CommitmentNumber)</h4>
                    </div>
                </div>
                <div class="row mt20">
                    <div class="col-md-12">
                        <div class="bl-lg-panel-box pb-null" style="overflow:auto;">
                            <div class="cmn-panel-box">
                                <div class="row  mb20">
                                    <table class="table alter-table">
                                        <thead>
                                            <tr>
                                                <th>Application Type</th>
                                                <th>Request Type</th>
                                                <th>Allocation Head</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyExperience">
                                            @if (Model.CommitmentDetais != null && Model.CommitmentDetais.Count > 0)
                                            {
                                                foreach (var item in Model.CommitmentDetais)
                                                {
                                                    <tr>
                                                        <td>@item.ApplicationType</td>
                                                        <td>@item.RequestType</td>
                                                        <td>@item.AllocationHead</td>
                                                        <td>@item.CommitmentAmount</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Total Commitment Amount (A)</th>
                                    <th>Total Salary Amount (B)</th>
                                    <th>Avilable Balance (A-B)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => m.TotalCommitmentAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.TotalSalaryAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => m.AvilableBalance)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer brd-top">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
