@model IOAS.Models.ViewStaffAllocationModel
<div id="myModal1" class="modal fade modal-pr-vw" role="dialog">
    <div class="modal-dialog " style="width: 1000px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row hd-tt-bg">
                    <div class="col-md-12">
                        <h4><b>View Staff Allocation : </b></h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="page-wrapper">
                        <div class="custom-md-bg">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bl-lg-panel-box pb-null">
                                        <table class="table alter-table">
                                            <thead>
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Total No.of Staffs </th>
                                                    <th>Allotted Staffs</th>
                                                    <th>Staff Vacancy </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.StaffAllocationList != null)
                                                {
                                                    if (Model.StaffAllocationList.Count > 0)
                                                    {
                                                        foreach (var item in Model.StaffAllocationList)
                                                        {
                                                            <tr>                                            
                                                                <td>@item.Category</td>
                                                                <td>@item.NoOfStaffs</td>
                                                                <td><span>@item.AllottedStaffs</span></td>
                                                                <td>@item.StaffVacancy</td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="text-center" style="color:red;" colspan="4">Records unavailable</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        @*<td> <input type="radio" id="st-all-1" name="st-all" value="st-all"></td>*@
                                                        <td colspan="4">Records unavailable</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                        <table class="table alter-table">
                                            <thead>
                                                <tr>
                                                    <th>EmployeeId</th>
                                                    <th>Name</th>
                                                    <th>Designation</th>
                                                    <th>Start date</th>
                                                    <th>End date</th>
                                                    <th>Salary</th>
                                                    <th>HRA</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.AllocatedStaffList != null)
                                                {
                                                    if (Model.AllocatedStaffList.Count > 0)
                                                    {
                                                        foreach (var item in Model.AllocatedStaffList)
                                                        {
                                                            <tr>
                                                                <td>@item.EmployeeNo</td>
                                                                <td>@item.Name</td>
                                                                <td><span>@item.Designation</span></td>
                                                                <td>@item.StartDate</td>
                                                                <td>@item.EndDate</td>
                                                                <td>@item.Salary</td>
                                                                <td>@item.HRA</td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="text-center" style="color:red;" colspan="4">Records unavailable</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        @*<td> <input type="radio" id="st-all-1" name="st-all" value="st-all"></td>*@
                                                        <td colspan="4">Records unavailable</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Submit</button>*@
            </div>
        </div>

    </div>
</div>	