@model IOAS.Models.ProjectViewDetailsModel
@{
    ViewBag.Title = "View Project";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<script src="@Url.Content("~/Scripts/Project/Project.js")"></script>
<div class="row" id="projectopening">
    <div class="col-md-12">
        <div class="row hd-tt-bg">
            <div class="col-md-12">
                <h4><b>Project Title : </b>@Model.prjSummary.ProjectTittle</h4>
            </div>
        </div>
        @*<div class="row">
            <div class="white-bg ad-navbar">
                <div class="col-md-3 ds-spl-bg">
                    <div class="ds-icn">
                        <i class="ion-ios-list-outline "></i>
                    </div>
                    <div class="ds-tt">
                        <span>Proposal Number</span>
                        <h4>@Model.prjSummary.ProposalNo</h4>
                    </div>
                </div>

                <div class="col-md-3 ds-spl-bg">
                    <div class="ds-icn">
                        <i class="ion-ios-calendar-outline"></i>
                    </div>
                    <div class="ds-tt">
                        <span>Financial Year</span>
                        <h4>@Model.prjSummary.FinancialYear</h4>
                    </div>
                </div>

                <div class="col-md-3 ds-spl-bg">
                    <div class="ds-icn">
                        <i class="ion-android-open"></i>
                    </div>
                    <div class="ds-tt">
                        <span>Project Type</span>
                        <h4>@Model.prjSummary.ProjectType</h4>
                    </div>
                </div>

                <div class="col-md-3 ds-spl-bg">
                    <div class="ds-icn">
                        <i class="ion-ios-time-outline"></i>
                    </div>
                    <div class="ds-tt">
                        <span>Date of Approval</span>
                        <h4>@Model.prjSummary.ProjectApprovalDate</h4>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="white-bg ad-navbar mt-m-xs mb-m-xs">
                <div class="col-md-2">
                    <h4 class="sb-tt"><span>Sanction Order No</span><b>@Model.prjSummary.SanctionOrderNo</b></h4>
                </div>
                <div class="col-md-2">
                    <h4 class="sb-tt"><span>Sanction Order Date </span><b>@Model.prjSummary.SanctionOrderDate</b></h4>
                </div>

                <div class="col-md-2">
                    <h4 class="sb-tt"><span>Sanctioned Value</span><b>Rs.@Model.prjSummary.SanctionedValue</b></h4>
                </div>
                <div class="col-md-2">
                    <h4 class="sb-tt"><span>Amount Spent</span><b>Rs.@Model.prjSummary.AmountSpent</b></h4>
                </div>
                <div class="col-md-2">
                    <h4 class="sb-tt"><span>Net Balance </span><b>Rs.@Model.prjSummary.NetBalance</b></h4>
                </div>
                <div class="col-md-2">
                    <h4 class="sb-tt"><span>Project Duration</span><b>@Model.prjSummary.ProjectDuration Months</b></h4>
                </div>

            </div>
        </div>*@
        <div class="vw-dts-bg">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered mb-null">
                        <thead>
                            <tr><th colspan="5">Project Details</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Is SubProject</label>
                                    <h4>@Html.DisplayFor(m => m.IsSubprojecNumber)</h4>
                                </td>


                                <td colspan="4">
                                    @if (Model.IsSubprojecNumber == "Yes" || Model.IsSubProject == true)
                                    {
                                        <label>Main Project</label>
                                        <h4>@Model.MainProjectNumber</h4>
                                    }
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    <label>Faculty code:</label>
                                    <h4>@Html.DisplayFor(m => m.Facultycode)</h4>
                                </td>
                                <td>
                                    @if (Model.CenterName != null)
                                    {

                                        <label>Center</label>
                                        <h4>@Html.DisplayFor(m => m.CenterName)</h4>

                                    }
                                </td>
                                <td>
                                    @if (Model.LabName != null)
                                    {
                                        <label>Lab</label>
                                        <h4>@Html.DisplayFor(m => m.LabName)</h4>

                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Financial Year</label>
                                    <h4>@Html.DisplayFor(m => m.prjSummary.FinancialYear)</h4>
                                </td>
                                <td>
                                    <label> Proposal Number</label>
                                    <h4>@Html.DisplayFor(m => m.prjSummary.ProposalNo)</h4>
                                </td>
                                <td class="reg-no">
                                    <label>Project Number</label>
                                    <h4>@Html.DisplayFor(m => m.prjSummary.ProjectNo)</h4>
                                    @Html.HiddenFor(m => m.ProjectId, new { @id = "hdnProjId" })
                                </td>
                                <td>

                                    <label>Date of Approval</label>
                                    <h4>@Html.DisplayFor(m => m.prjSummary.ProjectApprovalDate)</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Sanction Date/Ref. Date/PO Date</label>
                                    <h4>@Html.DisplayFor(m => m.prjSummary.SanctionOrderDate)</h4>
                                </td>
                                <td>
                                    <label>Sanction No./Ref. No./PO. No: </label>
                                    <h4>@Html.DisplayFor(m => m.prjSummary.SanctionOrderNo)</h4>

                                </td>
                                <td>
                                    <label>Start Date</label>
                                    <h4>@Html.DisplayFor(m => m.StartDate)</h4>
                                </td>
                                <td>
                                    <label>Close Date</label>
                                    <h4>@Html.DisplayFor(m => m.CloseDate)</h4>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>Base Value</label>
                                    <h4>@Html.DisplayFor(m => m.prjSummary.BaseValue)</h4>
                                </td>
                                <td>
                                    <label>Applicable Tax(%)</label>
                                    <h4>@Html.DisplayFor(m => m.prjSummary.ApplicableTax)</h4>
                                </td>
                                <td class="reg-no">
                                    <label>Total Value (Base value + GST)</label>
                                    <h4>@Html.DisplayFor(m => m.ProjectCostWithTax)</h4>
                                </td>
                                <td class="reg-no">
                                    <label>Total Sanctioned Value (inclusive of all enhancements)</label>
                                    <h4>@Html.DisplayFor(m => m.prjSummary.SanctionedValue)</h4>
                                    <a href="javascript:void(0)" data-toggle="modal" id="btnViewEnhancements"> View Details</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Project ClassifiCation</label>
                                    <h4>@Html.DisplayFor(m => m.ProjectClassifiCation)</h4>
                                </td>
                                <td>
                                    <label>Report ClassifiCation</label>
                                    <h4>@Html.DisplayFor(m => m.ReportClassifiCation)</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Joint Development with other Companies
                                    </label>
                                    <h4>@Html.DisplayFor(m => m.JointdevelopmentQuestion)</h4>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
        @if (Model.JointdevelopmentQuestion == "Yes")
        {
            <div class="vw-dts-bg">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered mb-null">
                            <thead>
                                <tr>
                                    <th colspan="5">Company Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Company Name</td>
                                    <td>Remarks</td>
                                </tr>
                                @if (Model.Companylist != null)
                                {
                                    foreach (var item in Model.Companylist)
                                    {
                                        <tr>
                                            <td><h4>@item.JointdevlopmentCompany</h4></td>
                                            <td><h4>@item.Remarks</h4></td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        <div class="vw-dts-bg">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="5">Investigator</th>
                            </tr>
                            <tr> <th colspan="5">Principal Investigator Details</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Department of PI</td>
                                <td>Name of PI</td>
                                <td>Email</td>
                                <td>PCF (%)</td>
                                <td>RMF (%)</td>
                            </tr>
                            <tr>
                                <td><h4>@Html.DisplayFor(m => m.PIDepartment)</h4></td>
                                <td><h4>@Html.DisplayFor(m => m.PIName)</h4></td>
                                <td><h4>@Html.DisplayFor(m => m.PIEmail)</h4></td>
                                <td><h4>@Html.DisplayFor(m => m.PIPCFshare)</h4></td>
                                <td><h4>@Html.DisplayFor(m => m.PIRMFshare)</h4></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="5">Co Investigator Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Department of Co PI</td>
                                <td>Name of Co PI</td>
                                <td>Email</td>
                                <td>PCF (%)</td>
                                <td>RMF (%)</td>
                            </tr>
                            @if (Model.CoPiDetails.Count > 0)
                            {
                                for (int i = 0; i < Model.CoPiDetails.Count; i++)
                                {
                                    <tr>
                                        <td><h4>@Html.DisplayFor(m => m.CoPiDetails[i].PIDepartment)</h4></td>
                                        <td><h4>@Html.DisplayFor(m => m.CoPiDetails[i].PIName)</h4></td>
                                        <td><h4>@Html.DisplayFor(m => m.CoPiDetails[i].Email)</h4></td>
                                        <td><h4>@Html.DisplayFor(m => m.CoPiDetails[i].PCFShare)</h4></td>
                                        <td><h4>@Html.DisplayFor(m => m.CoPiDetails[i].RMFShare)</h4></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="5">Co Investigator from Other Institute</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Institute of Co PI</td>
                                <td>Department of Co PI</td>
                                <td>Name of Co PI </td>
                                <td>Remarks</td>
                            </tr>
                            @if (Model.CoPiOtherInstitute.Count > 0)
                            {
                                for (int i = 0; i < Model.CoPiOtherInstitute.Count; i++)
                                {
                                    <tr>
                                        <td><h4>@Html.DisplayFor(m => m.CoPiOtherInstitute[i].Institute)</h4></td>
                                        <td><h4>@Html.DisplayFor(m => m.CoPiOtherInstitute[i].Department)</h4></td>
                                        <td><h4>@Html.DisplayFor(m => m.CoPiOtherInstitute[i].CoPIName)</h4></td>
                                        <td><h4>@Html.DisplayFor(m => m.CoPiOtherInstitute[i].Remarks)</h4></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr> <th colspan="5">Scientist</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>Email</td>
                                <td>Mobile</td>
                                <td>Address</td>
                            </tr>
                            <tr>
                                <td><h4>@Html.DisplayFor(m => m.ScientistName)</h4></td>
                                <td><h4>@Html.DisplayFor(m => m.ScientistEmai)</h4></td>
                                <td><h4>@Html.DisplayFor(m => m.ScientistMobile)</h4></td>
                                <td><h4>@Html.DisplayFor(m => m.ScientistAddress)</h4></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="vw-dts-bg">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered mb-null">
                        <thead>
                            <tr>
                                <th colspan="5">Agency</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Agency</label>
                                    <h4>@Html.DisplayFor(m => m.Agency)</h4>
                                </td>
                                <td>
                                    <label>Agency Code</label>
                                    <h4>@Html.DisplayFor(m => m.AgencyCode)</h4>
                                </td>
                                <td>
                                    <label>Agency Registered Name</label>
                                    <h4>@Html.DisplayFor(m => m.AgencyRegName)</h4>
                                </td>
                                <td>
                                    <label>Agency Registered Address</label>
                                    <h4>@Html.DisplayFor(m => m.AgencyRegAddr)</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Contact Person</label>
                                    <h4>@Html.DisplayFor(m => m.ContactPerson)</h4>
                                </td>
                                <td>
                                    <label>Designation</label>
                                    <h4>@Html.DisplayFor(m => m.Designation)</h4>
                                </td>
                                <td>
                                    <label>Email Id</label>
                                    <h4>@Html.DisplayFor(m => m.AgencyEmail)</h4>
                                </td>
                                <td>
                                    <label>Contact Number</label>
                                    <h4>@Html.DisplayFor(m => m.ContactNo)</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Contact Address</label>
                                    <h4>@Html.DisplayFor(m => m.ContactAddr)</h4>
                                </td>
                                <td>
                                    <label>Tax Status</label>
                                    <h4>@Html.DisplayFor(m => m.TaxStatus)</h4>
                                </td>

                            </tr>
                            @if (Model.TaxStatus != "Taxable" && Model.TaxStatus != null)
                            {
                                <tr>

                                    <td>
                                        <label>Attachment Name</label>
                                        @*<a href="ShowDocument?file='+@Model.TaxDocumentpath+'&filepath=~%2FContent%2FSupportDocuments%2F" class="prooflink" target="_blank">@Model.TaxDocName</a>*@
                                    <a href="@Url.Action("ShowDocument","Project",new { file = Model.TaxDocumentpath, filepath = "~/Content/SupportDocuments" })" target="_blank">@Model.TaxDocName</a></td>
                                   
                                    <td>
                                        <label>Reason</label>
                                        <h4>@Html.DisplayFor(m => m.TaxExemtedReason)</h4>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <label>GSTIN</label>
                                    <h4>@Html.DisplayFor(m => m.GSTIn)</h4>
                                </td>
                                <td>
                                    <label>PAN</label>
                                    <h4>@Html.DisplayFor(m => m.PAN)</h4>
                                </td>
                                <td>
                                    <label>TAN</label>
                                    <h4>@Html.DisplayFor(m => m.TAN)</h4>
                                </td>
                                <td>
                                    <label>Tax Service</label>
                                    <h4>@Html.DisplayFor(m => m.TaxService)</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Registration Status</label>
                                    <h4>@Html.DisplayFor(m => m.RegistrationStatus)</h4>
                                </td>
                                <td>
                                    <label>State of funding agency</label>
                                    <h4>@Html.DisplayFor(m => m.Stateoffundingagency)</h4>
                                </td>
                                <td colspan="2">
                                    <label>Location of Funding Agency</label>
                                    <h4>@Html.DisplayFor(m => m.LocationofFundingAgency)</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Country</label>
                                    <h4>@Html.DisplayFor(m => m.Country)</h4>

                                </td>
                                <td>
                                    <label>State</label>
                                    <h4>@Html.DisplayFor(m => m.State)</h4>
                                </td>
                                <td>
                                    <label>Location</label>
                                    <h4>@Html.DisplayFor(m => m.Location)</h4>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <label>
                                        Remarks
                                    </label>
                                    <h4>@Html.DisplayFor(m => m.Remarks)</h4>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="vw-dts-bg">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="5">Categorization</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Project Type</label>
                                    <h4>@Html.DisplayFor(m => m.ProjectTypeName)</h4>
                                </td>
                                <td>
                                    <label>Type of Project</label>
                                    <h4>@Html.DisplayFor(m => m.TypeOfProject)</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Is there any Artificial Intelligence Component in the proposed project?</label>
                                    <h4>@Html.DisplayFor(m => m.IsthereAnyArtificialIntelligence)</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>If yes, please provide a description of the same in 200 characters.</label>
                                    <h4>@Html.DisplayFor(m => m.AIDescription)</h4>
                                </td>
                                <td>
                                    <label>Please select the domain relevant to the project</label>
                                    <h4>@Html.DisplayFor(m => m.Domainrelevant)</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @if (Model.ProjectTypeName == "Sponsored")
            {
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered mb-null">
                            <thead>
                                <tr>
                                    <th colspan="5">Project type:Sponsored</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PrjAccountType == "External")
                                {
                                    <tr>

                                        <td>
                                            <label>Project Sub Type</label>
                                            <h4>@Html.DisplayFor(m => m.PrjAccountType)</h4>
                                        </td>
                                        <td>
                                            <label>Scheme</label>
                                            <h4>@Html.DisplayFor(m => m.Sheme)</h4>
                                        </td>
                                        <td>
                                            <label>Scheme Code</label>
                                            <h4>@Html.DisplayFor(m => m.ShemeCode)</h4>
                                        </td>
                                        <td>
                                            <label>Sponsored Type</label>
                                            <h4>@Html.DisplayFor(m=>m.SponsoredTypeCode)</h4>
                                        </td>

                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <label>Project Sub Type</label>
                                            <h4>@Html.DisplayFor(m => m.PrjAccountType)</h4>
                                        </td>
                                        <td>
                                            <label>Internal Funding Agency</label>
                                            <h4>@Html.DisplayFor(m => m.InternalSchemeFundingAgency)</h4>
                                        </td>
                                        <td>
                                            <label>Sponsored Type</label>
                                            <h4>@Html.DisplayFor(m => m.SponsoredTypeCode)</h4>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                                @if (Model.prjFundingType == "Indian")
                                {
                                    <tr>
                                        <td>
                                            <label>Project Funding Type</label>
                                            <h4>@Html.DisplayFor(m => m.prjFundingType)</h4>
                                        </td>
                                        <td>
                                            <label>Project Category</label>
                                            <h4>@Html.DisplayFor(m => m.prjCatagory)</h4>
                                        </td>
                                        <td>
                                            <label>Indian Project Funded By</label>
                                            <h4>@Html.DisplayFor(m => m.FundedBy)</h4>
                                        </td>
                                        <td></td>
                                    </tr>
                                    if (Model.prjFundingType == "Indian" && @Model.IndianFundedByid == 1)
                                    {
                                        if (Model.FundingName.Count > 0)
                                        {
                                            <tr>
                                                <td>
                                                    <label>Indian Government Funding Body</label>
                                                    @for (int i = 0; i < Model.FundingName.Count; i++)
                                                    {


                                                        <h4>@Html.DisplayFor(m => m.FundingName[i].IndProjectFundingGovtBodyName)</h4><br />


                                                    }
                                                </td>

                                            </tr>

                                            if (Model.IndGevDepartment != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Indian Government Department</label>
                                                        <h4>@Html.DisplayFor(m => m.IndGevDepartment)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Indian Govt. Department Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.IndGevDepAmount)</h4>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }
                                            if (Model.IndGevMinistry != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Indian Government Ministry</label>
                                                        <h4>@Html.DisplayFor(m => m.IndGevMinistry)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Indian Government Ministry Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.IndGevMinAmount)</h4>
                                                    </td>
                                                    <td></td>

                                                </tr>
                                            }
                                            if (Model.IndGevUniversity != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Indian Government University</label>
                                                        <h4>@Html.DisplayFor(m => m.IndGevUniversity)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Indian Government University Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.IndGevUnivAmount)</h4>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }


                                        }
                                    }
                                    else if (Model.prjFundingType == "Indian" && @Model.IndianFundedByid == 2)
                                    {
                                        if (Model.FundingName.Count > 0)
                                        {
                                            <tr>
                                                <td><label>Indian Non Government Funding Body</label></td>
                                            </tr>
                                            for (int i = 0; i < Model.FundingName.Count; i++)
                                            {
                                                <tr>
                                                    <td>
                                                        <h4>@Html.DisplayFor(m => m.FundingName[i].IndProjectFundingNonGovtBodyName)</h4>
                                                    </td>
                                                </tr>
                                            }
                                            if (Model.IndNonGevIndustry != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Indian Non Government Industry</label>
                                                        <h4>@Html.DisplayFor(m => m.IndNonGevIndustry)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Indian Non Govt. Industry Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.IndNonGevIndustryAmount)</h4>
                                                    </td>
                                                </tr>
                                            }
                                            if (Model.IndNonGevUniversity != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Indian Non Government University</label>
                                                        <h4>@Html.DisplayFor(m => m.IndNonGevUniversity)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Indian Non Govt Univ. Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.IndNonGevUnivAmount)</h4>
                                                    </td>
                                                </tr>
                                            }
                                            if (Model.IndNonGevDepartment != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Indian Non Government Agency</label>
                                                        <h4>@Html.DisplayFor(m => m.IndNonGevDepartment)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Indian Non Govt. Agency Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.IndNonGevDepAmount)</h4>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    }
                                    else if (Model.prjFundingType == "Indian" && @Model.IndianFundedByid == 3)
                                    {
                                        if (Model.FundingName.Count > 0)
                                        {
                                            <tr>
                                                <td>
                                                    <label>Indian Government Funding Body</label>
                                                    @for (int i = 0; i < Model.FundingName.Count; i++)
                                                    {


                                                        <h4>@Html.DisplayFor(m => m.FundingName[i].IndProjectFundingGovtBodyName)</h4><br />


                                                    }
                                                </td>

                                            </tr>

                                            if (Model.IndGevDepartment != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Indian Government Department</label>
                                                        <h4>@Html.DisplayFor(m => m.IndGevDepartment)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Indian Govt. Department Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.IndGevDepAmount)</h4>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }
                                            if (Model.IndGevMinistry != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Indian Government Ministry</label>
                                                        <h4>@Html.DisplayFor(m => m.IndGevMinistry)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Indian Government Ministry Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.IndGevMinAmount)</h4>
                                                    </td>
                                                    <td></td>

                                                </tr>
                                            }
                                            if (Model.IndGevUniversity != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Indian Government University</label>
                                                        <h4>@Html.DisplayFor(m => m.IndGevUniversity)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Indian Government University Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.IndGevUnivAmount)</h4>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }


                                        }
                                        if (Model.FundingName.Count > 0)
                                        {
                                            <tr>
                                                <td>
                                                    <label>Indian Non Government Funding Body</label>
                                                    @for (int i = 0; i < Model.FundingName.Count; i++)
                                                    {
                                           
                                               
                                                    <h4>@Html.DisplayFor(m => m.FundingName[i].IndProjectFundingNonGovtBodyName)</h4>
                                              
                                                    }
                                            </td>
                                            </tr>
                                            
                                            if (Model.IndNonGevIndustry != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Indian Non Government Industry</label>
                                                        <h4>@Html.DisplayFor(m => m.IndNonGevIndustry)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Indian Non Govt. Industry Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.IndNonGevIndustryAmount)</h4>
                                                    </td>
                                                </tr>
                                            }
                                            if (Model.IndNonGevUniversity != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Indian Non Government University</label>
                                                        <h4>@Html.DisplayFor(m => m.IndNonGevUniversity)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Indian Non Govt Univ. Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.IndNonGevUnivAmount)</h4>
                                                    </td>
                                                </tr>
                                            }
                                            if (Model.IndNonGevDepartment != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Indian Non Government Agency</label>
                                                        <h4>@Html.DisplayFor(m => m.IndNonGevDepartment)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Indian Non Govt. Agency Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.IndNonGevDepAmount)</h4>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                                @if (Model.prjFundingType == "Foreign")
                                {
                                    <tr>
                                        <td>
                                            <label>Project Funding Type</label>
                                            <h4>@Html.DisplayFor(m => m.prjFundingType)</h4>
                                        </td>
                                        <td>
                                            <label>Foreign Project Funded By</label>
                                            <h4>@Html.DisplayFor(m => m.FundedBy)</h4>
                                        </td>
                                        <td>
                                            <label>Foreign Currency</label>
                                            <h4>@Html.DisplayFor(m => m.ForeignCurrencyName)</h4>
                                        </td>
                                        <td>
                                            <label>Conversion rate</label>
                                            <h4>@Html.DisplayFor(m => m.ForeignCurrencyRate)</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Project Value in Foriegn Currency</label>
                                            <h4>@Html.DisplayFor(m=>m.ForeignCurrencyValue)</h4>
                                        </td>
                                    </tr>
                                    if (Model.prjFundingType == "Foreign" && @Model.ForeignFundedByid == 1)
                                    {
                                        if (Model.FundingName.Count > 0)
                                        {
                                            <tr>
                                                <td>
                                                    <label>Foreign Government Funding Body</label>

                                                    @for (int i = 0; i < Model.FundingName.Count; i++)
                                                    {


                                                    <h4>@Html.DisplayFor(m => m.FundingName[i].ForgnProjectFundingGovtBodyName)</h4>


                                                    }
                                                </td>
                                            </tr>
                                            if (Model.ForeignGevDep != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Foreign Government Department</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignGevDep)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Country</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignGevDepCountry)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Foreign Govt. Department Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignGevDepAmount)</h4>
                                                    </td>
                                                </tr>
                                            }
                                            if (Model.ForeignGevUniv != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Foreign Government University</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignGevUniv)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Country</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignGevUnivCountry)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Foreign Govt. Univ. Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignGevUnivAmount)</h4>
                                                    </td>
                                                </tr>
                                            }
                                            if (Model.ForeignGevAgency != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Foreign Government Agency</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignGevAgency)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Country</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignGevAgencyCountry)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Foreign Govt. Agency Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignGevAgencyAmount)</h4>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                    else if (Model.prjFundingType == "Foreign" && @Model.ForeignFundedByid == 2)
                                    {
                                        if (Model.FundingName.Count > 0)
                                        {
                                            <tr>
                                                <td>
                                                    <label>Foreign Non Government Funding Body</label>

                                                    @for (int i = 0; i < Model.FundingName.Count; i++)
                                                    {


                                                        <h4>@Html.DisplayFor(m => m.FundingName[i].ForgnProjectFundingNonGovtBodyName)</h4>


                                                    }
                                                </td></tr>
                                            if (Model.ForeignNonGevDep != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Foreign Non Government Department</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignNonGevDep)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Country</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignNonGevDepCountry)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Foreign Non Govt. Dept. Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignNonGevDepAmount)</h4>
                                                    </td>
                                                </tr>
                                            }
                                            if (Model.ForeignNonGevUniv != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Foreign Non Government University</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignNonGevUniv)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Country</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignNonGevUnivCountry)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Foreign Non Govt. Univ. Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignNonGevUnivAmount)</h4>
                                                    </td>
                                                </tr>
                                            }
                                            if (Model.ForeignNonGevAgency != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>Foreign Non Government Other Agency name</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignNonGevAgency)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Country</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignNonGevAgencyCountry)</h4>
                                                    </td>
                                                    <td>
                                                        <label>Foreign Non Govt. Agency Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.ForeignNonGevAgencyAmount)</h4>
                                                    </td>
                                                </tr>
                                            }
                                            if (Model.prjFundingType == "Foreign" && @Model.ForeignFundedByid == 3)
                                            {

                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered mb-null">
                            <thead>
                                <tr>
                                    <th colspan="5">Project type:Consultancy</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.prjFundingType == "Indian")
                                {
                                    <tr>
                                        <td>
                                            <label>Project Funding Type</label>
                                            <h4>@Html.DisplayFor(m => m.prjFundingType)</h4>
                                        </td>
                                        <td>
                                            <label>Project Account Type</label>
                                            <h4>@Html.DisplayFor(m => m.ConsultancyProjectAcctType)</h4>
                                        </td>
                                        <td>
                                            <label>Funding Category</label>
                                            <h4>@Html.DisplayFor(m => m.ConsultancyFundingCategory)</h4>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                                else if (Model.prjFundingType == "Foreign")
                                {
                                    <tr>
                                        <td>
                                            <label>Project Funding Type</label>
                                            <h4>@Html.DisplayFor(m => m.prjFundingType)</h4>
                                        </td>
                                        <td>
                                            <label>Project Account Type</label>
                                            <h4>@Html.DisplayFor(m => m.ConsultancyProjectAcctType)</h4>
                                        </td>
                                        <td>
                                            <label>Funding Category</label>
                                            <h4>@Html.DisplayFor(m => m.ConsultancyFundingCategory)</h4>
                                        </td>
                                        <td>
                                            <label>Foreign Currency</label>
                                            <h4>@Html.DisplayFor(m => m.ConsultancyForeignCurrency)</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Conversion rate</label>
                                            <h4>@Html.DisplayFor(m => m.ConsultancyConversionRate)</h4>
                                        </td>
                                        <td>
                                            <label>Project Value in Foriegn Currency</label>
                                            <h4>@Html.DisplayFor(m => m.ForginCurrenyvalue)</h4>
                                        </td>
                                        <td>
                                            <label>Foreign Currency</label>
                                            <h4>@Html.DisplayFor(m => m.ConsultancyForeignCurrency)</h4>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>

        <div class="vw-dts-bg">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered mb-null">
                        <thead>
                            <tr>
                                <th colspan="5">Budget</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Is Year Wise Allocation</label>
                                    <h4>@Html.DisplayFor(m => m.YearWiseAllocation)</h4>
                                </td>
                            </tr>
                            @if (@Model.YearWiseAllocation == "Yes")
                            {
                                if (Model.YearAllocation.Length > 0)
                                {
                                    var netallocation = Model.Allocation.Select(x => x.AllocationValue).Sum();
                                    var netinstallment = Model.Instalment.Select(x => x.InstalmentAmount).Sum();
                                    for (int j = 0; j < Model.YearAllocation.Length; j++)
                                    {
                                        var leg = j + 1;
                                        var yearlist = Model.Allocation.Where(x => x.Yearwise == leg).ToList();
                                        <tr><td colspan="5">Year : @leg</td></tr>
                                        <tr>
                                            <td><label>Allocation Head</label></td>
                                            <td><label>Allocation Type</label></td>
                                            <td><label>Subhead</label></td>
                                            <td><label>Allocation Value</label></td>
                                            @{
                                                decimal Total = 0;
                                            }
                                        </tr>

                                                if (yearlist.Count > 0)
                                                {
                                                    {
                                                        Total = yearlist.Select(m => m.AllocationValue).Sum();
                                                    }
                                                    for (int i = 0; i < yearlist.Count; i++)
                                                    {
                                                        <tr>
                                                            <td><h4>@yearlist[i].AllocationHead</h4></td>
                                                            <td><h4>@yearlist[i].AllocationType</h4></td>
                                                            <td><h4>@yearlist[i].SubHeads</h4></td>
                                                            <td><h4>@yearlist[i].AllocationValue</h4></td>
                                                        </tr>
                                                    }
                                                }
                                                <tr>
                                                    <td class="text-right reg-no">
                                                        Total Allocation :<label>@Total</label>
                                                    </td>
                                                    @{
                                                        var installmentyear = Model.Instalment.Where(x => x.Yearwise == leg).ToList();

                                                        var TotInstalment = installmentyear.Select(m => m.InstalmentAmount).Sum();
                                                        var TotInstalmentcount = installmentyear.Select(m => m.NoOfInstalment).Count();
                                                    }
                                                    <td>
                                                        <label>No of Installment</label>
                                                        <h4>@TotInstalmentcount</h4>
                                                    </td>
                                                    <td></td>
                                                </tr>


                                                        if (installmentyear.Count > 0)
                                                        {
                                                            for (int i = 0; i < installmentyear.Count; i++)
                                                            {
                                                                var No = 1 + i;
                                                                <tr>
                                                                    <td><label>Instalment @No</label></td>
                                                                    <td><h4>@installmentyear[i].InstalmentAmount</h4></td>
                                                                </tr>
                                                            }
                                                        }
                                                        <tr>
                                                            <td class="text-right">
                                                                <label>Total Installment</label>
                                                                <h4>@TotInstalment</h4>
                                                            </td>
                                                        </tr>
                                                        }
                                                        <tr>
                                                            <td>
                                                                <label>Net Allocation</label>
                                                                <h4>@netallocation</h4>
                                                            </td>
                                                            <td>
                                                                <label>Net Installment</label>
                                                                <h4>@netinstallment</h4>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr><th colspan="5">Year</th></tr>
                                                                    <tr>
                                                                        <td><label>Allocation Head</label></td>
                                                                        <td><label>Allocation Type</label></td>
                                                                        <td><label>Subhead</label></td>
                                                                        <td><label>Allocation Value</label></td>
                                                                        @{
                                                                            decimal Total = 0;
                                                                        }
                                                                    </tr>
                                                                            if (Model.Allocation.Count > 0)
                                                                            {
                                                                                {
                                                                                    Total = Model.Allocation.Select(m => m.AllocationValue).Sum();
                                                                                }
                                                                                for (int i = 0; i < Model.Allocation.Count; i++)
                                                                                {

                                                                                    <tr>
                                                                                        <td><h4>@Model.Allocation[i].AllocationHead</h4></td>
                                                                                        <td><h4>@Model.Allocation[i].AllocationType</h4></td>
                                                                                        <td><h4>@Model.Allocation[i].SubHeads</h4></td>
                                                                                        <td><h4>@Model.Allocation[i].AllocationValue</h4></td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                            <tr>
                                                                                <td class="reg-no"><h4>Total Allocation :@Total</h4></td>
                                                                                @{
                                                                                    var TotInstalment = Model.Instalment.Select(m => m.InstalmentAmount).Sum();
                                                                                    var TotInstalmentcount = Model.Instalment.Select(m => m.NoOfInstalment).Count();
                                                                                }
                                                                                <td>
                                                                                    <label>No of Installment</label>
                                                                                    <h4>@TotInstalmentcount</h4>
                                                                                </td>
                                                                            </tr>

                                                                                    if (Model.Instalment.Count > 0)
                                                                                    {
                                                                                        for (int i = 0; i < Model.Instalment.Count; i++)
                                                                                        {
                                                                                            var No = 1 + i;
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <label>Instalment @No</label>
                                                                                                    <h4>@Model.Instalment[i].InstalmentAmount</h4>
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                    <tr>
                                                                                        <td class="reg-no">
                                                                                            <h4>Total Installment : <label>@TotInstalment</label></h4>
                                                                                        </td>
                                                                                    </tr>
                                                                                    }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="vw-dts-bg">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered mb-null">
                        <thead>
                            <tr><th colspan="5">Staff</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="reg-no">
                                    <label>Total Number of Staffs:</label>
                                    <label>@Html.DisplayFor(m => m.TotalNoOfStaff)</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Category</label>
                                </td>
                                   <td><label>No. of Staffs</label></td> 
                                    <td><label>Salary (in Rs.)</label></td>
                                
                            </tr>
                            @if (Model.Staff.Count > 0)
                            {
                                for (int i = 0; i < Model.Staff.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.Staff[i].Catagory</td>
                                        <td>@Model.Staff[i].NoofStaffs</td>
                                        <td>@Model.Staff[i].Salary</td>
                                    </tr>
                                }

                                <tr>
                                    <td><label>Total Summary</label></td>
                                    <td class="reg-no"><label><b>@Model.TotalNoOfStaff</b></label></td>
                                    <td class="reg-no"><label><b>@Model.TotalSalary</b></label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="vw-dts-bg">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered mb-null">
                        <thead>
                            <tr><th colspan="5">Reporting Details</th></tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <label>Whether interest is applicable</label>
                                </td>
                                <td><label>@Model.InterestApplicable</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Interest refund</label>
                                </td>
                                <td><label>@Model.InterestRefund</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Mode of Refund</label>
                                </td>
                                <td><label>@Model.ModeofRefund</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DD in favour of</label>
                                </td>
                                <td><label>@Model.DDInfavuorOf</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="vw-dts-bg">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered mb-null">
                        <thead>
                            <tr>
                                <th colspan="5">Documents</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label>Attachment type</label></td>
                                <td><label>Attachment Name</label></td>
                                <td><label>Attachment</label></td>
                            </tr>
                            @if (Model.DocDetail.Count > 0)
                            {
                                for (int i = 0; i < Model.DocDetail.Count; i++)
                                {
                                    <tr>
                                        <td><h4>@Model.DocDetail[i].AttachementType</h4></td>
                                        <td><h4>@Model.DocDetail[i].AttachementName</h4></td>
                                        @*<td><a href="ShowDocument?file='+@Model.DocDetail[i].AttachemntPath+'&filepath=~%2FContent%2FSupportDocuments%2F" class="prooflink" target="_blank">@Model.DocDetail[i].Attachment</a></td>*@
                                        <td><a href="@Url.Action("ShowDocument","Project",new { file = Model.DocDetail[i].AttachemntPath, filepath = "~/Content/SupportDocuments" })" target="_blank">@Model.DocDetail[i].Attachment</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row mt-20 text-center">
            @if (Model.PFInit != true)
            {
                <div class="col-md-12 text-center pd-tb-30">

                    <input type="button" onclick="window.location.href='@Url.Action("ProjectOpening", "Project")';" class="btn btn-default" value="Close" id="btnclose" />
                </div>
            }
            else
            {
                <div class="col-md-12 text-center pd-tb-30">

                    <input type="button" onclick="window.location.href='@Url.Action("Dashboard", "Home")';" class="btn btn-default" value="Close" id="btnclose" />
                </div>
            }
        </div>


    </div>
</div>
<div id="popup"></div>
<input type="hidden" id="currentRefId" value="@Model.ProjectId" />
<input type="hidden" id="processGuideLineId" value="@ViewBag.processGuideLineId" />
@Html.Partial("_ProcessStatus")
<script>
    $(document).ready(function () {
    $('#btnViewEnhancements').on('click', function () {
        // var projectid = $('#hdnProjId').val();
        var projectid='@Model.ProjectId'
        $.ajax({
            type: "GET",
            url: '@Url.Action("_ExtensionandEnhancementHistory", "Project")',
            data: {
                Projectid: projectid
            },
            contentType: "application/x-www-form-urlencoded",
            success: function (data) {
                $("#popup").html(data);
                $('#ViewDetailsModal').modal('toggle');
            }
        })
    });
    });
        @*if ('@Model.IsSubProject') {
            $('#divMainProjects').removeClass('dis-none');
            $('#chkIsSubProject').prop('checked', true);
        } else {
            $('#divMainProject').addClass('dis-none');
            $('#chkIsSubProject').prop('checked', false);
        }*@
</script>

<link href="@Url.Content("~/Content/IOASContent/assets/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/IOASContent/assets/bootstrap-select/js/bootstrap-select.min.js")"></script>
