@model IOAS.Models.FreezingUnFreezingModel
@{
    ViewBag.Title = "AllocationFreezingUnFreezing";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";

    <link href="@Url.Content("~/Content/IOASContent/assets/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" />
}

<div class="row hd-tt-bg" id="addnewpage">
    <div class="col-md-4">
        <h3>Allocation Freezing UnFreezing</h3>
    </div>
</div>
@using (Html.BeginForm("AllocationFreezingUnFreezing", "CoreAccounts", FormMethod.Post, new { @class = "", role = "form", @id = "formPEH", enctype = "multipart/form-data" }))

{
<div class="page-wrapper" id="">
    <div class="white-bg">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group custom-form-group mb-sm">
                    <label class="required">Project Number</label>
                    @Html.TextBoxFor(m => m.ProjectNumber, new { @class = "form-control" })
                    @Html.HiddenFor(m => m.ProjectId)

                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group custom-form-group mb-sm">
                    <label>Project Title</label>
                    <h4 id="lblProjecttitle"></h4>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group custom-form-group mb-sm">
                    <label>Sanction Value </label>
                    <h4 id="PrtSanctionValue"></h4>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />


    <div class="col-md-2">
        @*<h3 class="spl-title">Allocation Details</h3>*@
        <input type="hidden" id="ProjectId" name="ProjectId" value="">
    </div>
    <table class="table table-bordered ct-tb ct-tr-tb" id="allochdtbl">

        <thead>
            <tr>
                <th> Allocation Head Name </th>
                <th> Total Value</th>
                @*<th> Status</th>*@
                <th>Freeze Allocation</th>
            </tr>
        </thead>
        <tbody id="allochdlist"></tbody>
    </table>
    <div class="row">
        <div class="col-md-12 mt-md mb-lg text-center">
            <input type="submit" value="Submit" class="btn btn-primary" id="btnSave" />

        </div>
    </div>
    @*<input type="submit" value="Save as draft" id="btnSave" />*@
</div>
}

<script>

    
    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    $(document).ready(function () {
        if (succMsg != '') {
            $('#alertSuccess').html(succMsg);
            $('#Success').modal('toggle');
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
    });
    applyAutoComplete($('#ProjectNumber'), $('#ProjectId'), '@Url.Action("LoadProjectList","CoreAccounts")', 'ProjectSummary', true);
  $('#ProjectNumber').change(function() {
        var projectnumber = $('#ProjectNumber').val();
        projectnumber = projectnumber.trim();
        if(projectnumber == "")
            $('#ProjectId').val('');
      $("#Appointmentstartdate, #AppointmentEndDate").val('');
    });

    function ProjectSummary() {
        var projectId = $("#ProjectId").val();
        if (projectId != "" || projectId != 0) {
            $("#ProjectId").val(projectId);
            $.getJSON("@Url.Action("FreezeUnfreezeLoadProjectList", "CoreAccounts")", { ProjectId: projectId },
                function (result) {
                    console.log(result);                    
                    $('#lblProjecttitle').text(result.projectsData[0].Projecttitle );                       
                    $('#PrtSanctionValue').text(result.projectsData[0].EnhancedSanctionValue);
                    GetProjectEnhancementAllocation(projectId);
                });
           
        }
    }
    function GetProjectEnhancementAllocation(projectId) {
        $.ajax
            ({
            type: "GET",
            url: "@Url.Action("GetAllocationFreezeUnFreezeData", "CoreAccounts")",
            data: { "projectId": projectId},
            dataType: "json",
                success: function (result) {
                    retval = result;
                    //console.log(retval);
                    $("#allochdtbl").find("tbody").empty();
                    var ix = 0;
                    for (var key in retval) {
                        //console.log(retval[key].AllocationHead); 
                        rowdata = "<tr><td>" + retval[key].HeadName + "</td>";
                        rowdata += "<td>" + retval[key].TotalValue + "</td>";
                        //rowdata += "<td>" + retval[key].TotalValue + "</td>";
                        if (retval[key].Freeze=="1") {
                            rowdata += "<td> <select name='FreezeList[" + ix + "]' id='FreezeList[" + ix + "]''><option value=0 > UnFreezed</option ><option value=1 SELECTED>Freeze</option></select >";
                        }
                        else {
                            rowdata += "<td> <select name='FreezeList[" + ix + "]' id='FreezeList[" + ix + "]''><option value=0 SELECTED> UnFreezed</option ><option value=1>Freeze</option></select >";
                        }                       
                        rowdata += "<input type = 'hidden' id = 'AllocationHeadId[" + ix + "]'' name = 'AllocationHeadId[" + ix + "]'' value = " + retval[key].AllocationHead+" > </td ></tr > ";                      
                        $("#allochdtbl").find("tbody").append(rowdata);      
                        
                        ix = ix + 1;
                    }
                  
                }
            });
     //   ProjectSummary();

    };


   
</script>
<link href="@Url.Content("~/Content/IOASContent/assets/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/IOASContent/assets/bootstrap-select/js/bootstrap-select.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FoolProof/mvcfoolproof.unobtrusive.min.js")" type="text/javascript"></script>

