@model  IOAS.Models.FixedDepositClosedModel
@{
    ViewBag.Title = "FixedDepositCloseList";
    ViewBag.Subtitle = "Fixed List";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row hd-tt-bg">
    <div class="col-md-4">
        <h3>Fixed Deposit Close</h3>
    </div>
</div>
<div class="row mt30">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-jsgrid-normal">
                    <div id="fixeddepositcloselist"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    var alertMsg = '@TempData["alertMsg"]';
    $(document).ready(function () {
        if (succMsg != '') {
            $('#alertSuccess').html(succMsg);
            $('#Success').modal('toggle');
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
        else if (alertMsg != '') {
            $('#alert').html(alertMsg);
            $('#Validation').modal('toggle');
        }
    });
    $("#fixeddepositcloselist").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 5,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {

            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    FixedDepositClosedNumber:filter.FixedDepositClosedNumber||null,
                    FixedDepositNumber: filter.FixedDepositNumber || null,
                    Bankaccountnumber: filter.BankNumber || null,
                    FDNumber: filter.FDNumber || null,
                    ActualAmount: filter.ActualAmount || null,
                    DepositAmount:filter.DepositAmount||null,
                    Status: filter.Status||null
                },
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: "GetFixedDepositcloseList",
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        //db = result;
                        //$("#AdvanceBillPaymentList").jsGrid({ data: db });
                        var da = {
                            data: result.fixclslist,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }

                });
                return deferred.promise();
            }

        },

        fields: [
            { name: "SNo", title: "S.No", editing: false, width: 50 },
            { type: "number", name: "FixedDepositClosedId", title: "Id", visible: false },
             { type: "text", name: "FixedDepositClosedNumber", title: "Fixed Deposit Closed Number", editing: false },
            { type: "text", name: "FixedDepositNumber", title: "Fixed Deposit Number", editing: false },
            { type: "text", name: "BankNumber", title: "Bank Account Number", editing: false },
            { type: "text", name: "ActualAmount", title: "Actual Interest Amount", editing: false },
            {type:"text",name:"DepositAmount",title:"Deposit Amount",editing:false},
            { type: "text", name: "FDNumber", title: "FD Account Number", editing: false },
           {type: "text",name: "Status", title: "Status", editing: false },
             {
                 type: "control", editButton: false, deleteButton: false, width: 120, title: "Action",

                 itemTemplate: function (value, item) {
                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                     if (item.Status == "Open") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "Edit", name: "Edit" }, { id: "Submit for approval", name: "Submit for approval" }, { id: "View", name: "View" }]
                     }
                     else if (item.Status == "Approval Pending")
                     {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }, { id: "Approve", name: "Approve" }]
                     }
                     else if (item.Status == "Active") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }, { id: "Closed", name: "Closed" }]
                     }
                     else {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     var $customSelect = $("<select>")
                         .attr("class", "form-control").prop("selectedIndex", "")
                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {

                             value: itemData.id,
                             text: itemData.name
                         }));
                     });
                     $customSelect.change(function (e) {
                         var selVal = $(this).val();
                         if (selVal == "Edit") {
                             var url = '@Url.Action("FixedDepositClose", "CoreAccounts")?FixeddepositclosedId=' + item.FixedDepositClosedId;
                             window.location.href = url;
                         }
                         else if (selVal == "View") {
                             var url = '@Url.Action("FixedDepositCloseView", "CoreAccounts")?FixeddepositclosedId=' + item.FixedDepositClosedId;
                             window.location.href = url;
                         } else if (selVal == "Print Bill") {
                             var url = '@Url.Action("", "ReportMaster")?FixeddepositclosedId=' + item.FixedDepositClosedId;
                             window.open(url, '_blank');
                         }
                         else if (selVal == "Closed") {
                             var url = '@Url.Action("FixedDepositClose", "CoreAccounts")?FixeddepositclosedId=' + item.FixedDepositClosedId;
                             window.open(url, '_blank');
                         }
                         else if (selVal == "Submit for approval") {
                             var choice = confirm("Are you sure, Do you want to submit this bill for approval process?");
                             if (choice === true) {
                                 $.ajax({
                                     type: "GET",
                                     url: '@Url.Action("ApprovalForFixedDepositclose", "CoreAccounts")',
                                     data: {
                                         FixeddepositclosedId: item.FixedDepositClosedId
                                     },
                                     success: function (result) {
                                         if (result.status == true) {
                                             $('#alertSuccess').html("Fixed Deposit has been submitted for approval process successfully.");

                                             $('#Success').modal('toggle');
                                             loadDetails();
                                         } else if (result.status == false) {

                                             $('#FailedAlert').html(result.msg);
                                             $('#Failed').modal('toggle');
                                         }
                                     },
                                     error: function (err) {
                                         console.log("error1 : " + err);
                                     }
                                 });
                             }

                         }
                         else if (selVal == "Approve") {
                             var choice = confirm("Are you sure, Do you want to approve this Fixed Deposit entry?");
                             if (choice === true) {
                                 $.ajax({
                                     type: "GET",
                                     url: '@Url.Action("ApprovalPendingForFixedDepositClose", "CoreAccounts")',
                                     data: { FixeddepositclosedId: item.FixedDepositClosedId },
                                     success: function (result) {
                                         if (result.status == true) {
                                             $('#alertSuccess').html("Fixed Deposit has been Closed successfully.");
                                             $('#Success').modal('toggle');
                                             loadDetails();
                                         } else if (result.status == false) {
                                             $('#FailedAlert').html("Something went wrong please contact administrator.");
                                             $('#Failed').modal('toggle');
                                         }
                                     },
                                     error: function (err) {
                                         console.log("error1 : " + err);
                                     }
                                 });
                             }
                         }
                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });
                     return $result.add($customSelect);
                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }


        ],

    });
    $("#fixeddepositcloselist").jsGrid("option", "filtering", false);
    loadDetails();
    function loadDetails() {
        var input = [];
        input = {
            FixedDepositClosedNumber: null,
            FixedDepositNumber:  null,
            Bankaccountnumber:  null,
            FDNumber: null,
            ActualAmount: null,
            DepositAmount:null,
            Status: null
        },
        $("#fixeddepositcloselist").jsGrid("search", input, pageIndex = 1, pageSize = 5);
    }
</script>