@model IOAS.Models.Form3CModel

@{
    ViewBag.Title = "Form3C";
    ViewBag.Subtitle = "Form3C";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<style>
    .vw-dts-bg .hgt-bg {
        background: #597df0;
        color: #fff;
    }

        .vw-dts-bg .hgt-bg label {
            font-size: 16px !important;
            color: #fff !important;
        }

        .vw-dts-bg .hgt-bg h4 {
            font-size: 18px !important;
            color: #fff;
        }

    .vw-dts-bg .hgt-bg-pl {
        background: #e11eda;
        color: #fff;
    }

        .vw-dts-bg .hgt-bg-pl label {
            font-size: 16px !important;
            color: #fff !important;
        }

        .vw-dts-bg .hgt-bg-pl h4 {
            font-size: 18px !important;
            color: #fff;
        }
</style>
<div class="row hd-tt-bg">
    <div class="col-md-4 pull-left">
        <h3>FORM 3C</h3>
    </div>
</div>

    @using (Html.BeginForm("Form3C", "CoreAccounts", FormMethod.Post, new { @id = "frm3C", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.Form3CId)

        <div class="row">
            <div class="white-bg ad-navbar">
                <div class="col-md-3 ds-spl-bg">
                    <div class="ds-icn">
                        <i class="ion-ios-list-outline "></i>
                    </div>
                    <div class="ds-tt">
                        <span>Form Type</span>
                        @Html.DropDownListFor(m => m.FormTypeId, new SelectList(ViewBag.FormType, "id", "name"), "---Select---", new { @class = "form-control required", @id = "FormTypeId" })
                        @Html.ValidationMessage("FormTypeId")
                    </div>
                </div>
                <div class="col-md-3 ds-spl-bg">
                    <div class="ds-icn">
                        <i class="ion-ios-calendar-outline"></i>
                    </div>
                    <div class="ds-tt">
                        <span class="required">Project No</span>
                        @Html.TextBoxFor(m => m.ProjectNo, new { @class = "form-control", @id = "ProjectNo" })
                        @Html.TextBoxFor(m => m.ProjectId, new { @class = "form-control dis-none", @id = "ProjectId" })
                         @Html.ValidationMessage("ProjectId")
                    </div>
                </div>

                <div class="col-md-3 ds-spl-bg">
                    <div class="ds-tt">
                        <input type="button" value="View Report" class="btn btn-primary mt-20" id="btnload" />
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="page-wrapper " >
                <div class="white-bg " id="">

                    <div class="row">
                        <div class="col-md-12">
                            <label><b>Form 3CH </b></label>
                        </div>

                        <div class="col-md-3">

                            <div class="form-group custom-form-group">
                                <label class="">Project Title</label>
                                @Html.TextBoxFor(m => m.ProjectTitle, new { @class = "form-control", @id = "ProjectTitle" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.ProjectTitle)</div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label class="">Agency Name</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "Name" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.Name)</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label class="">Agency Address</label>
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @id = "Address" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.Address)</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label class="">Agency PAN</label>
                                @Html.TextBoxFor(m => m.PAN, new { @class = "form-control", @id = "PAN" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.PAN)</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group ">
                                <label class="">Purpose Programme</label>
                                @Html.TextBoxFor(m => m.ProgramName, new { @class = "form-control", @id = "ProgramName" })
                                <div class="txt-error txt-red">@Html.ValidationMessageFor(m => m.ProgramName)</div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label class="">Reference No </label>
                                @Html.TextBoxFor(m => m.RefNo, new { @class = "form-control", })
                                @Html.ValidationMessageFor(M => M.RefNo)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label class=""> Date Of App</label>
                                @Html.TextBoxFor(m => m.RefDate, new { @class = "form-control", })
                                @Html.ValidationMessageFor(M => M.RefDate)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label class="">Date Of Commencement</label>
                                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", @id = "StartDate" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.StartDate)</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label class="">Programme Duration</label>
                                @Html.TextBoxFor(m => m.Duration, new { @class = "form-control", @id = "Duration" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.Duration)</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label class="">Assyear Year</label>
                                @Html.TextBoxFor(m => m.Assyear, new { @class = "form-control", @id = "Assyear" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.Assyear)</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label class="">Programme Cost </label>
                                @Html.TextBoxFor(m => m.SancValue, new { @class = "form-control", @id = "SancValue" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.SancValue)</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label class="">Payment Terms(Installments)</label>
                                @Html.TextBoxFor(m => m.Installment, new { @class = "form-control", @id = "Installment" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.Installment)</div>
                            </div>
                        </div>
                        <div class="col-md-3" name ="form3ci">
                            <div class="form-group custom-form-group">
                                <label class="">Rec No</label>
                                @Html.DropDownListFor(m => m.ReceiptId, new SelectList(ViewBag.RecNo, "id", "name"), "Select any", new { @class = "form-control selectpicker", @id = "ReceiptId", @onchange = "GetReceiptDetail();" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.ReceiptId)</div>
                            </div>
                        </div>
                        <div class="col-md-3" name ="form3ci">
                            <div class="form-group custom-form-group">
                                <label class="">Rec Amt</label>
                                @Html.TextBoxFor(m => m.RecAmt, new { @class = "form-control" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.RecAmt)</div>
                            </div>
                        </div>
                        <div class="col-md-3" name ="form3ci">
                            <div class="form-group custom-form-group">
                                <label class="">Cheque No</label>
                                @Html.TextBoxFor(m => m.CheckNo, new { @class = "form-control" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.CheckNo)</div>
                            </div>
                        </div>
                        <div class="col-md-3" name ="form3ci">
                            <div class="form-group custom-form-group">
                                <label class="">Cheque Date</label>
                                @Html.TextBoxFor(m => m.Checkdate, new { @class = "form-control" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.Checkdate)</div>
                            </div>
                        </div>
                        <div class="col-md-3" name ="form3ci">
                            <div class="form-group custom-form-group">
                                <label class="">Total Rec Amt</label>
                                @Html.TextBoxFor(m => m.OverallRecAmt, new { @class = "form-control", @id = "OverallRecAmt" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.OverallRecAmt)</div>
                            </div>
                        </div>
                        <div class="col-md-3" name ="form3ci">
                            <div class="form-group custom-form-group">
                                <label class="">No of Payment Received</label>
                                @Html.TextBoxFor(m => m.RecCount, new { @class = "form-control", @id = "RecCount" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.RecCount)</div>
                            </div>
                        </div>
                      
                        <div class="col-md-3" name ="form3cj">
                            <div class="form-group custom-form-group">
                                <label class="">Dean Name</label>
                                @Html.TextBoxFor(m => m.DeanName, new { @class = "form-control" ,@id= "DeanName" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.DeanName)</div>
                            </div>
                        </div>
                        <div class="col-md-3" name ="form3cj">
                            <div class="form-group custom-form-group">
                                <label class="">Nature of Business</label>
                                @Html.TextBoxFor(m => m.NatureOfBus, new { @class = "form-control" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.NatureOfBus)</div>
                            </div>
                        </div>
                        <div class="col-md-3" name ="form3cj">
                            <div class="form-group custom-form-group ">
                                <label class="">Annual Turnover</label>
                                @Html.TextBoxFor(m => m.TurnOver, new { @class = "form-control", @id = "TurnOver" })
                                <div class="txt-error txt-red">@Html.ValidationMessageFor(m => m.TurnOver)</div>
                            </div>
                        </div>

                        <div class="col-md-3" name="form3cj">
                            <div class="form-group custom-form-group">
                                <label class="">Annual Research</label>
                                @Html.TextBoxFor(m => m.AnnualResearch, new { @class = "form-control", @id = "AnnualResearch" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.AnnualResearch)</div>
                            </div>
                        </div>
                        <div class="col-md-3" name="form3cj">
                            <div class="form-group custom-form-group">
                                <label class="">Deduction Details</label>
                                @Html.TextBoxFor(m => m.DeductionDetails, new { @class = "form-control", @id = "DeductionDetails" })
                                <div class="txt-error txt-red"> @Html.ValidationMessageFor(M => M.DeductionDetails)</div>
                            </div>
                        </div>
                        <div class="col-md-3" name="form3cj">
                            <div class="form-group custom-form-group ">
                                <label class="">Agreement Details</label>
                                @Html.TextBoxFor(m => m.AgreementDetails, new { @class = "form-control", @id = "AgreementDetails" })
                                <div class="txt-error txt-red">@Html.ValidationMessageFor(m => m.AgreementDetails)</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input type="file" name="FinalAttachDoc" />&nbsp;&nbsp;&nbsp;

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label><b>Project Documents </b></label>
                        </div>
                        <table class="table table-bordered mb-null" id="DocHis">
                            <tbody>
                                <tr>
                                    <td>Attachment Name</td>
                                    <td>Document</td>

                                </tr>

                            </tbody>

                        </table>

                    </div>
                </div>          
                <div class="row" id="saveproposal">
                    <div class="col-md-12 text-center pd-tb-30">
                        <input type="submit" class="btn btn-primary mr10" value="Submit & Generate" name="Button" id="btnSave" />
                        <input type="button" onclick="window.location.href='@Url.Action("Form3CList", "CoreAccounts")';" class="btn btn-default" value="Close" id="btnclose" />
                    </div>
                </div>
            </div>
                   
        </div>


      
    }
<script type="text/javascript">

    applyProjectAutoComplete($('#ProjectNo'), $('#ProjectId'));

    $(document).on('click', '#btnload', function () {
        var ProjId = $("#ProjectId").val();
        var FormTypeId = $("#FormTypeId").val();
        var ReceiptId = $("#ReceiptId").val();
        applyAutoComplete($('#ReceiptNo'), $('#ReceiptId'), '@Url.Action("LoadReceiptNoList", "CoreAccounts")', undefined, true, ProjId);

        if (FormTypeId != "" && ProjId != "")
        {
            $.getJSON("@Url.Action("GetAutoCompleteReceiptNo", "CoreAccounts")", { ProjectId: ProjId },
                function (locationdata) {
                    var select = $("#ReceiptNo");
                    select.empty();
                    select.append($('<option/>', {
                        value: '',
                        text: 'Select any',
                    }));
                    $.each(locationdata, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.id,
                            text: itemData.name,
                        }));
                    });
                    select.selectpicker('refresh');
                });
            $.getJSON("@Url.Action("GetForm3C", "CoreAccounts")", { ProjectId: ProjId },
        function (result) {
            $("#ProjectTitle").val(result.ProjectTitle);
            $("#Name").val(result.Name);
            $("#Address").val(result.Address);
            $("#PAN").val(result.PAN);
            $("#StartDate").val(result.StartDate);
            $("#Duration").val(result.Duration);
            $("#Assyear").val(result.Assyear);
            $("#SancValue").val(result.SancValue);
            $("#DeanName").val(result.DeanName);
            $("#form3ci").removeClass("dis-none");
        });
            if (FormTypeId==2) {

            }
            $("#DocHis tr:not(:first)").empty();
            $.ajax({
                type: "POST",
                data: JSON.stringify({ 'ProjectId': ProjId }),
                url: '@Url.Action("GetForm3CProjectDoc", "CoreAccounts")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var row;
                    $.each(result, function (i, v1) {
                        row += "<tr><td>" +
                              v1.AttachName
                               + "</td><td>"
                               + "<a href='ShowDocument?file=" + v1.DocPath + "&filepath=~%2Fcontent%2FSupportDocuments%2F' target=_blank>" + v1.DocName + "</a></td></tr>";
                    });
                    $("#DocHis").append(row);
                },
            })
        }
        });
    function GetReceiptDetail() {
        var ProjId = $("#ProjectId").val();
        var FormTypeId = $("#FormTypeId").val();
        var ReceiptId = $("#ReceiptId").val();
        $.getJSON("@Url.Action("GetReceiptDetForm3C", "CoreAccounts")", { Receiptid: ReceiptId, ProjectId: ProjId },
    function (result) {
        $("#RecAmt").val(result.RecAmt);
        $("#CheckNo").val(result.CheckNo);
        $("#Checkdate").val(result.Checkdate);
        $("#OverallRecAmt").val(result.OverallRecAmt);
        $("#RecCount").val(result.RecCount);

    });
    }
    $(document).on('change', '#FormTypeId', function ()
    {
        var FormTypeId = $("#FormTypeId").val();
        if (FormTypeId == 1) {
            $("[name~='form3ci']").addClass('dis-none');
            $("[name~='form3cj']").addClass('dis-none');
        }
        if (FormTypeId == 2) {
            //$("[name='nameofobject']")
            $("[name~='form3ci']").removeClass('dis-none');
            $("[name~='form3cj']").addClass('dis-none');
        }
        if (FormTypeId == 3) {
            $("[name~='form3ci']").addClass('dis-none');
            $("[name~='form3cj']").removeClass('dis-none');
        }
});
    $("#VoucherDate").datepicker
          ({
              dateFormat: 'dd-MM-yy',
              yearRange: '-100:+3'
          });

    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    $(document).ready(function () {
        if (succMsg != '') {
            $('#alertSuccess').html(succMsg);
            $('#Success').modal('toggle');
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
    });
</script>