@model IOAS.Models.GSTOffsetModel

@{               
                ViewBag.Title = "GSTOffset";
                ViewBag.Subtitle = "GSTOffset List";
                Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row hd-tt-bg">
    <div class="col-md-4">
        <h3>GSTOffset List</h3>
    </div>
    <div id="addnewpage" class="col-md-8 flt-nav-links">

        <a href="Javascript:void(0)" id="btnFilter" class="pull-right"> <i class="ion-android-funnel"></i>Filters</a>
        <a href="@Url.Action("GSTOffset")"> <i class="ion-plus"></i>Add New</a>

    </div>
</div>

<div class="row mt30">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-jsgrid-normal">
                    <div id="GSTOffsetList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popup"></div>
<div id="popupFilter" class="filter-popup">
    <div class="">
        <div class="filter-content">
            <div class="white-bg">
                <div class="form-group custom-form-group">
                    <h3>Filter by</h3>
                </div>
                <div id="DivCrtdDate" class="form-group custom-form-group">
                    <label class="full-width">Created Date</label>
                    @Html.TextBoxFor(m => m.SearchField.FromDate, new { @id = "FromDate", @class = "form-control half-form" })
                    @Html.TextBoxFor(m => m.SearchField.ToDate, new { @id = "ToDate", @class = "form-control half-form" })
                </div>
                <div class="form-group custom-form-group">
                    @Html.TextBoxFor(m => m.SearchField.GSTOffsetNumber, new { @id = "gstoffsetnumber", @placeholder = "GSTOffset Number", @class = "form-control" })
                </div>

                <div class="form-group custom-form-group">
                    @Html.TextBoxFor(m => m.SearchField.Status, new { @id = "status", @placeholder = "Status", @class = "form-control" })
                </div>
                <div class="form-group custom-form-group mt30 text-center">
                    <a id="btnReset" href="javascript:void(0)">Reset</a>
                </div>
                <div class="form-group custom-form-group text-center">
                    <button id="btnSearch" type="button" class="btn btn-primary mr10">Search</button>
                    <button name="btnClose" type="button" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>

    </div>
    <a href="javascript:void(0)" name="btnClose" class="close-btn"><i class="ion-android-cancel"></i></a>
</div>
<div id="popupChallon" class="filter-popup" style="display:none">
    <div class="">
        <div class="filter-content">
            <div class="white-bg">
                <div class="form-group custom-form-group">
                    <h3>GSTOffeset Challan</h3>
                </div>
                <div id="dfdgd" class="form-group custom-form-group">
                    <label class="full-width">Deposit Date</label>
                    @Html.EditorFor(m => m.ChallanDetail.DepositDate, new { @id = "DepositDate", @class = "form-control half-form" })                   
                </div>
                <div class="form-group custom-form-group">
                    <label class="full-width">CIN Number</label>
                    @Html.TextBoxFor(m => m.ChallanDetail.GSTOffsetCINNumber, new { @id = "GSTOffsetCINNumber", @placeholder = "Enter CIN Number", @class = "form-control" })                  
                </div>
                <div id="value" style="display:none">
                </div>
                <div class="form-group custom-form-group text-center">
                    <button id="btnSubmit" type="button" class="btn btn-primary mr10">Submit</button>
                    <button name="Challanpopupclose" type="button" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>

    </div>
    <a href="javascript:void(0)" name="Challanpopupclose" class="close-btn"><i class="ion-android-cancel"></i></a>
</div>

<script>
    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    $("#FromDate, #ToDate, #DepositDate").datepicker
         ({
             dateFormat: 'dd-MM-yy',
             showStatus: true,
             showWeeks: true,
             changeYear: true,
             yearRange: '-100:+0',
             highlightWeek: true,
             numberOfMonths: 1,
             showAnim: "scale",
             showOptions: {
                 origin: ["top", "left"]
             }
         });
    $('a[name="btnClose"],button[name="btnClose"]').click(function () {
        $('#popupFilter').css("display", "none");
     });
    $('a[name="Challanpopupclose"],button[name="Challanpopupclose"]').click(function () {
       $('#popupChallon').css("display", "none");
    });
    $("#btnFilter").click(function () {
        $('#popupFilter').css("display", "Block");
    });
    $('#btnSearch').on('click', function () {
        // var token = $("input[name=__RequestVerificationToken]").val();
        getData();

    });
    function ResetForm() {
        $('#gstoffsetnumber').val('');
        $('#status').val('');
        $('#FromDate').val('');
        $('#ToDate').val('');

    }
    $('#btnReset').click(function () {
        ResetForm();
        getData();
    });

    var searchHonorURL = 'SearchGSTOffsetList';
    function getData() {

        var input = [];
        input = {
            ExGSTOffsetNumber: $('#gstoffsetnumber').val(),
            FromDate: $('#FromDate').val() || null,
            ToDate: $('#ToDate').val() || null,
            ExStatus: $('#status').val()
        },
        $("#GSTOffsetList").jsGrid("search", input, pageIndex = 1, pageSize = 5);
    }
    $(document).ready(function () {
        if (succMsg != '') {
            $('#alertSuccess').html(succMsg);
            $('#Success').modal('toggle');
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
    });
    var DateField = function (config) {
        jsGrid.Field.call(this, config);
    };
    DateField.prototype = new jsGrid.Field({
        sorter: function (date1, date2) {
            return new Date(date1) - new Date(date2);
        },

        itemTemplate: function (value) {
            return new Date(value).toDateString();
        },

        filterTemplate: function () {
            var now = new Date();
            this._fromPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() - 1), changeYear: true });
            this._toPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() + 1), changeYear: true });
            return $("<div>").append(this._fromPicker).append(this._toPicker);
        },

        insertTemplate: function (value) {
            return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
        },

        editTemplate: function (value) {
            return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
        },

        insertValue: function () {
            return this._insertPicker.datepicker("getDate").toISOString();
        },

        editValue: function () {
            return this._editPicker.datepicker("getDate").toISOString();
        },

        filterValue: function () {
            return {
                from: this._fromPicker.datepicker("getDate"),
                to: this._toPicker.datepicker("getDate")
            };
        }
    });
    jsGrid.fields.date = DateField;
    var db;

    $("#GSTOffsetList").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 5,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {

            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    InGSTOffsetNumber: filter.GSTOffsetNumber,
                    InStatus: filter.Status,
                    ExGSTOffsetNumber: $('#gstoffsetnumber').val(),
                    FromDate: $('#FromDate').val() || null,
                    ToDate: $('#ToDate').val() || null,
                    ExStatus: $('#status').val()
                }
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: 'GetGSTOffsetList',
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var da = {
                            data: result.GSTOffsetlist,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }

                });
                return deferred.promise();
            }

        },

        fields: [
            { name: "SlNo", title: "S.No", editing: false, width: 10 },
            { type: "date", name: "GSTOffsetDate", title: "Date", editing: false, align: "left", width: 70 },
            { type: "number", name: "GSTOffsetId", title: "Id", visible: false, align: "left" },
            { type: "text", name: "GSTOffsetNumber", title: "GSTOffset Number", editing: false, align: "left", width: 70 },
            { name: "TotalInput", title: "Total Input", editing: false, align: "left", width: 70 },
            { name: "TotalOutput", title: "Total Output", editing: false, align: "left", width: 70 },
            { name: "TotalTDSReceivable", title: "Total TDS Receivable", editing: false, align: "left", width: 70 },
            { type: "text", name: "Status", title: "Status", editing: false, align: "left", width: 60 },
             {
                 type: "control", editButton: false, deleteButton: false, title: "Action", width: 80,
                 itemTemplate: function (value, item) {
                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                     if (item.Status == "Open") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "Edit", name: "Edit" }, { id: "Submit for approval", name: "Submit for approval" }, { id: "View", name: "View" }, { id: "Print Bill", name: "Print Bill" }, { id: "Challan Upload", name: "Challan Upload"}]
                     } else if (item.Status == "Approval Pending") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }, { id: "Approve", name: "Approve" }, { id: "Print Bill", name: "Print Bill" }, { id: "Challan Upload", name: "Challan Upload" }]
                     } else if (item.Status == "Approved") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }, { id: "Print Bill", name: "Print Bill" }, { id: "Challan Upload", name: "Challan Upload" }]
                     }

                     var $customSelect = $("<select>")
                         .attr("class", "form-control").prop("selectedIndex", "")

                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {

                             value: itemData.id,
                             text: itemData.name
                         }));
                     });

                     $customSelect.change(function (e) {
                         $("#value").val("");
                         var selVal = $(this).val();
                         if (selVal == "Edit") {
                             var url = '@Url.Action("GSTOffset", "CoreAccounts")?GSTOffsetId=' + item.GSTOffsetId;
                             window.location.href = url;
                         } else if (selVal == "Print Bill") {
                             var url = '@Url.Action("GSTOffsetBill", "ReportMaster")?Id=' + item.GSTOffsetId;
                             window.open(url, '_blank');
                         }
                         else if (selVal == "Challan Upload") {
                             $('#popupChallon').css("display", "Block");
                             $("#value").val(item.GSTOffsetId);
                             $('#ChallanDetail_DepositDate').val('');
                             $("#GSTOffsetCINNumber").val('');
                             
                         }
                         else if (selVal == "Submit for approval") {
                             var choice = confirm("Are you sure, Do you want to submit this bill for approval process?");
                             if (choice === true) {
                                 $.ajax({
                                     type: "GET",
                                     url: '@Url.Action("ApprovalForGSTOffset", "CoreAccounts")',
                                     data: {
                                         GSTOffsetId: item.GSTOffsetId
                                     },
                                     success: function (result) {
                                         if (result == true) {
                                             $('#alertSuccess').html("GSTOffset has been submitted for approval process successfully.");
                                             $('#Success').modal('toggle');
                                             loadDetails();
                                         } else if (result == false) {
                                             $('#FailedAlert').html("Something went wrong please contact administrator");
                                             $('#Failed').modal('toggle');
                                         }
                                     },
                                     error: function (err) {
                                         console.log("error1 : " + err);
                                     }
                                 });
                             }

                         }
                         else if (selVal == "View") {
                             var url = '@Url.Action("GSTOffsetView", "CoreAccounts")?GSTOffsetId=' + item.GSTOffsetId;
                            window.location.href = url;
                         }
                         else if (selVal == "Approve") {
                             var choice = confirm("Are you sure, Do you want to submit this bill for approval process?");
                             if (choice === true) {
                                 $.ajax({
                                     type: "GET",
                                     url: '@Url.Action("ApprovalPendingForGSTOffset", "CoreAccounts")',
                                     data: {
                                         GSTOffsetId: item.GSTOffsetId
                                     },
                                     success: function (result) {
                                         if (result.status == true) {
                                             $('#alertSuccess').html("GSTOffset has been submitted for approval process successfully");

                                             $('#Success').modal('toggle');
                                             loadDetails();
                                         } else if (result.status == false) {

                                             $('#FailedAlert').html(result.msg);
                                             $('#Failed').modal('toggle');
                                         }
                                     },
                                     error: function (err) {
                                         console.log("error1 : " + err);
                                     }
                                 });
                             }
                         }
                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });

                     $('a[name="Challanpopupclose"],button[name="Challanpopupclose"]').click(function () {
                         $('#popupChallon').css("display", "none");
                     });


                     return $result.add($customSelect);
                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }


        ],

    });

    $('#btnSubmit').on('click', function () {
        var GSTOffsetDepositDate = $('#ChallanDetail_DepositDate').val();
        var GSTOffsetCINNumber = $("#GSTOffsetCINNumber").val();
        var gstffsetId = $("#value").val();
         if (GSTOffsetDepositDate == "" || GSTOffsetCINNumber == "") {
             $('#FailedAlert').html("Enter Valid Details!");
             $('#Failed').modal('toggle');
             return false
         }
          $.ajax({
              type: "GET",
              url: '@Url.Action("GSTOffsetListChallan", "CoreAccounts")',
              data: {
                  GSTOffsetId: gstffsetId,
                  DepositDate: GSTOffsetDepositDate,
                  CINNumber: GSTOffsetCINNumber
              },
              success: function (result) {
                  if (result == true) {
                      $('#alertSuccess').html("GSTOffset has been submitted successfully.");
                      $('#popupChallon').css("display", "none");
                      $('#Success').modal('toggle');
                  } else if (result == false) {
                      $('#FailedAlert').html("Something went wrong!");
                      $('#Failed').modal('toggle');
                  }
              },
              error: function (err) {
                  console.log("error1 : " + err);
              }
         });
         $("#DepositDate").val('');
         $("#GSTOffsetCINNumber").val('');
    });

    $("#GSTOffsetList").jsGrid("option", "filtering", false);
    loadDetails();
    function loadDetails() {
        var input = [];
        input = {
            ExGSTOffsetNumber: $('#gstoffsetnumber').val(),
            FromDate: $('#FromDate').val() || null,
            ToDate: $('#ToDate').val() || null,
            ExStatus: $('#status').val()
        },
        $("#GSTOffsetList").jsGrid("search", input, pageIndex = 1, pageSize = 5);
    }


</script>
