@model IOAS.Models.ImprestPaymentModel
@{
    ViewBag.Title = "Imprest Enhance Payment";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<style>
    /* Hide all steps by default: */
    .tab {
        display: none;
        background: #fff;
        float: left;
    }

    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #fff;
        }

    .custom-nav-pills.nav-pills > li > a {
        color: rgba(255,255,255,0.5);
        cursor: default;
        background: transparent !important;
        border-color: transparent;
        border-top-color: transparent;
        padding: 10px 15px;
        margin: 0px 15px;
    }

        .custom-nav-pills.nav-pills > li > a span {
            width: 100%;
            float: left;
        }

    .custom-nav-pills.nav-pills > li.active > a, .custom-nav-pills.nav-pills > li.active > a:focus, .custom-nav-pills.nav-pills > li.active > a:hover {
        color: #333333;
        background-color: #fff !important;
    }

    .custom-st-fd-box {
        background: #f5f5f5;
        padding: 15px 0px;
        border-radius: 4px;
        display: inline-block;
    }

    .custom-st-fd-btn {
        color: #fff;
        font-size: 16px;
        margin-top: 15px;
        display: inline-block;
    }

    .custom-st-tb-th.table {
        border: 0px;
    }

        .custom-st-tb-th.table > tbody > tr > th {
            background: #3080e3;
            color: #fff;
            border: 0px solid #ccc;
        }

        .custom-st-tb-th.table > tbody > tr > td {
            border: 0px;
        }
</style>

<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h3>Imprest Enhancement</h3>
    </div>
</div>
<div class="row">
    <div class="white-bg ad-navbar">
        <div class="col-md-3 ds-spl-bg">
            <div class="ds-icn">
                <i class="ion-ios-list-outline "></i>
            </div>
            <div class="ds-tt">
                <span>Request Reference</span><br />
                <span>@Html.DisplayFor(m => m.SourceName)</span>
                @Html.HiddenFor(m => m.Source, new { @id = "Source" })
                @Html.HiddenFor(m => m.NeedUpdateTransDetail)
                @Html.HiddenFor(m => m.ImprestcardId)
                @Html.HiddenFor(m => m.ImprestProjectDetailsId)
            </div>
        </div>
        <div class="col-md-3 ds-spl-bg">
            <div class="ds-icn">
                <i class="ion-ios-calendar-outline"></i>
            </div>
            <div class="ds-tt">
                @if (Model.ReferenceNumber != null)
                {
                <span>Ref Number (WF / Tapal)</span>
                <span>@Html.DisplayFor(m => m.ReferenceNumber)</span>
                @Html.TextBoxFor(m => m.ReferenceNumber, new { @class = "form-control dis-none" })
                @Html.TextBoxFor(m => m.SourceReferenceNumber, new { @class = "form-control dis-none" })
                @Html.ValidationMessageFor(m => m.SourceReferenceNumber)
                @Html.Hidden("SourceTapalOrWorkflow", "True")
                @Html.HiddenFor(m => m.SubCode)
                @Html.Hidden("TransactionTypeCode", "IME")

                }
                else
                {
                    <div class="ds-tt">
                        <span>Email Date</span><br />
                        <span>@Html.DisplayFor(m => m.SourceEmail)</span>
                    </div>
                }
            
                
            </div>
        </div>


        <div class="col-md-3 col-md-offset-3">
            <div class="reg-no custom-reg-no">
                <div class="form-group custom-form-group">
                    <label>Number</label>
                    <h4>@Html.DisplayFor(m => m.ImprestNumber)</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vw-dts-bg">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">Card Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>PI</label>
                            <h4>@Html.DisplayFor(m => m.NameofPI)</h4>
                            @Html.HiddenFor(m => m.PIId)
                        </td>
                        <td>
                            <label>Bank</label>
                            <h4>@Html.DisplayFor(m=>m.BankName)</h4>
                            @Html.HiddenFor(m => m.SelBank) 
                        </td>
                        <td>
                            <label>Mobile Number</label>
                            <h4>@Html.DisplayFor(m=>m.PIMobile)</h4>
                        </td>
                        <td>
                            <label>Email</label>
                            <h4>@Html.DisplayFor(m=>m.PIEmail)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Imprest A/C Number</label>
                            <h4>@Html.DisplayFor(m=>m.ImprestBankACNumber)</h4>
                        </td>
                        <td>
                            <label>Prepaid Card No</label>
                            <h4>@Html.DisplayFor(m=>m.ImprestcardNumber)</h4>
                            @Html.HiddenFor(m => m.CurrentImprestValue)
                        </td>
                        <td class="reg-no">
                            <label class="lblval">Existing Imprest Value</label>
                            @*<h4 class="tatval">@Html.DisplayFor(m=>m.TotalValueofCard)</h4>*@
                            <h4 class="tatval">@Html.DisplayFor(m => m.ExistingImpresetBalance)</h4>
                        </td>
                        <td class="reg-no">
                            <label class="lblval">Enhance Value</label>
                            <h4 class="tatval">@Html.DisplayFor(m=>m.EnhancedImprestValue)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="reg-no">
                            <label class="lblval">Total Imprest Value</label>
                            <h4 class="tatval">@Html.DisplayFor(m => m.TotalImprestValue)</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="6">Project Details</th>
                    </tr>
                    <tr>
                        <th>Project No.</th>
                        <th>Project type</th>
                        <th>Sanctioned Value</th>
                    </tr>
                </thead>
                <tbody id="ProjectList">
                    @if (Model.PIProjectDetails != null)
                    {
                        var count = 0;
                        foreach (var item in Model.PIProjectDetails)
                        {
                            var projectId = "PIProjectDetails[" + count + "].PIProjectId";
                            var projectNumber = "PIProjectDetails[" + count + "].PIProjectNumber";
                            var sanctionValue = "PIProjectDetails[" + count + "].PIProjectSanctionValue";
                            var projectType = "PIProjectDetails[" + count + "].PIProjectType";
                            <tr>
                                <td>
                                    <h4>@item.PIProjectNumber</h4>
                                    
                                    @Html.Hidden("PIProjectDetails.Index", @count)
                                    @Html.Hidden("PIProjectDetails.PIProjectId", @count)
                                </td>
                                <td>
                                    <h4>@item.PIProjectType</h4>
                                    @*@Html.TextBox(@projectType, item.PIProjectType, new { @class = "form-control", @id = "txtPIProjecttype", @readonly = true })*@
                                </td>
                                <td>
                                    <h4>@item.PIProjectSanctionValue</h4>
                                    @Html.Hidden(@sanctionValue, item.PIProjectSanctionValue, new { @class = "form-control", @id = "txtPIProjectSanctionValue", @readonly = true })
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
                <tr>
                    <td class="reg-no">
                        <label class="lblval">Total Projects Value</label>
                        <h4 class="tatval">@Html.DisplayFor(m=>m.TotalProjectsValue)</h4>
                        @Html.HiddenFor(m => m.TotalProjectsValue, new { @class = "form-control", @id = "TotalProjectsamount", @readonly = true })</b></h4>
                        @Html.Hidden("TotalProjectsValue")
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="6">Imprest and Recoupment History</th>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Amount</th>
                    </tr></thead>
                <tbody id="ImprestList">

                    @if (Model.PIImprestDetails != null)
                    {
                        var count = 0;
                        foreach (var item in Model.PIImprestDetails)
                        {
                            var detailId = "PIImprestDetails[" + count + "].DetailsId";
                            var type = "PIImprestDetails[" + count + "].Type";
                            var amount = "PIImprestDetails[" + count + "].Amount";
                            var crtddate = "PIImprestDetails[" + count + "].CrtdDate";
                            <tr>
                                <td>
                                    <h4>@item.CrtdDate</h4>
                                   
                                    @Html.Hidden("PIImprestDetails.Index", @count)
                                    @Html.Hidden("PIImprestDetails.DetailsId", @count)
                                </td>
                                <td>
                                    <h4>@item.Type</h4>
                                   
                                </td>
                                <td>
                                    @item.Amount
                                    @Html.Hidden(@amount, item.Amount, new { @class = "form-control", @id = "txtAmount", @readonly = true })
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                               
                            </td>
                            <td>
                               
                            </td>
                            <td>
                              
                            </td>

                        </tr>
                    }
                </tbody>
                <tr>
                    <td class="reg-no">
                        <label class="lblval">Total Bill Booked Value</label>
                        <h4 class="tatval">@Html.DisplayFor(m => m.TotalPrevRecoupValue)</h4>
                        @Html.TextBoxFor(m => m.TotalPrevRecoupValue, new { @class = "form-control dis-none", @id = "TotalRecoupamount", @readonly = true })
                        @Html.Hidden("TotalPrevRecoupValue")
                    </td>
                    <td class="reg-no">
                        <label class="lblval">Total Imprest Value</label>
                        <h4 class="tatval">@Html.DisplayFor(m=>m.TotalPrevImprestValue)</h4>
                        @Html.TextBoxFor(m => m.TotalPrevImprestValue, new { @class = "form-control dis-none", @id = "TotalImprestamount", @readonly = true })
                        @Html.Hidden("TotalPrevImprestValue")
                    </td>
                   
                </tr>
                <tr>
                    <td class="reg-no">
                        <label class="lblval">Pending Recoupment Value</label>
                        <h4 class="tatval">@Html.DisplayFor(m => m.PendingBillsRecoupValue)</h4>
                        @Html.TextBoxFor(m => m.PendingBillsRecoupValue, new { @class = "form-control dis-none", @id = "PendingBillRecoupamount", @readonly = true })
                        @Html.Hidden("PendingBillsRecoupValue")
                    </td>
                    <td class="reg-no">
                        <label class="lblval">Total Recoupment Value</label>
                        <h4 class="tatval">@Html.DisplayFor(m => m.TotalPrevBillsRecoupValue)</h4>
                        @Html.TextBoxFor(m => m.TotalPrevBillsRecoupValue, new { @class = "form-control dis-none", @id = "TotalBillRecoupamount", @readonly = true })
                        @Html.Hidden("TotalPrevBillsRecoupValue")
                    </td>
                   
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_TransactionDetailsView", Model)
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div>
                @Html.Partial("_CheckListDetailView", Model.CheckListDetail)
            </div>
            <table class="table table-bordered mb-null">
                <tbody>
                    <tr>

                        <td>
                            @Html.HiddenFor(m => m.CheckListVerified_By, new { @disabled = "disabled" })
                            @Html.HiddenFor(m => m.CheckListVerifierName, new { @disabled = "disabled" })
                            <label>Verified by</label>
                            <h4 id="Verified_ByName">@Html.DisplayFor(m => m.CheckListVerifierName)</h4>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_DocumentDetailView", Model.DocumentDetail)
        </div>
    </div>
</div>
<div class="row">
    @if (Model.PFInit != true)
    {
        <div class="col-md-12 text-center pd-tb-30">

            <input type="button" onclick="window.location.href='@Url.Action("ImprestEnhancementList", "CoreAccounts")';" class="btn btn-default" value="Close" id="btnclose" />
        </div>
    }
    else
    {
        <div class="col-md-12 text-center pd-tb-30">

            <input type="button" onclick="window.location.href='@Url.Action("Dashboard", "Home")';" class="btn btn-default" value="Close" id="btnclose" />
        </div>
    }
</div>





@Html.AntiForgeryToken()
<div id="popup"></div>
<input type="hidden" id="currentRefId" value="@Model.ImprestProjectDetailsId" />
<input type="hidden" id="processGuideLineId" value="@ViewBag.processGuideLineId" />
@Html.Partial("_ProcessStatus")
<script>
    var dis = '@ViewBag.disabled';
    if (dis != "") {
        $('.form-control').prop('disabled', true);
        $('.ion-trash-a').removeClass();
        $("input[type='radio']").prop('disabled', true);
        $('#selectCommitment').hide();
        $('#btnReset,#btnbookcommitment,#btnbookcommitment,#btnCollapseSrchCommit').hide();
        $('input[type="checkbox"]').prop('disabled', true);
        $('input[type="file"],#btnAddAttachment').hide();
        $('#ProcessStatusContainer .form-control').prop('disabled', false);
        $('#btnAddExpense').hide();
        $('.btn-circle').removeClass();
        $('.ion-close-round').removeClass();
    }
    var errMsg = '@ViewBag.errMsg';
    var tmperr = '@TempData["errMsg"]';
    if (tmperr != '') {
        $('input[name="NeedUpdateTransDetail"]').val(true);
    }
    var piList = '@Html.Raw(Json.Encode(ViewBag.PI))';
    var allocationHeads = '@Html.Raw(Json.Encode(ViewBag.allocatehead))'
    $('#SourceEmailDate, #srchFromDate, #srchToDate,#InvoiceDate,#PODate').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true });
    $('#srchToDate').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true }).datepicker("setDate", "0");
    var defaultFromDate = moment(new Date()).add(-10, 'days').toDate();
    $('#srchFromDate').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true }).datepicker("setDate", defaultFromDate);
    @*var modelData = '@Html.Raw(Json.Encode(Model))'*@
    $(document).ready(function () {
        //get the relevant form
        //  var form = $('#frmSRB');

        $('.selectpicker').selectpicker({
            liveSearch: true
        });
        $('.selectpicker').selectpicker('refresh');

        var selSource = $('#Source').val();
        $("#divRefNum, #divRefEmailDate").addClass('dis-none');
        if (selSource == '1') {
            applyAutoComplete($('#ReferenceNumber'), $('#SourceReferenceNumber'), "@Url.Action("GetACWorkflowRefNumber", "Proposal")");
            $("#divRefNum").removeClass('dis-none');
        } else if (selSource == '3') {
            applyAutoComplete($('#ReferenceNumber'), $('#SourceReferenceNumber'), "@Url.Action("GetACTapalRefNumber", "Proposal")");
            $("#divRefNum").removeClass('dis-none');
        }
        else if (selSource == '2') {
            $('#divRefEmailDate').removeClass('dis-none');
        } else {
            $("#divRefNum").removeClass('dis-none');
        }


        //if (errMsg) {
        //    $('#FailedAlert').html(errMsg);
        //    $('#Failed').modal('toggle');
        //    var jsonData = JSON.parse(modelData);
        //    $('#addnewpage').hide();
        //    $('#SBIPrepaidECard').show();
        //    $('#gridlist').hide();
        //    $('#viewdoc').hide();
        //    fillData(jsonData);

        //} else {
        //    $('#SBIPrepaidECard').hide();
        //    $('#viewdoc').hide();
        //}
        //var piname = $('input[name="PIFirstname"]').val();
        //$('#lblVendorName').html(piname);
        //var Amt = parseFloat($('#txtImprestvalue').val());
        $('#lblVendorName').html($('#txtPI option:selected').text());
        var newvalue = parseFloat(($('#txtNewImprestvalue').val()));
        var enhancedvalue = parseFloat(($('#txtTotalImprestvalue').val()));
        var total = newvalue + enhancedvalue;
        if (newvalue > 0)
        {
            $("#CreditorAmount").val(newvalue);
        }
        else if (enhancedvalue > 0)
        {
            $("#CreditorAmount").val(enhancedvalue);
        }

        //CalculatePaymentValue();
        CalculateDeductionTotal();
        //CalculatePOValue();
        $('#NeedUpdateTransDetail').val('false');
    });

    $("#FromDate, #ToDate, #txtDateofbirth, #txtEDateofbirth").datepicker
              ({
                  dateFormat: 'dd-MM-yy',
                  showStatus: true,
                  showWeeks: true,
                  changeYear: true,
                  yearRange: '-100:+0',
                  highlightWeek: true,
                  numberOfMonths: 1,
                  showAnim: "scale",
                  showOptions: {
                      origin: ["top", "left"]
                  }
              });


    function parseDate(s) {
        var months = {
            january: 0, february: 1, march: 2, april: 3, may: 4, june: 5,
            july: 6, august: 7, september: 8, october: 9, november: 10, december: 11
        };
        var p = s.split('-');
        return new Date(p[2], months[p[1].toLowerCase()], p[0]);
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function noedit() {
        return false;
    }
    $('#CreditorAmount, #ExpenseAmount, #CreditorAmount, input[name $=".PaymentAmount"], input[name $=".Quantity"], input[name $=".TotalAmount"], input[name $=".Amount"], #ttlCr, #ttlDr, #txtprepaidcardnumber, #txtEnhanceImprestvalue, #txtNewImprestvalue').on("copy cut paste drop", function () {
        return false;
    });
    $('#Source').change(function () {
        var selSource = $(this).val();
        $("#SourceReferenceNumber,#ReferenceNumber").val('');
		$("#divRefNum, #divRefEmailDate").addClass('dis-none');
        $("#SourceTapalOrWorkflow").val('False');
		if (selSource == '1') {
            applyAutoComplete($('#ReferenceNumber'), $('#SourceReferenceNumber'), "@Url.Action("GetACWorkflowRefNumber", "Proposal")");
            $("#divRefNum").removeClass('dis-none');
            $("#SourceTapalOrWorkflow").val('True');
        } else if (selSource == '3') {
            applyAutoComplete($('#ReferenceNumber'), $('#SourceReferenceNumber'), "@Url.Action("GetACTapalRefNumber", "Proposal")");
            $("#divRefNum").removeClass('dis-none');
            $("#SourceTapalOrWorkflow").val('True');
        }
        else if (selSource == '2') {
            $('#divRefEmailDate').removeClass('dis-none');
            $("#SourceTapalOrWorkflow").val('False');
        } else {
            $("#divRefNum").removeClass('dis-none');
            $("#SourceTapalOrWorkflow").val('True');
        }
    });
    function ValidateNumberOnly(e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    }
    function ValidateDecimalOnly(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    $('#txtprepaidcardnumber').change(function () {
        var cardnumber = $(this).val();
        if ((cardnumber.length < 16)) {
            $("#alert").text("Please enter 16 digit card number.");
            $('#Validation').modal('show');
            return false;
        }
    });
    $('#txtNewImprestvalue').change(function () {

        var amt = parseFloat($(this).val());
        var pi = $("#txtPI").val()
        var sancamt = parseFloat($('input[name="TotalProjectsValue"]').val());
        var previmptotal = parseFloat($('input[name="TotalPrevImprestValue"]').val());
        var currentimpvalue = parseFloat($('input[name="CurrentImprestValue"]').val());
        var imprestpercent = parseFloat((sancamt * 20) / 100);
        var balance = 0;
        if (pi == "")
        {
            $("#alert").text("Please select PI");
            $('#Validation').modal('show');
            return false;
        }
        if (imprestpercent <= 500000) {
            var balance = imprestpercent - (previmptotal - currentimpvalue);
            if (balance < amt)
            {
                $("#alert").text("Imprest amount claimed cannot be greater than 20% of total projects sanctioned value.");
                $('#Validation').modal('show');
                return false;
            }
        }
        if (imprestpercent > 500000) {
            var balance = 500000 - (previmptotal - currimpvalue);
            if (balance < amt) {
                $("#alert").text("Imprest amount claimed cannot be greater than Rs 500000.");
                $('#Validation').modal('show');
                return false;
            }
        }
        $("#CreditorAmount").val(amt);
    });
    $('#txtPI').change(function () {
        var PI = $(this).val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("LoadImprestProjectDetails", "CoreAccounts")",
            data: { "PIId": PI },
        traditional: true,
        dataType: "json",
        success: function (result) {
            if(result.PIProjectDetails == null || result.PIProjectDetails == '')
            {
                var trEle = $('#ProjectList tr:first');
                $('#ProjectList tr').not(':first').remove();
                $(trEle).find('input[name$=".PIProjectId"]').val('');
                $(trEle).find('input[name$=".PIProjectNumber"]').val('');
                $(trEle).find('input[name$=".PIProjectType"]').val('');
                $(trEle).find('input[name$=".PIProjectSanctionValue"]').val('');
                $(trEle).find("input[name='PIProjectDetails.Index']").val(0);
            }else{
                $.each(result.PIProjectDetails, function (i, item) {

                    if (i == 0) {
                        var trEle = $('#ProjectList tr:first');
                        $('#ProjectList tr').not(':first').remove();
                        $(trEle).find('input[name$=".PIProjectId"]').val(item.PIProjectId);
                        $(trEle).find('input[name$=".PIProjectNumber"]').val(item.PIProjectNumber);
                        $(trEle).find('input[name$=".PIProjectType"]').val(item.PIProjectType);
                        $(trEle).find('input[name$=".PIProjectSanctionValue"]').val(item.PIProjectSanctionValue);
                        $(trEle).find("input[name='PIProjectDetails.Index']").val(i);

                    }
                    else {
                        var trEleNew = $('#ProjectList tr:first').clone().find('input').val('').end();
                        $(trEleNew).find('input[name$=".PIProjectId"]').val(item.PIProjectId);
                        $(trEleNew).find('input[name$=".PIProjectSanctionValue"]').val(item.PIProjectSanctionValue);
                        $(trEleNew).find('input[name$=".PIProjectNumber"]').val(item.PIProjectNumber);
                        $(trEleNew).find('input[name$=".PIProjectType"]').val(item.PIProjectType);
                        $(trEleNew).find("input[name='PIProjectDetails.Index']").val(i);

                        $('#ProjectList').append(trEleNew);
                    }
                    //if (i == 0) {
                    //    document.getElementsByName('PIProjectId')[0].value = ProjectId[0];
                    //    document.getElementsByName('PIProjectType')[0].value = ProjectType[0];
                    //    document.getElementsByName('PIProjectSanctionValue')[0].value = SanctionValue[0];
                    //    document.getElementsByName('TotalProjectsValue')[0].value = Totalprojectvalue[0];

                    //} else {
                    //    document.getElementsByName('PIProjectId')[i].value = ProjectId[i];
                    //    document.getElementsByName('PIProjectType')[i].value = ProjectType[i];
                    //    document.getElementsByName('PIProjectSanctionValue')[i].value = SanctionValue[i];
                    //    document.getElementsByName('TotalProjectsValue')[i].value = Totalprojectvalue[i];
                    //}
                });
            }

            if (result.PIImprestDetails == null || result.PIImprestDetails == '')
            {
                var trEle = $('#ImprestList tr:first');
                $('#ImprestList tr').not(':first').remove();
                $(trEle).find('input[name$=".DetailsId"]').val('');
                $(trEle).find('input[name$=".Type"]').val('');
                $(trEle).find('input[name$=".Amount"]').val('');
                $(trEle).find('input[name$=".CrtdDate"]').val('');
                $(trEle).find("input[name='PIImprestDetails.Index']").val(0);
            }
            else {
                $.each(result.PIImprestDetails, function (i, item) {
                    if (i == 0) {
                        var trEle = $('#ImprestList tr:first');
                        $('#ImprestList tr').not(':first').remove();
                        $(trEle).find('input[name$=".DetailsId"]').val(item.DetailsId);
                        $(trEle).find('input[name$=".Type"]').val(item.Type);
                        $(trEle).find('input[name$=".Amount"]').val(item.Amount);
                        $(trEle).find('input[name$=".CrtdDate"]').val(item.CrtdDate);
                        $(trEle).find("input[name='PIImprestDetails.Index']").val(i);

                    } else {
                        var trEleNew = $('#ImprestList tr:first').clone().find('input').val('').end();
                        $(trEleNew).find('input[name$=".DetailsId"]').val(item.DetailsId);
                        $(trEleNew).find('input[name$=".Type"]').val(item.Type);
                        $(trEleNew).find('input[name$=".Amount"]').val(item.Amount);
                        $(trEleNew).find('input[name$=".CrtdDate"]').val(item.CrtdDate);
                        $(trEleNew).find("input[name='PIImprestDetails.Index']").val(i);

                        $('#ImprestList').append(trEleNew);
                    }
                });
            }
            $('#TotalProjectsamount').val(result.TotalProjectsValue);
            $('input[name="PIFirstname"]').val(result.PIFirstname);
            $('input[name="PIEmail"]').val(result.PIEmail);
            $('input[name="TotalPrevImprestValue"]').val(result.TotalPrevImprestValue);
            $('input[name="TotalPrevRecoupValue"]').val(result.TotalPrevRecoupValue);

            $('select[name="SelBank"]').val(result.SelBank);
            $('#txtbankac').val(result.ImprestBankACNumber);
            $('#txtprepaidcardnumber').val(result.ImprestcardNumber);
            //if(result.ImprestBankACNumber != null)
            //{
            //    $('#ExistingIMPValue').removeClass('dis-none');
            //    $('#TotalValue').removeClass('dis-none');
            //    $('#NewIMPValue').addClass('dis-none');
            //    $('#txtNewImprestvalue').removeClass('required');
            //}
            //if(result.ImprestBankACNumber == null)
            //{
            //    $('#ExistingIMPValue').addClass('dis-none');
            //    $('#TotalValue').addClass('dis-none');
            //    $('#NewIMPValue').removeClass('dis-none');
            //    $('#txtNewImprestvalue').addClass('required');
            //}
            $('#txtEnhanceImprestvalue').val('');
            $('#txttotalcardvalue').val(result.TotalValueofCard);

            $('#txtDateofbirth').val(result.DOB);
            $('#txtPIGender').val(result.PIGender);
            $('#txtPIMobile').val(result.PIMobile);

            $('#txtPIFathername').val(result.FatherFirstName);
            $('#txtPIMothermaidenname').val(result.MothersMaiden);
            $('#txtPIAddressline1').val(result.PIAddressLine1);
            $('#txtPIAddressline2').val(result.PIAddressLine2);

            $('#txtPIDistrict').val(result.PIdistrict);
            $('#txtPICity').val(result.PICity);
            $('#txtPIState').val(result.PIstate);
            $('#txtPIPincode').val(result.PIPincode);
            $('#txtPIPAN').val(result.PAN);
            $('input[name="ImprestcardId"]').val(result.ImprestcardId);

            $('#lblVendorName').html(result.PIFirstname);
            $('#NeedUpdateTransDetail').val('True');
        },
        error: function (err) {
            console.log("error : " + err);
        }
    });
    });
    $('#txtEnhanceImprestvalue').change(function () {
        var previmp = parseFloat($('#txttotalcardvalue').val() || 0);
        var enhancimp = parseFloat($(this).val() || 0);
        var total = previmp + enhancimp;
        if(!isNaN (total))
        {
            $("#txtTotalImprestvalue").val(total.toFixed(0));
        }
        $("#CreditorAmount").val(enhancimp);
    });
    //function ValidateCommitment() {
    //    var msg = 'valid';
    //    var commitmentAmt = parseFloat($('#CommitmentAmount').val());
    //    // var netAdvAmt = parseFloat($('#lblAdvNetAmt').html());
    //    var ttlAdvAmt = parseFloat($('#txtCurrentProjectcardvalue').val());
    //    var advPct = parseInt($("#AdvancePercentage").val());
    //   // var offsetValue = $("input[name='GST']:checked").val();
    //    $("#tbodyCommitmentSelList tr").each(function () {
    //        var elePayment = $(this).find("input[name$='.PaymentAmount']");
    //        var eleAvlBal = $(this).find('input[name$=".AvailableAmount"]');
    //        var parseVal = parseFloat($(elePayment).val()) || 0;
    //        var avlBal = parseFloat($(eleAvlBal).val()) || 0;
    //        if (parseVal > avlBal)
    //            msg = "Commitment payment value should not be greater than available balance."
    //    });
    //    if (isNaN(ttlAdvAmt) || isNaN(commitmentAmt)) {
    //        msg = 'The requested advance value / allocated commitment value is not a valid entry.';
    //    } else if (ttlAdvAmt != commitmentAmt) {
    //        msg = 'There is a mismatch between the requested advance value and allocated commitment value. Please update the value to continue.';
    //    }

    //    return msg;
    //}
    function ValidateTransaction() {
        var msg = 'valid';
        var netCrAmt = parseFloat($('#CreditorAmount').val());
     //   var commitmentAmt = parseFloat($('#CommitmentAmount').val());
        var ttlExpAmt = parseFloat($('#ExpenseAmount').val()) || 0;
        var ttldeductAmt = parseFloat($('#ttlCr').val()) || 0;
        var newvalue = parseFloat($('#txtNewImprestvalue').val());
        var enhancevalue = parseFloat($('#txtEnhanceImprestvalue').val());
        var ttlAdvAmt = 0;
        if (newvalue > 0)
        {
            ttlAdvAmt = newvalue;
        }
        else if (enhancevalue > 0)
        {
            ttlAdvAmt = enhancevalue;
        }

        //var netDrAmt = ttlExpAmt + ttldeductAmt;
        //var offsetValue = $("input[name='GST']:checked").val();
        if (isNaN(netCrAmt)) {
            return 'The Credit value is not a valid entry.';
        }
        if (netCrAmt != ttlExpAmt || netCrAmt != ttldeductAmt) {
            msg = 'Not a valid entry. Credit and Debit value are not equal.';
        }
        else if (isNaN(ttlExpAmt) || isNaN(ttlAdvAmt)) {
            msg = 'The requested imprest value / Transaction value is not a valid entry.';
        }
        //else if (ttlExpAmt != commitmentAmt) {
        //    msg = 'There is a mismatch between allocated commitment value and transaction value. Please update the value to continue.';
        //}

        var hdList = [];
        var hdJVList = [];
        $('#tbodyExpenseList tr').find('select[name$=".AccountHeadId"]').each(function (idx, val) {
            var jv = $(this).closest('tr').find("input[name$='.IsJV']").val();
            if (jv.toLowerCase()== "true")
                hdJVList.push($(val).val());
            else
                hdList.push($(val).val());
        });
        hdList.sort();
        hdJVList.sort();
        // duplicate check
        for (var k = 1; k < hdList.length; ++k) {
            if (hdList[k] == hdList[k - 1]) {
                msg = "Duplicate account head exist in expense details. Please select a different head.";
            }
        }
        //for (var k = 1; k < hdJVList.length; ++k) {
        //    if (hdJVList[k] == hdJVList[k - 1]) {
        //        msg = "Duplicate account head exist in expense details. Please select a different head.";
        //    }
        //}
        return msg;
    }
    function AddNewExpense(){
        //var stateCode = $('#lblStateCode').html();
        //var BillType = $('#BillType').val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAddNewExpenseDetails", "CoreAccounts")",
            data: { "typeCode": "IME","tSubCode" : "1"},
        traditional: true,
        dataType: "json",
        success: function (result) {
            $.each(result.ExpenseDetail, function (i, item) {
                var cln = $('#tbodyExpenseList tr:first').clone().find("select,input").val("").end();
                $(cln).find('a.dis-none').removeClass('dis-none');
                var index = $('#tbodyExpenseList tr:last').find("input[name='ExpenseDetail.Index']").val();
                index = parseInt(index) + 1;
                $(cln).find("input[name='ExpenseDetail.Index']").val(index);
                $(cln).find('input[name$=".TransactionType"]').val(item.TransactionType);
                $(cln).find('#lblTransType').text(item.TransactionType);
                $(cln).find('input[name$=".IsJV"]').val(item.IsJV);
                $(cln).find("input, select").each(function () {
                    $(this).attr("name", $(this).attr("name").replace(/\d+/, index));
                    $(this).attr("id", $(this).attr("id").replace(/\d+/, index));
                });
                $(cln).find("span[data-valmsg-for]").each(function () {
                    $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(/\d+/, index));
                });

                var selectGroup = $(cln).find("select[name$='.AccountGroupId']");
                selectGroup.empty();
                $.each(item.AccountGroupList, function (index, itemData) {
                    selectGroup.append($('<option/>', {
                        value: itemData.id,
                        text: itemData.name,
                    }));
                });

                var selectHead = $(cln).find("select[name$='.AccountHeadId']");
                selectHead.empty();
                $.each(item.AccountHeadList, function (index, itemData) {
                    selectHead.append($('<option/>', {
                        value: itemData.id,
                        text: itemData.name,
                    }));
                });
                $('#tbodyExpenseList').append(cln);
            });
        },
        error: function (err) {
            console.log("error : " + err);
        }
    });
    }
    
    
    function GetTransactionDetails() {
        //var commitmentDetailIds = [];
        //var stateCode = $('#lblStateCode').html();
        //var BillType = $('#BillType').val();
        // var tdsDetailId = $('#VendorTDSDetailId').val() || null;
        var interstate_f = false;
        //if ($('#lblStateCode').html() == '33')
        //    interstate_f = true;
        //$('#tbodyCommitmentSelList input[name$=".CommitmentDetailId"]').each(function () {
        //    var cmtDetId = $(this).val();
        //    if (cmtDetId != '') { commitmentDetailIds.push(cmtDetId); }
        //});
        //if (commitmentDetailIds.length == 0) {
        //    $("#alert").text("Please select at least one commitment from the list.");
        //    $('#Validation').modal('show');
        //    return false;
        //} else {
        EmptyExpenseDeductionDetails();
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetTransactionDetails", "CoreAccounts")",
            data: { "typeCode": "IME","tSubCode" : "1", },
        traditional: true,
        dataType: "json",
        success: function (result) {
            $.each(result.ExpenseDetail, function (i, item) {
                //var amt = 0;
                //$("#tbodyCommitmentSelList [name$='.HeadName'][value='"+item.BudgetHeadName+"']").each(function(){
                //    var elePayment = $(this).closest('td').find("input[name$='.PaymentAmount']");
                //    var parseVal = parseFloat($(elePayment).val());
                //    if (!isNaN(parseVal))
                //        amt = amt + parseVal;
                //});
                if (i == 0) {
                    var trEle = $('#tbodyExpenseList tr:first');
                    $(trEle).find('input[name$=".Amount"]').val('');
                    $(trEle).find('input[name$=".TransactionType"]').val(item.TransactionType);
                    $(trEle).find('input[name$=".IsJV"]').val(item.IsJV);
                    $(trEle).find('#lblTransType').text(item.TransactionType);
                    $(trEle).find("input[name='ExpenseDetail.Index']").val(i);

                    var selectGroup = $(trEle).find('select[name$=".AccountGroupId"]');
                    selectGroup.empty();
                    $.each(item.AccountGroupList, function (index, itemData) {
                        selectGroup.append($('<option/>', {
                            value: itemData.id,
                            text: itemData.name,
                        }));
                    });

                    var selectHead = $(trEle).find('select[name$=".AccountHeadId"]');
                    selectHead.empty();
                    $.each(item.AccountHeadList, function (index, itemData) {
                        selectHead.append($('<option/>', {
                            value: itemData.id,
                            text: itemData.name,
                        }));
                    });
                } else {
                    var trEleNew = $('#tbodyExpenseList tr:first').clone().find('input').val('').end();
                    $(trEleNew).find('input[name$=".Amount"]').val('');
                    $(trEleNew).find("input[name='ExpenseDetail.Index']").val(i);
                    $(trEleNew).find('input[name$=".TransactionType"]').val(item.TransactionType);
                    $(trEleNew).find('input[name$=".IsJV"]').val(item.IsJV);
                    $(trEleNew).find('#lblTransType').text(item.TransactionType);
                    $(trEleNew).find("input,Select").each(function () {
                        $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
                        $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                    });
                    $(trEleNew).find("span[data-valmsg-for]").each(function () {
                        $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(/\d+/, i));
                    });

                    var selectGroup = $(trEleNew).find('select[name$=".AccountGroupId"]');
                    selectGroup.empty();
                    $.each(item.AccountGroupList, function (index, itemData) {
                        selectGroup.append($('<option/>', {
                            value: itemData.id,
                            text: itemData.name,
                        }));
                    });

                    var selectHead = $(trEleNew).find('select[name$=".AccountHeadId"]');
                    selectHead.empty();
                    $.each(item.AccountHeadList, function (index, itemData) {
                        selectHead.append($('<option/>', {
                            value: itemData.id,
                            text: itemData.name,
                        }));
                    });
                    $('#tbodyExpenseList').append(trEleNew);
                }
            });
            $.each(result.DeductionDetail, function (i, item) {
                if (i == 0) {
                    var trEle = $('#tbodyDeductionList tr:first');
                    var amtEle = $(trEle).find('input[name$=".Amount"]');
                    if(item.TDSPercentage == null){
                        amtEle.val('');
                    }else{
                        tds = ttlAdvTax * item.TDSPercentage / 100;
                        amtEle.val(tds);
                    }

                    amtEle.addClass('required');
                    $(trEle).find('input[name$=".AccountGroupId"]').val(item.AccountGroupId);
                    $(trEle).find('input[name$=".DeductionHeadId"]').val(item.DeductionHeadId);
                    $(trEle).find('input[name$=".DeductionHead"]').val(item.DeductionHead);
                    $(trEle).find('input[name$=".AccountGroup"]').val(item.AccountGroup);
                    $(trEle).find('td:nth-child(1)').html(item.AccountGroup);
                    $(trEle).find('td:nth-child(2)').html(item.DeductionHead);
                } else {
                    var trEleNew = $('#tbodyDeductionList tr:first').clone().find('input').val('').end();
                    //$(trEleNew).find("input[name='DeductionDetail.Index']").val(i);
                    $(trEleNew).find("input").each(function () {
                        $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
                        $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                    });
                    $(trEleNew).find("span[data-valmsg-for]").each(function () {
                        $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(/\d+/, i));
                    });
                    var amtEle = $(trEleNew).find('input[name$=".Amount"]');
                    amtEle.addClass('required');
                    if(item.TDSPercentage != null){
                        tds = ttlAdvTax * item.TDSPercentage / 100;
                        amtEle.val(tds);
                    }
                    $(trEleNew).find('input[name$=".AccountGroupId"]').val(item.AccountGroupId);
                    $(trEleNew).find('input[name$=".DeductionHeadId"]').val(item.DeductionHeadId);
                    $(trEleNew).find('input[name$=".DeductionHead"]').val(item.DeductionHead);
                    $(trEleNew).find('input[name$=".AccountGroup"]').val(item.AccountGroup);
                    $(trEleNew).find('td:nth-child(1)').html(item.AccountGroup);
                    $(trEleNew).find('td:nth-child(2)').html(item.DeductionHead);
                    $('#tbodyDeductionList').append(trEleNew);
                }
            });
            //var AllocAmt = $('#txtImprestvalue').val();
            //$("#CreditorAmount").val(AllocAmt);
            $('#NeedUpdateTransDetail').val('false');
            CalculateDeductionTotal();
        },
        error: function (err) {
            console.log("error : " + err);
        }
    });
    //}
    }
    function formSave() {

        var isValid = $('#formIMP').valid();
        if (!isValid)
            return false;
        var doctypevalues = [];
        $('select[name$=".DocumentType"]').each(function (idx, val) { doctypevalues.push($(val).val()); });
        doctypevalues.sort();
        // duplicate check
        for (var k = 1; k < doctypevalues.length; ++k) {
            if (doctypevalues[k] == doctypevalues[k - 1]) {
                $('#alert').html("Selected attachment type already exist. Please select a different attachment type.");
                $('#Validation').modal('toggle');
                return false;
            }
            isValid = true;
        }
        if (isValid)
        $('#formIMP').submit();
    }

</script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FoolProof/mvcfoolproof.unobtrusive.min.js")" type="text/javascript"></script>
