@model IOAS.Models.InstituteSalaryPaymentModel

@{
    ViewBag.Title = "Institute Salary Payment";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}


<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h4><b>Institute Salary Payment</b> </h4>
    </div>
</div>



<div class="row">
    <div class="white-bg ad-navbar">
        <div class="col-md-3 ds-spl-bg">
            <div class="ds-icn">
                @*<i class="ion-ios-calendar-outline"></i>*@

            </div>
            <div class="ds-tt">
                <span>  </span>  <br />
                <span> </span>

            </div>
        </div>
        <div class="col-md-3 ds-spl-bg">
            <div class="ds-icn">
                @*<i class="ion-ios-list-outline "></i>*@
            </div>
        </div>

        <div class="col-md-3 col-md-offset-3">
            <div class="reg-no custom-reg-no">
                <div class="form-group custom-form-group">
                    <label>Number</label>
                    <h4>@Html.DisplayFor(m => m.InstituteSalaryPaymentNo)</h4>
                </div>
            </div>
        </div>
    </div>
</div>





@*<div class="row">

        <div class="white-bg ad-navbar">
            <div class="col-md-3 ds-spl-bg">
            </div>
            <div class="col-md-3 ds-spl-bg">

            </div>
            <div class="col-md-3 col-md-offset-3">
                <div class="reg-no custom-reg-no">
                    <div class="form-group custom-form-group">
                        <label>Number</label>
                        <h4>@Html.DisplayFor(m => m.InstituteSalaryPaymentNo)</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div class="vw-dts-bg">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered mb-null">
                    <thead>
                        <tr>
                            <th colspan="5">Beneficiary Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           
                            <td>
                                <label>Project Number</label>
                                <h4>AC23241814DNICSRDNICSR</h4>
                            </td>
                            <td>
                                <label>Remarks</label>
                                <h4>@Model.Remarks</h4>
                            </td>
                            <td>
                                <label>Date</label>
                                <h4>@Model.MonthYear</h4>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="vw-dts-bg">
        <div class="page-wrapper">
            <div class="col-md-12">
                <h3>Payment Details</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>User Id</td>
                            <td>Type</td>
                            <td>Category</td>
                            <td>Amount</td>


                        </tr>

                        @if (Model.IMS != null)
                        {
                            var count = 0;


                            foreach (var val in Model.IMS)
                            {
                                var ispdname = "InstituteSalaryPaymentDetails[" + count + "].Name";
                                var ispduserid = "InstituteSalaryPaymentDetails[" + count + "].UserId";

                                var ispdtype = "InstituteSalaryPaymentDetails[" + count + "].Type";
                                var ispdcategory = "InstituteSalaryPaymentDetails[" + count + "].Category";
                                var ispdamount = "InstituteSalaryPaymentDetails[" + count + "].Amount";


                                <tr>

                                    <td>

                                        <h4>@val.Name</h4>
                                    </td>
                                    <td>
                                        <h4>@val.UserId</h4>
                                    </td>
                                    <td>
                                        <h4>@val.Type</h4>
                                    </td>
                                    <td>
                                        <h4>@val.Category</h4>
                                    </td>
                                    <td>
                                        <h4>@val.Amount</h4>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        }
                        <tr>
                            <td colspan="4"></td>

                            <td class="reg-no">
                                <label class="lblval">Total Amount</label>
                                <h4 class="tatval">@Model.IMS.Sum(i => i.Amount)</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="vw-dts-bg">
        <div class="page-wrapper">
            <div class="col-md-12">


                <div class="row">
                    <div class="col-md-12">

                        @Html.Partial("_TransactionDetailsView", Model)
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial("_CheckListDetailView", Model.CheckListDetail)
                        <table class="table table-bordered mb-null">
                            <tbody>
                                <tr>

                                    <td>
                                        @Html.HiddenFor(m => m.CheckListVerified_By, new { @disabled = "disabled" })
                                        @Html.HiddenFor(m => m.CheckListVerifierName, new { @disabled = "disabled" })
                                        <label>Verified by</label>
                                        <h4 id="Verified_ByName">@Html.DisplayFor(m => m.CheckListVerifierName)</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial("_DocumentDetailView", Model.DocumentDetail)
                    </div>
                </div>
                <br />

            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#Taxes").hide();
    });
</script>





<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FoolProof/mvcfoolproof.unobtrusive.min.js")" type="text/javascript"></script>


