@model IOAS.Models.OverHeadPaymentProcessModel

@{
    ViewBag.Title = "OverHeadPaymentProcessList";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row hd-tt-bg">
    <div class="col-md-4">
        <h3>OverHead PaymentProcess List</h3>
    </div>
    <div id="addnewpage" class="col-md-8 flt-nav-links">
        @*<a href="Javascript:void(0)" id="btnFilter" class="pull-right"> <i class="ion-android-funnel"></i>Filters</a>*@
        <a href="@Url.Action("OverHeadPaymentProcess")"> <i class="ion-plus"></i>Add New</a>
    </div>
</div>

<div class="row mt30">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-jsgrid-normal">
                    <div id="OHList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popup"></div>



<script>
    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';

    $(document).ready(function () {
        if (succMsg != '') {
            $('#alertSuccess').html(succMsg);
            $('#Success').modal('toggle');
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
    });
    var DateField = function (config) {
        jsGrid.Field.call(this, config);
    };
    DateField.prototype = new jsGrid.Field({
        sorter: function (date1, date2) {
            return new Date(date1) - new Date(date2);
        },

        itemTemplate: function (value) {
            return new Date(value).toDateString();
        },

        filterTemplate: function () {
            var now = new Date();
            this._fromPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() - 1), changeYear: true });
            this._toPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() + 1), changeYear: true });
            return $("<div>").append(this._fromPicker).append(this._toPicker);
        },

        insertTemplate: function (value) {
            return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
        },

        editTemplate: function (value) {
            return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
        },

        insertValue: function () {
            return this._insertPicker.datepicker("getDate").toISOString();
        },

        editValue: function () {
            return this._editPicker.datepicker("getDate").toISOString();
        },

        filterValue: function () {
            return {
                from: this._fromPicker.datepicker("getDate"),
                to: this._toPicker.datepicker("getDate")
            };
        }
    });
    jsGrid.fields.date = DateField;
    var db;

    $("#OHList").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 5,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {

            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    InOHNumber: filter.OHno,
                    InStatus: filter.Status,
                }
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: 'GetOverHeadPaymentProcessList',
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var da = {
                            data: result.OHlist,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }
                });
                return deferred.promise();
            }
        },

        fields: [
            { name: "SlNo", title: "S.No", editing: false, width: 10 },
            { type: "date", name: "Date", title: "Date", editing: false, align: "left", width: 70 },
            { type: "number", name: "Id", title: "Id", visible: false, align: "left" },
            { type: "text", name: "OHno", title: "Payment Number", editing: false, align: "left", width: 70 },
            { type: "text", name: "Category", title: "Category", editing: false, align: "left", width: 70 },
            { type: "text", name: "Bank", title: "Bank", editing: false, align: "left", width: 70 },
            { name: "Amount", title: "Amount", editing: false, align: "left", width: 70 },
            { type: "text", name: "Status", title: "Status", editing: false, align: "left", width: 60 },
             {
                 type: "control", editButton: false, deleteButton: false, title: "Action", width: 80,
                 itemTemplate: function (value, item) {
                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                     if (item.Status == "Active") {
                         statusList = [{ id: "", name: "Select Action" },  { id: "Bank Advice", name: "Bank Advice" }]
                     }

                     var $customSelect = $("<select>")
                         .attr("class", "form-control").prop("selectedIndex", "")

                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {
                             value: itemData.id,
                             text: itemData.name
                         }));
                     });
                     $customSelect.change(function (e) {
                         var selVal = $(this).val();
                         if (selVal == "Bank Advice" && item.Category == "OH Add/OH Posting") {
                         var url = '@Url.Action("OverHeadPosting", "Reports")?Id=' + item.Id;
                         window.location.href = url;
                         }
                         if (selVal == "Bank Advice" && item.Category == "OH Reversal") {
                             var url = '@Url.Action("OHReversalBankAdvice", "Reports")?Id=' + item.Id;
                             window.location.href = url;
                         }
                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });

                     return $result.add($customSelect);
                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }
        ],
    });

    $("#OHList").jsGrid("option", "filtering", false);
    loadDetails();
    function loadDetails() {
        var input = [];
        input = {
            ExOHNumber: null,
        },
        $("#OHList").jsGrid("search", input, pageIndex = 1, pageSize = 5);
    }


</script>

