@model IOAS.Models.NegativeBalanceModel



<div id="prevNegbalHistoryModal" class="modal fade modal-pr-vw" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row hd-tt-bg">
                    <div class="col-md-12">
                        <h4><b>Previous Bill History </b></h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="custom-md-bg">
                    <div class="row">
                        <div class="col-md-12">
                            <h4><b>Previous Bill History </b></h4>
                            <div class="bk-tb-scrl">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Project Number</td>
                                            <td>Start Date</td>
                                            <td>Close Date</td>
                                            <td>Project Cost</td>
                                            @*<td>Status</td>*@
                                            <td>Receipt</td>
                                            <td>Expenditure</td>
                                            <td>Commitment No</td>
                                            <td>Available Balance</td>
                                            <td>Negative Balance</td>
                                            <td>Balance</td>
                                        </tr>


                                        @if (Model.ProjectId > 0)
                                    {
                                        var count = 0;
                                        foreach (var item in Model.PrevNeg)
                                        {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(m => item.ProjectNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => item.StartDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => item.CloseDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => item.ProjCost)
                                                    </td>
                                                    @*<td>
                                    @Html.DisplayFor(m => item.status)
                                </td>*@
                                                    <td>
                                                        @Html.DisplayFor(m => item.Receipt)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => item.Exp)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => item.Commit)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => item.Net)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => item.NegBalance)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => item.Balance)
                                                    </td>
                                                </tr>
                                            count++;

                                        }
                                    }

                                    </tbody>

                                </table>
                            </div>                          
                        </div>
                        <div class="col-md-4 col-md-offset-8">
                            <label><b>Total Amount :</b> </label>
                            <label>@ViewBag.TtlAmt </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
