@model IOAS.Models.SpecialApproval
@{
    /**/

    ViewBag.Title = "SpecialApproval";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}



<div class="row hd-tt-bg" id="addnewpage">
    <div class="col-md-4">
        <h3>SpecialApproval</h3>
    </div>
</div>
@using (Html.BeginForm("SpecialApproval", "CoreAccounts", FormMethod.Post, new { @class = "", role = "form", @id = "formOTHJuniorApp", enctype = "multipart/form-data" }))
{
    <div class="page-wrapper" id="">
        <div class="white-bg">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group custom-form-group">
                        <label>ProjectNumber:</label>
                        @Html.TextBoxFor(m => m.ProjectNumber, new { @class = "form-control" })
                        @*@Html.TextBoxFor(m => m.ProjectNumber, new { @class = "form-control", @id = "ProjectId", @required = "required" })*@
                        @Html.HiddenFor(m => m.ProjectId)
                        
                    </div>
                </div>
            </div>

            <div class="row" id="otherinstitutecopidetail">
                <div id="divotherinstcopiContent">


                    <div id="primaryotherinstcopiDiv">
                        <div class="col-md-12">
                            <div class="form-group custom-form-group">
                                <label>Project Title:</label>
                                @*@Html.TextBox("projecttitle", null, new { @class = "form-control", @id = "projecttitle" })*@

                                <h4 id="projecttitle"></h4>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label>PI Name:</label>
                                <h4 id="piname"></h4>
                                @*@Html.TextBox("piname", null, new { @class = "form-control", @id = "piname" })*@
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label>PI Department:</label>
                                <h4 id="pidepartment"></h4>
                                @*@Html.TextBox("OtherInstituteCoPIName", null, new { @class = "form-control", @id = "OtherinstituteCoPI" })*@

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label>Start Date:</label>
                                <h4 id="startdate"></h4>
                                @*@Html.TextBox("startdate", null, new { @class = "form-control", @id = "startdate" })*@

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label>Closure Date:</label>
                                <h4 id="closureDate"></h4>
                                @*@Html.TextBox("enddate", null, new { @class = "form-control", @id = "enddate" })*@
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label>Project ID:</label>
                                <h4 id="projectid"></h4>
                                @*@Html.TextBox("enddate", null, new { @class = "form-control", @id = "enddate" })*@
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label>Sponsor Agency:</label>
                                <h4 id="sponsoragency"></h4>
                                @*@Html.TextBox("enddate", null, new { @class = "form-control", @id = "enddate" })*@
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label>Project Type</label>
                                <h4 id="projecttype"></h4>
                                @*@Html.TextBox("enddate", null, new { @class = "form-control", @id = "enddate" })*@
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group custom-form-group">
                                <label>Sanction Value:</label>
                                <h4 id="sanctionvalue"></h4>
                                @*@Html.TextBox("sanctionvalue", null, new { @class = "form-control", @id = "sanctionvalue" })*@

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>


        @*end*@

        <div class="white-bg">
            <div class="row">
                <div class="col-md-12">
                    <div id="DocdivContent">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-3 fn-normal">Attachment Type</label>
                                <label class="col-md-3 fn-normal">Attachment Remark </label>
                                <label class="col-md-3 fn-normal">Attachment</label>
                            </div>
                        </div>
                        <div class="m-b-sm row" id="DocprimaryDiv">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.DropDownList("DocType", new SelectList(ViewBag.Docmenttype, "id", "name"), "Select Document Type",
                                    new { @class = "form-control", @id = "doctype" })
                                    @Html.Hidden("Docid")

                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" name="AttachName" id="docname" value="" type="text">

                                </div>
                                <div class="col-md-3">
                                    <input type="file" name="file" id="docfile" />&nbsp;&nbsp;&nbsp;
                                    @Html.ValidationMessageFor(m => m.DocumentRemark)

                                </div>
                                <div class="col-md-2 doclink mt6">
                                    <a href="#" class="link1" target="_blank"></a>
                                    @Html.Hidden("DocPath", "", new { @class = "HiddenDocPath" })
                                    @Html.Hidden("DocName", "", new { @class = "HiddenDocName" })
                                </div>

                                <div class="col-md-1">
                                    <button class="dis-none btn-sm btn btn-danger" type="button" name="removeButton"><i class="ion-android-close"></i></button>
                                </div>
                            </div>
                        </div>                       
                        <div class="row p-b-sm">
                            <div class="col-md-12">
                                <h4 class="text-right">
                                    <button type="button" id="btnAddDoc" class="btn-primary btn pull-left"><i class="ion-android-add"></i>Add</button>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 text-center pd-tb-30">

            @*<input type="submit" class="btn btn-primary mr10" value="Submit" name="Button" id="btnSpaSave" />*@
            <button type="submit" id="btnSave" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-default" onclick="window.location.href='@Url.Action("SpecialApprovalList", "CoreAccounts")';">Close</button>

        </div>
        
    </div>
}

<script>

     applyAutoComplete($('#ProjectNumber'), $('#ProjectId'), '@Url.Action("LoadProjectList","CoreAccounts")', 'ProjectSummary', true);
    $('#btnAddDoc').click(function () {
        var cln = $("#DocprimaryDiv").clone().find("input").val("").end();
        $(cln).find('.dis-none').removeClass('dis-none');
        $(cln).find('.doclink').addClass('dis-none');
        $(cln).insertBefore($('#DocdivContent').find('.p-b-sm'));

    });
    $(document).on('click', '#DocdivContent button[name="removeButton"]', function () {
        $(this).parent().parent("Div").remove();
    });

    $('#ProjectNumber').change(function() {
        var projectnumber = $('#ProjectNumber').val();
        projectnumber = projectnumber.trim();
        if(projectnumber == "")
            $('#ProjectId').val('');
        $("#Appointmentstartdate, #AppointmentEndDate").val('');
    });

    $('#btnSave').click(function (e) {
        e.preventDefault();
        formSave();
    })
    
    function ProjectSummary() {
        var projectId = $("#ProjectId").val();
        if (projectId != "" || projectId != 0) {
            
            $.getJSON("@Url.Action("SAAutoCompleteProjectDetails", "CoreAccounts")", { ProjectId: projectId },
                   function (result) {
                       if (result.projectData.ProjectNumber != null) {
                           $('#sanctionvalue').text(result.projectData.SanctionValue);
                           $('#projecttitle').text(result.projectData.ProjectTitle);
                           $('#piname').text(result.projectData.PIName);                           
                           $('#pidepartment').text(result.projectData.DepartmentName);
                           jsonDate = result.projectData.TentativeStartDate.match(/\d+/);
                           let strDate = new Date(parseInt(jsonDate));
                           strDate = strDate.getDate().toString().padStart(2, '0') + "/" + (strDate.getMonth() + 1).toString().padStart(2, '0') + "/" + strDate.getUTCFullYear()
                           $('#startdate').text(strDate);
                           jsonDate = result.projectData.TentativeCloseDate.match(/\d+/);
                           let EndDate = new Date(parseInt(jsonDate));
                           EndDate = EndDate.getDate().toString().padStart(2, '0') + "/" + (EndDate.getMonth() + 1).toString().padStart(2, '0') + "/" + EndDate.getUTCFullYear()
                           $('#closureDate').text(EndDate);                       
                           ////$('#startdate').text(result.projectData.TentativeStartDate);
                           ////$('#closureDate').text(result.projectData.TentativeCloseDate);
                           $('#projecttype').text(result.projectData.ProjectType);
                           $('#sponsoragency').text(result.projectData.SponsoringAgency);
                           $('#projectid').text(result.projectData.ProjectId);

                       }
                       
                   });
        }
    };
  
      $(document).on('click', '#btnViewSummary', function () {
        var projNo = $('#ProjectId').val() || 0;
        if (projNo > 0) {
            var searchData = { "ProjectId": projNo };
            $.ajax({
                url: "@Url.Action("_ProjectSummary", "CoreAccounts")",
                type: "POST",
                data: searchData,
                contentType: "application/x-www-form-urlencoded",
                beforeSend: function () {
                    $(".loading-bg").removeClass('dis-none');
                },
                success: function (result) {
                    $(".loading-bg").addClass('dis-none');
                    $("#popup").html(result);
                    $("#projectSummaryModal").modal('toggle');
                },
                error: function (err) {
                    console.log("error : " + err);
                }
            });
        }
    });

    
</script>
<link href="@Url.Content("~/Content/IOASContent/assets/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/IOASContent/assets/bootstrap-select/js/bootstrap-select.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FoolProof/mvcfoolproof.unobtrusive.min.js")" type="text/javascript"></script>
