@model IOAS.Models.TemporaryAdvanceModel
@{
    ViewBag.Title = "Temporary Advance Settlement";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}


<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h4><b>Temporary Advance Settlement</b> </h4>
    </div>
</div>

<div class="row">
    <div class="white-bg ad-navbar">
        <div class="col-md-3 ds-spl-bg">
            <div class="ds-icn">
                <i class="ion-ios-list-outline "></i>
            </div>
            <div class="ds-tt">
                <span>Request Reference</span>
                <h4>@Model.SourceName</h4>
                @Html.Hidden("SourceTapalOrWorkflow", "True")
                @Html.HiddenFor(m => m.SourceReferenceNumber)
                @Html.HiddenFor(m => m.Source)
                @Html.HiddenFor(m => m.NeedUpdateTransDetail)
                @Html.HiddenFor(m => m.TemporaryAdvanceId)
                @Html.HiddenFor(m => m.TempAdvSettlId)
                @Html.HiddenFor(m => m.GetADVCommitment_f)
                @Html.HiddenFor(m => m.SubCode)
            </div>
        </div>
        <div class="col-md-3 ds-spl-bg">
            <div class="ds-icn">
                <i class="ion-ios-calendar-outline"></i>
            </div>
            @if (Model.ReferenceNumber != null)
            {
                <div class="ds-tt">
                    <span>Ref Number (WF / Tapal)</span>
                    <span>@Html.DisplayFor(m => m.ReferenceNumber)</span>
                </div>
            }
            @if (Model.SourceEmailDate != null)
            {
                <div class="ds-tt">
                    <span>Email Date</span>
                    <h4>@Html.DisplayFor(m => m.SourceEmail)</h4>
                </div>
            }
        </div>


        <div class="col-md-3 col-md-offset-3">
            <div class="reg-no custom-reg-no">
                <div class="form-group custom-form-group">
                    <label>Number</label>
                    <h4>@Html.DisplayFor(m => m.TempAdvSettlementNumber)</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vw-dts-bg">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered mb-null">
                <thead>
                    <tr>
                        <th colspan="6">Advance Payment Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6">
                            <label>Project</label>
                            <h4>@Model.ProjectTitle</h4>
                            @Html.Hidden("ProjectId")
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>PI</label>
                            <h4>@Model.PIName</h4>
                        </td>
                        <td>
                            <label>Department</label>
                            <h4>@Model.ClaimingDepartment</h4>
                        </td>
                        <td>
                            <label>Name of Receiver</label>
                            <h4>@Model.NameofReceiver</h4>
                        </td>
                        <td>
                            <label>Temporary Advance Number</label>
                            <h4>@Model.TemporaryAdvanceNumber</h4>
                        </td>
                        <td>
                            <label>Source Bank</label>
                            <h4>@Model.BankHeadName</h4>
                        </td>
                        <td>
                            <label>Remarks</label>
                            <h4>@Model.Remarks</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="vw-dts-bg">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_InvoiceBreakUpView", Model.InvoiceBreakDetail)

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <label>Advance Amount</label>
                            <h4>@Model.TemporaryAdvanceValue</h4>
                            @Html.TextBoxFor(m => m.TemporaryAdvanceValue, new { @class = "form-control dis-none", @id = "txtTemporaryAdvanceAmount", @readonly = true })
                        </td>
                        <td>
                            <label>Amount to be recevied </label>
                            <h4 id="lblReceiptAmount"></h4>
                            @Html.TextBoxFor(m => m.ReceiptAmount, new { @class = "form-control dis-none", @onkeypress = "return ValidateDecimalOnly(event)", @readonly = true })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_CommitmentDetailsView", Model.CommitmentDetail)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_TransactionDetailsView", Model)
        </div>
    </div>
  
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_CheckListDetailView", Model.CheckListDetail)
                <table class="table table-bordered mb-null">
                    <tbody>
                        <tr>

                            <td>
                                @Html.HiddenFor(m => m.CheckListVerified_By, new { @disabled = "disabled" })
                                @Html.HiddenFor(m => m.CheckListVerifierName, new { @disabled = "disabled" })
                                <label>Verified by</label>
                                <h4 id="Verified_ByName">@Html.DisplayFor(m => m.CheckListVerifierName)</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
   
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_DocumentDetailView", Model.DocumentDetail)
        </div>
    </div>
</div>

<div class="row">
    @if (Model.PFInit != true)
    {
        <div class="col-md-12 text-center pd-tb-30">

            <input type="button" onclick="window.location.href='@Url.Action("TemporaryAdvanceSettlementList", "CoreAccounts")';" class="btn btn-default" value="Close" id="btnclose" />
        </div>
    }
    else
    {
        <div class="col-md-12 text-center pd-tb-30">

            <input type="button" onclick="window.location.href='@Url.Action("Dashboard", "Home")';" class="btn btn-default" value="Close" id="btnclose" />
        </div>
    }
</div>


@Html.AntiForgeryToken()
<div id="popup"></div>
<input type="hidden" id="currentRefId" value="@Model.TempAdvSettlId" />
<input type="hidden" id="processGuideLineId" value="@ViewBag.processGuideLineId" />
@Html.Partial("_ProcessStatus")
<script>

    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    $('#TravelToDate, #TravelFromDate').datepicker({ minDate: 0, dateFormat: 'dd-MM-yy', changeYear: true });
    $('#SourceEmailDate, #srchFromDate, #srchToDate,#InvoiceDate,#PODate').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true });
    $('#srchToDate').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true }).datepicker("setDate", "0");
    var defaultFromDate = moment(new Date()).add(-10, 'days').toDate();
    $('#srchFromDate').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true }).datepicker("setDate", defaultFromDate);
    $(document).ready(function () {
        $('#btnAddExpense').addClass('dis-none');
        $('#btnReset').removeClass('dis-none');
        if (succMsg != '') {
            $('#alertSuccess').html(succMsg);
            $('#Success').modal('toggle');
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
        $('.selectpicker').selectpicker({
            liveSearch: true
        });
        var selSource = $('#Source').val();
        $("#divRefNum, #divRefEmailDate").addClass('dis-none');
        if (selSource == '1') {
            applyAutoComplete($('#ReferenceNumber'), $('#SourceReferenceNumber'), "@Url.Action("GetACWorkflowRefNumber", "Proposal")");
            $("#divRefNum").removeClass('dis-none');
        } else if (selSource == '3') {
            applyAutoComplete($('#ReferenceNumber'), $('#SourceReferenceNumber'), "@Url.Action("GetACTapalRefNumber", "Proposal")");
            $("#divRefNum").removeClass('dis-none');
        }
        else if (selSource == '2') {
            $('#divRefEmailDate').removeClass('dis-none');
        } else {
            $("#divRefNum").removeClass('dis-none');
        }
        var receivername =  $('#txtReceiverName').val();
        $('#lblVendorName').html(receivername)
        calculatetotalamount();
        CalculateDeductionTotal();

        if($('#TempAdvSettlId').val() || 0 != 0){
            $('#GetADVCommitment_f').val('false');
        }
        var payAmt = parseFloat($('#PaymentAmount').val()) || 0;
        var recAmt = parseFloat($('#ReceiptAmount').val()) || 0;
        if( payAmt > 0){
            CalculatePaymentValue();
        }else if(recAmt > 0){
            CalculateReversedAmount();
            CalculatePaymentValue();
        }else{
            $('#CommitmentAmount').val('0');
        }
        $('#NeedUpdateTransDetail').val('false');
    });
    $(document).on('click', 'a.removeTempAdvance', function () {
        $(this).closest('tr').remove();
        calculatetotalamount();
    });
    $('#btnAddTempAdv').click(function () {
        var cln = $('#tempAdvance tr:first').clone().find("input,select").val("").end();
        $(cln).find('a.dis-none').removeClass('dis-none');
        //$(cln).find('td.tdDDLTraveler').removeClass('dis-none');
        //$(cln).find('td.tdTxtTraveler').addClass('dis-none');
        $('#tempAdvance').append(cln);
    });
    $('#Source').change(function () {
        var selSource = $(this).val();
        $("#SourceReferenceNumber,#ReferenceNumber").val('');
        $("#divRefNum, #divRefEmailDate").addClass('dis-none');
        $("#SourceTapalOrWorkflow").val('False');
        if (selSource == '1') {
            applyAutoComplete($('#ReferenceNumber'), $('#SourceReferenceNumber'), "@Url.Action("GetACWorkflowRefNumber", "Proposal")");
            $("#divRefNum").removeClass('dis-none');
            $("#SourceTapalOrWorkflow").val('True');
        } else if (selSource == '3') {
            applyAutoComplete($('#ReferenceNumber'), $('#SourceReferenceNumber'), "@Url.Action("GetACTapalRefNumber", "Proposal")");
            $("#divRefNum").removeClass('dis-none');
            $("#SourceTapalOrWorkflow").val('True');
        }
        else if (selSource == '2') {
            $('#divRefEmailDate').removeClass('dis-none');
            $("#SourceTapalOrWorkflow").val('False');
        } else {
            $("#divRefNum").removeClass('dis-none');
            $("#SourceTapalOrWorkflow").val('True');
        }
    });



    function parseDate(s) {
        var months = {
            january: 0, february: 1, march: 2, april: 3, may: 4, june: 5,
            july: 6, august: 7, september: 8, october: 9, november: 10, december: 11
        };
        var p = s.split('-');
        return new Date(p[2], months[p[1].toLowerCase()], p[0]);
    }



    function calculateamount() {
        var rate = [];
        var quantity = [];
        var amount = [];

        $('input[name="RateofItem"]').each(function (idx, val) { rate.push($(val).val()); });
        $('input[name="QuantityofItem"]').each(function (idx, val) { quantity.push($(val).val()); });

        rate.sort();
        quantity.sort();
        //alert(oldallocatevalue);
        $.each(rate, function (i, val) {

            if (i == 0) {

                var txtrateValue = document.getElementsByName('RateofItem')[0].value;
                var txtquantityValue = document.getElementsByName('QuantityofItem')[0].value;
                var result = parseInt(txtrateValue) * parseInt(txtquantityValue);
                if (!isNaN(result)) {
                    document.getElementsByName('AmountofItem')[0].value = result;
                }

            } else {

                var txtrateValue = document.getElementsByName('RateofItem')[i].value;
                var txtquantityValue = document.getElementsByName('QuantityofItem')[i].value;
                var result = parseInt(txtrateValue) * parseInt(txtquantityValue);
                if (!isNaN(result)) {
                    document.getElementsByName('AmountofItem')[i].value = result;
                }
            }
        });
        $.each(quantity, function (i, val) {
            if (i == 0) {

                var txtrateValue = document.getElementsByName('RateofItem')[0].value;
                var txtquantityValue = document.getElementsByName('QuantityofItem')[0].value;
                if(txtrateValue != "" && txtquantityValue != "")
                {
                    var result = parseInt(txtrateValue) * parseInt(txtquantityValue);
                }
                else
                {
                    var result = 0;
                }

                if (!isNaN(result)) {
                    document.getElementsByName('AmountofItem')[0].value = result;
                }

            } else {

                var txtrateValue = document.getElementsByName('RateofItem')[i].value;
                var txtquantityValue = document.getElementsByName('QuantityofItem')[i].value;
                if(txtrateValue != "" && txtquantityValue != "")
                {
                    var result = parseInt(txtrateValue) * parseInt(txtquantityValue);
                }
                else
                {
                    var result = 0;
                }
                if (!isNaN(result)) {
                    document.getElementsByName('AmountofItem')[i].value = result;
                }
            }
        });
    }
    function calcReceiptorPaymentamt() {

        var advamt = parseFloat($("#txtTemporaryAdvanceAmount").val()) || 0;
        var billamt = parseFloat($("#txtTotalbillAmount").val()) ||0;
        if(advamt > billamt)
        {
            var receiptamt = advamt - billamt
            $("#ReceiptAmount").val(receiptamt.toFixed(2));
            $("#lblReceiptAmount").text(receiptamt.toFixed(2));
            $("#PaymentAmount").val(0);
            $("#divRecevied").removeClass("dis-none");
            $("#divPayment").addClass("dis-none");

        }
        else if (billamt > advamt)
        {
            var payamt = billamt - advamt
            $("#PaymentAmount").val(payamt.toFixed(2));
            $("#ReceiptAmount").val(0);
            $("#divRecevied").addClass("dis-none");
            $("#divPayment").removeClass("dis-none");

        }else{
            $("#divRecevied,#divPayment").addClass("dis-none");
        }
    }
    function calculatetotalamount() {
        $('#GetADVCommitment_f').val('true');
        $('#NeedUpdateTransDetail').val('true');
        var total = 0;
        $('input[name="AmountofItem"]').each(function (idx, ele) {
            var amtofitem = parseFloat($(this).val()) || 0;
            total += amtofitem;
        });
        $("#txtTotalbillAmount").val(total.toFixed(2));
        calcReceiptorPaymentamt();
    }
    $('#AdvanceValue, #AdvanceValue, #NoOfTraveller').on("copy cut paste drop", function () {
        return false;
    });

    $('#txtPI').change(function () {
        $('#NeedUpdateTransDetail').val('True');
        var PIID = $(this).val();
        $.getJSON("@Url.Action("LoadPIProject", "CoreAccounts")", { PIId: PIID },
                    function (locationdata) {
                        var select = $("#selectproject");
                        select.empty();

                        $.each(locationdata, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.id,
                                text: itemData.name
                            }));
                            $('#txtReceiverName').val(itemData.code);
                            $('#txtClaimingDept').val(itemData.pidepartment);
                        });
                        select.selectpicker('refresh');
                    });

    });

    $('#selectproject').change(function () {
        $('#NeedUpdateTransDetail').val('True');
        var projectid = $(this).val();
        $.getJSON("@Url.Action("LoadProjectDetails", "CoreAccounts")", { ProjectId: projectid },
                   function (locationdata) {
                       if(locationdata.ProjectType == "Sponsored")
                       {
                           $("#txtprojecttype").val(locationdata.ProjectType + " - " + locationdata.SponProjectCategory + " - " + locationdata.SponSchemeName);
                       }
                       if(locationdata.ProjectType == "Consultancy")
                       {
                           $("#txtprojecttype").val(locationdata.ProjectType + " - " + locationdata.ConsFundingCategory);
                       }

                   });
        $.getJSON("@Url.Action("LoadAdvanceDetails", "CoreAccounts")", { ProjectId: projectid },
                    function (locationdata) {
                        var pendingamount = 0;
                        var i = 0;
                        if (locationdata.length == 0)
                        {
                            $("#txtPendingSettlementamt").val(0);
                            $("#txtNoofUnsettledAdv").val(0);
                            $("#txtPendingSettlementAdvNum").val('Nil');
                            $("#Pendsettlemntnos").find('a').addClass('dis-none');
                        }
                        if (locationdata.length == 1)
                        {
                            $.each(locationdata, function (index, itemData) {
                                pendingamount += parseFloat(itemData.amount);
                                $("#txtPendingSettlementamt").val(pendingamount.toFixed(0));
                                $("#txtNoofUnsettledAdv").val(itemData.count);
                                $("#txtPendingSettlementAdvNum").val(locationdata[0].name);
                                i++
                            });
                            $("#Pendsettlemntnos").find('a.dis-none').removeClass('dis-none');
                        }
                        if(locationdata.length >= 2)
                        {
                            $.each(locationdata, function (index, itemData) {
                                pendingamount += parseFloat(itemData.amount);
                                $("#txtPendingSettlementamt").val(pendingamount.toFixed(0));
                                $("#txtNoofUnsettledAdv").val(itemData.count);
                                $("#txtPendingSettlementAdvNum").val(locationdata[0].name + ", " + locationdata[1].name);
                                i++
                            });
                            $("#Pendsettlemntnos").find('a.dis-none').removeClass('dis-none');
                            $('#MsgValidation').html("There are two or more settlements pending for Temporary Advance got earlier for the selected project. Please do atleast one settlement to proceed with next Temporary Advance");
                            $('#ValidationModal').modal('toggle');
                            return false;
                        }
                    });
        var token = $("input[name=__RequestVerificationToken]").val();
        var searchdata = { "__RequestVerificationToken": token, "Projectid": projectid, };
        $.ajax({
            url: '@Url.Action("_PendingSettlementDetails", "CoreAccounts")?projectid=' + projectid,
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            data: searchdata,
            success: function (data) {
                $("#gridViewDetailsdata").html(data);
                // $('#ViewDetailsModal').css("display", "none");
            }
        });
    });

    function fillMasterDropDown(ele, data, fillDafaultText,valueAsName) {
        if (fillDafaultText !== undefined) {
            ele.append($('<option/>', {
                value: '',
                text: 'Select any',
            }));
        }
        if(valueAsName !== undefined) {
            $.each(data, function (index, itemData) {
                ele.append($('<option/>', {
                    value: itemData.name,
                    text: itemData.name,
                }));
            });
        }else{
            $.each(data, function (index, itemData) {
                ele.append($('<option/>', {
                    value: itemData.id,
                    text: itemData.name,
                }));
            });
        }
    }
    function GetTransactionDetails() {
        var subcode = $('#SubCode').val();
        EmptyExpenseDeductionDetails();
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetTempAdvTransactionDetails", "CoreAccounts")",
            data: { "typeCode": "TMS","tSubCode" : subcode },
            traditional: true,
            dataType: "json",
            success: function (result) {
                $.each(result.ExpenseDetail, function (i, item) {
                    if (i == 0) {
                        var trEle = $('#tbodyExpenseList tr:first');
                        $(trEle).find('input[name$=".Amount"]').val('');
                        $(trEle).find('input[name$=".TransactionType"]').val(item.TransactionType);
                        $(trEle).find('#lblTransType').text(item.TransactionType);
                        $(trEle).find('input[name$=".IsJV"]').val(item.IsJV);
                        $(trEle).find("input[name='ExpenseDetail.Index']").val(i);

                        var selectGroup = $(trEle).find('select[name$=".AccountGroupId"]');
                        selectGroup.empty();
                        $.each(item.AccountGroupList, function (index, itemData) {
                            selectGroup.append($('<option/>', {
                                value: itemData.id,
                                text: itemData.name,
                            }));
                        });

                        var selectHead = $(trEle).find('select[name$=".AccountHeadId"]');
                        selectHead.empty();
                        $.each(item.AccountHeadList, function (index, itemData) {
                            selectHead.append($('<option/>', {
                                value: itemData.id,
                                text: itemData.name,
                            }));
                        });
                    } else {
                        var trEleNew = $('#tbodyExpenseList tr:first').clone().find('input').val('').end();
                        $(trEleNew).find('input[name$=".Amount"]').val('');
                        $(trEleNew).find("input[name='ExpenseDetail.Index']").val(i);
                        $(trEleNew).find('input[name$=".TransactionType"]').val(item.TransactionType);
                        $(trEleNew).find('input[name$=".IsJV"]').val(item.IsJV);
                        $(trEleNew).find('#lblTransType').text(item.TransactionType);
                        $(trEleNew).find("input,Select").each(function () {
                            $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
                            $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                        });
                        $(trEleNew).find("span[data-valmsg-for]").each(function () {
                            $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(/\d+/, i));
                        });

                        var selectGroup = $(trEleNew).find('select[name$=".AccountGroupId"]');
                        selectGroup.empty();
                        $.each(item.AccountGroupList, function (index, itemData) {
                            selectGroup.append($('<option/>', {
                                value: itemData.id,
                                text: itemData.name,
                            }));
                        });

                        var selectHead = $(trEleNew).find('select[name$=".AccountHeadId"]');
                        selectHead.empty();
                        $.each(item.AccountHeadList, function (index, itemData) {
                            selectHead.append($('<option/>', {
                                value: itemData.id,
                                text: itemData.name,
                            }));
                        });
                        $('#tbodyExpenseList').append(trEleNew);
                    }
                });
                $.each(result.DeductionDetail, function (i, item) {
                    if (i == 0) {
                        var trEle = $('#tbodyDeductionList tr:first');
                        var amtEle = $(trEle).find('input[name$=".Amount"]');
                        if(item.TDSPercentage == null){
                            amtEle.val('');
                        }else{
                            tds = ttlAdvTax * item.TDSPercentage / 100;
                            amtEle.val(tds);
                        }

                        amtEle.addClass('required');
                        $(trEle).find('input[name$=".AccountGroupId"]').val(item.AccountGroupId);
                        $(trEle).find('input[name$=".DeductionHeadId"]').val(item.DeductionHeadId);
                        $(trEle).find('input[name$=".DeductionHead"]').val(item.DeductionHead);
                        $(trEle).find('input[name$=".AccountGroup"]').val(item.AccountGroup);
                        $(trEle).find('td:nth-child(1)').html(item.AccountGroup);
                        $(trEle).find('td:nth-child(2)').html(item.DeductionHead);
                    } else {
                        var trEleNew = $('#tbodyDeductionList tr:first').clone().find('input').val('').end();
                        //$(trEleNew).find("input[name='DeductionDetail.Index']").val(i);
                        $(trEleNew).find("input").each(function () {
                            $(this).attr("name", $(this).attr("name").replace(/\d+/, i));
                            $(this).attr("id", $(this).attr("id").replace(/\d+/, i));
                        });
                        $(trEleNew).find("span[data-valmsg-for]").each(function () {
                            $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(/\d+/, i));
                        });
                        var amtEle = $(trEleNew).find('input[name$=".Amount"]');
                        amtEle.addClass('required');
                        if(item.TDSPercentage != null){
                            tds = ttlAdvTax * item.TDSPercentage / 100;
                            amtEle.val(tds);
                        }
                        $(trEleNew).find('input[name$=".AccountGroupId"]').val(item.AccountGroupId);
                        $(trEleNew).find('input[name$=".DeductionHeadId"]').val(item.DeductionHeadId);
                        $(trEleNew).find('input[name$=".DeductionHead"]').val(item.DeductionHead);
                        $(trEleNew).find('input[name$=".AccountGroup"]').val(item.AccountGroup);
                        $(trEleNew).find('td:nth-child(1)').html(item.AccountGroup);
                        $(trEleNew).find('td:nth-child(2)').html(item.DeductionHead);
                        $('#tbodyDeductionList').append(trEleNew);
                    }
                });
                $('#NeedUpdateTransDetail').val('false');
                CalculateDeductionTotal();
            },
            error: function (err) {
                console.log("error : " + err);
            }
        });
        //}
    }

    function AddNewExpense(){
        var subcode = $('#SubCode').val();
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAddNewExpenseDetails", "CoreAccounts")",
            data: { "typeCode": "TMS","tSubCode" : subcode},
            traditional: true,
            dataType: "json",
            success: function (result) {
                $.each(result.ExpenseDetail, function (i, item) {
                    var cln = $('#tbodyExpenseList tr:first').clone().find("select,input").val("").end();
                    $(cln).find('a.dis-none').removeClass('dis-none');
                    var index = $('#tbodyExpenseList tr:last').find("input[name='ExpenseDetail.Index']").val();
                    index = parseInt(index) + 1;
                    $(cln).find("input[name='ExpenseDetail.Index']").val(index);
                    $(cln).find('input[name$=".TransactionType"]').val(item.TransactionType);
                    $(cln).find('input[name$=".IsJV"]').val(item.IsJV);
                    $(cln).find('#lblTransType').text(item.TransactionType);
                    $(cln).find("input, select").each(function () {
                        $(this).attr("name", $(this).attr("name").replace(/\d+/, index));
                        $(this).attr("id", $(this).attr("id").replace(/\d+/, index));
                    });
                    $(cln).find("span[data-valmsg-for]").each(function () {
                        $(this).attr("data-valmsg-for", $(this).attr("data-valmsg-for").replace(/\d+/, index));
                    });

                    var selectGroup = $(cln).find("select[name$='.AccountGroupId']");
                    selectGroup.empty();
                    $.each(item.AccountGroupList, function (index, itemData) {
                        selectGroup.append($('<option/>', {
                            value: itemData.id,
                            text: itemData.name,
                        }));
                    });

                    var selectHead = $(cln).find("select[name$='.AccountHeadId']");
                    selectHead.empty();
                    $.each(item.AccountHeadList, function (index, itemData) {
                        selectHead.append($('<option/>', {
                            value: itemData.id,
                            text: itemData.name,
                        }));
                    });
                    $('#tbodyExpenseList').append(cln);
                });
            },
            error: function (err) {
                console.log("error : " + err);
            }
        });
    }

    $('#CreditorAmount, #ExpenseAmount, input[name $=".PaymentAmount"], input[name $=".Quantity"], input[name $=".TotalAmount"], input[name $=".Amount"], #ttlCr, #ttlDr').on("copy cut paste drop", function () {
        return false;
    });

    function ValidateCommitment() {
        var msg = 'valid';
        var commitmentAmt = parseFloat($('#CommitmentAmount').val()) || 0;
        var ttlAdvAmt = parseFloat($('#txtTemporaryAdvanceAmount').val()) || 0;
        var billAmt = parseFloat($('#txtTotalbillAmount').val()) || 0;
        var balAdvAmt = 0, balBillAmt = 0;

        if(ttlAdvAmt < billAmt)
        {
            $("#tbodyCommitmentSelList tr").each(function(){
                var elePayment = $(this).find("input[name$='.PaymentAmount']");
                var eleAvlBal = $(this).find('input[name$=".AvailableAmount"]');
                var parseVal = parseFloat($(elePayment).val()) || 0;
                var avlBal = parseFloat($(eleAvlBal).val()) || 0;
                if (parseVal > avlBal)
                    msg = "Commitment payment value should not be greater than available balance."
            });
            //balBillAmt  = billAmt - ttlAdvAmt;
            $('#CreditorAmount').val(billAmt);
            if (balBillAmt != commitmentAmt) {
                msg = 'There is a mismatch between the payment value and allocated commitment value. Please update the value to continue.';
            }
        }
        else if(ttlAdvAmt > billAmt)
        {
            $("#tbodyCommitmentSelList tr").each(function(){
                var elePayment = $(this).find("input[name$='.PaymentAmount']");
                var eleAvlBal = $(this).find('input[name$=".ReversedAmount"]');
                var parseVal = parseFloat($(elePayment).val()) || 0;
                var avlBal = parseFloat($(eleAvlBal).val()) || 0;
                if (parseVal < avlBal)
                    msg = "Commitment reversed value should not be less than booked value.";
            });
            //var balAmt = ttlAdvAmt - billAmt;
            $('#CreditorAmount').val(ttlAdvAmt);
            if (balAmt != commitmentAmt) {
                msg = 'There is a mismatch between amount to be recevied and allocated commitment value. Please update the value to continue.';
            }
        }else{
            $('#CreditorAmount,input[name="CreditAmount"],input[name="DebitAmount"]').val('0');
        }

        return msg;
    }
    function ValidateTransaction() {
        var msg = 'valid';
        var netCrAmt = parseFloat($('#CreditorAmount').val()) || 0;
        var commitmentAmt = parseFloat($('#CommitmentAmount').val()) || 0;
        var ttlAdvAmt = parseFloat($('#txtTemporaryAdvanceAmount').val()) || 0;
        var billAmt = parseFloat($('#txtTotalbillAmount').val()) || 0;
        var ttlExpAmt = parseFloat($('#ExpenseAmount').val()) || 0;
        var ttldeductAmt = parseFloat($('#DeductionAmount').val()) || 0;
        var netDrAmt = ttlExpAmt + ttldeductAmt;
        var crAmt = parseFloat($('#ttlCr').val()) || 0;

        if(netCrAmt != netDrAmt || netCrAmt != crAmt) {
            msg = 'Not a valid entry. Credit and Debit value are not equal.';
        }
        if (ttlAdvAmt < billAmt && crAmt != billAmt ) {
            msg = 'There is a mismatch between bill value and transaction value. Please update the value to continue.';
        }
        if (ttlAdvAmt > billAmt && crAmt != ttlAdvAmt) {
            msg = 'There is a mismatch between bill value and transaction value. Please update the value to continue.';
        }
        var hdList = [];
        $('#tbodyExpenseList tr').find('select[name$=".AccountHeadId"]').each(function (idx, val) { hdList.push($(val).val()); });
        hdList.sort();
        // duplicate check
        for (var k = 1; k < hdList.length; ++k) {
            if (hdList[k] == hdList[k - 1]) {
                msg = "Duplicate account head exist in expense details. Please select a different head.";
            }
        }
        return msg;
    }

    function getAdvCommitment(id,receipt){
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetTemporaryADVCommitmentDetails", "CoreAccounts")",
            data: { "temporaryAdvanceId": id},
            dataType: "json",
            success: function (result) {
                fillCommitmentSrchAndSel(result,receipt);
            },
            error: function (err) {
                console.log("error : " + err);
            }
        });
    }
    CalculatePaymentValue();
</script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FoolProof/mvcfoolproof.unobtrusive.min.js")" type="text/javascript"></script>
