@model IOAS.Models.ProjectionModel
<div class="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#mainSalaryProjection-content">Main Salary</a></li>
                <li><a data-toggle="tab" href="#supSalaryProjection-content">Supplementary Salary</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div id="mainSalaryProjection-content" class="tab-pane fade in active">
            <div class="col-md-12">
                <div class="bl-lg-panel-box pb-null">
                    <div class="cmn-panel-box">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="grey-bg-adj bc-td-bg mb-lg">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="bk-tb-scrl">
                                                        <table class="table table-bordered mb-null" id="employeedetails">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Month</td>
                                                                    <td>Cons.Pay</td>
                                                                    <td>Misc.Pay</td>
                                                                    <td>Medical Insurance</td>
                                                                    <td>HRA</td>
                                                                    <td>Total</td>
                                                                    <td>I.T</td>
                                                                    <td>Medical Recovery</td>
                                                                    <td>Misc.Recovery</td>
                                                                    <td>Medical Insurance</td>
                                                                    <td>Prof.Tax</td>
                                                                    <td>LLP</td>
                                                                    <td>Total Deduction</td>
                                                                    <td>Net Pay</td>
                                                                    <td>Other Pay</td>
                                                                    <td>Remarks</td>
                                                                    <td>Verified By</td>
                                                                </tr>
                                                                @if (Model.SalaryDet != null)
                                                            {
                                                                var count = 0;
                                                                foreach (var item in Model.SalaryDet)
                                                                {

                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(m => item.MonthandYear)

                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.BasicSalary)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(m => item.MiscPay)
                                                                </td>

                                                                <td>

                                                                    @Html.DisplayFor(m => item.MA)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.HRA)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.GrossSalary)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.IncomeTax)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.MedicalRecovery)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(m => item.MiscRecovery)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.MA)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.PF)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(m => item.LLP)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.TotalDeduction)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.GrossTotal)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(m => item.OtherPay)
                                                                </td>
                                                                <td>@Html.DisplayFor(m => item.Remarks)</td>
                                                                <td>@Html.DisplayFor(m => item.VerifiedBy)</td>
                                                            </tr>
                                                                    count++;

                                                                }
                                                            }
                                                            </tbody>

                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="supSalaryProjection-content" class="tab-pane fade">
            <div class="col-md-12">
                <div class="bl-lg-panel-box pb-null">
                    <div class="cmn-panel-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="grey-bg-adj bc-td-bg mb-lg">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="bk-tb-scrl">
                                                        <table class="table table-bordered mb-null" id="employeedetails">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Month</td>
                                                                    <td>Cons.Pay</td>
                                                                    <td>Misc.Pay</td>
                                                                    <td>Medical Insurance</td>
                                                                    <td>HRA</td>
                                                                    <td>Total</td>
                                                                    <td>I.T</td>
                                                                    <td>Medical Recovery</td>
                                                                    <td>Misc.Recovery</td>
                                                                    <td>Medical Insurance</td>
                                                                    <td>Prof.Tax</td>
                                                                    <td>LLP</td>
                                                                    <td>Total Deduction</td>
                                                                    <td>Net Pay</td>
                                                                    <td>Other Pay</td>
                                                                    <td>Remarks</td>
                                                                    <td>Verified By</td>
                                                                </tr>
                                                                @if (Model.SupplemSalaryDet != null)
                                                            {
                                                                var count = 0;
                                                                foreach (var item in Model.SupplemSalaryDet)
                                                                {

                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(m => item.MonthandYear)

                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.BasicSalary)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(m => item.MiscPay)
                                                                </td>

                                                                <td>

                                                                    @Html.DisplayFor(m => item.MA)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.HRA)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.GrossSalary)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.IncomeTax)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(m => item.MedicalRecovery)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(m => item.MiscRecovery)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.MA)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.PF)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(m => item.LLP)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.TotalDeduction)
                                                                </td>
                                                                <td>

                                                                    @Html.DisplayFor(m => item.GrossTotal)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(m => item.OtherPay)
                                                                </td>
                                                                <td>@Html.DisplayFor(m => item.Remarks)</td>
                                                                <td>@Html.DisplayFor(m => item.VerifiedBy)</td>
                                                            </tr>
                                                                    count++;

                                                                }
                                                            }
                                                            </tbody>

                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>