@model IOAS.Models.AnnouncementMasterModel
<div class="cust-tab row" style="display:none;">
    <div class="page-wrapper mt30">
        <div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12" id="divCommonWiseSelectlist">
                        <div class="bl-lg-panel-box pb-null">
                            <div class="cmn-panel-box">
                                <div class="row ">
                                    <div class="col-md-4">
                                        <div class="form-group custom-form-group">
                                            <label class="required">Announcement Title</label>
                                            <br>
                                            @Html.DisplayFor(M => M.AnnouncementTitle)
                                        </div>
                                    </div>
                                    @*<div class="col-md-4">
                                            <div class="form-group custom-form-group">
                                                <label class="required">Announcement </label>
                                                <br>

                                                @Html.DisplayFor(M => M.AnnouncementType)
                                            </div>
                                        </div>*@
                                    <div class="col-md-4">
                                        <div class="form-group custom-form-group">
                                            <label class="required">Announcement Category</label>
                                            @Html.DisplayFor(M => M.AnnouncementCategory)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group custom-form-group">
                                            <label class="required">DA Comments  </label>
                                            <br>
                                            @Html.DisplayFor(M => M.DAComments)
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-4">
                                        <div class="form-group custom-form-group">
                                            <label>Mode of request</label><br>
                                            @Html.DisplayFor(m => Model.ModeOfRequest)
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group custom-form-group">
                                            <label>Requested By</label><br>
                                            @Html.DisplayFor(m => Model.AnnouncementRequestBy)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group custom-form-group">
                                            <label class="required">Request Receive Date  </label>
                                            <br>
                                            @Html.DisplayFor(M => M.strRequestReceiveDate)
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group custom-form-group  ">
                                            <label class="required">Announcement Closure Date</label>
                                            <br>
                                            @Html.DisplayFor(M => M.strAnnouncementClosureDate)
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group custom-form-group  ">
                                            <label class="required">Announcement Publish</label> <br>
                                            @if (Model.Naukri)
                                            {
                                                @Html.CheckBox("isNaukriView", true, new { @Disabled = "Disabled" })@:&nbsp; Naukri<br>
                                            }
                                            else
                                            {
                                                @Html.CheckBox("isNaukriView", false, new { @Disabled = "Disabled" })@:&nbsp; Naukri<br>
                                            }
                                            @if (Model.indeed)
                                            {
                                                @Html.CheckBox("isindeedView", true, new { @Disabled = "Disabled" })@:&nbsp; indeed<br>
                                            }
                                            else
                                            {
                                                @Html.CheckBox("isindeedView", false, new { @Disabled = "Disabled" })@:&nbsp; indeed<br>
                                            }

                                            @if (Model.linkedin)
                                            {
                                                @Html.CheckBox("islinkedinView", true, new { @Disabled = "Disabled" })@:&nbsp; linkedin<br>
                                            }
                                            else
                                            {
                                                @Html.CheckBox("islinkedinView", false, new { @Disabled = "Disabled" })@:&nbsp; linkedin<br>
                                            }
                                            @if (Model.Recruitmentportal)
                                            {
                                                @Html.CheckBox("isRecruitmentportalView", true, new { @Disabled = "Disabled" })@:&nbsp; Recruitment portal <br>
                                            }
                                            else
                                            {
                                                @Html.CheckBox("isRecruitmentportalView", false, new { @Disabled = "Disabled" })@:&nbsp; Recruitment portal <br>
                                            }
                                            @if (Model.Others)
                                            {
                                                @Html.CheckBox("isOthersView", true, new { @Disabled = "Disabled" })@:&nbsp; Others<br>
                                            }
                                            else
                                            {
                                                @Html.CheckBox("isOthersView", false, new { @Disabled = "Disabled" })@:&nbsp; Others<br>
                                            }

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group custom-form-group">
                                            <label class="required">Interview Held Date </label>
                                            <br>
                                            @Html.DisplayFor(M => M.strInterviewDate)
                                        </div>
                                    </div>
                                    @*<div class="col-md-4">
                                            <div class="form-group custom-form-group ">
                                                <label class="required">Offer letter Generation date </label>
                                                <br>
                                                @if (Model.StatusID == 10)
                                                {
                                                    @Html.EditorFor(m => m.OfferletterGenerationdate, new { @class = "form-control cm-dt-fd", @id = "OfferletterGenerationdate", @autocomplete = "off", @readonly = true })
                                                    <div class="txt-error txt-red">@Html.ValidationMessageFor(M => M.OfferletterGenerationdate)</div>
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(m => m.strOfferletterGenerationdate)
                                                }
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" id="divProjectWiseSelectlist" style="display:none">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bl-lg-panel-box pb-null">
                            <div class="cmn-panel-box">
                                <div class="grey-bg-adj mb-lg">
                                    <div class="row rc-tb-scrl">
                                        <div class="col-md-12">
                                            <table class="table alter-table mb-null scrl-table" id="tblSelectedCanditate">
                                                <thead>
                                                    <tr>
                                                        <th style="width:200px;">Designation Code</th>
                                                        <th>Designation</th>
                                                        <th>Project Number</th>
                                                        <th style="width:130px;">Vacancies </th>
                                                        <th>Qualification / Experience</th>
                                                        <th>Pay Range</th>
                                                        <th>Selected Applicants</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.AnnouncementID > 0 && Model.StatusID == 10)
                                                    {
                                                        for (int i = 0; i < Model.DesignationDetails.Count; i++)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.TextBoxFor(m => Model.DesignationDetails[i].DesignationCode, new { @class = "form-control", @id = "DesignationCode_" + i, @autocomplete = "off", @Disabled = "Disabled" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(m => Model.DesignationDetails[i].Designation, new { @class = "form-control", @id = "Designation_" + i, @autocomplete = "off", @Disabled = "Disabled" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(m => Model.DesignationDetails[i].ProjectNumber, new { @class = "form-control", @id = "ProjectNumber_" + i, @autocomplete = "off", @Disabled = "Disabled" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(m => m.DesignationDetails[i].Vacancies, new { @class = "form-control", @id = "Vacancies_" + i, @autocomplete = "off", @onkeypress = "return isNumberKey(event)", @Disabled = "Disabled" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextAreaFor(m => m.DesignationDetails[i].Qualification, new { @class = "form-control", @id = "Qualification_" + i, @autocomplete = "off", @Disabled = "Disabled" })
                                                                </td>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="mr-sm">Minimum @Html.TextBoxFor(m => m.DesignationDetails[i].MinSalary, new { @class = "form-control", @id = "MinSalary_" + i, @autocomplete = "off", @onkeypress = "return isNumberKey(event)", @Disabled = "Disabled" })</td>
                                                                                <td>Maximum @Html.TextBoxFor(m => m.DesignationDetails[i].MaxSalary, new { @class = "form-control", @id = "MaxSalary_" + i, @autocomplete = "off", @onkeypress = "return isNumberKey(event)", @Disabled = "Disabled" })</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(m => m.DesignationDetails[i].SelectedApplicant, new { @class = "form-control", @id = "SelectedApplicant_" + i, @autocomplete = "off", @onkeypress = "return isNumberKey(event)", @style = "width:70%" })
                                                                    <input class="" type="file" id="SelectedApplicantFile_@i" name="DesignationDetails[@i].SelectedApplicantFile">
                                                                    @if (!string.IsNullOrEmpty(Model.DesignationDetails[i].SelectedApplicantDoc))
                                                                    {
                                                                        @Html.ActionLink(Model.DesignationDetails[i].SelectedApplicantDoc.Split('_').LastOrDefault(), "ShowDocument", new { Controller = "Account", filepath = "RCTAnnouncementDocuments", file = Model.DesignationDetails[i].SelectedApplicantDoc }, new { @target = "_blank" })
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    @if (Model.StatusID > 10)
                                                    {
                                                        for (int i = 0; i < Model.DesignationDetails.Count; i++)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.TextBoxFor(m => Model.DesignationDetails[i].DesignationCode, new { @class = "form-control", @id = "DesignationCode_" + i, @autocomplete = "off", @Disabled = "Disabled" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(m => Model.DesignationDetails[i].Designation, new { @class = "form-control", @id = "Designation_" + i, @autocomplete = "off", @Disabled = "Disabled" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(m => Model.DesignationDetails[i].ProjectNumber, new { @class = "form-control", @id = "ProjectNumber_" + i, @autocomplete = "off", @Disabled = "Disabled" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(m => m.DesignationDetails[i].Vacancies, new { @class = "form-control", @id = "Vacancies_" + i, @autocomplete = "off", @onkeypress = "return isNumberKey(event)", @Disabled = "Disabled" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextAreaFor(m => m.DesignationDetails[i].Qualification, new { @class = "form-control", @id = "Qualification_" + i, @autocomplete = "off", @Disabled = "Disabled" })
                                                                </td>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="mr-sm">Minimum @Html.TextBoxFor(m => m.DesignationDetails[i].MinSalary, new { @class = "form-control", @id = "MinSalary_" + i, @autocomplete = "off", @onkeypress = "return isNumberKey(event)", @Disabled = "Disabled" })</td>
                                                                                <td>Maximum @Html.TextBoxFor(m => m.DesignationDetails[i].MaxSalary, new { @class = "form-control", @id = "MaxSalary_" + i, @autocomplete = "off", @onkeypress = "return isNumberKey(event)", @Disabled = "Disabled" })</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(m => m.DesignationDetails[i].SelectedApplicant, new { @class = "form-control", @id = "SelectedApplicant_" + i, @autocomplete = "off", @onkeypress = "return isNumberKey(event)", @style = "width:70%" })
                                                                    @if (!string.IsNullOrEmpty(Model.DesignationDetails[i].SelectedApplicantDoc))
                                                                    {
                                                                        @Html.ActionLink(Model.DesignationDetails[i].SelectedApplicantDoc.Split('_').LastOrDefault(), "ShowDocument", new { Controller = "Account", filepath = "RCTAnnouncementDocuments", file = Model.DesignationDetails[i].SelectedApplicantDoc }, new { @target = "_blank" })
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bl-lg-panel-box pb-null">
                            <div class="cmn-panel-box">
                                <div class="grey-bg-adj mb-lg">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Remarks</label>
                                            @Html.TextAreaFor(m => m.Remarks2, new { @class = "form-control", @autocomplete = "off", @row = "3" })
                                        </div>
                                        <div class="col-md-6">
                                            <label>Supporting Document</label>
                                            @if (Model.StatusID == 10)
                                            {
                                                <input type="file" name="SelectionlistDeanNote" />
                                            }
                                            @if (!string.IsNullOrEmpty(Model.SelectionlistDeanNoteDocPath))
                                            {
                                                <br />
                                                @Html.ActionLink(Model.SelectionlistDeanNoteDocPath.Split('_').LastOrDefault(), "ShowDocument", new { Controller = "Account", filepath = "RCTAnnouncementDocuments", file = Model.SelectionlistDeanNoteDocPath }, new { @target = "_blank" })
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bl-lg-panel-box pb-null">
                            <div class="cmn-panel-box">
                                <div class="grey-bg-adj mb-lg">
                                    <div class="row">
                                        <div class="col-md-4" id="devCMAdmin3">
                                            <div class="form-group custom-form-group">
                                                @Html.RadioButtonFor(m => m.FlowApprover3, "CMAdmin", new { @id = "IsNotetoCMAdmin" }) <label class="ml-sm ">Note to CM Admin</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="devNoteDean3">
                                            <div class="form-group custom-form-group">
                                                @Html.RadioButtonFor(m => m.FlowApprover3, "DeanFlow", new { @id = "IsNotetoDean" }) <label class="ml-sm ">Note to Dean</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-lg text-center">
                        <input type="submit" class="btn btn-primary" value="Save" name="Button" id="isbtnSelectedlistDeanNote" />
                        @*<input type="submit" class="btn btn-primary" value="Submit" name="Button" id="btnSelectedlistDeanNote" />*@
                        @*<input type="submit" class="btn btn-primary" value="Submit" name="Button" id="btnSubmitSelectlist" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    var annonceshortId = @Html.Raw(Json.Encode(Model.AnnouncementID)) || 0;
    var isShortlist = @Html.Raw(Json.Encode(Model.isShortlist)) || false;
    var StatusID = @Html.Raw(Json.Encode(Model.StatusID)) || 0;

    if(annonceshortId > 0 && StatusID == 10) {
        $('#isbtnSelectedlistDeanNote').removeClass('dis-none');
        //$('#btnSelectedlistDeanNote').removeClass('dis-none');
        //$('#btnSubmitSelectlist').addClass('dis-none');
    }
    else{
        $('#isbtnSelectedlistDeanNote').addClass('dis-none');
        //$('#btnSelectedlistDeanNote').addClass('dis-none');
        //$('#btnSubmitSelectlist').addClass('dis-none');
    }


    var flowApp3 = @Html.Raw(Json.Encode(Model.FlowApprover3)) || '';
    if(flowApp3 == "CMAdmin")
    {
        $("input[name=FlowApprover3][value=CMAdmin]").prop('checked', true);
        $("#devNoteDean3").hide();
    }
    if(flowApp3 == "DeanFlow")
    {
        $("input[name=FlowApprover3][value=DeanFlow]").prop('checked', true);
        $("#devCMAdmin3").hide();
    }
</script>