@model IOAS.Models.ConsultantAppointmentModel
@using IOAS.GenericServices
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- favicon icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&display=swap" rel="stylesheet">
    <style>
        .umr-body {
            /*font-family: 'Poppins', sans-serif;*/
            font-family: 'Poppins', sans-serif !important;
            font-size: 16px;
            color: #2a2a2a;
            margin-left: 15px;
            margin-right: 15px;
        }

            .umr-body li {
                margin-bottom: 10px;
            }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .ct-in h2 em {
            float: left;
            font-style: normal;
            width: calc(100% - 250px);
            text-align: center;
            padding-top: 35px;
            font-size: 20px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mn-m-tt {
            font-size: 20px;
            padding-bottom: 5px;
        }

        .mn-tt {
            font-size: 16px;
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
        }

        h5 {
            font-weight: bold;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border: 0px;
        }

        .bg-grey {
            background: #ccc;
        }

        .tbl-style > .table > tbody > tr > td {
            border: inherit;
        }

        .tbl-style > .table > tbody > tr > th {
            border: inherit;
        }

        .tbl-style > .table > thead > tr {
            border-color: #000;
        }

            .tbl-style > .table > thead > tr > td {
                border: 1px solid #000;
            }

        .tbl-style > .table-bordered > thead > tr > th {
            border-bottom-width: 0px;
        }

        .tbl-style > .table.table-bordered > tbody > tr > td {
            border-color: #000;
        }

        .tp-tt {
            font-weight: bold;
        }

        .tbl-style > .table-bordered > thead > tr > th {
            border: 1px solid #000;
        }

        .tbl-style table, .tbl-style tr, .tbl-style td, .tbl-style th {
            border: 1px solid #000;
        }

        .tbl-style > .table {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="umr-body">
    
        <div style="page-break-after:always">
            <div class="row">
                <div class="col-md-12">
                    <p>OS2020010007</p>
                    <center><h4><b>CENTRE FOR</b></h4></center>
                    <center><h4><b>INDUSTRIAL CONSULTANCY & SPONSORED RESEARCH</b></h4></center>
                    <center><h4><b>INDIAN INSTITUTE OF TECHNOLOGY MADRAS,I.I.T. CAMPUS,CHENNAI-600 036</b></h4></center>
                    <div class="text-right">
                        <p><b>No: @Model.ApplicationNumber</b></p>
                    </div>
                    <div class="text-right">
                        <p><b>Dated: @Model.ApplicationEntryDt</b></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <p><b>To</b></p>
                    <p style="margin-left:15px;">
                        @Model.Name.ToUpper()<br />
                        @Model.TemporaryAddress.ToUpper()
                    </p>
                    <p>
                        Dear Sir/Madam,
                    </p>
                    <p style="margin-left:15px;">
                        <b><u>Sub:</u></b>  Short-term appointment of <b>@Model.Designation</b> for the <b>@Model.ProjectDetailsModel.ProjectNumber</b> project on in the
                        <b>@Model.ProjectDetailsModel.PIDepartmentName</b>
                    </p>
                    <p style="margin-left:15px;">
                        With the approval of the competent Authority, we are Pleased to appoint you as <b></b>
                        in the above project. Your Contract will be for the period from  from
                        <b>@Model.AppointMentStrDate</b> to <b>@Model.AppointMentEdDate</b>
                    </p>
                    <p style="margin-left:15px;">
                        You will be paid a retainer fee of <b>@Model.CommitmentAmount</b>/-p.m <b>Rupees @CoreAccountsService.words(@Model.CommitmentAmount)</b>
                        and no other allowance will be paid to you.
                    </p>
                    <p style="margin-left:15px;">
                        We are enclosing the other Terms and Conditions.
                    </p>
                    <p style="margin-left:15px;">
                        We request you to kindly acknowledge receipt of this letter and return the enclosed copy of
                        Terms and Conditions duly signed by you.
                    </p>
                </div>
               
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                               
                               
                                <th class="text-left" width="50px">
                                   
                                    <br />
                                    <br />
                                    <br />
                                    SENIOR MANAGER - HR<br />
                                    (Project Recruitment)<br />
                                    <p style="margin-left:28px">IC & SR</p>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-12">
                    <div style="margin-top:0px;">
                        <p style="text-align:center"><b>TERMS AND CONDITIONS</b></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div style="margin-left:25px;">
                        <p>
                            1. Your services and conduct will be governed by the rules of the center for IC & SR and any other
                               administrative orders in force from time at this center in addition to those which are 
                               specifically mentioned hereunder.
                        </p>
                        <p>
                            2. Your contract can be terminated with one Week's prior notice on either side.
                        </p>
                        <p>
                            3. Facilites of benefits like leave,pension,provident fund etc.are not available under this contract. 
                        </p>    
                        <p>
                            4. You will be reporting to project Co-ordinator.
                        </p> 
                        <p>
                           <b>Note:You will be enrolled into our group 'Medical Insurance Scheme'.</b>
                        </p>   
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                
                                <th class="text-center" width="50px"></th>
                                <th>
                                    <p style="margin-left:550px">
                                        <br />
                                        <br />
                                        <br />
                                        SENIOR MANAGER - HR<br />
                                        (Project Recruitment)<br />
                                        IC & SR
                                    </p>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="margin-left:25px;">
                    <p>
                        I agree to the above terms & conditions and the fee and period given in the letter.
                    </p>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>

                                <th class="text-center" width="50px"></th>
                                <th>
                                    <p style="margin-left:450px">
                                        <br />
                                        <br />
                                        <br />
                                        <b>@Model.Name</b>
                                    </p>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    
    
    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>

