@model IOAS.Models.ConsultantMasterView
@{
    ViewBag.Title = "_ConsultantMasterView";
}

<style>
    .vw-dts-bg .hgt-bg {
        background: #597df0;
        color: #fff;
    }

        .vw-dts-bg .hgt-bg label {
            font-size: 16px !important;
            color: #fff !important;
        }

        .vw-dts-bg .hgt-bg h4 {
            font-size: 18px !important;
            color: #fff;
        }

    .vw-dts-bg .hgt-bg-pl {
        background: #e11eda;
        color: #fff;
    }

        .vw-dts-bg .hgt-bg-pl label {
            font-size: 16px !important;
            color: #fff !important;
        }

        .vw-dts-bg .hgt-bg-pl h4 {
            font-size: 18px !important;
            color: #fff;
        }
</style>
<div id="Consultantviewmodel" class="modal fade modal-pr-vw" role="dialog">
    <div class="modal-dialog " style="width: 1000px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row hd-tt-bg">
                    <div class="col-md-12">
                        <h4><b>Consultant Details</b></h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row vw-dts-bg">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="4">Personal Details:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label>Nationality :</label>
                                        @Html.DisplayFor(m => m.Nationality)
                                    </td>
                                    <td>
                                        <label>Category :</label>
                                        @Html.DisplayFor(m => m.Category)
                                    </td>
                                    <td>
                                        <label>Address :</label>
                                        @Html.DisplayFor(m => m.Address)
                                    </td>
                                    <td>
                                        <label>Email :</label>
                                        @Html.DisplayFor(m => m.Email)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Phone Number :</label>
                                        @Html.DisplayFor(m => m.MobileNo)

                                    </td>
                                    <td>
                                        <label>Pan Number :</label>
                                        @Html.DisplayFor(m => m.PAN)

                                    </td>
                                    <td>
                                        <label>Aadhaar Number :</label>
                                        @Html.DisplayFor(m => m.AadhaarNo)

                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(Model.TIN))
                                        {
                                            <label>TIN Number :</label>
                                            @Html.DisplayFor(m => m.TIN)
                                        }
                                        else
                                        {
                                            <label>GSTIN Number :</label>
                                            @Html.DisplayFor(m => m.GSTIN)
                                        }
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <label>State :</label>
                                        @Html.DisplayFor(m => m.State)

                                    </td>
                                    <td>
                                        <label>State Code :</label>
                                        @Html.DisplayFor(m => m.StateCode)

                                    </td>
                                    <td>
                                        <label>City :</label>
                                        @Html.DisplayFor(m => m.City)

                                    </td>
                                    <td>
                                        <label>Pin Code :</label>
                                        @Html.DisplayFor(m => m.PinCode)

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4">Consultant Bank Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Account Holder's Name : </label>
                                    @Html.DisplayFor(m => m.AccHolderName)
                                </td>
                                <td>
                                    <label>Bank Name :</label>
                                    @Html.DisplayFor(m => m.BankName)
                                </td>
                                <td>
                                    <label>Branch :</label>
                                    @Html.DisplayFor(m => m.Branch)
                                </td>
                                <td>
                                    <label>IFSC :</label>
                                    @Html.DisplayFor(m => m.IFSC)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Account Number : </label>
                                    @Html.DisplayFor(m => m.AccNo)
                                </td>
                                <td>
                                    <label>Bank Address:</label>
                                    @Html.DisplayFor(m => m.BankAddress)
                                </td>
                                <td>
                                    <label>Bank Nature:</label>
                                    @Html.DisplayFor(m => m.BankNature)
                                </td>
                                <td>
                                    <label>Bank Email:</label>
                                    @Html.DisplayFor(m => m.BankEmail)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ABA Number : </label>
                                    @Html.DisplayFor(m => m.ABANumber)
                                </td>
                                <td>
                                    <label>Sort Code : </label>
                                    @Html.DisplayFor(m => m.SortCode)
                                </td>
                                <td>
                                    <label>IBAN : </label>
                                    @Html.DisplayFor(m => m.IBAN)
                                </td>
                                <td>
                                    <label>MICR Code : </label>
                                    @Html.DisplayFor(m => m.MICRCode)
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>SWIFT / BIC code :</label>
                                    @Html.DisplayFor(m => m.SWiftCode)
                                </td>
                                <td>
                                    <label>Bank Country :</label>
                                    @Html.DisplayFor(m => m.BankCountry)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4">Other Document</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td class="text-center"><b>Attachment Name</b></td>
                                <td class="text-center"><b>Attachment</b></td>
                            </tr>
                            @if (Model.TdsDocument != null)
                            {
                                foreach (var item in Model.TdsDocument)
                                {
                                    <tr>

                                        <td class="text-center">
                                            @Html.DisplayFor(m => item.TdsAttachementName)
                                        </td>
                                        <td class="text-center">
                                            <a href="/Account/ShowDocument?file=@item.TdsDocumentPath&filepath=~%2FContent%2Requirement%2F" target="_blank">@item.TdsDocumentName</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Submit</button>*@
                </div>
            </div>
        </div>
    </div>
</div>	