@model  IEnumerable<IOAS.Models.CheckListEmailModel>

<style>
    .status {
        font-size: 30px;
        /*margin: 2px 2px 0 0;*/
        margin: 0px 0px 3px 0px;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
    }

    .text-success {
        color: #28a745 !important;
    }

    .text-danger {
        color: #dc3545 !important;
    }
</style>
<div id="DevModal" class="modal fade modal-pr-vw" role="dialog">
    <div class="modal-dialog wdt-auto">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row hd-tt-bg">
                    <div class="col-md-12">
                        <h4><b>All deviations : </b></h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="page-wrapper">
                        <div class="custom-md-bg">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bl-lg-panel-box pb-null">
                                        <table class="table alter-table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>SNo</th>
                                                    <th>Deviation</th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>OrderType</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                        foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td></td>
                                                                <td>@item.SNo</td>
                                                                <td>@item.devScenarios</td>
                                                                <td>@item.FromDate</td>
                                                                <td>@item.ToDate</td>
                                                                <td>@item.OrderType</td>
                                                            </tr>
                                                        }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="6">Records unavailable</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>