
@{
    ViewBag.Title = "ApplicationList";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h3>Application Status</h3>
        <ul class="nav nav-pills custom-nav-pills custom-spl-nav">
            <li class="active" id="picDel"><a href="javascript:void(0)" class="ml-null brd-rd-md">New Application</a></li>
            <li id="allOca1"><a href="javascript:void(0)" class="brd-rd-md">Extension / Enhancement</a></li>
            <li id="allOca2"><a href="javascript:void(0)" class="brd-rd-md">HRA List</a></li>
            <li id="allOca3"><a href="javascript:void(0)" class="brd-rd-md">Relieving order List</a></li>
            <li id="allOca4"><a href="javascript:void(0)" class="brd-rd-md">Change of Project List</a></li>
            <li id="allOca5"><a href="javascript:void(0)" class="brd-rd-md">Application Cancelled List</a></li>
        </ul>
    </div>

</div>
<div class="row cts-mn-dts" id="tab-01">
    <div class="col-md-12">
        <div class="row mt30">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-jsgrid-normal">
                            <div id="gridAppList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row cts-mn-dts " id="tab-02" style="display: none;">
    <div class="col-md-12">
        <div class="row mt30">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-jsgrid-normal">
                            <div id="gridExEnhlist"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row cts-mn-dts " id="tab-03" style="display: none;">
    <div class="col-md-12">
        <div class="row mt30">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-jsgrid-normal">
                            <div id="gridHRAlist"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row cts-mn-dts " id="tab-04" style="display: none;">
    <div class="col-md-12">
        <div class="row mt30">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-jsgrid-normal">
                            <div id="gridRelievingList">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row cts-mn-dts " id="tab-05" style="display: none;">
    <div class="col-md-12">
        <div class="row mt30">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-jsgrid-normal">
                            <div id="gridChangeofProj">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row cts-mn-dts " id="tab-06" style="display: none;">
    <div class="col-md-12">
        <div class="row mt30">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-jsgrid-normal">
                            <div id="gridCancelledApp">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#picDel").on("click", function () {
        $("#tab-01").css("display", "block");
        $("#tab-02").css("display", "none");
        $("#tab-03").css("display", "none");
        $("#tab-04").css("display", "none");
        $("#tab-05").css("display", "none");
        $("#tab-06").css("display", "none");
        $("#allOca1").removeClass('active');
        $("#allOca2").removeClass('active');
        $("#allOca3").removeClass('active');
        $("#allOca4").removeClass('active');
        $("#allOca5").removeClass('active');
        $("#picDel").addClass('active');
    });

    $("#allOca1").on("click", function () {
        $("#tab-01").css("display", "none");
        $("#tab-03").css("display", "none");
        $("#tab-04").css("display", "none");
        $("#tab-02").css("display", "block");
        $("#tab-05").css("display", "none");
        $("#tab-06").css("display", "none");
        $("#picDel").removeClass('active');
        $("#allOca1").addClass('active');
        $("#allOca2").removeClass('active');
        $("#allOca3").removeClass('active');
        $("#allOca4").removeClass('active');
        $("#allOca5").removeClass('active');
    });
    $("#allOca2").on("click", function () {
        $("#tab-01").css("display", "none");
        $("#tab-02").css("display", "none");
        $("#tab-03").css("display", "block");
        $("#tab-04").css("display", "none");
        $("#tab-05").css("display", "none");
        $("#tab-06").css("display", "none");
        $("#picDel").removeClass('active');
        $("#allOca1").removeClass('active');
        $("#allOca2").addClass('active');
        $("#allOca3").removeClass('active');
        $("#allOca4").removeClass('active');
        $("#allOca5").removeClass('active');
    });
    $("#allOca3").on("click", function () {
        $("#tab-01").css("display", "none");
        $("#tab-02").css("display", "none");
        $("#tab-03").css("display", "none");
        $("#tab-04").css("display", "block");
        $("#tab-05").css("display", "none");
        $("#tab-06").css("display", "none");
        $("#picDel").removeClass('active');
        $("#allOca1").removeClass('active');
        $("#allOca2").removeClass('active');
        $("#allOca3").addClass('active');
        $("#allOca4").removeClass('active');
        $("#allOca5").removeClass('active');
    });
    $("#allOca4").on("click", function () {
        $("#tab-01").css("display", "none");
        $("#tab-02").css("display", "none");
        $("#tab-03").css("display", "none");
        $("#tab-04").css("display", "none");
        $("#tab-05").css("display", "block");
        $("#tab-06").css("display", "none");
        $("#picDel").removeClass('active');
        $("#allOca1").removeClass('active');
        $("#allOca2").removeClass('active');
        $("#allOca3").removeClass('active');
        $("#allOca4").addClass('active');
        $("#allOca5").removeClass('active');
    });
    $("#allOca5").on("click", function () {
        $("#tab-01").css("display", "none");
        $("#tab-02").css("display", "none");
        $("#tab-03").css("display", "none");
        $("#tab-04").css("display", "none");
        $("#tab-05").css("display", "none");
        $("#tab-06").css("display", "block");
        $("#picDel").removeClass('active');
        $("#allOca1").removeClass('active');
        $("#allOca2").removeClass('active');
        $("#allOca3").removeClass('active');
        $("#allOca4").removeClass('active');
        $("#allOca5").addClass('active');
    });
    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    var alertMsg = '@TempData["alertMsg"]';
    $(document).ready(function () {
        if (succMsg != '') {
            $('#alertSuccess').html(succMsg);
            $('#Success').modal('toggle');
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
        else if (alertMsg != '') {
            $('#alert').html(alertMsg);
            $('#Validation').modal('toggle');
        }
    });
    $("#gridAppList").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 10,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {
            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    ApplicationNo: filter.ApplicationNumber || null,
                    Category: filter.Category || null,
                    PIName: filter.PIName || null,
                    CondidateName: filter.CondidateName || null,
                    PIEmail: filter.Email || null,
                    Status: filter.Status || null
                },
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: "GetAllApplicationList",
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var da = {
                            data: result.ApplicationList,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }

                });
                return deferred.promise();
            }

        },

        fields: [
            { name: "SNo", title: "S.No", editing: false, width: 50 },
            { type: "number", name: "ApplicationId", title: "Id", visible: false },
            { type: "text", name: "ApplicationNumber", title: "Application Number", editing: false },
            { type: "text", name: "Category", title: "Category", editing: false },
            { type: "text", name: "CondidateName", title: "Condidate Name", editing: false },
            { type: "text", name: "PIName", title: "PI Name", editing: false },
            { type: "text", name: "Email", title: "PI Email", editing: false },
           { type: "text", name: "Status", title: "Status", editing: false },
           { name: "EmailRemaindarCount", title: "Email Remaindar Count", visible: false },
             {
                 type: "control", editButton: false, deleteButton: false, width: 120, title: "Action",

                 itemTemplate: function (value, item) {
                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                     if (item.Status == "Open") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     else if (item.Status == "Note to PI") {
                         if (item.EmailRemaindarCount == 0) {
                             statusList = [{ id: "", name: "Select Action" }, { id: "EmailNf", name: "Email Notification" }, { id: "View", name: "View" }]
                         }
                         else if (item.EmailRemaindarCount == 1) {
                             statusList = [{ id: "", name: "Select Action" }, { id: "EmailNf", name: "Email Remainder " + " " + item.EmailRemaindarCount }, { id: "View", name: "View" }]
                         }
                         else {
                             statusList = [{ id: "", name: "Select Action" }, { id: "EmailNf", name: "Email Reminder" + " " + item.EmailRemaindarCount }, { id: "View", name: "View" }]
                         }
                     }
                     else {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     var $customSelect = $("<select>")
                         .attr("class", "form-control").prop("selectedIndex", "")
                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {

                             value: itemData.id,
                             text: itemData.name
                         }));
                     });
                     $customSelect.change(function (e) {
                         var selVal = $(this).val();
                         if (selVal == "View") {
                             if (item.Category == "CON") {
                                 var url = '@Url.Action("ConsultantView", "Requirement")?consultantAppId=' + item.ApplicationId + '&listf=HR';
                                 window.location.href = url;
                             }
                             else if (item.Category == "STE") {
                                 var url = '@Url.Action("STEView", "Requirement")?STEID=' + item.ApplicationId + '&listf=HR';
                                 window.location.href = url;
                             }
                             else if (item.Category == "OSG") {
                                 var url = '@Url.Action("OutsourcingView", "Requirement")?OSGID=' + item.ApplicationId + '&listf=HR';
                                 window.location.href = url;
                             }
                         }
                         else if (selVal == "EmailNf") {
                             if (item.EmailRemaindarCount == 2) {
                                 $('#alert').html("Alert - Reminder E-mails already Sent");
                                 $('#Validation').modal('toggle');
                                 return false;
                             }
                             var choice = confirm("Do you want to send a reminder email");
                             if (choice == true) {
                                 $.ajax({
                                     type: "Post",
                                     url: '@Url.Action("SendPIReminderEmail", "Requirement")',
                                     data: {
                                         appid: item.ApplicationId,
                                         apptype: item.Category
                                     },
                                     success: function (result) {
                                         if (result == 1) {
                                             $('#alertTitle').html("Success");
                                             $('#alertSuccessContent').html("Reminder Mail sent to PI");
                                             $('#SuccessAll').modal('toggle');
                                             $("#gridAppList").jsGrid("loadData");
                                         }
                                         else if (result == 2) {
                                             $('#alertTitle').html("Success");
                                             $('#alertSuccessContent').html("Final reminder sent to PI");
                                             $('#SuccessAll').modal('toggle');
                                             $("#gridAppList").jsGrid("loadData");
                                         }
                                         else if (result == 0) {

                                             $('#FailedAlert').html("Something Went to Wrong Please Conatact Administrator");
                                             $('#Failed').modal('toggle');
                                         }
                                     },
                                     error: function (err) {
                                         console.log("error1 : " + err);
                                     }
                                 });
                             }
                         }

                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });
                     return $result.add($customSelect);
                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }


        ],

    });
    $("#gridAppList").jsGrid("option", "filtering", false);
    var DateField = function (config) {
        jsGrid.Field.call(this, config);
    };
    DateField.prototype = new jsGrid.Field({
        sorter: function (date1, date2) {
            return new Date(date1) - new Date(date2);
        },

        itemTemplate: function (value) {
            if (value != "") {
                return new Date(value).toDateString();
            }
        },

        filterTemplate: function () {
            var now = new Date();
            this._fromPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() - 1), changeYear: true });
            this._toPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() + 1), changeYear: true });
            return $("<div>").append(this._fromPicker).append(this._toPicker);
        },

        insertTemplate: function (value) {
            return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
        },

        editTemplate: function (value) {
            return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
        },

        insertValue: function () {
            return this._insertPicker.datepicker("getDate").toISOString();
        },

        editValue: function () {
            return this._editPicker.datepicker("getDate").toISOString();
        },

        filterValue: function () {
            return {
                from: this._fromPicker.datepicker("getDate"),
                to: this._toPicker.datepicker("getDate")
            };
        }
    });
    jsGrid.fields.date = DateField;
    $("#gridExEnhlist").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 10,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {

            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    EmployeeNo: filter.EmployeeNo || null,
                    ExtensionEnhCategory: filter.ExtensionEnhCategory || null,
                    ApplicationCategory: filter.ApplicationCategory || null,
                    DepartmentName: filter.EmployeeDept || null,
                    CondidateName: filter.CondidateName || null,
                    EmployeeName: filter.EmployeeName || null,
                    ProjectNumber: filter.ProjectNumber || null,
                    Status: filter.Status || null
                },
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: "GetAllExtensionEnhList",
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        //db = result;
                        //$("#AdvanceBillPaymentList").jsGrid({ data: db });
                        var da = {
                            data: result.ExtandEnhList,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }

                });
                return deferred.promise();
            }

        },

        fields: [
            { name: "SNo", title: "S.No", editing: false, width: 50 },
            { type: "number", name: "OrderId", title: "Id", visible: false },
            { type: "text", name: "EmployeeNo", title: "Employee Number", editing: false },
            { type: "text", name: "ExtensionEnhCategory", title: "Extension / Enhancement / Amendment", editing: false, width: 120 },
            { type: "text", name: "ApplicationCategory", title: "Application Category", editing: false },
            { type: "text", name: "EmployeeDept", title: "Department Name", editing: false },
            { type: "text", name: "EmployeeName", title: "Employee Name", editing: false },
            { type: "text", name: "ProjectNumber", title: "Project Number", editing: false },
            { type: "date", name: "StrFrmDate", title: "From Date", editing: false },
            { type: "date", name: "StrtoDate", title: "To Date", editing: false },
           { type: "text", name: "Status", title: "Status", editing: false },


             {
                 type: "control", editButton: false, deleteButton: false, width: 120, title: "Action",

                 itemTemplate: function (value, item) {
                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                     if (item.Status == "Open") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                         //else if (item.Status == "Note to PI") {

                         //    if (item.EmailRemaindarCount == 0) {
                         //        statusList = [{ id: "", name: "Select Action" }, { id: "EmailNf", name: "Email Notification" }, { id: "View", name: "View" }]
                         //    }
                         //    else if (item.EmailRemaindarCount == 1) {
                         //        statusList = [{ id: "", name: "Select Action" }, { id: "EmailNf", name: "Email Remainder " + " " + item.EmailRemaindarCount }, { id: "View", name: "View" }]
                         //    }
                         //    else {
                         //        statusList = [{ id: "", name: "Select Action" }, { id: "EmailNf", name: "Email Reminder" + " " + item.EmailRemaindarCount }, { id: "View", name: "View" }]
                         //    }


                         //}

                     else {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     var $customSelect = $("<select>")
                         .attr("class", "form-control").prop("selectedIndex", "")
                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {

                             value: itemData.id,
                             text: itemData.name
                         }));
                     });
                     $customSelect.change(function (e) {
                         var selVal = $(this).val();
                         if (selVal == "View") {
                             if (item.ExtensionEnhCategory == "Extension") {
                                 var url = '@Url.Action("RecruitExtensionView", "Requirement")?OrderId=' + item.OrderId + '&listf=HR';
                                 window.location.href = url;
                             }
                             else if (item.ExtensionEnhCategory == "Enhancement") {
                                 var url = '@Url.Action("RecruitEnhancementView", "Requirement")?OrderId=' + item.OrderId + '&listf=HR';
                                 window.location.href = url;
                             }
                             else if (item.ExtensionEnhCategory == "Amendment") {
                                 var url = '@Url.Action("RecruitAmendmentView", "Requirement")?OrderId=' + item.OrderId + '&listf=HR';
                                 window.location.href = url;
                             }

                         }


                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });
                     return $result.add($customSelect);
                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }


        ],

    });
    $("#gridExEnhlist").jsGrid("option", "filtering", false);
    $("#gridHRAlist").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 10,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {
            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    SearchInName: filter.Name || null,
                    SearchInCategory: filter.CategoryName || null,
                    SearchInDesignation: filter.Designation || null,
                    SearchInProjectNumber: filter.ProjectNumber || null,
                    SearchInEmployeeId: filter.EmployeeId || null,
                    SearchInStatus: filter.Status || null,

                },
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: "getHRAList",
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var da = {
                            data: result.List,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }

                });
                return deferred.promise();
            }

        },

        fields: [
            { name: "SNo", title: "S.No", editing: false, width: 50 },
            { type: "number", name: "ID", title: "Id", visible: false },
            { type: "text", name: "EmployeeId", title: "Employee ID", editing: false },
            { type: "text", name: "Name", title: "Employee Name", editing: false },
            { type: "text", name: "CategoryName", title: "Category", editing: false },
            { type: "text", name: "Designation", title: "Designation", editing: false },
            { type: "text", name: "ProjectNumber", title: "Project Details", editing: false },
            { type: "text", name: "Status", title: "Status", editing: false },
            { type: "text", name: "Salary", title: "Salary", editing: false, filter: false },

             {
                 type: "control", editButton: false, deleteButton: false, width: 120, title: "Action",

                 itemTemplate: function (value, item) {
                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                     if (item.Status == "Open") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     else {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     var $customSelect;
                     $customSelect = $("<select>")
                          .attr("class", "form-control").prop("selectedIndex", "")
                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {

                             value: itemData.id,
                             text: itemData.name
                         }));
                     });
                     $customSelect.change(function (e) {
                         var selVal = $(this).val();
                         if (selVal == "Modify") {
                             if (item.TypeCategory == "HRA Booking") {
                                 var url = '@Url.Action("HRABooking", "Requirement")?Steid=' + item.ID + '&Orderid=' + item.OrderID + '&listf=HR';
                                 window.location.href = url;
                             }
                             else if (item.TypeCategory == "HRA Cancellation") {
                                 var url = '@Url.Action("HRACancellation", "Requirement")?Steid=' + item.ID + '&Orderid=' + item.OrderID + '&listf=HR';
                                 window.location.href = url;
                             }
                         }
                         else if (selVal == "View") {
                             var url = '@Url.Action("HRAView", "Requirement")?OrderId=' + item.OrderID + '&listf=HR';
                             window.location.href = url;
                         }
                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });
                     return $result.add($customSelect);

                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }


        ],

    });
    $("#gridHRAlist").jsGrid("option", "filtering", false);
    $("#gridRelievingList").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 10,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {
            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    SearchInName: filter.Name || null,
                    SearchInCategory: filter.CategoryName || null,
                    SearchInDesignation: filter.Designation || null,
                    SearchInProjectNumber: filter.ProjectNumber || null,
                    SearchInEmployeeId: filter.EmployeeId || null,
                    relievingType: filter.RelievingType || null,
                },
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: "getRelievingList",
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var da = {
                            data: result.List,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }

                });
                return deferred.promise();
            }

        },

        fields: [
            { name: "SNo", title: "S.No", editing: false, width: 50 },
            { type: "number", name: "ID", title: "Id", visible: false },
            { type: "text", name: "EmployeeId", title: "Employee ID", editing: false },
            { type: "text", name: "Name", title: "Employee Name", editing: false },
            { type: "text", name: "CategoryName", title: "Category", editing: false },
            { type: "text", name: "Designation", title: "Designation", editing: false },
            { type: "text", name: "ProjectNumber", title: "Project Details", editing: false },
            { type: "text", name: "RelievingType", title: "Relieving Type", editing: false },
             {
                 type: "control", editButton: false, deleteButton: false, width: 120, title: "Action",

                 itemTemplate: function (value, item) {
                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                     if (item.RelievingType == "Open") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     else {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }

                     var $customSelect = $("<select>")
                         .attr("class", "form-control").prop("selectedIndex", "")
                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {

                             value: itemData.id,
                             text: itemData.name
                         }));
                     });
                     $customSelect.change(function (e) {
                         var selVal = $(this).val();
                         if (selVal == "View") {
                             var url = '@Url.Action("RelievingView", "Requirement")?OrderId=' + item.OrderID + '&listf=HR';
                             window.location.href = url;
                         }
                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });
                     return $result.add($customSelect);
                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }


        ],

    });
    $("#gridRelievingList").jsGrid("option", "filtering", false);

    $("#gridChangeofProj").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 10,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {
            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    EmployeeNo: filter.EmployeeNo || null,
                    Category: filter.Category || null,
                    NewProjectNumber: filter.NewProjectNumber || null,
                    EmployeeName: filter.EmployeeName || null,
                    Status: filter.Status || null,

                },
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: "GetChangeOfProjectList",
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var da = {
                            data: result.Changelist,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }

                });
                return deferred.promise();
            }

        },

        fields: [
            { name: "SNo", title: "S.No", editing: false, width: 50 },
            { type: "number", name: "OrderId", title: "Id", visible: false },
            { type: "text", name: "EmployeeNo", title: "Employee Number", editing: false },
            { type: "text", name: "Category", title: "Category", editing: false },
            { type: "text", name: "EmployeeName", title: "Employee Name", editing: false },
            { type: "text", name: "NewProjectNumber", title: "New Project Number", editing: false },
            { type: "text", name: "Status", title: "Status", editing: false },

             {
                 type: "control", editButton: false, deleteButton: false, width: 120, title: "Action",

                 itemTemplate: function (value, item) {
                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                     statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }];
                     var $customSelect = $("<select>")
                         .attr("class", "form-control").prop("selectedIndex", "")
                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {

                             value: itemData.id,
                             text: itemData.name
                         }));
                     });
                     $customSelect.change(function (e) {
                         var selVal = $(this).val();
                         if (selVal == "View") {
                             var url = '@Url.Action("RecruitCOPView", "Requirement")?OrderId=' + item.OrderId + '&listf=HR';
                             window.location.href = url;
                         }
                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });
                     return $result.add($customSelect);
                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }


        ],

    });
    $("#gridChangeofProj").jsGrid("option", "filtering", false);
    $("#gridCancelledApp").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 10,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {

            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    ApplicationNo: filter.ApplicationNumber || null,
                    Category: filter.Category || null,
                    PIName: filter.PIName || null,
                    CondidateName: filter.CondidateName || null,
                    PIEmail: filter.Email || null,
                    Status: filter.Status || null
                },
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: "GetCancelledApplicationList",
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        //db = result;
                        //$("#AdvanceBillPaymentList").jsGrid({ data: db });
                        var da = {
                            data: result.ApplicationList,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }

                });
                return deferred.promise();
            }

        },

        fields: [
            { name: "SNo", title: "S.No", editing: false, width: 50 },
            { type: "number", name: "ApplicationId", title: "Id", visible: false },
            { type: "text", name: "ApplicationNumber", title: "Application Number", editing: false },
            { type: "text", name: "Category", title: "Category", editing: false },
            { type: "text", name: "CondidateName", title: "Condidate Name", editing: false },
            { type: "text", name: "PIName", title: "PI Name", editing: false },
            { type: "text", name: "Email", title: "PI Email", editing: false },
           { type: "text", name: "Status", title: "Status", editing: false },

             {
                 type: "control", editButton: false, deleteButton: false, width: 120, title: "Action",

                 itemTemplate: function (value, item) {
                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                     if (item.Status == "Cancelled") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     else {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     var $customSelect = $("<select>")
                         .attr("class", "form-control").prop("selectedIndex", "")
                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {

                             value: itemData.id,
                             text: itemData.name
                         }));
                     });
                     $customSelect.change(function (e) {
                         var selVal = $(this).val();
                         if (selVal == "View") {
                             if (item.ApplicationType == "New") {
                                 if (item.Category == "CON") {
                                     var url = '@Url.Action("ConsultantView", "Requirement")?consultantAppId=' + item.ApplicationId + '&listf=HR';
                                     window.location.href = url;
                                 }
                                 else if (item.Category == "STE") {
                                     var url = '@Url.Action("STEView", "Requirement")?STEID=' + item.ApplicationId + '&listf=HR';
                                     window.location.href = url;
                                 }
                                 else if (item.Category == "OSG") {
                                     var url = '@Url.Action("OutsourcingView", "Requirement")?OSGID=' + item.ApplicationId + '&listf=HR';
                                     window.location.href = url;
                                 }
                             }
                             else {
                                 if (item.ApplicationType == "Extension") {
                                     var url = '@Url.Action("RecruitExtensionView", "Requirement")?OrderId=' + item.OrderId + '&listf=HR';
                                     window.location.href = url;
                                 }
                                 else if (item.ApplicationType == "Enhancement") {
                                     var url = '@Url.Action("RecruitEnhancementView", "Requirement")?OrderId=' + item.OrderId + '&listf=HR';
                                     window.location.href = url;
                                 }
                                 else if (item.ApplicationType == "Amendment") {
                                     var url = '@Url.Action("RecruitAmendmentView", "Requirement")?OrderId=' + item.OrderId + '&listf=HR';
                                     window.location.href = url;
                                 }
                             }

                         }

                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });
                     return $result.add($customSelect);
                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }


        ],

    });
    $("#gridCancelledApp").jsGrid("option", "filtering", false);
</script>

