@model IOAS.Models.AnnouncementMasterModel
<!DOCTYPE html>
<html lang="en">
<head>
    @if (!Model.isNotIncludeHeader)
    {
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&display=swap" rel="stylesheet">
    }
    <style>
        .umr-body {
            /*font-family: 'Poppins', sans-serif;*/
            font-family: 'Poppins', sans-serif !important;
            font-size: 16px;
            color: #2a2a2a;
        }

            .umr-body li {
                margin-bottom: 10px;
            }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .ct-in h2 em {
            float: left;
            font-style: normal;
            width: calc(100% - 250px);
            text-align: center;
            padding-top: 35px;
            font-size: 20px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mn-m-tt {
            font-size: 20px;
            padding-bottom: 5px;
        }

        .mn-tt {
            font-size: 16px;
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
        }

        h5 {
            font-weight: bold;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border: 0px;
            border-color: white;
        }

        .bg-grey {
            background: #ccc;
        }

        .tbl-style > .table > tbody > tr > td {
            border: inherit;
        }

        .tbl-style > .table > tbody > tr > th {
            border: inherit;
        }

        .tbl-style > .table > thead > tr {
            border-color: #000;
        }

            .tbl-style > .table > thead > tr > td {
                border: 1px solid #000;
            }

        .tbl-style > .table-bordered > thead > tr > th {
            border-bottom-width: 0px;
        }

        .tbl-style > .table.table-bordered > tbody > tr > td {
            border-color: #000;
        }

        .tp-tt {
            font-weight: bold;
        }

        .tbl-style > .table-bordered > thead > tr > th {
            border: 1px solid #000;
        }

        .tbl-style table, .tbl-style tr, .tbl-style td, .tbl-style th {
            border: 1px solid #000;
        }

        .tbl-style > .table {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="umr-body">
    @if (Model.AnnouncementCategory == "Project wise")
    {
        <div style="page-break-after:always">
            <div class="row">
                <div class="col-md-12">
                    <center><h4><b><u>CENTRE FOR IC&SR, IIT MADRAS</u></b></h4></center>
                    <div class="text-right">
                        <p><b>Project Recruitment</b></p>
                        <p><b>Date: @string.Format("{0:dd.MM.yyy}", DateTime.Now)</b></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <p><b><u>Note to Dean:</u></b></p>
                    <p style="margin-left:165px;">
                        <b><u>Sub:</u></b>  Panel of Selection Committee Members - reg.<br>
                        <b><u>Ref:</u></b>  &nbsp;<b>@Model.RefNo -“@Model.DraftProjectDetails.ProjectTitle”,in the Dept. of @Model.DraftProjectDetails.PIDepartmentName</b>
                    </p>
                    <br />
                    <center><b>*****</b></center>
                    <br />
                    <p>
                        In connection with the above announcement twenty seven candidates are shortlisted for the post of
                        <b>@Model.PrijectTitle</b> in the Dept. of @Model.DraftProjectDetails.PIDepartmentName; <b>@Model.DraftProjectDetails.PIName</b> has proposed the following members to be part of the selection committee for the interview scheduled on <b>@Model.strInterviewDate.</b>
                    </p>
                </div>
                <div style="height:50px;">
                </div>
                <div class="col-md-12">
                    <p style="margin-left:10px;"><b><u>Proposed Members:</u></b></p>
                    <p style="margin-left:20px;"><b><u>Interview panel:</u></b></p>
                    <table class="table table-bordered">
                        <tbody>
                            @if (Model.CommiteeMemberDetails != null)
                            {
                                var SNo = 0;
                                for (int i = 0; i < Model.CommiteeMemberDetails.Count; i++)
                                {
                                    SNo = i + 1;
                                    <tr>
                                        <td>@SNo .</td>
                                        <td>@Model.CommiteeMemberDetails[i].PIDesignation . @Model.CommiteeMemberDetails[i].PIName</td>
                                        <td>-Dept of @Model.CommiteeMemberDetails[i].PIDepartment</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <p style="margin-left:10px;"><b><u>Dean may kindly approve the above recommendation.</u></b></p>
                </div>
                <div style="height:100px;">
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center" width="50px">SM-HR</th>
                                <th class="text-center" width="50px">CM-ADMIN</th>
                                <th class="text-center" width="50px">DEAN-ICSR</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div style="page-break-after:always">
            <div class="row">
                <div class="col-md-12">
                    <center><h4><b><u>CENTRE FOR IC&SR, IIT MADRAS</u></b></h4></center>
                    <div class="text-right">
                        <p><b>Project Recruitment</b></p>
                        <p><b>Date: @string.Format("{0:dd.MM.yyy}", DateTime.Now)</b></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <p><b><u>Note to Dean( IC& SR):</u></b></p>
                    <div style="height:100px;">
                    </div>
                    <p style="margin-left:165px;">
                        <b><u>Sub:</u></b>  Recruitment of "@Model.PrijectTitle"<br>
                        <b><u>Ref:</u></b>  &nbsp;<b>@Model.RefNo Dated:@string.Format("{0:dd.MM.yyy}", DateTime.Now); through @Model.PortalsPlatform</b>
                    </p>
                    <center><b>*****</b></center>
                    <p>
                        Further to the release of advertisement for the post of "@Model.PrijectTitle", @Model.DesignationDetails.Sum(m => m.TotalApplicant) applications have been received through @Model.PortalsPlatform .<br />
                        The following criteria has been considered to scrutinize the applications as Preliminary process. Incomplete applications are not considered.
                    </p>
                    <br />
                    <p>
                        Based on the above criteria only @Model.DesignationDetails.Sum(m => m.ShortlistedApplicant) candidates are eligible (out of @Model.DesignationDetails.Sum(m => m.TotalApplicant) ).
                    </p>
                    <p>
                        In order to process the above @Model.DesignationDetails.Sum(m => m.ShortlistedApplicant) applications, Dean may kindly constitute a Committee, to shortlist the applications for the further process screening.
                    </p>
                </div>
                <div style="height:100px;">
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center" width="50px">SM-HR</th>
                                <th class="text-center" width="50px">CM-ADMIN</th>
                                <th class="text-center" width="50px">DEAN-ICSR</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    }
    <!-- main js files -->
    @*<script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>*@
</body>
</html>
