@model IOAS.Models.AnnouncementMasterModel
<!DOCTYPE html>
<html lang="en">
<head>
    @if (!Model.isNotIncludeHeader)
    {
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
         <!-- favicon icon -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&display=swap" rel="stylesheet">
    }
    <style>
        .outer {
            width: 100%;
            height: 1380px;
            border-style: double;
            border-color: #424242;
            padding: 20px;
        }

        .umr-body {
            /*font-family: 'Poppins', sans-serif;*/
            font-family: 'Poppins', sans-serif !important;
            font-size: 16px;
            color: #2a2a2a;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .ct-in h2 em {
            float: left;
            font-style: normal;
            width: calc(100% - 250px);
            text-align: center;
            padding-top: 35px;
            font-size: 20px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mn-m-tt {
            font-size: 20px;
            padding-bottom: 5px;
        }

        .mn-tt {
            font-size: 16px;
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
        }

        .spl-box-algn h2 {
            background: #bfbfbf;
            font-size: 15px;
            padding: 10px 10px;
            text-align: center;
            font-weight: bold;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            margin-bottom: 0px;
        }

        .spl-box-algn h3 {
            font-size: 15px;
            padding: 10px 10px;
            font-weight: bold;
            border-bottom: 1px solid #000;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .spl-box-algn h5 {
            font-size: 14px;
            padding: 10px 10px;
            border-bottom: 1px solid #000;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .spl-box-algn ul {
            padding-top: 10px;
            padding-bottom: 0px;
            border-bottom: 1px solid #000;
            padding-left: 30px;
            margin-bottom: 0px;
        }

            .spl-box-algn ul:last-child {
                border-bottom: 0px;
            }

        h5 {
            font-weight: bold;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border: 0px;
        }

        .bg-grey {
            background: #ccc;
        }

        .logo-section .icsr-logo {
            width: 100px;
            height: 100px;
            float: left;
        }

        .logo-section .dts {
            width: calc(100% - 100px);
            float: left;
        }

        .logo-section h4 {
        }


        .table > tbody > tr > td {
            border: inherit;
        }
          .table > tbody > tr > th {
            border: inherit;
        }
        .table > thead > tr {
            border-color: #000;
        }

        .table > thead > tr > td {
          border: 1px solid #000;
        }

        .table-bordered > thead > tr > th {
            border-bottom-width: 0px;
        }

        .table.table-bordered > tbody > tr > td {
            border-color: #000;
        }
        .tp-tt {
            font-weight: bold;
        }

        .table-bordered > thead > tr > th {
            border: 1px solid #000;
        }

        table, tr, td, th {
            border: 1px solid #000;
        }

        .table {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="umr-body">
    <div style="page-break-after:always">
        <div class="">
            <div class="row logo-section ">
                <div class="col-md-4">
                    <img src="~/Content/InstituteLogo/InstituteLogo/icsr_logo.png" class="icsr-logo" />
                </div>
                <div class="col-md-8">
                    <h4 class="text-center"><b>CENTRE FOR INDUSTRIAL CONSULTANCY AND SPONSORED RESEARCH</b></h4>
                    <h4 class="text-center">INDIAN INSTITUTE OF TECHNOLOGY MADRAS</h4>
                    <h4 class="text-center">CHENNAI – 600 036</h4>
                    <h5 class="text-center"><b><i>Advertisement No.: @Model.RefNo &nbsp;&nbsp; Dated: @string.Format("{0:dd/MMMM/yyy}", DateTime.Now)</i></b></h5>
                </div>
                <hr style="height:2px;border-style:dashed;border-width:0;color:black;background-color:black">
            </div>
            <div class="row">
                @if (Model.AnnouncementCategory == "Project wise")
                {
                    <div class="col-md-12">
                        <p>
                            Applications are invited for the following temporary post under the project <b>“@Model.DraftProjectDetails.ProjectTitle”</b> in the Dept. of <b>@Model.DraftProjectDetails.PIDepartmentName.ToUpperInvariant()</b>, IIT Madras.
                        </p>
                        <p>
                            <b><u>Co-ordinators:</u></b> @Model.DraftProjectDetails.PIDesignation. @Model.DraftProjectDetails.PIName, Dept. of @Model.DraftProjectDetails.PIDepartmentName<br>
                        </p>
                        <p>
                            <b><u>Duration:</u></b> Initially for a period of one year, extendable based on performance.
                        </p>
                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        <p>
                            Applications are invited for the following temporary post of <b>"@Model.PrijectTitle"</b> for <b>various Projects & Programmes"</b> in the <b>"Centre for IC&SR"</b>, IIT Madras.
                        </p>
                        <p>
                            <b><u>Duration:</u></b> Initially for a period of one year, extendable based on performance.
                        </p>
                    </div>
                }
                <br>
                <br>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Post</th>
                                <th>Qualification and Experience</th>
                                <th>Pay Range</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.DesignationDetails != null)
                            {
                                for (int i = 0; i < Model.DesignationDetails.Count; i++)
                                {
                                    int SNo = i + 1;
                                    <tr>
                                        <th>@SNo</th>
                                        <th>@Model.DesignationDetails[i].Designation</th>
                                        <td>@Model.DesignationDetails[i].Qualification</td>
                                        <th>Rs. @Model.DesignationDetails[i].MinSalarystr-@Model.DesignationDetails[i].MaxSalarystr/-pm</th>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <br/>
                    <br />
                    <center><p><b>The last date for submission of online application is @Model.strAnnouncementClosureDate</b></p></center>
                </div>
            </div>
        </div>
    </div>
    <div style="page-break-after:always">
        <div class="">
            <div class="row">
                <div class="col-md-12">
                     <center><b><u> General Instructions to the candidates</u></b></center><br>
                    <p>1)	All the positions are on purely contract basis.</p>
                    <p>2)	The completion of the period of contract will not confer any right for further extension, regularization, permanency at the Institute.</p>
                    <p>3)	Candidates should apply online only in the website <a href="https://icandsr.iitm.ac.in/recruitment/">https://icandsr.iitm.ac.in/recruitment/</a> - <span style="color:red">(Please check the advertisement number Advt.72/2020 displayed and submit the application for the relevant position).</span></p>
                    <p>4)	Separate application has to be filled for each post.</p>
                    <p>5)	The system will accept single application only with the registered login ID (email) for an advertisement, hence the candidate is requested to select the multiple positions (In case, he/she wishes to apply for more than one position) before the submission of application.</p>
                    <p>6)	The application cannot be edited, reverted once it is submitted.</p>
                    <p>7)	Candidates should not attempt to apply twice for the same post. If multiple applications are received from a candidate for the same post, his/her candidature will liable to be rejected.</p>
                    <p>8)	Candidates should follow the prescribed procedure for submission of online application.</p>
                    <p>9)	Candidates are advised to fill their correct and active e-mail addresses in the online application as all correspondence will be made by the Institute through e-mail only.</p>
                    <p>10)	The candidates applying for any post should ensure that they fulfil all the eligibility conditions for the post. Their admission to any stage of the selection process will be purely provisional subject to confirmation that they satisfy the prescribed eligibility conditions. Mere issue of registration certificate / call letter to the candidate will not imply that his/her candidature has been found eligible.</p>
                    <p>11)	After successful online submission of application, a print out of the application form must be obtained and submitted when called for test. It will be required at the time of document verification/test/interview. Hard copy of the application is NOT to be sent to the Institute.</p>
                    <p>12)	Candidates must be citizens of India. Persons who have migrated from Pakistan with the intention of permanently settling in India or subjects of Nepal are also eligible, but in their case a certificate of eligibility from the Government of India will be necessary for appointment. Such candidates should apply to the Government of India in the Ministry of Home Affairs for necessary certificate and furnish satisfactory proof of having so applied.</p>
                    <p>13)	The prescribed qualifications are minimum and unless specified, they are required for consideration for the post, even if higher qualification has been acquired and the mere fact that a candidate possesses the same will not entitle him/her for being called for interview.</p>
                    <p>14)	Relevant experience gained after the minimum qualifying degree will only be taken into consideration. Minimum requirements of qualifications and/or experience can be relaxed in respect of exceptionally outstanding candidates.</p>
                    <p>15)	The experience required is relaxable at the discretion of the Institute in the case of candidates belonging to the Scheduled Caste / Scheduled Tribe, if at any stage of selection the competent authority is of the opinion that sufficient number of candidates from these communities possessing the requisite experience are not likely to be available to fill up the vacancy reserved for them.</p>
                    <p>16)	The Institute reserves the right to restrict the number of candidates for written / skill test / interview to a reasonable limit on the basis of qualifications, level and relevance of experience higher than the minimum prescribed in the advertisement and other academic achievements. The Institute also reserves the right of rejecting any or all the applications without assigning any reasons therefore.</p>
                    <p>17)	Calling a candidate for test/interview merely indicates that it is felt that he/she with others may be suitable for the post and conveys no assurance whatsoever that he/she will be recommended or selected or his/her conditions specified in the application will be accepted.</p>
                    <p>18)	Candidates will be short-listed for Test/Interview on the basis of the information provided by them in their online applications. They must ensure that such information is true. If at any subsequent stage or at the time of Test/Interview any information given by them or any claim made by them in their online applications is found to be false, their candidature will be liable to be rejected.</p>
                    <p>19)	The Institute shall verify the antecedents or documents submitted by a candidate at any time at the time of appointment or during the tenure of the service. In case, it is detected that the documents submitted by the candidates are fake or the candidate has clandestine antecedents/background and has suppressed the said information, then his services shall be liable to be terminated.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="page-break-after:always">
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <p>20)	In case of any inadvertent mistake in the process of selection which may be detected at any stage even after the issue of appointment letter, the Institute reserves the right to modify/ withdraw/ cancel any communication made to the candidates.</p>
                    <p>21)	Applicants who are working in any one of the Project at IIT Madras, must apply through proper channel otherwise they will be required to produce No-Objection Certificate at the time of document verification/Test/Interview. Candidates without NOC will not be permitted to appear for Test/Interview.</p>
                    <p>22)	Candidates may send testimonials from persons intimately acquainted with their work and character. If the applicant is in employment, he/she should submit testimonials from the most recent employer or immediate superior as a referee.</p>
                    <p>23)	The Institute has a right to decide the mode of screening and testing the applicant for short listing and selection.</p>
                    <p>24)	The Institute solely reserves the right not to fill any advertised position without assigning any reason</p>
                    <p>25)	Only shortlisted applicants will be contacted.</p>
                    <p>26)	No correspondence whatsoever will be entertained from candidates regarding conduct and result of test/interview and reasons for not being called for interview. Canvassing in any form will be a disqualification.</p>
                    <p>27)	The crucial date for determining the eligibility criteria for all candidates in every respect shall be the prescribed closing date for submission of online application.</p>
                    <p>28)	The Institute strives to have a workforce which reflects gender balance and women candidates are encouraged to apply.</p>
                    <p>29)	Any corrigendum/clarifications on this advertisement, if necessary, shall be uploaded on website and no separate communication will be sent for this purpose.</p>
                    <p>30)	<b>The last date for submission of online application is (e.g 15 days from the date of announcement).</b></p>
                    <p>31)	If there is any issue to submit the application please send E-mail to : <a href="mailto:recruitment@imail.iitm.ac.in">recruitment@imail.iitm.ac.in</a> / <a href="mailto:icsrrecruitment@iitm.ac.in">icsrrecruitment@iitm.ac.in</a>  <b>Contact: 044- 2257 9773 / 9796</b> on all working days from <b>9.00 AM to 05.30 PM (Monday to Friday – except National Holidays).</b> (Please note, only technical issues will be accepted – No interim correspondence with reference to the selection process will be considered).</p>
                    <p>32)	<b>Instructions to apply online:-</b>Eligible applicants would require to register and apply online through <a href="https://icandsr.iitm.ac.in/recruitment/">https://icandsr.iitm.ac.in/recruitment/</a> and submit the application.</p>
                    <p>
                        <b>Sd</b>/-<br>
                        Senior Manager –HR<br>
                        Centre for IC&SR<br>
                        IIT Madras
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>
