@model IOAS.Models.HRAOrderModel
@{
    ViewBag.Title = "HRA";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
    <link href="@Url.Content("~/Content/IOASContent/assets/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" />
}
<style>
    .modal-dialog {
        width: 850px;
    }

    .gd-wht-bg {
        background: #fff;
        padding: 15px;
        border-radius: 4px;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    }
</style>
@using (Html.BeginForm("HRAView", "Requirement", FormMethod.Get, new { @class = "", role = "form", @id = "HRAView", enctype = "multipart/form-data" }))
{
    <div class="row hd-tt-bg">
        <div class="col-md-12">
            <h4><b>HRA</b></h4>
        </div>
    </div>
    <div class="row">
        <div class="white-bg ad-navbar">
            <div class="col-md-2 ds-spl-bg">

            </div>
            <div class="col-md-3 ds-spl-bg">
                <div class="ds-icn">
                    <i class="ion-ios-list-outline "></i>
                </div>
                <div class="ds-tt">
                    @Html.HiddenFor(m => m.ApplicationID)
                    @Html.HiddenFor(m => m.OrderID)
                    @Html.HiddenFor(m => m.Status)
                    @Html.HiddenFor(m => m.TypeCode)
                    <span>Request Reference</span>
                    @Html.DropDownListFor(m => m.RequestReference, new SelectList(ViewBag.ReferenceType, "id", "name"), "Select", new { @class = "form-control" })
                    <div>@Html.ValidationMessageFor(m => m.RequestReference)</div>
                </div>
            </div>
            <div class="col-md-3 ds-spl-bg">
                <div class="ds-icn">
                    <i class="ion-ios-list-outline "></i>
                </div>
                <div class="ds-tt" id="divRefNum">
                    <span class="required">Ref Number (WF / Tapal)</span>
                    @Html.TextBoxFor(M => M.ReferenceNo, new { @class = "form-control" })
                    @*@Html.TextBoxFor(m => m.SourceReferenceNumber, new { @class = "form-control dis-none" })
                        <div>@Html.ValidationMessageFor(M => M.SourceReferenceNumber)</div>*@
                    @Html.Hidden("SourceTapalOrWorkflow", "True")
                </div>
                <div class="dis-none ds-tt" id="divRefEmailDate">
                    <span class="required">Email Date</span>
                    @Html.EditorFor(m => m.SourceEmailDate, new { @class = "form-control" })
                    <div class="txt-error txt-red">@Html.ValidationMessageFor(m => m.SourceEmailDate)</div>
                </div>
            </div><div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="row cust-tab">
        <div class="page-wrapper mt30">
            <div>
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="bl-lg-panel-box pb-null">
                                <div class="cmn-panel-box">
                                    <div class="row ">
                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group">
                                                <label>Employee Id</label>
                                                <h4>@Html.DisplayFor(m => m.EmployeeID)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group">
                                                <label>Type of appointment </label>
                                                <h4>@Html.DisplayFor(m => m.Typeofappointment)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group  ">
                                                <label>Email ID</label>
                                                <h4>@Html.DisplayFor(m => m.Email)</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group">
                                                <label>Name </label>
                                                <h4 id="CantidateName">@Html.DisplayFor(m => m.Name)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group mb-sm ">
                                                <label>Father’s / Husband’s Name</label>
                                                <h4>@Html.DisplayFor(m => m.Nameoftheguardian)</h4>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group">
                                                <label>Permanent Address  </label>
                                                <h4>
                                                    @Html.DisplayFor(m => m.PermanentAddress)
                                                </h4>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group">
                                                <label>Temporary Address  </label>
                                                <h4>
                                                    @Html.DisplayFor(m => m.PresentAddress)
                                                </h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group mb-sm ">
                                                <label>Contact No</label>
                                                <h4>@Html.DisplayFor(m => m.ContactNumber)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group ">
                                                <label>Date of Birth</label>
                                                <h4>@Html.DisplayFor(m => m.DateofBirth)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group ">
                                                <label>Age</label>
                                                <h4 id="Age">@Html.DisplayFor(m => m.Age)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group  ">
                                                <label>Sex</label>
                                                <h4>@Html.DisplayFor(m => m.Sex)</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group">
                                                <label>Upload HRA form</label> <br>
                                                @if (Model.OrderID > 0 && !string.IsNullOrEmpty(Model.HRAFormPath))
                                                {
                                                    @Html.ActionLink(Model.HRAFormName, "ShowDocument", new { Controller = "Account", filepath = "Requirement", file = Model.HRAFormPath }, new { @name = "DocDownload", @target = "_blank" })
                                                }
                                            </div>
                                        </div>
                                        @if (Model.OrderType == 5)
                                        {
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group">
                                                    <label>Proof of Address</label> <br>
                                                    @Html.DropDownListFor(m => m.AddressProof, new SelectList(ViewBag.ProofofAddress, "id", "name", Model.AddressProof), "Select", new { @class = "form-control" })
                                                    <br>
                                                    @if (Model.OrderID > 0 && !string.IsNullOrEmpty(Model.AddressProofPath))
                                                    {
                                                        @Html.ActionLink(Model.AddressProofName, "ShowDocument", new { Controller = "Account", filepath = "Requirement", file = Model.AddressProofPath }, new { @name = "DocDownload", @target = "_blank" })
                                                    }
                                                </div>
                                            </div>
                                        }
                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group">
                                                <label>Approval letter</label> <br>
                                                @if (Model.OrderID > 0 && !string.IsNullOrEmpty(Model.PILetterPath))
                                                {
                                                    @Html.ActionLink(Model.PILetterFileName, "ShowDocument", new { Controller = "Account", filepath = "Requirement", file = Model.PILetterPath }, new { @name = "DocDownload", @target = "_blank" })
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group custom-form-group ">
                                                <label>Application ReceiveDate</label>
                                                <h4>@string.Format("{0:dd-MMMM-yyyy}", Model.ApplicationReceiveDate)</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="bl-lg-panel-box  pb-null">
                                <div class="bl-lg-panel-box-hd mb-m-5 pd-null">
                                    <div class="cmn-panel-box">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group mb-sm">
                                                    <label>Project Number</label>
                                                    <h4>@Html.DisplayFor(m => m.Appointmentdetails.ProjectNumber)</h4>
                                                    @Html.HiddenFor(m => m.Appointmentdetails.ProjectID)
                                                    @Html.Hidden("ProjectId", Model.Appointmentdetails.ProjectID)
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group mb-sm">
                                                    <label>Project Title</label>
                                                    <h4 id="txtProjectTitle">@Html.DisplayFor(m => m.Appointmentdetails.ProjectTitle)</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group mb-sm">
                                                    <label>Name of the Client / Sponsoring Agency</label>
                                                    <h4 id="txtClietAgency">@Html.DisplayFor(m => m.Appointmentdetails.SponsoringAgency)</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group mb-sm">
                                                    <label>Project Type</label>
                                                    <h4 id="txtProjectType">@Html.DisplayFor(m => m.Appointmentdetails.ProjectType)</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group mb-sm">
                                                    <label>PI Name</label>
                                                    <h4 id="txtPIName">@Html.DisplayFor(m => m.Appointmentdetails.PIName)</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group mb-sm">
                                                    <label>Project Start Date</label>
                                                    <h4 id="txtProjectStartDate">@Html.DisplayFor(m => m.Appointmentdetails.ProjectStartDate)</h4>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group mb-sm">
                                                    <label>Project Closure Date</label>
                                                    <h4 id="txtProjectClosureDate">@Html.DisplayFor(m => m.Appointmentdetails.ProjectClosureDate)</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group mb-sm">
                                                    <label>PI Code</label>
                                                    <h4 id="txtPICode">@Html.DisplayFor(m => m.Appointmentdetails.PICode)</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group mb-sm">
                                                    <label>PI Email ID</label>
                                                    <h4 id="txtPIEmailID">@Html.DisplayFor(m => m.Appointmentdetails.Email)</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group mb-sm">
                                                    <label>PI Phone No</label>
                                                    <h4 id="txtPIPhone">@Html.DisplayFor(m => m.Appointmentdetails.Phone)</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group mb-sm">
                                                    <label>Department code </label>
                                                    <h4 id="txtDepartmentCode">@Html.DisplayFor(m => m.Appointmentdetails.PIDepartmentCode)</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group mb-sm">
                                                    <label>Department Name</label>
                                                    <h4 id="txtDepartmentName">@Html.DisplayFor(m => m.Appointmentdetails.PIDepartmentName)</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group custom-form-group">
                                                            <label>Appointment start date</label>
                                                            <h4 id="txtAppointmentStartDate">@Html.DisplayFor(m => m.Appointmentdetails.AppointmentStartDate)</h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group custom-form-group">
                                                            <label>Appointment End date</label>
                                                            <h4 id="txtAppointmentEndDate">@Html.DisplayFor(m => m.Appointmentdetails.AppointmentClosureDate)</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group">
                                                    <label>Designation</label>
                                                    <h4>@Html.DisplayFor(m => m.Appointmentdetails.Designation)</h4>
                                                    @Html.Hidden("DesignationId", Model.Appointmentdetails.DesignationId)
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group">
                                                    <label>Designation Code</label>
                                                    <h4>@Html.DisplayFor(m => m.Appointmentdetails.DesignationCode)</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mt-lg">
                                                <div class="form-group custom-form-group">
                                                    <input type="button" class="btn btn-success" value="Project Fund Availability" data-toggle="modal" data-target="#myModal">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group">
                                                    <label>Commitment Amount</label>
                                                    <h4>@Html.DisplayFor(m => m.Appointmentdetails.CommitmentAmmount)</h4>
                                                    @Html.Hidden("PrjAviAvailableBalance")
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group">
                                                    <label>Salary Level Range <i class="ion-information-circled" data-toggle="tooltip" data-original-title="@Model.Appointmentdetails.SalaryLevelDescription"></i></label>
                                                    <h4>@Model.Appointmentdetails.SalaryLevel</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group">
                                                    <label>Salary</label>
                                                    <h4 id="Salary">@Model.Appointmentdetails.Salary</h4>
                                                    @Html.Hidden("MinSalary", 0)
                                                    @Html.Hidden("MaxSalary", 0)
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group custom-form-group">
                                                    <label>HRA</label>
                                                    @if (Model.OrderID > 0 && Model.OrderType == 6)
                                                    {
                                                        <h4 id="HRA">@Html.DisplayFor(m => m.Appointmentdetails.HRA)</h4>
                                                    }
                                                    else
                                                    {
                                                        <h4 id="HRA">@Html.DisplayFor(m => m.HRA)</h4>
                                                    }
                                                    @Html.Hidden("isHRA", false)
                                                </div>
                                            </div>
                                            @if (Model.OrderID > 0 && Model.OrderType == 6)
                                            {
                                                <div class="col-md-3 reg-no custom-reg-no">
                                                    <div class="form-group custom-form-group">
                                                        <label>Withdraw  Commitment</label>
                                                        @Html.TextBoxFor(m => m.WithdrawalAmount, new { @class = "form-control", @onkeypress = "return isNumberKey(event)", @autocomplete = "off", @readonly = "readonly" })
                                                        <div>@Html.ValidationMessageFor(m => m.WithdrawalAmount)</div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-3 reg-no custom-reg-no">
                                                    <div class="form-group custom-form-group">
                                                        <label>Additional Commitment</label>
                                                        @Html.TextBoxFor(m => m.CommitmentAmount, new { @class = "form-control", @onkeypress = "return isNumberKey(event)", @autocomplete = "off", @readonly = "readonly" })
                                                        <div>@Html.ValidationMessageFor(m => m.CommitmentAmount)</div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        @if (Model.OrderID > 0 && Model.OrderType == 6)
                                        {
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group">
                                                        <label class="required">HRA<br>From Date</label>
                                                        <h4>@Html.DisplayFor(m => m.HRAFromDate)</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group">
                                                        <label class="required">HRA<br>To Date</label>
                                                        <h4>@Html.DisplayFor(m => m.HRAToDate)</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group">
                                                        <label class="required">HRA<br>Cancellation Date</label>
                                                        <h4>@string.Format("{0:dd-MMMM-yyyy}", Model.FromDate)</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group">
                                                        <label class="required">HRA<br>Cancellation Date</label>
                                                        <h4>@string.Format("{0:dd-MMMM-yyyy}", Model.ToDate)</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group">
                                                        <label class="required">HRA deduction till</label>
                                                        <h4>@Html.DisplayFor(m => m.strArrearOrDeductionTillDate)</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group">
                                                        <label class="required">Deduction Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.ArrearOrDeductionAmount)</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Remarks</label>
                                                        @Html.DisplayFor(m => m.Remarks)
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group">
                                                        <label class="required">From Date</label>
                                                        <h4>@string.Format("{0:dd-MMMM-yyyy}", Model.FromDate)</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group">
                                                        <label class="required">To Date</label>
                                                        <h4>@string.Format("{0:dd-MMMM-yyyy}", Model.ToDate)</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group">
                                                        <label class="required">Arrear HRA till</label>
                                                        <h4>@Html.DisplayFor(m => m.strArrearOrDeductionTillDate)</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group custom-form-group">
                                                        <label class="required">Arrear Amount</label>
                                                        <h4>@Html.DisplayFor(m => m.ArrearOrDeductionAmount)</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Remarks</label>
                                                        @Html.DisplayFor(m => m.Remarks)
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        @if (Model.Status == "Sent for approval")
                        {
                            <p class="gd-wht-bg"><input type="checkbox" value="" class="mr-sm" id="ReqCommitment"><b>Recommend Commitment Booking</b></p>
                        }
                        else
                        {
                            <p class="gd-wht-bg"><input type="checkbox" value="" class="mr-sm" id="ReqCommitment" checked disabled><b>Recommend Commitment Booking</b></p>
                        }
                    </div>
                </div>
            </div>
        </div>*@
    <div class="text-center" style="margin-bottom: 50px;">
        @Html.HiddenFor(m => m.List_f)
        @if (!Model.List_f.Contains("EmployeeMaster"))
        {
            <button type="button" class="btn btn-default" onclick="window.location.href='@Url.Action(Model.List_f, "Requirement")';">Close</button>
        }
        else
        {
            <button type="button" class="btn btn-default" onclick="window.location.href='@Url.Action("Dashboard", "Home")';">Close</button>
        }
    </div>
}
<div class="loading-bg dis-none">
</div>
<div id="popup">

</div>

<input type="hidden" id="currentRefId" value="@Model.OrderID" />
<input type="hidden" id="processGuideLineId" value="@ViewBag.processGuideLineId" />
<div id="act-now">
    @Html.Partial("_ProcessStatus")
</div>
<div class="loading-bg dis-none">
</div>
<div id="popup">

</div>

<script>
    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        if (succMsg != '') {
            $('#alertSuccess').html(succMsg);
            $('#Success').modal('toggle');
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
        $('.selectpicker').selectpicker({
            liveSearch: true
        });
        $('.selectpicker').selectpicker('refresh');

    });
    var addyear = 0;

    if ($("#ProjectId").val() > 0)
        ProjectSummary()

    if ($("#DesignationId").val() > 0)
        LoadFillDesignation()


    function LoadFillDesignation() {
        var DesignationID = $('#DesignationId').val();
        if (DesignationID > 0) {
            $.getJSON("@Url.Action("LoadDesignationDetails", "Requirement")", { DesignationID: DesignationID },
        function (result) {
            if (result.DesignationData.DestinationID > 0) {
                $("#MinSalary").val(result.DesignationData.MinSalary);
                $("#MaxSalary").val(result.DesignationData.MaxSalary);
                if (result.DesignationData.HRA)
                    $('#isHRA').val(true)
                else
                    $('#isHRA').val(false)
            }
        });
        }
    }

    function ProjectSummary() {
        var projectId = $("#ProjectId").val();
        if (projectId != "" || projectId != 0) {
            $(".loading-bg").removeClass('dis-none');
            $.getJSON("@Url.Action("LoadProjectDetails", "Account")", { ProjectId: projectId },
        function (result) {
            if (result.projectData.ProjectNo != null) {
                $('#txtProjectTitle').text(result.projectData.ProjectTittle);
                $('#txtClietAgency').text(result.projectData.AgencyName);
                $('#txtProjectType').text(result.projectData.ProjectType);
                $('#txtProjectType1').text(result.projectData.ProjectType);
                $('#txtPIName').text(result.projectData.PIname);
                $('#txtProjectStartDate').text(result.projectData.StartDate);
                $('#txtProjectClosureDate').text(result.projectData.CloseDate);
                $('#PrjAviAvailableBalance').val(result.projectData.AvailableBalance);
                //Fill PI data
                FillPIDetails(projectId);
                $(".loading-bg").addClass('dis-none');
            }
            else {
                $(".loading-bg").addClass('dis-none');
            }
        });
        }
    }
    function FillPIDetails(PolicyID) {
        $.getJSON("@Url.Action("LoadProjectDetails", "Requirement")", { ProjectId: PolicyID },
              function (result) {
                  if (result.projectData.ProjectNumber != null) {
                      $('#txtPICode').text(result.projectData.PICode);
                      $('#txtPIEmailID').text(result.projectData.Email);
                      $('#txtPIPhone').text(result.projectData.Phone);
                      $('#txtDepartmentCode').text(result.projectData.PIDepartmentCode);
                      $('#txtDepartmentName').text(result.projectData.PIDepartmentName);
                  }
              });
    }

    $(document).on('click', '#btnViewSummary', function () {
        var projNo = $('#ProjectId').val() || 0;
        if (projNo > 0) {
            var searchData = { "ProjectId": projNo };
            $.ajax({
                url: "@Url.Action("_ProjectSummary", "CoreAccounts")",
                type: "POST",
                data: searchData,
                contentType: "application/x-www-form-urlencoded",
                beforeSend: function () {
                    $(".loading-bg").removeClass('dis-none');
                },
                success: function (result) {
                    $(".loading-bg").addClass('dis-none');
                    $("#popup").html(result);
                    $("#projectSummaryModal").modal('toggle');
                },
                error: function (err) {
                    console.log("error : " + err);
                }
            });
        }
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }



    $('a[name="DocDownload"]').click(function (p) {
        p.preventDefault();
        var ref = $(this).attr('href');
        var win = window.open('', '_blank');
        win.location.href = ref;
    });

    var findtabs = $(".cust-tab");
    $(findtabs[0]).find('textarea,input[type="text"]').each(function () {
        var ID = $(this).attr('id');
        var name = $(this).attr('name').split('.')[1];
        var NotinID = ["DesignationCode", "ProjectNumber"];
        var NotinEndName = ["DesignationautoComplete"];
        if (!NotinID.includes(ID) && !NotinEndName.includes(name)) {
            $(this).attr('style', 'text-transform:uppercase');
        }
    });

    function FormDisabled() {
        $("#HRAView").find("input, select, textarea").each(function () {
            var idDisabled = $(this).is(":disabled");
            var id = $(this).attr('id');
            if (!idDisabled) {
                $(this).attr("disabled", "disabled");
            }
        });
        @*var status='@Model.Status';
        if (status == "Sent for approval")
        {
            $('#ReqCommitment').removeAttr("disabled");
        }*@
    }
    FormDisabled();
    //$('#ReqCommitment').click(function () {
    //    if ($(this).is(':checked')) {
    //        $('#act-now').removeClass('dis-none');
    //    }
    //    else {
    //        $('#act-now').addClass('dis-none');
    //    }
    //});
    //if ($('#ReqCommitment').is(':checked')) {
    //    $('#act-now').removeClass('dis-none');
    //}
    //else {
    //    $('#act-now').addClass('dis-none');
    //}
    $('#btnViewSummary').removeAttr('disabled');
    $('#btnViewStaffAllocation').removeAttr('disabled');


    var selSource = $('#RequestReference').val();
    $("#divRefNum, #divRefEmailDate").addClass('dis-none');
    if (selSource == '1') {
        applyAutoComplete($('#ReferenceNo'), $('#SourceReferenceNumber'), "@Url.Action("GetACWorkflowRefNumber", "Proposal")");
        $("#divRefNum").removeClass('dis-none');
        $("#SourceTapalOrWorkflow").val('True');
    }
    else if (selSource == '3') {
        applyAutoComplete($('#ReferenceNo'), $('#SourceReferenceNumber'), "@Url.Action("GetACTapalRefNumber", "Proposal")");
        $("#divRefNum").removeClass('dis-none');
        $("#SourceTapalOrWorkflow").val('True');
    }
    else if (selSource == '2') {
        $('#divRefEmailDate').removeClass('dis-none');
        $("#SourceTapalOrWorkflow").val('False');
    }
    else {
        $("#divRefNum").removeClass('dis-none');
        $("#SourceTapalOrWorkflow").val('True');
    }

</script>
