
@{
    ViewBag.Title = "Note to dean";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h3>Note to dean dashboard</h3>
    </div>

</div>
<style>

</style>
<div class="col-md-12">
    <div class="row mt30">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-jsgrid-normal">
                        <div id="gridAppList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialogConfirm" class="modal fade modal-pr-vw in" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Note to dean application</h4>
            </div>
            @*<div class="modal-body  pdt-null" id="divPage" style="overflow: auto;">

                </div>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="isbtnConfirm">Approve</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Decline</button>
            </div>
        </div>
    </div>
</div>

<div class="loading-bg dis-none">
</div>
<script>
    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    var alertMsg = '@TempData["alertMsg"]';
    $(document).ready(function () {
        if (succMsg != '') {
            $('#alertSuccess').html(succMsg);
            $('#Success').modal('toggle');
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
        else if (alertMsg != '') {
            $('#alert').html(alertMsg);
            $('#Validation').modal('toggle');
        }
    });
    $("#gridAppList").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 5,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {

            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    ApplicationNo: filter.ApplicationNumber || null,
                    Category: filter.Category || null,
                    PIName: filter.PIName || null,
                    CondidateName: filter.CondidateName || null,
                    PIEmail: filter.Email || null,
                    Status: filter.Status || null
                },
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: "GetNoteToDeanList",
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        //db = result;
                        //$("#AdvanceBillPaymentList").jsGrid({ data: db });
                        var da = {
                            data: result.ApplicationList,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }

                });
                return deferred.promise();
            }

        },

        fields: [
            { name: "SNo", title: "S.No", editing: false, width: 50 },
            { type: "number", name: "ApplicationId", title: "Id", visible: false },
            { type: "text", name: "ApplicationNumber", title: "Application Number", editing: false },
            { type: "text", name: "Category", title: "Category", editing: false },
            { type: "text", name: "CondidateName", title: "Condidate Name", editing: false },
            { type: "text", name: "PIName", title: "PI Name", editing: false },
            { type: "text", name: "Email", title: "PI Email", editing: false },
           { type: "text", name: "Status", title: "Status", editing: false },
             {
                 type: "control", editButton: false, deleteButton: false, width: 120, title: "Action",

                 itemTemplate: function (value, item) {
                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                     if (item.Status == "Note to Dean") {

                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     var $customSelect = $("<select>")
                         .attr("class", "form-control").prop("selectedIndex", "")
                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {

                             value: itemData.id,
                             text: itemData.name
                         }));
                     });
                     $customSelect.change(function (e) {
                         var selVal = $(this).val();
                         if (selVal == "View") {
                             if (item.Category == "CON") {

                                 var url = '@Url.Action("ConsultantView", "Requirement")?consultantAppId=' + item.ApplicationId + '&isView=' + true + '&Adminf=' + true;
                                 window.location.href = url;
                             }
                             else if (item.Category == "STE") {
                                 $.confirm({
                                     title: "Dean's Approval",
                                     type: 'blue',
                                     columnClass: 'col-md-12',
                                     content: "URL:@Url.Action("_STEApprovalView", "Requirement")?STEID=" + item.ApplicationId,
                                     buttons: {
                                         Yes: {
                                             text: 'Approve',
                                             btnClass: 'btn-blue',
                                             action: function () {
                                                 $.ajax({
                                                     type: "Post",
                                                     url: '@Url.Action("DeansApproval", "Requirement")',
                                                     data: {
                                                         ApplicationID: item.ApplicationId,
                                                         Category: item.Category,
                                                         isApprove: true
                                                     },
                                                     success: function (result) {
                                                         if (result) {
                                                             $('#alertSuccess').html("Application submitted for approval");
                                                             $('#Success').modal('toggle');
                                                             $("#gridAppList").jsGrid("loadData");
                                                         }
                                                         else {
                                                             $('#FailedAlert').html("Something Went to Wrong Please Conatact Administrator");
                                                             $('#Failed').modal('toggle');
                                                             $("#gridAppList").jsGrid("loadData");
                                                         }
                                                     },
                                                     error: function (err) {
                                                         console.log("error1 : " + err);
                                                     }
                                                 });
                                             }
                                         },
                                         No: {
                                             text: 'Decline',
                                             btnClass: 'btn-red',
                                             action: function () {
                                                 $.ajax({
                                                     type: "Post",
                                                     url: '@Url.Action("DeansApproval", "Requirement")',
                                                     data: {
                                                         ApplicationID: item.ApplicationId,
                                                         Catecory: item.Category,
                                                         isApprove: false
                                                     },
                                                     success: function (result) {
                                                         if (result) {
                                                             $('#alertSuccess').html("Application submitted for approval");
                                                             $('#Success').modal('toggle');
                                                             $("#gridAppList").jsGrid("loadData");
                                                         }
                                                         else {
                                                             $('#FailedAlert').html("Something Went to Wrong Please Conatact Administrator");
                                                             $('#Failed').modal('toggle');
                                                             $("#gridAppList").jsGrid("loadData");
                                                         }
                                                     },
                                                     error: function (err) {
                                                         console.log("error1 : " + err);
                                                     }
                                                 });
                                             }
                                         },
                                     },
                                     Close: {
                                         text: 'Close',
                                         action: function () {
                                         }
                                     },
                                 });
                             }
                         }
                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });
                     return $result.add($customSelect);
                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }


        ],
    });

    $("#gridAppList").jsGrid("option", "filtering", false);
    var DateField = function (config) {
        jsGrid.Field.call(this, config);
    };
    DateField.prototype = new jsGrid.Field({
        sorter: function (date1, date2) {
            return new Date(date1) - new Date(date2);
        },

        itemTemplate: function (value) {
            if (value != "") {
                return new Date(value).toDateString();
            }
        },

        filterTemplate: function () {
            var now = new Date();
            this._fromPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() - 1), changeYear: true });
            this._toPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() + 1), changeYear: true });
            return $("<div>").append(this._fromPicker).append(this._toPicker);
        },

        insertTemplate: function (value) {
            return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
        },

        editTemplate: function (value) {
            return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
        },

        insertValue: function () {
            return this._insertPicker.datepicker("getDate").toISOString();
        },

        editValue: function () {
            return this._editPicker.datepicker("getDate").toISOString();
        },

        filterValue: function () {
            return {
                from: this._fromPicker.datepicker("getDate"),
                to: this._toPicker.datepicker("getDate")
            };
        }
    });
    jsGrid.fields.date = DateField;
    $("#gridExEnhlist").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 5,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {

            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    EmployeeNo: filter.EmployeeNo || null,
                    ExtensionEnhCategory: filter.ExtensionEnhCategory || null,
                    ApplicationCategory: filter.ApplicationCategory || null,
                    CondidateName: filter.CondidateName || null,
                    EmployeeName: filter.EmployeeName || null,
                    ProjectNumber: filter.ProjectNumber || null,
                    Status: filter.Status || null
                },
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: "GetAllExtensionEnhList",
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        //db = result;
                        //$("#AdvanceBillPaymentList").jsGrid({ data: db });
                        var da = {
                            data: result.ExtandEnhList,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }

                });
                return deferred.promise();
            }

        },

        fields: [
            { name: "SNo", title: "S.No", editing: false, width: 50 },
            { type: "number", name: "OrderId", title: "Id", visible: false },
            { type: "text", name: "EmployeeNo", title: "Employee Number", editing: false },
            { type: "text", name: "ExtensionEnhCategory", title: "Extension / Enhancement", editing: false },
            { type: "text", name: "ApplicationCategory", title: "Application Category", editing: false },
            { type: "text", name: "EmployeeName", title: "Employee Name", editing: false },
            { type: "text", name: "ProjectNumber", title: "Project Number", editing: false },
            { type: "date", name: "StrFrmDate", title: "From Date", editing: false },
            { type: "date", name: "StrtoDate", title: "To Date", editing: false },
           { type: "text", name: "Status", title: "Status", editing: false },


             {
                 type: "control", editButton: false, deleteButton: false, width: 120, title: "Action",

                 itemTemplate: function (value, item) {
                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                     if (item.Status == "Open") {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                         //else if (item.Status == "Note to PI") {

                         //    if (item.EmailRemaindarCount == 0) {
                         //        statusList = [{ id: "", name: "Select Action" }, { id: "EmailNf", name: "Email Notification" }, { id: "View", name: "View" }]
                         //    }
                         //    else if (item.EmailRemaindarCount == 1) {
                         //        statusList = [{ id: "", name: "Select Action" }, { id: "EmailNf", name: "Email Remainder " + " " + item.EmailRemaindarCount }, { id: "View", name: "View" }]
                         //    }
                         //    else {
                         //        statusList = [{ id: "", name: "Select Action" }, { id: "EmailNf", name: "Email Reminder" + " " + item.EmailRemaindarCount }, { id: "View", name: "View" }]
                         //    }


                         //}

                     else {
                         statusList = [{ id: "", name: "Select Action" }, { id: "View", name: "View" }]
                     }
                     var $customSelect = $("<select>")
                         .attr("class", "form-control").prop("selectedIndex", "")
                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {

                             value: itemData.id,
                             text: itemData.name
                         }));
                     });
                     $customSelect.change(function (e) {
                         var selVal = $(this).val();
                         if (selVal == "View") {
                             if (item.ApplicationCategory == "STE") {
                                 if (item.ExtensionEnhCategory == "Extension") {
                                     var url = '@Url.Action("RecruitExtensionView", "Requirement")?OrderId=' + item.OrderId + '&Adminf=' + true;
                                     window.location.href = url;
                                 }
                                 else if (item.ExtensionEnhCategory == "Enhancement") {
                                     var url = '@Url.Action("RecruitEnhancementView", "Requirement")?OrderId=' + item.OrderId + '&Adminf=' + true;
                                     window.location.href = url;
                                 }

                             }
                             @*else if (item.Category == "STE") {
                                     var url = '@Url.Action("STEView", "Requirement")?STEID=' + item.ApplicationId + '&isView=' + true;
                                     window.location.href = url;
                                 }*@
                         }
                         @*else if (selVal == "EmailNf") {
                                 if (item.EmailRemaindarCount == 2) {
                                     $('#alert').html("Alert - Reminder E-mails already Sent");
                                     $('#Validation').modal('toggle');
                                     return false;
                                 }
                                 var choice = confirm("Do you want to send a reminder email");
                                 if (choice == true) {
                                     if (item.Category == "CON") {
                                         $.ajax({
                                             type: "Post",
                                             url: '@Url.Action("SendRemidarEmailNotfication", "Requirement")',
                                             data: {
                                                 consultantAppId: item.ApplicationId
                                             },
                                             success: function (result) {

                                                 if (result == 1) {

                                                     $('#alertTitle').html("Success");
                                                     $('#alertSuccessContent').html("Reminder Mail sent to PI");
                                                     $('#SuccessAll').modal('toggle');
                                                     $("#gridAppList").jsGrid("loadData");
                                                 }
                                                 else if (result == 2) {
                                                     $('#alertTitle').html("Success");
                                                     $('#alertSuccessContent').html("Final reminder sent to PI");
                                                     $('#SuccessAll').modal('toggle');
                                                     $("#gridAppList").jsGrid("loadData");
                                                 }
                                                 else if (result == 0) {

                                                     $('#FailedAlert').html("Something Went to Wrong Please Conatact Administrator");
                                                     $('#Failed').modal('toggle');
                                                 }
                                             },
                                             error: function (err) {
                                                 console.log("error1 : " + err);
                                             }
                                         });
                                     }
                                     else if (item.Category == "STE") {
                                         $.ajax({
                                             type: "Post",
                                             url: '@Url.Action("SendRemidarForSTEEmailNotfication", "Requirement")',
                                             data: {
                                                 STEID: item.ApplicationId
                                             },
                                             success: function (result) {

                                                 if (result == 1) {
                                                     $('#alertTitle').html("Success");
                                                     $('#alertSuccessContent').html("Reminder Mail sent to PI");
                                                     $('#SuccessAll').modal('toggle');
                                                     $("#gridAppList").jsGrid("loadData");
                                                 }
                                                 else if (result == 2) {
                                                     $('#alertTitle').html("Success");
                                                     $('#alertSuccessContent').html("Final reminder sent to PI");
                                                     $('#SuccessAll').modal('toggle');
                                                     $("#gridAppList").jsGrid("loadData");
                                                 }
                                                 else if (result == 0) {

                                                     $('#FailedAlert').html("Something Went to Wrong Please Conatact Administrator");
                                                     $('#Failed').modal('toggle');
                                                 }
                                             },
                                             error: function (err) {
                                                 console.log("error1 : " + err);
                                             }
                                         });
                                     }
                                 }
                             }*@


                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });
                     return $result.add($customSelect);
                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }


        ],

    });
    $("#gridExEnhlist").jsGrid("option", "filtering", false);
</script>
