@model IOAS.Models.OtherPaymentDeductionModel
@{
    ViewBag.Title = "OtherPaymentDeductionView";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h4><b>Other Payments / Other Deductions</b></h4>
    </div>
</div>

    <div class="row cts-mn-dts">
        <div class="page-wrapper mt30">
            <div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="bl-lg-panel-box pb-null">
                                <div class="cmn-panel-box">
                                    <div class="row ">
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group">
                                                <label>Employee Id</label>
                                                <h4>@Html.DisplayFor(m => m.EmployeeNo)</h4>   `
                                                @Html.HiddenFor(m => m.OrderId)
                                                @Html.Hidden("OTHPayDeductionId")                     
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group">
                                                <label>Name </label>
                                                <h4>@Html.DisplayFor(m=>m.Name)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group">
                                                <label>Type of appointment </label>
                                                <h4>@Html.DisplayFor(m => m.AppointmentTypeName)</h4>
                                                @Html.HiddenFor(m => m.AppointmentType)
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group  ">
                                                <label>Email ID</label>
                                                <h4>@Html.DisplayFor(m => m.EmailId)</h4>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group">
                                                <label>Contact No</label>
                                                <h4>@Html.DisplayFor(m => m.ContactNo)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group">
                                                <label>Designation</label>
                                                <h4>@Html.DisplayFor(m => m.DesignationName)</h4>
                                               
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group ">
                                                <label>Date of Birth</label>
                                                <h4>@Html.DisplayFor(m => m.DateOfBirth)</h4>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group  ">
                                                <label>Sex</label>
                                                <h4>@Html.DisplayFor(m => m.Gender)</h4>
                                            </div>
                                        </div>
                                
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group  ">
                                                <label>Attachment</label>
                                            @if (!string.IsNullOrEmpty(Model.AttachmentPath))
                                            {
                                                <br />
                                                @Html.ActionLink(Model.AttachmentPath.Split('_').LastOrDefault(), "ShowDocument", new { Controller = "Account", filepath = "Requirement", file = Model.AttachmentPath }, new { @target = "_blank" })
                                            }
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group  ">
                                                <label>Month and year</label>
                                                <h4>@Html.DisplayFor(m => m.Month)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group ">
                                                <label>From Date</label>
                                               <h4>@Html.DisplayFor(m => m.FrmDate)</h4>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group  ">
                                                <label>To Date</label>
                                                <h4>@Html.DisplayFor(m => m.Todates)</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Do not book commitment</label>
                                                <h4>@Html.DisplayFor(m => m.DonotCommitment)</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-6">
                            <div class="bl-lg-panel-box pb-null">
                                <div class="cmn-panel-box">


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Project Number</label>
                                                <h4>@Html.DisplayFor(m => m.ProjectNumber)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Project Title</label>
                                                <h4>@Html.DisplayFor(m => m.ProjectTitle)</h4>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Name of the Client / Sponsoring Agency</label>
                                                <h4>@Html.DisplayFor(m => m.Agency)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Project Type</label>
                                                <h4>@Html.DisplayFor(m => m.Projecttype)</h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>PI Name</label>
                                                <h4>@Html.DisplayFor(m => m.PIName)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Project Start Date</label>
                                                <h4>@Html.DisplayFor(m => m.ProjectStartDate)</h4>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Project Closure Date</label>
                                                <h4>@Html.DisplayFor(m => m.ProjectCloseDate)</h4>
                                            </div>
                                        </div>



                                    </div>




                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>PI Code</label>
                                                <h4>@Html.DisplayFor(m => m.PICode)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>PI Email ID</label>
                                                <h4>@Html.DisplayFor(m => m.PIEmail)</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>PI Phone No</label>
                                                <h4>@Html.DisplayFor(m => m.PIContactNo)</h4>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Department code </label>
                                                <h4>@Html.DisplayFor(m => m.PIDepartmentCode)</h4>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Department Name</label>
                                                <h4>@Html.DisplayFor(m => m.PIDepartment)</h4>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="bl-lg-panel-box pb-null">
                                <div class="cmn-panel-box">

                                    <div class="row">
                                        <table class="table alter-table mb-null">
                                            <thead>
                                                <tr>
                                                    <th>Other</th>
                                                    <th>Payment / Deduction</th>
                                                    <th>Amount</th>
                                                    <th>Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblbodyPaydeduction">
                                                @if (Model.OTHDetail != null)
                                                {
                                                    foreach(var item in Model.OTHDetail)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <h4>@item.OtherTypeName</h4>
                                                            </td>
                                                            <td>
                                                                <h4>@item.PaymentdecTypename</h4>
                                                            </td>
                                                            <td>
                                                                <h4>@item.Amount</h4>
                                                            </td>
                                                            <td>
                                                                <h4>@item.Remarks</h4>
                                                            </td>
                                                        </tr>
                                                    }
                                                }

                                                
                                                
                                            </tbody>
                                        </table>
                                       
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-lg text-center">
            <input type="button" onclick="window.location.href='@Url.Action("OtherPaymentDeductionList", "Requirement")';" class="btn btn-default" value="Close" id="btnclose" />
        </div>
    </div>
<input type="hidden" id="currentRefId" value="@Model.OTHPayDeductionId" />
<input type="hidden" id="processGuideLineId" value="@ViewBag.processGuideLineId" />
@Html.Partial("_ProcessStatus")


