
@{
    ViewBag.Title = "Outsourcing List";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row hd-tt-bg">
    <div class="col-md-4">
        <h3>Outsourcing</h3>
    </div>
    <div class="col-md-8 flt-nav-links">
        <a href="@Url.Action("Outsourcing")"> <i class="ion-plus"></i>Add New</a>

    </div>
</div>
<div class="row mt30">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-jsgrid-normal">
                    <div id="gridOSGApp"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    var alertMsg = '@TempData["alertMsg"]';
    $(document).ready(function () {
        if (succMsg != '') {
            $('#alertSuccess').html(succMsg);
            $('#Success').modal('toggle');
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
        else if (alertMsg != '') {
            $('#alert').html(alertMsg);
            $('#Validation').modal('toggle');
        }
    });
    $("#gridOSGApp").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 10,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {

            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    STEAppNo: filter.STEAppNo || null,
                    Category: filter.Category || null,
                    PIName: filter.PIName || null,
                    CandidateName: filter.CandidateName || null,
                    PIEmail: filter.Email || null,
                    Status: filter.Status || null,
                    ProjectNumber: filter.ProjectNumber || null,
                    TypeofAppointment: filter.AppType || null
                },
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: "GetOSGList",
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        //db = result;
                        //$("#AdvanceBillPaymentList").jsGrid({ data: db });
                        var da = {
                            data: result.conList,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }

                });
                return deferred.promise();
            }

        },

        fields: [
        { name: "SNo", title: "S.No", editing: false, width: 50 },
     { type: "number", name: "STEId", title: "Id", visible: false },
     { type: "text", name: "STEAppNo", title: "Application Number", editing: false },
     { type: "text", name: "AppType", title: "Type of Appointment", editing: false },
     { type: "text", name: "ProjectNumber", title: "Project Number", editing: false, width: 130 },
     { type: "text", name: "CandidateName", title: "Candidate Name", editing: false },
     {
         type: "text", name: "PIName", title: "PI Name & Email", editing: false, width: 130,
         itemTemplate: function (item, name) {
             return $("<td>").append(name.PIName + "<br/><span class='fn-s-xs'>(" + name.Email + ")</span>");
         }
     },
     //{ type: "text", name: "Email", title: "PI Email", editing: false },
     {
         type: "text", name: "Status", title: "Status", editing: false,
         cellRenderer: function (item, value) {
             if (value.Status == "Open") {
                 return $("<td>").addClass("txt-bl").append(value.Status);
             }
             else if (value.Status == "Sent for approval") {
                 return $("<td>").addClass("txt-gr").append(value.Status);
             }
             else if (value.Status == "Cancel") {
                 return $("<td>").addClass("txt-rd").append(value.Status);
             }
             else if (value.Status == "Draft") {
                 return $("<td>").addClass("txt-org").append(value.Status);
             }
             else if (value.Status == "Committee Clarify") {
                 return $("<td>").addClass("txt-rd").append(value.Status);
             }
             else if (value.Status == "Awaiting Verification") {
                 return $("<td>").addClass("txt-org").append(value.Status);
             }
             else if (value.Status == "Note to PI" || value.Status == "Awaiting Commitment Booking") {
                 return $("<td>").addClass("txt-org").append(value.Status);
             }
             else if (value.Status == "Open" && value.isGovAgencyFund == true) {
                 return $("<td>").addClass("txt-rd").append(value.Status);
             }
             else {
                 return $("<td>").append(value.Status);
             }
         }
     },
     { name: "EmailRemaindarCount", title: "Email Remaindar Count", visible: false },
             {
                 type: "control", editButton: false, deleteButton: false, width: 80, title: "Action",

                 itemTemplate: function (value, item) {

                     var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                     if (item.Status == "Open" && !item.isGovAgencyFund && !item.isCommitmentRejection) {
                         statusList = [{ id: "", name: "Action" }, { id: "Edit", name: "Edit" }, { id: "View", name: "View" }, { id: "Cancel", name: "Cancel" }, { id: "Send for Approval", name: "Send for Approval" }]
                     }
                     else if (item.Status == "Open" && item.isGovAgencyFund) {
                         statusList = [{ id: "", name: "Action" }, { id: "View", name: "Commitment Booking" }, { id: "Cancel", name: "Cancel" }]
                     }
                     else if (item.Status == "Committee Clarify") {
                         statusList = [{ id: "", name: "Action" }, { id: "View", name: "Send for commitee approval" }, { id: "Cancel", name: "Cancel" }]
                     }
                     else if (item.Status == "Open" && item.isCommitmentRejection) {
                         statusList = [{ id: "", name: "Action" }, { id: "View", name: "Send for commitment booking" }, { id: "Cancel", name: "Cancel" }]
                     }
                     else if (item.Status == "Draft") {
                         statusList = [{ id: "", name: "Action" }, { id: "Edit", name: "Edit" }, { id: "View", name: "View" }, { id: "Cancel", name: "Cancel" }]
                     }
                     else if (item.Status.includes('Note') && item.Status != "Note to Dean") {
                         if (item.EmailRemaindarCount == 0) {
                             statusList = [{ id: "", name: "Action" }, { id: "Edit", name: "Edit" }, { id: "EmailNf", name: "Email Notification" }, { id: "Cancel", name: "Cancel" }]
                         }
                         else if (item.EmailRemaindarCount == 1) {
                             statusList = [{ id: "", name: "Action" }, { id: "Edit", name: "Edit" }, { id: "EmailNf", name: "Email Remainder " + " " + item.EmailRemaindarCount }, { id: "Cancel", name: "Cancel" }]
                         }
                         else {
                             statusList = [{ id: "", name: "Action" }, { id: "Edit", name: "Edit" }, { id: "EmailNf", name: "Email Reminder" + " " + item.EmailRemaindarCount }, { id: "Cancel", name: "Cancel" }]
                         }
                     }
                     else if (item.Status == "Awaiting Verification" && item.SendOffer_f) {
                         statusList = [{ id: "", name: "Action" }, { id: "View", name: "View" }, { id: "SendOffer", name: "Send Offerletter" }]
                     }
                     else {
                         statusList = [{ id: "", name: "Action" }, { id: "View", name: "View" }]
                     }
                     var $customSelect = $("<select>")
                         .attr("class", "form-control").prop("selectedIndex", "")
                     $.each(statusList, function (index, itemData) {
                         $customSelect.append($('<option/>', {

                             value: itemData.id,
                             text: itemData.name
                         }));
                     });
                     $customSelect.change(function (e) {
                         var selVal = $(this).val();
                         if (selVal == "Edit") {
                             var url = '@Url.Action("Outsourcing", "Requirement")?OSGID=' + item.STEId;
                             window.location.href = url;
                         }
                         else if (selVal == "EmailNf") {
                             if (item.EmailRemaindarCount == 2) {
                                 $('#alert').html("Alert - Reminder E-mails already Sent");
                                 $('#Validation').modal('toggle');
                                 return false;
                             }
                             var choice = confirm("Do you want to send a remainder email.");
                             if (choice == true) {
                                 $.ajax({
                                     type: "Post",
                                     url: '@Url.Action("SendRemidarForSTEEmailNotfication", "Requirement")',
                                     data: {
                                         STEID: item.STEId
                                     },
                                     success: function (result) {
                                         $(".loading-bg").addClass('dis-none');
                                         if (result == 1) {
                                             $('#alertTitle').html("Success");
                                             $('#alertSuccessContent').html("Reminder Mail sent to PI");
                                             $('#SuccessAll').modal('toggle');
                                             $("#gridOSGApp").jsGrid("loadData");
                                         }
                                         else if (result == 2) {
                                             $('#alertTitle').html("Success");
                                             $('#alertSuccessContent').html("Final reminder sent to PI");
                                             $('#SuccessAll').modal('toggle');
                                             $("#gridOSGApp").jsGrid("loadData");
                                         }
                                         else if (result == 0) {

                                             $('#FailedAlert').html("Something Went to Wrong Please Conatact Administrator");
                                             $('#Failed').modal('toggle');
                                         }
                                     },
                                     error: function (err) {
                                         $(".loading-bg").addClass('dis-none');
                                         console.log("error1 : " + err);
                                     }
                                 });
                             }
                         }
                         else if (selVal == "SendOffer") {
                             $.confirm({
                                 title: "Mail Preview",
                                 type: 'blue',
                                 columnClass: 'col-md-12',
                                 content: function () {
                                     var self = this;
                                     return $.ajax({
                                         type: "Post",
                                         url: '@Url.Action("SendOfferOrder", "Requirement")',
                                         data: {
                                             appid: item.STEId,
                                             apptype: "OSG",
                                             offercategory: "OfferLetter",
                                             isgetbody_f: true,
                                         }
                                     }).done(function (response) {
                                         self.setContent(response.Item2);
                                    }).fail(function () {
                                         self.setContent('Preview page not loaded.');
                                     });
                                 },
                                 buttons: {
                                     Yes: {
                                         text: 'Send',
                                         btnClass: 'btn-blue',
                                         action: function () {
                                             $.ajax({
                                                 type: "Post",
                                                 url: '@Url.Action("SendOfferOrder", "Requirement")',
                                                 data: {
                                                     appid: item.STEId,
                                                     apptype: "OSG",
                                                     offercategory: "OfferLetter"
                                                 },
                                                 beforeSend: function () {
                                                     $(".loading-bg").removeClass('dis-none');
                                                 },
                                                 success: function (output) {
                                                     if (output.Item1 == 1) {
                                                         $(".loading-bg").addClass('dis-none');
                                                         $.confirm({
                                                             title: 'Success Message!',
                                                             content: "Offer letter mail sent to candidate",
                                                             type: 'green',
                                                             buttons: {
                                                                 Ok: function () {
                                                                     $("#gridOSGApp").jsGrid("loadData");
                                                                 },
                                                             },
                                                         });
                                                     }
                                                     else if (output.Item1 == 0) {
                                                         $(".loading-bg").addClass('dis-none');
                                                         $.confirm({
                                                             title: 'Warning!',
                                                             content: output.Item2,
                                                             type: 'orange',
                                                             buttons: {
                                                                 Ok: function () {
                                                                     $("#gridOSGApp").jsGrid("loadData");
                                                                 },
                                                             },
                                                         });
                                                     }
                                                 },
                                                 error: function (err) {
                                                     console.log("error1 : " + err);
                                                 }
                                             });
                                         }
                                     },
                                     No: {
                                         text: 'No',
                                         btnClass: 'btn-red',
                                         action: function () {
                                         }
                                     },
                                 }
                             });
                         }
                         else if (selVal == "Cancel") {
                             $.confirm({
                                 title: 'Do you want to cancel application ?',
                                 content: '' +
                                 '<form action=""  class="formName">' +
                                    '<div class="form-group"><br/>' +
                                        '<table>'+
                                            '<tr><th>Application No</th><th>&nbsp;&nbsp;:&nbsp;&nbsp;</th><td>' + item.STEAppNo + '</td></tr><tr>' +
                                            '<th><br/></th><th></th><td></td></tr>' +
                                            '<th>Candidate Name</th><th>&nbsp;&nbsp;:&nbsp;&nbsp;</th><td>' + item.CandidateName + '</td></tr>' +
                                        '</table><br/>' +
                                        '<label class="required">Remarks</label>' +
                                          '<textarea id="txtResonCancel" name="reason" class="form-control" row="2" required>'+
                                          '</textarea><br/>' +
                                        '<label>Attachment (optional)</label>' + '<br/>' +
                                        '<input type="file" id="attachement" name="attachement" /> ' +
                                        '<input type="hidden" name="appid" value=' + item.STEId + ' />' +
                                        '<input type="hidden" name="apptype" value="OSG" />' +
                                    '</div>' +
                                 '</form>',
                                 type: 'blue',
                                 typeAnimated: true,
                                 boxWidth: '450px',
                                 useBootstrap: false,
                                 buttons: {
                                     formSubmit: {
                                         text: 'Submit',
                                         btnClass: 'btn-blue',
                                         action: function () {
                                             var reason = $('#txtResonCancel').val();
                                             if (reason == "" || reason == null) {
                                                 $.alert('Remarks Field is Required');
                                                 return false;
                                             }
                                             else if (reason != null || reason != "") {
                                                 var from = $('.formName');
                                                 var formData = new FormData(from[0]);
                                                 var fileUpload = $("#attachement").val();
                                                 if (fileUpload != "") {
                                                     var allowedExtensions = [".pdf", ".doc", ".docx"];
                                                     var fileName = document.getElementById('attachement').files[0].name;
                                                     var extension = fileName.substr((fileName.lastIndexOf('.') + 1)).toLowerCase();
                                                     var validFormat = allowedExtensions.includes('.' + extension);
                                                     if (validFormat) {
                                                         var _size = document.getElementById('attachement').files[0].size;
                                                         var iSize = (_size / 1024);
                                                         iSize = (Math.round(iSize * 100) / 100)
                                                         if (iSize > 5120) {
                                                             $.confirm({
                                                                 title: 'Warning!',
                                                                 content: 'Attachment size should be allow below 5MB',
                                                                 type: 'orange',
                                                                 buttons: {
                                                                     Ok: function () {
                                                                         //close
                                                                     },
                                                                 },
                                                             });
                                                             $("#attachement").val('')
                                                             return;
                                                         }
                                                     }
                                                     else {
                                                         $.confirm({
                                                             title: 'Warning!',
                                                             content: 'Attachment allowed document type [pdf,doc,docx]',
                                                             type: 'orange',
                                                             buttons: {
                                                                 Ok: function () {
                                                                     //close
                                                                 },
                                                             },
                                                         });
                                                         $("#attachement").val('')
                                                         return;
                                                     }
                                                 }
                                                 $.ajax({
                                                     type: "Post",
                                                     url: '@Url.Action("RequestCancelApplication", "Requirement")',
                                                     data: formData,
                                                     processData: false,
                                                     contentType: false,
                                                     beforeSend: function () {
                                                         $(".loading-bg").removeClass('dis-none');
                                                     },
                                                     success: function (result) {
                                                         $(".loading-bg").addClass('dis-none');
                                                         if (isNaN(result) && result != "") {
                                                             $.confirm({
                                                                 title: 'Warning!',
                                                                 content: result,
                                                                 type: 'orange',
                                                                 buttons: {
                                                                     Ok: function () {
                                                                         $("#gridOSGApp").jsGrid("loadData");
                                                                     },
                                                                 },
                                                             });
                                                         }
                                                         else if (result == 1) {
                                                             $.confirm({
                                                                 title: 'Success Message',
                                                                 content: 'Application cancelled & Cancellation notification sent to PI',
                                                                 type: 'green',
                                                                 buttons: {
                                                                     Ok: function () {
                                                                         $("#gridOSGApp").jsGrid("loadData");
                                                                     },
                                                                 },
                                                             });
                                                         }
                                                         else if (result == -2) {
                                                             $.confirm({
                                                                 title: 'Success Message',
                                                                 content: 'Cancel request placed successfully',
                                                                 type: 'green',
                                                                 buttons: {
                                                                     Ok: function () {
                                                                         $("#gridOSGApp").jsGrid("loadData");
                                                                     },
                                                                 },
                                                             });
                                                         }
                                                         else if (result == -1) {
                                                             $.confirm({
                                                                 title: 'Warning!',
                                                                 content: 'Appointment tenure started. Order cannot be cancelled.',
                                                                 type: 'orange',
                                                                 buttons: {
                                                                     Ok: function () {
                                                                         $("#gridOSGApp").jsGrid("loadData");
                                                                     },
                                                                 },
                                                             });
                                                         }
                                                         else if (result == 2) {
                                                             $.confirm({
                                                                 title: 'Warning!',
                                                                 content: 'Attachment allowed document type [pdf,doc,docx]',
                                                                 type: 'orange',
                                                                 buttons: {
                                                                     Ok: function () {
                                                                         $("#gridOSGApp").jsGrid("loadData");
                                                                     },
                                                                 },
                                                             });
                                                         }
                                                         else if (result == 3) {
                                                             $.confirm({
                                                                 title: 'Warning!',
                                                                 content: 'You can upload upto 5MB',
                                                                 type: 'orange',
                                                                 buttons: {
                                                                     Ok: function () {
                                                                         $("#gridOSGApp").jsGrid("loadData");
                                                                     },
                                                                 },
                                                             });
                                                         }
                                                         else {
                                                             $.confirm({
                                                                 title: 'Error!',
                                                                 content: 'Something went to wrong please conatact administrator',
                                                                 type: 'red',
                                                                 buttons: {
                                                                     Ok: function () {
                                                                         $("#gridOSGApp").jsGrid("loadData");
                                                                     },
                                                                 },
                                                             });
                                                         }
                                                     },
                                                     error: function (err) {
                                                         $(".loading-bg").addClass('dis-none');
                                                         console.log("error1 : " + err);
                                                     }
                                                 });
                                             }

                                         }
                                     },
                                     cancel: function () {
                                         //close
                                     },
                                 },

                             });
                         }
                         else if (selVal == "View") {
                             if (item.Status == "Committee Clarify" || (item.Status != "Cancellation Initiated" && item.isGovAgencyFund || item.isCommitmentRejection)) {
                                 var url = '@Url.Action("RCTOverAllView", "Requirement")?ApplicationId=' + item.STEId + '&AppType=OSG&listf=AL';
                                 window.location.href = url;
                             }
                             else {
                                 var url = '@Url.Action("OutsourcingView", "Requirement")?OSGID=' + item.STEId + '&listf=AL';
                                 window.location.href = url;
                             }

                         }
                         else if (selVal == "Send for Approval") {
                             var url = '@Url.Action("OSGSendForApproval", "Requirement")?OSGID=' + item.STEId;
                             window.location.href = url;
                         }
                         @*else if (selVal == "View") {
                             var url = '@Url.Action("OutsourcingView", "Requirement")?OSGID=' + item.STEId + '&isView=' + true;
                             window.location.href = url;
                         }*@
                         @*else if (selVal == "Submit for approval") {
                             //var choice = confirm("Are you sure, Do you want to submit this Application for approval process?");
                             $.confirm({
                                 title: 'Are you sure, Do you want to submit this Application for approval process?',
                                 content: '' +
                                 '<form action="" class="formName">' +
                                 '<div class="form-group">' +
                                 '<label>Application No : </label>' +
                                 '<span>' + item.STEAppNo + '</span>' +
                                 '<label>Candidate Name : </label>' +
                                 '<span>' + item.CandidateName + '</span>' + '<br/>' +
                                 '</div>' +
                                 '</form>',

                             });


                             if (choice === true) {
                                 $.ajax({
                                     type: "GET",
                                     url: '@Url.Action("ApprovalForFixedDeposit", "CoreAccounts")',
                                     data: {
                                         consultantAppId: item.ConsultantAppointmentId
                                     },
                                     success: function (result) {
                                         if (result.status == true) {
                                             $('#alertSuccess').html("Fixed Deposit has been submitted for approval process successfully.");
                                             $('#Success').modal('toggle');

                                         } else if (result.status == false) {

                                             $('#FailedAlert').html(result.msg);
                                             $('#Failed').modal('toggle');
                                         }
                                     },
                                     error: function (err) {
                                         console.log("error1 : " + err);
                                     }
                                 });
                             }

                         }
                         else if (selVal == "Approve") {
                             var choice = confirm("Are you sure, Do you want to approve this Fixed Deposit entry?");
                             if (choice === true) {
                                 $.ajax({
                                     type: "GET",
                                     url: '@Url.Action("ApprovalPendingForFixedDeposit", "CoreAccounts")',
                                     data: { Fixeddepositid: item.FixedDepositId },
                                     success: function (result) {
                                         if (result.status == true) {
                                             $('#alertSuccess').html("Fixed Deposit has been approved successfully.");
                                             $('#Success').modal('toggle');
                                             loadDetails();
                                         } else if (result.status == false) {
                                             $('#FailedAlert').html("Something went wrong please contact administrator.");
                                             $('#Failed').modal('toggle');
                                         }
                                     },
                                     error: function (err) {
                                         console.log("error1 : " + err);
                                     }
                                 });
                             }
                         }*@
                         $(this).val("");
                         return false;
                         e.stopPropagation();
                     });
                     return $result.add($customSelect);
                 },
                 _createFilterSwitchButton: function () {
                     return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                 }
             }


        ],

    });
    $("#gridOSGApp").jsGrid("option", "filtering", false);
</script>
