@model IOAS.Models.STEViewModel
@using IOAS.GenericServices
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- favicon icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&display=swap" rel="stylesheet">
    <style>
        .umr-body {
            /*font-family: 'Poppins', sans-serif;*/
            font-family: 'Poppins', sans-serif !important;
            font-size: 14px;
            color: #2a2a2a;
            margin-left:15px;
            margin-right:15px;
        }

            .umr-body li {
                margin-bottom: 10px;
            }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .ct-in h2 em {
            float: left;
            font-style: normal;
            width: calc(100% - 250px);
            text-align: center;
            padding-top: 35px;
            font-size: 20px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mn-m-tt {
            font-size: 20px;
            padding-bottom: 5px;
        }

        .mn-tt {
            font-size: 16px;
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
        }

        h5 {
            font-weight: bold;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border: 0px;
        }

        .bg-grey {
            background: #ccc;
        }

        .tbl-style > .table > tbody > tr > td {
            border: inherit;
        }

        .tbl-style > .table > tbody > tr > th {
            border: inherit;
        }

        .tbl-style > .table > thead > tr {
            border-color: #000;
        }

            .tbl-style > .table > thead > tr > td {
                border: 1px solid #000;
            }

        .tbl-style > .table-bordered > thead > tr > th {
            border-bottom-width: 0px;
        }

        .tbl-style > .table.table-bordered > tbody > tr > td {
            border-color: #000;
        }

        .tp-tt {
            font-weight: bold;
        }

        .tbl-style > .table-bordered > thead > tr > th {
            border: 1px solid #000;
        }

        .tbl-style table, .tbl-style tr, .tbl-style td, .tbl-style th {
            border: 1px solid #000;
        }

        .tbl-style > .table {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="umr-body">
    <div style="page-break-after:always">
        <div class="row">
            <div class="col-md-12">
                <p>@Model.EmployeeID ,</p>
                <center><h4><b>CENTRE FOR</b></h4></center>
                <center><h4><b>INDUSTRIAL CONSULTANCY & SPONSORED RESEARCH</b></h4></center>
                <center><h4><b>INDIAN INSTITUTE OF TECHNOLOGY MADRAS,I.I.T. CAMPUS,CHENNAI-600 036</b></h4></center>
                <div class="text-right">
                    <p><b>No: @Model.ApplicationNo</b></p>
                </div>
                <div class="text-right">
                    <p><b>Dated: @string.Format("{0:dd-MMMM-yyyy}", Model.offerDate)</b></p>
                </div>
            </div>
            <div class="col-md-12">
                <p><b>To</b></p>
                <p style="margin-left:15px;">
                    @Model.Name.ToUpper()<br />
                    @Model.PresentAddress.ToUpper()
                </p>
                <p>
                    Sir/Madam,
                </p>
                <p style="margin-left:15px;">
                    <b><u>Sub:</u></b>   Appointment to the post of @Model.Designation for the <b>@Model.ProjectDetailsModel.SponsoringAgency</b> Project on <b>@Model.ProjectDetailsModel.ProjectTitle</b> in the
                    @if (Model.StaffCategory == "Project Staff")
                    {
                        <b>
                            Dept.of @Model.ProjectDetailsModel.PIDepartmentName
                        </b>
                    }
                    else
                    {
                        <b>
                            Dept.of Centre for IC & SR
                        </b>
                    }
                    <br><br>
                    With reference to your application, the centre for IC & SR is pleased to engage you as @Model.Designation in the project funded by <b>@Model.ProjectDetailsModel.SponsoringAgency</b> on the following terms and conditions:
                </p>
            </div>
            <div class="col-md-12">
                <ol>
                    <li>
                        You will be governed by the Conduct Rules and any orders and rules in force from time to
                        time as applicable to the Project Staff.
                    </li>
                    <li>
                        You will be paid a <b>Consolidated Pay of Rs. @Model.ConsolidatedPayPerMonth /- p.m. (Rupees @CoreAccountsService.words(Model.ConsolidatedPayPerMonth))</b>
                    </li>
                    <li>
                        Your engagement in this project will be purely temporary and for a period from <b>@Model.Appointmentstartdate to @Model.AppointmentEndDate.</b>
                    </li>
                    <li>
                        Your service in one project in independent of services rendered if any in other projects, since the funding agency and pay are different.
                    </li>
                    <p style="margin-left:15px;">
                        This temporary engagement in this project or in any other project will not confer on you
                        any title to permanent employment, at the centre. It may be discontinued at any time with
                        one month’s notice on either side during the tenure of the assignment without
                        assigning any reasons and will come to an end as soon as the project is over or earlier if
                        your service is not required for the project
                    </p>
                    <li>
                        You will be relieved, from the project only after completion the due notice period or after getting ‘No Objection Certificate’ for relief from the Co-ordinator.
                    </li>
                    <li>
                        You are not entitled to any travelling allowance for joining the post
                    </li>
                    <li>
                        You will be eligible to the leave etc. as per leave rules applicable to the project staff.
                    </li>
                    <p>
                        <b>
                            Note: You will be enrolled into 'Medical Insurance Scheme’ with the monthly premium of
                            Rs.205/- p.m. This will not be applicable if you have registered for MS/PhD in the institute.
                        </b>
                    </p>
                    <li>
                        8. At the time of your joining the following certificates in original (With Xerox/ attested
                        copies) have to be produced for verification and return.
                        <ol type="a">
                            <li>
                                S.S.L.C. or School Certificate in proof of the date of birth.
                            </li>
                            <li>
                                Certificates relating to educational and technical qualifications and previous
                                experience, if any.
                            </li>
                        </ol>
                    </li>
                    <li>
                        You have to produce the following documents also:
                        <ol type="a">
                            <li>
                                Attestation (form enclosed)
                            </li>
                            <li>
                                A declaration that you are not under bond or agreement under obligation to serve the
                                Central / state Government / University or a public Authority / Undertaking
                                Institution / Autonomous body.
                            </li>
                            <li>
                                Relief Certificate from your present employer, if any
                            </li>
                            <li>
                                An undertaking assigning all rights in respect of investigations and to abide by the
                                rules and regulations of the Centre for Industrial Consultancy & Sponsored Research
                                (as per form enclosed)
                            </li>
                            <li>
                                If belonging to SC/ST, certificate in the enclosed form issued by a competent
                                authority listed therein. This offer is provisional and is subject to the Caste /Tribe
                                certificates being verified through proper channels and on the verification if it
                                reveals that he claim to belong scheduled Cast of Scheduled Tribe, as the case may
                                be found false this offer will be withdrawn forthwith, without assigning any further
                                reason and without prejudice to such further action as may be deemed fit under the
                                provisions of the Indian Penal Code for production of false certificates.
                            </li>
                        </ol>
                    </li>

                    <li>
                        If any declaration given or information furnished by you, is found to be incorrect or not in
                        order or if you are found to have wilfully suppressed any information considered material,
                        by the centre, the centre reserves itself the right to withdraw /cancel this offer at any time
                        without prejudice to such other action as it may deem necessary.
                    </li>
                    <li>
                        <b>Two copies of recent passport size photographs</b> of yours are to be produced at the time
                        of joining.
                    </li>
                    <li>
                        a) If you accept this offer, please communicate your acceptance in the enclosed form and
                        join on or before <b>@RequirementService.GetTenWorkingDates(Model.offerDate)</b>. If you do not reply within this date, this offer is liable to be
                        cancelled without further reference to you.<br>

                        b) Kindly note that you have to report to the undersigned for joining.
                    </li>
                </ol>
            </div>
        </div>

        <div style="height:100px;">
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-left" width="50px">
                            Encl : as above As<br />
                            Copy to Prof . @Model.ProjectDetailsModel.PIName<br />
                            Dept.of @Model.ProjectDetailsModel.PIDepartmentName
                        </th>
                        <th class="text-center" width="50px"></th>
                        <th class="text-center" width="50px">
                            Your faithfully
                            <br />
                            <br />
                            <br />
                            SENIOR MANAGER - HR<br />
                            (Project Recruitment)<br />
                            IC & SR

                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>

