@{
    ViewBag.Title = "STE Verification";
    ViewBag.Subtitle = "STE Verification";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}


<div class="row hd-tt-bg">
    <div class="col-md-4">
        <h3>Verification</h3>
    </div>
</div>
<div class="row mt30">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-jsgrid-normal">
                    <div id="VerificationList"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()
<div id="popup"></div>

<script type="text/javascript">
    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    var alertMsg = '@TempData["alertMsg"]';
    $("#DOB,#MeetingDate").datepicker
           ({
               dateFormat: 'dd-MM-yy',
               showStatus: true,
               showWeeks: true,
               changeYear: true,
               yearRange: '-100:+100',
               highlightWeek: true,
               numberOfMonths: 1,
               showAnim: "scale",
               showOptions: {
                   origin: ["top", "left"]
               }
           });
    $(document).ready(function () {
        if (succMsg != '') {
            if (succMsg.includes('/')) {
                var splitSuccMsg = succMsg.split('/');
                $('#alertSuccess').html(splitSuccMsg[0] + "<br/>" + splitSuccMsg[1]);
                $('#Success').modal('toggle');
            }
            else {
                $('#alertSuccess').html(succMsg);
                $('#Success').modal('toggle');
            }
        }
        else if (errMsg != '') {
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
        }
        else if (alertMsg != '') {
            $('#alert').html(alertMsg);
            $('#Validation').modal('toggle');
        }

    });

    function getData(page) {
        var input = [];
        input = {
            SearchInApplicationNo: $('#ApplicationNumber').val(),
            SearchInPAN: $('#PANNo').val(),
            SearchInName: $('#Name').val(),
            DOB: $('#DOB').val() || null,
            MeetingDate: $('#MeetingDate').val() || null,
        },
         $("#VerificationList").jsGrid("search", input, pageIndex = 1, pageSize = 5);
    }
    var DateField = function (config) {
        jsGrid.Field.call(this, config);
    };

    DateField.prototype = new jsGrid.Field({
        sorter: function (date1, date2) {
            return new Date(date1) - new Date(date2);
        },

        itemTemplate: function (value) {
            return new Date(value).toDateString();
        },

        filterTemplate: function () {
            var now = new Date();
            this._fromPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() - 1), changeYear: true });
            this._toPicker = $("<input>").datepicker({ defaultDate: now.setFullYear(now.getFullYear() + 1), changeYear: true });
            return $("<div>").append(this._fromPicker).append(this._toPicker);
        },

        insertTemplate: function (value) {
            return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
        },

        editTemplate: function (value) {
            return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
        },

        insertValue: function () {
            return this._insertPicker.datepicker("getDate").toISOString();
        },

        editValue: function () {
            return this._editPicker.datepicker("getDate").toISOString();
        },

        filterValue: function () {
            return {
                from: this._fromPicker.datepicker("getDate"),
                to: this._toPicker.datepicker("getDate")
            };
        }
    });
    jsGrid.fields.date = DateField;
    var db;
    $("#VerificationList").jsGrid({
        paging: true,
        pageIndex: 1,
        pageSize: 10,
        editing: false,
        filtering: true,
        pageLoading: true,
        autoload: true,
        controller: {

            loadData: function (filter) {
                var searchData = [];
                searchData = {
                    SearchInApplicationNo: filter.ApplicationNo || null,
                    SearchInPAN: filter.SearchInPAN || null,
                    SearchInName: filter.Name || null,
                    DepartmentName: filter.DepartmentName || null,
                    //MeetingDate: filter.MeetingDate || null,
                    Applicationtype: filter.ApplicationType || null,
                    SearchINStatus: filter.Status || null
                },
                filter.model = searchData;
                var deferred = $.Deferred();
                $.ajax({
                    type: "post",
                    url: 'GetSTEVerficationList',
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        var da = {
                            data: result.VerificationList,
                            itemsCount: result.TotalRecords
                        }
                        deferred.resolve(da);
                    },
                    error: function (err) {
                        console.log("error : " + err);
                    }

                });
                return deferred.promise();
            }

        },

        fields: [
            { name: "SNo", title: "S.No", editing: false, width: 50 },
            { type: "number", name: "STEId", title: "Id", visible: false },
            { type: "number", name: "OrderId", title: "OrderId", visible: false },
            { type: "text", name: "ApplicationNo", title: "Application Number", editing: false },
            {
                type: "text", name: "Name", title: "Name & Designation", editing: false,
                itemTemplate: function (item, name) {
                    return $("<td>").append("<b>" + name.Name + "</b>" + "<br/>" + "<span>" + name.Designation + "</span>");
                }
            },

            { type: "text", name: "DepartmentName", title: "Department Name", editing: false },
            { title: "Offer Date", name: "OfferDate", type: "date", width: 110 },
            { name: "DateofJoining", title: "Date of Joining", type: "date" },
            //{ type: "text", name: "Status", title: "Status", editing: false, visible: false },
            //{ type: "text", name: "ApplicationType", title: "ApplicationType", editing: false },
            {
                type: "text", name: "ApplicationType", title: "ApplicationType", editing: false,
                cellRenderer: function (item, value) {
                    if (value.ApplicationType == "New") {
                        if (!value.SendOffer_f)
                            return $("<td>").addClass("bg-green").append(value.ApplicationType);
                        else
                            return $("<td>").addClass("txt-bl").append(value.ApplicationType);
                    }
                    else {
                        if (!value.SendOffer_f)
                            return $("<td>").addClass("bg-green").append(value.ApplicationType);
                        else
                            return $("<td>").addClass("txt-org").append(value.ApplicationType);
                    }
                }
            },
            { type: "text", name: "Status", title: "Status", editing: false },

            //{ type: "text", name: "PAN", title: "PAN No", editing: false, visible: false },
            {
                type: "control", editButton: false, deleteButton: false, width: 120, title: "Action",

                itemTemplate: function (value, item) {
                    var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                    var statusList;
                    //if (item.Status == "Awaiting Verification-Open") {
                    //    statusList = [{ id: "", name: "Action" }, { id: "Verifyorder", name: "Verify" }, { id: "View", name: "View" }]
                    //}
                    // else if (item.OrderId > 0 && item.SendOffer_f || item.Status == "Sent for approval-Verify") {
                    //     statusList = [{ id: "", name: "Action" }, { id: "View", name: "View" }]
                    // }

                    ////else if (item.OrderId > 0 && item.SendOffer_f || !(item.Status == "Sent for approval")) {
                    ////    statusList = [{ id: "", name: "Action" }, { id: "Verifyorder", name: "Verify" }, { id: "SendOffer", name: "Send Offerletter" }]
                    ////}
                    //else if (item.OrderId > 0 && item.SendOffer_f) {
                    //    statusList = [{ id: "", name: "Action" }, { id: "Verifyorder", name: "Verify" }, { id: "SendOffer", name: "Send Offerletter" }]
                    //}
                    //else if (item.OrderId > 0 || item.Status == "Sent for approval-Verify" ) {
                    //    statusList = [{ id: "", name: "Action" }, { id: "View", name: "View" }]
                    //}
                    if (item.OrderId > 0 && item.Status == "Sent for approval-Verify") {
                        statusList = [{ id: "", name: "Action" }, { id: "View", name: "View" }]
                    }
                   
                   else if (item.OrderId > 0 && item.SendOffer_f) {
                        statusList = [{ id: "", name: "Action" }, { id: "Verifyorder", name: "Verify" }, { id: "SendOffer", name: "Send Offerletter" }]
                    }
                    
                    else if (item.Status == "Sent for approval-Verify") {
                        statusList = [{ id: "", name: "Action" }, { id: "View", name: "View" }]
                    }
                    else if (item.Status == "Awaiting Verification-Open") {
                        statusList = [{ id: "", name: "Action" }, { id: "Verify", name: "Verify" }, { id: "View", name: "View" }, { id: "Cancel", name: "Cancel" }]
                    }
                    else if (item.OrderId > 0 && item.Status == "Awaiting Verification-Open") {
                        statusList = [{ id: "", name: "Action" }, { id: "Verifyorder", name: "Verify" }, { id: "View", name: "View" }, { id: "Cancel", name: "Cancel" }]
                    }
                    else if (item.OrderId > 0) {
                        statusList = [{ id: "", name: "Action" }, { id: "Verifyorder", name: "Verify" }]
                    }

                    //else if (item.OrderId > 0) {
                    //    statusList = [{ id: "", name: "Action" }, { id: "Verifyorder", name: "Verify" }]
                    //}
                    //else if (item.Status == "Sent for approval-Verify" ) {
                    //    statusList = [{ id: "", name: "Action" }, { id: "View", name: "View" }]
                    //}

                    //else {
                    //    statusList = [{ id: "", name: "Action" }, { id: "View", name: "View" }]
                    //}
                    else {
                        if (item.SendOffer_f) {
                            if (item.EmailRemaindarCount == 0) {
                                statusList = [{ id: "", name: "Action" }, { id: "Verify", name: "Verify" }, { id: "EmailNf", name: "Email Notification" }, { id: "SendOffer", name: "Send Offerletter" }]
                            }
                            else if (item.EmailRemaindarCount == 1) {
                                statusList = [{ id: "", name: "Action" }, { id: "Verify", name: "Verify" }, { id: "EmailNf", name: "Email Remainder " + " " + item.EmailRemaindarCount }, { id: "SendOffer", name: "Send Offerletter" }]
                            }
                            else {
                                statusList = [{ id: "", name: "Action" }, { id: "Verify", name: "Verify" }, { id: "EmailNf", name: "Email Reminder" + " " + item.EmailRemaindarCount }, { id: "SendOffer", name: "Send Offerletter" }]
                            }
                        }
                        else {
                            if (item.EmailRemaindarCount == 0) {
                                statusList = [{ id: "", name: "Action" }, { id: "Verify", name: "Verify" }, { id: "EmailNf", name: "Email Notification" }]
                            }
                            else if (item.EmailRemaindarCount == 1) {
                                statusList = [{ id: "", name: "Action" }, { id: "Verify", name: "Verify" }, { id: "EmailNf", name: "Email Remainder " + " " + item.EmailRemaindarCount }]
                            }
                            else {
                                statusList = [{ id: "", name: "Action" }, { id: "Verify", name: "Verify" }, { id: "EmailNf", name: "Email Reminder" + " " + item.EmailRemaindarCount }]
                            }
                        }
                    }
                    if (item.Cancel_f)
                        statusList.push({ id: "Cancel", name: "Cancel" });
                    var $customSelect;
                    if (item.Status != "Verification Completed" && item.Status != "Cancellation Initiated") {
                        $customSelect = $("<select>")
                            .attr("class", "form-control").prop("selectedIndex", "")
                        $.each(statusList, function (index, itemData) {
                            $customSelect.append($('<option/>', {

                                value: itemData.id,
                                text: itemData.name
                            }));
                        });
                        $customSelect.change(function (e) {
                            
                            var selVal = $(this).val();
                            if (selVal == "Verify") {
                                var url = '@Url.Action("STEVerification", "Requirement")?STEID=' + item.STEId;
                                window.location.href = url;
                            }
                            //+ '&listf=STEO'
                            else if (selVal == "Verifyorder") {
                                var url = '@Url.Action("OrderVerification", "Requirement")?OrderId=' + item.OrderId;
                                window.location.href = url;
                            }
                            else if (selVal == "SendOffer") {
                                var OrderId = item.OrderId || 0;
                                $.confirm({
                                    title: "Mail Preview",
                                    type: 'blue',
                                    columnClass: 'col-md-12',
                                    content: function () {
                                        var self = this;
                                        return $.ajax({
                                            type: "Post",
                                            url: '@Url.Action("SendOfferOrder", "Requirement")',
                                            data: {
                                                appid: item.STEId,
                                                apptype: "STE",
                                                offercategory: "OfferLetter",
                                                isgetbody_f: true,
                                                orderid: OrderId
                                            }
                                        }).done(function (response) {
                                            self.setContent(response.Item2);
                                            var url = '@Url.Action("ShowOrderDocument", "RCTReportMaster")?appid=' + item.STEId + '&apptype=STE&offercategory=OfferLetter&orderid=' + OrderId;
                                            self.setContentAppend('Attachment : <a href=' + url + ' target="_blank">attachment</a>');
                                        }).fail(function () {
                                            self.setContent('Preview page not loaded.');
                                        });
                                    },
                                    buttons: {
                                        Yes: {
                                            text: 'Send',
                                            btnClass: 'btn-blue',
                                            action: function () {
                                                $.ajax({
                                                    type: "Post",
                                                    url: '@Url.Action("SendOfferOrder", "Requirement")',
                                                    data: {
                                                        appid: item.STEId,
                                                        apptype: "STE",
                                                        offercategory: "OfferLetter",
                                                        orderid: OrderId
                                                    },
                                                    beforeSend: function () {
                                                        $(".loading-bg").removeClass('dis-none');
                                                    },
                                                    success: function (output) {
                                                        if (output.Item1 == 1) {
                                                            $(".loading-bg").addClass('dis-none');
                                                            $.confirm({
                                                                title: 'Success Message!',
                                                                content: "Offer letter mail sent to candidate",
                                                                type: 'green',
                                                                buttons: {
                                                                    Ok: function () {
                                                                        $("#VerificationList").jsGrid("loadData");
                                                                    },
                                                                },
                                                            });
                                                        }
                                                        else if (output.Item1 == 0) {
                                                            $(".loading-bg").addClass('dis-none');
                                                            $.confirm({
                                                                title: 'Warning!',
                                                                content: output.Item2,
                                                                type: 'orange',
                                                                buttons: {
                                                                    Ok: function () {
                                                                        $("#VerificationList").jsGrid("loadData");
                                                                    },
                                                                },
                                                            });
                                                        }
                                                    },
                                                    error: function (err) {
                                                        console.log("error1 : " + err);
                                                    }
                                                });
                                            }
                                        },
                                        No: {
                                            text: 'No',
                                            btnClass: 'btn-red',
                                            action: function () {
                                            }
                                        },
                                    }
                                });
                            }
                            else if (selVal == "Cancel") {
                                $.confirm({
                                    title: 'Do you want to cancel application ?',
                                    content: '' +
                                        '<form action=""  class="formName">' +
                                        '<div class="form-group"><br/>' +
                                        '<table>' +
                                        '<tr><th>Application No</th><th>&nbsp;&nbsp;:&nbsp;&nbsp;</th><td>' + item.ApplicationNo + '</td></tr><tr>' +
                                        '<th><br/></th><th></th><td></td></tr>' +
                                        '<th>Candidate Name</th><th>&nbsp;&nbsp;:&nbsp;&nbsp;</th><td>' + item.Name + '</td></tr>' +
                                        '</table><br/>' +
                                        '<label class="required">Remarks</label>' +
                                        '<textarea id="txtResonCancel" name="reason" class="form-control" row="2" required>' +
                                        '</textarea><br/>' +
                                        '<label>Attachment (optional)</label>' + '<br/>' +
                                        '<input type="file" id="attachement" name="attachement" /> ' +
                                        '<input type="hidden" name="appid" value=' + item.STEId + ' />' +
                                        '<input type="hidden" name="apptype" value="STE" />' +
                                        '<input type="hidden" name="orderid" value=' + item.OrderId + ' />' +
                                        '</div>' +
                                        '</form>',
                                    type: 'blue',
                                    typeAnimated: true,
                                    boxWidth: '450px',
                                    useBootstrap: false,
                                    buttons: {
                                        formSubmit: {
                                            text: 'Submit',
                                            btnClass: 'btn-blue',
                                            action: function () {
                                                var reason = $('#txtResonCancel').val();
                                                if (reason == "" || reason == null) {
                                                    $.alert('Remarks Field is Required');
                                                    return false;
                                                }
                                                else if (reason != null || reason != "") {
                                                    var from = $('.formName');
                                                    var formData = new FormData(from[0]);
                                                    var fileUpload = $("#attachement").val();
                                                    if (fileUpload != "") {
                                                        var allowedExtensions = [".pdf", ".doc", ".docx"];
                                                        var fileName = document.getElementById('attachement').files[0].name;
                                                        var extension = fileName.substr((fileName.lastIndexOf('.') + 1)).toLowerCase();
                                                        var validFormat = allowedExtensions.includes('.' + extension);
                                                        if (validFormat) {
                                                            var _size = document.getElementById('attachement').files[0].size;
                                                            var iSize = (_size / 1024);
                                                            iSize = (Math.round(iSize * 100) / 100)
                                                            if (iSize > 5120) {
                                                                $.confirm({
                                                                    title: 'Warning!',
                                                                    content: 'Attachment size should be allow below 5MB',
                                                                    type: 'orange',
                                                                    buttons: {
                                                                        Ok: function () {
                                                                            //close
                                                                        },
                                                                    },
                                                                });
                                                                $("#attachement").val('')
                                                                return;
                                                            }
                                                        }
                                                        else {
                                                            $.confirm({
                                                                title: 'Warning!',
                                                                content: 'Attachment allowed document type [pdf,doc,docx]',
                                                                type: 'orange',
                                                                buttons: {
                                                                    Ok: function () {
                                                                        //close
                                                                    },
                                                                },
                                                            });
                                                            $("#attachement").val('')
                                                            return;
                                                        }
                                                    }
                                                    $.ajax({
                                                        type: "Post",
                                                        url: '@Url.Action("RequestCancelApplication", "Requirement")',
                                                        data: formData,
                                                        processData: false,
                                                        contentType: false,
                                                        beforeSend: function () {
                                                            $(".loading-bg").removeClass('dis-none');
                                                        },
                                                        success: function (result) {
                                                            $(".loading-bg").addClass('dis-none');
                                                            if (isNaN(result) && result != "") {
                                                                $.confirm({
                                                                    title: 'Alert!',
                                                                    content: result,
                                                                    type: 'blue',
                                                                    buttons: {
                                                                        Ok: function () {
                                                                            $("#gridConApp").jsGrid("loadData");
                                                                        },
                                                                    },
                                                                });
                                                            }
                                                        },
                                                        error: function (err) {
                                                            $(".loading-bg").addClass('dis-none');
                                                            console.log("error1 : " + err);
                                                        }
                                                    });
                                                }

                                            }
                                        },
                                        cancel: function () {
                                            //close
                                        },
                                    },

                                });
                            }
                            else if (selVal == "EmailNf") {
                                if (item.EmailRemaindarCount == 2) {
                                    $('#alert').html("Alert - Reminder E-mails already Sent");
                                    $('#Validation').modal('toggle');
                                    return false;
                                }
                                $.confirm({
                                    title: "Mail Preview",
                                    type: 'blue',
                                    columnClass: 'col-md-12',
                                    content: function () {
                                        var self = this;
                                        return $.ajax({
                                            type: "Post",
                                            url: '@Url.Action("SendVerificationReminder", "Requirement")',
                                            data: {
                                                AppId: item.STEId,
                                                Apptype: "STE",
                                                isBody: true,
                                                OrderId: item.OrderId || null
                                            }
                                        }).done(function (response) {
                                            self.setContent(response.Item2);
                                        }).fail(function () {
                                            self.setContent('Preview page not loaded.');
                                        });
                                    },
                                    buttons: {
                                        Yes: {
                                            text: 'Send',
                                            btnClass: 'btn-blue',
                                            action: function () {
                                                $.ajax({
                                                    type: "Post",
                                                    url: '@Url.Action("SendVerificationReminder", "Requirement")',
                                                    data: {
                                                        AppId: item.STEId,
                                                        Apptype: "STE",
                                                        OrderId: item.OrderId || null
                                                    },
                                                    beforeSend: function () {
                                                        $(".loading-bg").removeClass('dis-none');
                                                    },
                                                    success: function (output) {
                                                        if (output.Item1 == 1 || output.Item1 == 2) {
                                                            $(".loading-bg").addClass('dis-none');
                                                            $('#alertTitle').html("Success");
                                                            $('#alertSuccessContent').html(output.Item2);
                                                            $('#SuccessAll').modal('toggle');
                                                            $("#VerificationList").jsGrid("loadData");
                                                        }
                                                        else {
                                                            $(".loading-bg").addClass('dis-none');
                                                            $('#FailedAlert').html("Something Went to Wrong Please Conatact Administrator");
                                                            $('#Failed').modal('toggle');
                                                        }
                                                    },
                                                    error: function (err) {
                                                        console.log("error1 : " + err);
                                                    }
                                                });
                                            }
                                        },
                                        No: {
                                            text: 'No',
                                            btnClass: 'btn-red',
                                            action: function () {
                                            }
                                        },
                                    }
                                });
                            }
                            else if (selVal == "View") {

                                if (item.ApplicationType == "New") {
                                    @*var url = '@Url.Action("RCTOverAllView", "Requirement")?ApplicationId=' + item.STEId + '&AppType=STE&listf=AL';
                                    window.location.href = url;*@
                                    var url = '@Url.Action("STEVerificationView", "Requirement")?STEID=' + item.STEId + '&listf=VAL';
                                    window.location.href = url;
                                }
                                else {
                                    var url = '@Url.Action("OrderVerificationView", "Requirement")?OrderId=' + item.OrderId + '&listf=OVAL';
                                    window.location.href = url;
                                }
                            }
                            $(this).val("");
                            return false;
                            e.stopPropagation();
                        });
                        return $result.add($customSelect);
                    }
                },
                _createFilterSwitchButton: function () {
                    return this._createOnOffSwitchButton("filtering", this.searchModeButtonClass, false);
                }
            }


        ],

    });
    $("#VerificationList").jsGrid("option", "filtering", false);
    // loadDetails();
    function loadDetails() {
        var input = [];
        input = {
            SearchEXReferencenumber: $('#srchnegativebalnumber').val(),
            SearchEXProjectNumber: $('#srchprojectnumber').val(),
            SearchPIName: $('#srchPIName').val(),
            SearchEXStatus: $('#srchStatus').val(),
            FromDate: $('#FromDate').val() || null,
            ToDate: $('#ToDate').val() || null
        },
         $("#VerificationList").jsGrid("search", input, pageIndex = 1, pageSize = 5);

    }

</script>
