@model IOAS.Models.AnnualAccountsModel

@{
    ViewBag.Title = "OverAll Project Details";
    ViewBag.Subtitle = "Reports";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h4><b>OverAll Project Details</b> </h4>
    </div>
</div>


<style>
    .vw-dts-bg .hgt-bg {
        background: #597df0;
        color: #fff;
    }

        .vw-dts-bg .hgt-bg label {
            font-size: 16px !important;
            color: #fff !important;
        }

        .vw-dts-bg .hgt-bg h4 {
            font-size: 18px !important;
            color: #fff;
        }

    .vw-dts-bg .hgt-bg-pl {
        background: #e11eda;
        color: #fff;
    }

        .vw-dts-bg .hgt-bg-pl label {
            font-size: 16px !important;
            color: #fff !important;
        }

        .vw-dts-bg .hgt-bg-pl h4 {
            font-size: 18px !important;
            color: #fff;
        }
</style>
<div class="row">
    <div class="white-bg ad-navbar">
       
    </div>
</div>


@using (Html.BeginForm("OverAllProjectDetails", "Reports", FormMethod.Post, new { @class = "", role = "form", @id = "formDown", enctype = "multipart/form-data" }))
{

<div class="row vw-dts-bg">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="6">Select the fieds which ever you want :</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>Project No :</label><br />
                        @Html.CheckBoxFor(m => m.ProjectNumber, new { })
                    </td>
                    <td>
                        <label>Project Type :</label><br />
                        @Html.CheckBoxFor(m => m.ProjectType, new { })
                    </td>
                    <td>
                        <label>PI :</label><br />
                        @Html.CheckBoxFor(m => m.PIName_f, new { })
                    </td>
                    <td>
                        <label>Sanction No :</label><br />
                        @Html.CheckBoxFor(m => m.SanctionOrderNumber, new { })
                    </td>
                    <td>
                        <label>Project Title :</label><br />
                        @Html.CheckBoxFor(m => m.ProjectTitle, new { })
                    </td>
                   
                </tr>
                <tr>
                    <td>
                        <label>Proposal Number :</label><br />
                        @Html.CheckBoxFor(m => m.ProposalNumber, new { })
                    </td>
                    <td >
                        <label>Project Classification :</label><br />
                        @Html.CheckBoxFor(m => m.ProjectClassification, new { })
                    </td>  
                    <td colspan="3">
                        <label>Sanction Value :</label><br />
                        @Html.CheckBoxFor(m => m.sanctionValue, new { })
                    </td>                  
                </tr>
                <tr>
                    <td>
                        <label>Project StartDate:</label><br />
                        @Html.CheckBoxFor(m => m.StartDate, new { })
                    </td>
                    <td>
                        <label>Project ClosureDate :</label><br />
                        @Html.CheckBoxFor(m => m.ClosureDate, new { })
                    </td>
                    <td>
                        <label>Grant Received :</label><br />
                        @Html.CheckBoxFor(m => m.Receipts, new { })
                    </td>
                    <td>
                        <label>Receipt upto 31-03-2019 :</label><br />
                        @Html.CheckBoxFor(m => m.SponReceipt, new { })
                    </td>                  
                    <td>
                        <label>Total expenditure till date:</label><br />
                        @Html.CheckBoxFor(m => m.TotalExpenditure, new { })
                    </td>
                   
                </tr>
                <tr>
                    <td>
                        <label>Expenditure upto 31-03-2019 :</label><br />
                        @Html.CheckBoxFor(m => m.SponExp, new { })
                    </td>
                    <td >
                        <label>Opening Balance :</label><br />
                        @Html.CheckBoxFor(m => m.OpeningBalance, new { })
                    </td>
                    <td>
                        <label>Net Balance :</label><br />
                        @Html.CheckBoxFor(m => m.ClosingBalance, new { })
                    </td>
                    <td>
                        <label>NegativeApprove :</label><br />
                        @Html.CheckBoxFor(m => m.NegativeApprove, new { })
                    </td>
                    <td>
                        <label>Commitment :</label><br />
                        @Html.CheckBoxFor(m => m.Commitment, new { })
                    </td>
                    
                </tr>
                <tr>
                    
                    <td>
                        <label>Agency Name</label><br />
                        @Html.CheckBoxFor(m => m.Agency, new { })
                    </td>
                    <td>
                        <label>Exp Head:</label><br />
                        @Html.DropDownListFor(m => m.ExpHead, new SelectList(ViewBag.AnnAccExpHead, "value", "label"), new { @class = "selectpicker form-control", @title = "Select any", @multiple = "multiple" })
                    </td>
                    <td>
                        <label>Allocation Head:</label><br />
                    @Html.DropDownListFor(m => m.AlloHead, new SelectList(ViewBag.AnnAccAllHead, "value", "label"), new { @class = "selectpicker form-control", @title = "Select any", @multiple = "multiple" })
                    </td>
                    <td>
                        <label>Scheme Code</label><br />
                        @Html.CheckBoxFor(m => m.Scheme, new { })
                    </td>
                    <td class="hgt-bg-pl">
                        <label>All Details:</label><br />
                        @Html.CheckBoxFor(m => m.AllDetails, new { })
                    </td>
                    
                </tr>
           
            </tbody>
        </table>
    </div>


    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="6">Select Search Field Condition</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >
                        <label>From Date: </label><br />
                        <div class="dateDiv">
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @id = "date1", @autocomplete = "off" })
                        </div>
                        
                    </td>
                    <td>
                        <label>To Date:</label>
                        <div class="dateDiv">
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @id = "date2", @autocomplete = "off" })
                        </div>
                    </td>
                    <td>
                        <label>Fin Year :</label>
                        @Html.CheckBoxFor(m => m.Fin_Year, new { @id = "srchFinYear" })
                        <div class="dis-none" id="finyrDiv">
                            <label>Select Fin Year :</label>
                            @Html.DropDownListFor(m => m.FinYear, new SelectList(ViewBag.AnnAccFinYear, "id", "name"), "-Select-", new { @class = "form-control", @id = "" })
                        </div>
                    </td>
                    <td>
                        <label>Project No :</label>
                        @Html.TextBoxFor(m => m.ProjNo, new { @class = "form-control ", @id = "ProjNo", @autocomplete = "off" })
                        @Html.TextBoxFor(m => m.ProjId, new { @class = "form-control dis-none", @id = "ProjId", @autocomplete = "off" })
                    </td>
                    <td>
                        <label>Project Type : </label>
                        @Html.DropDownListFor(m => m.ProjType, new SelectList(ViewBag.AnnAccProjectType, "id", "name"), "-Select-", new { @class = "form-control", @id = "" })
                    </td>
                    <td>
                        <label>PIName :</label>
                        @Html.TextBoxFor(m => m.piname, new { @class = "form-control ", @id = "piname", @autocomplete = "off" })
                        @Html.TextBoxFor(m => m.PI, new { @class = "form-control dis-none", @id = "PI", @autocomplete = "off" })

                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Department : </label>
                        @Html.DropDownListFor(m => m.Department, new SelectList(ViewBag.AnnAccDept, "value", "label"), "-Select-", new { @class = "form-control", @id = "" })
</td>
                    <td>
                        <label>Project Status : </label>
                        @Html.DropDownListFor(m => m.Status, new SelectList(ViewBag.AnnAccProjStatus, "id", "name"), "-Select-", new { @class = "form-control", @id = "" })
                    </td>
                    <td>
                        <label>Balance : </label>
                        @Html.DropDownListFor(m => m.Balance, new SelectList(ViewBag.AnnAccProjBalance, "id", "name"), "-Select-", new { @class = "form-control", @id = "" })
                    </td>
                    <td>
                        <label>Agency Name :</label>
                        @Html.TextBoxFor(m => m.AgencyName, new { @class = "form-control ", @id = "AgencyName", @autocomplete = "off" })
                        @Html.TextBoxFor(m => m.AgencyNameId, new { @class = "form-control dis-none", @id = "AgencyNameId", @autocomplete = "off" })
                    </td>
                    <td>
                        <label>Scheme Code :</label>
                        @Html.TextBoxFor(m => m.SchemeCode, new { @class = "form-control ", @id = "SchemeCode", @autocomplete = "off" })
                        @Html.TextBoxFor(m => m.SchemeCodeId, new { @class = "form-control dis-none", @id = "SchemeCodeId", @autocomplete = "off" })
                    </td>
                    <td>
                        <label>Project Classification : </label>
                        @Html.DropDownListFor(m => m.ProjClass, new SelectList(ViewBag.AnnAccProjClass, "id", "name"), "-Select-", new { @class = "form-control", @id = "" })
                    </td>
                </tr>


            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <button type="button" class="btn btn-primary pull-right" id="btnSubmit" >Download</button>
    </div>
</div>
}
<script>

    $('#FromDate, #ToDate').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true });
    $('#date1, #date2').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true });
    $(document).ready(function ()
    {
        $('.selectpicker').selectpicker({
            liveSearch: true
        });
        $('.selectpicker').selectpicker('refresh');
    });
    $('#btnSubmit').click(function () {     
        $('#formDown').submit();      
    });
    applyAutoComplete($('#ProjNo'), $('#ProjId'), "../CoreAccounts/LoadAllProjectNo", undefined, undefined, undefined);
    applyAutoComplete($('#piname'), $('#PI'), "../CoreAccounts/LoadProfessorList", undefined, undefined, undefined);
    applyAutoComplete($('#AgencyName'), $('#AgencyNameId'), "../Project/LoadAgencytList", undefined, undefined, 1);
    applyAutoComplete($('#SchemeCode'), $('#SchemeCodeId'), "../Project/LoadSchemeList", undefined, undefined, undefined);

    $(document).on('click', '#srchFinYear', function () {
        if ($(this).is(':checked'))
        {
            $(".dateDiv").addClass('dis-none');
            $("#finyrDiv").removeClass('dis-none');
        } else {
            $(".dateDiv").removeClass('dis-none');
            $("#finyrDiv").addClass('dis-none');
        }
    });
</script>