@model IOAS.Models.VendorManagementModel

@{
    ViewBag.Title = "VendorManagementView";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<style>
    .vw-dts-bg .hgt-bg {
        background: #597df0;
        color: #fff;
    }

        .vw-dts-bg .hgt-bg label {
            font-size: 16px !important;
            color: #fff !important;
        }

        .vw-dts-bg .hgt-bg h4 {
            font-size: 18px !important;
            color: #fff;
        }

    .vw-dts-bg .hgt-bg-pl {
        background: #e11eda;
        color: #fff;
    }

        .vw-dts-bg .hgt-bg-pl label {
            font-size: 16px !important;
            color: #fff !important;
        }

        .vw-dts-bg .hgt-bg-pl h4 {
            font-size: 18px !important;
            color: #fff;
        }
</style>

<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h4><b>Vendor Management</b> </h4>
    </div>
</div>

<div class="row">
    <div class="white-bg ad-navbar">
        <div class="col-md-4 ds-spl-bg">
            <div class="ds-icn">
                <i class="ion-ios-list-outline "></i>
            </div>
            <div class="ds-tt">
                <label>Vendor Name :</label>
                @Html.DisplayFor(m => m.VendorName)
            </div>
        </div>
        <div class="col-md-4 ds-spl-bg">

            <div class="ds-tt">
                <label>Clearance agency </label>
                @Html.DisplayFor(m => m.ClearanceAgency_f)
            </div>
        </div>
        <div class="col-md-4 ds-spl-bg">

            <div class="ds-tt">
                <label>Travel agency</label>
                @Html.DisplayFor(m => m.TravelAgency_f)
            </div>
        </div>
        <div class="col-md-4 ds-spl-bg">
            <div class="ds-tt">
                <label>GST Default Vendor</label>
                @Html.DisplayFor(m => m.isGSTVendor)
            </div>
        </div>
    </div>
</div>



<div class="row vw-dts-bg">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">Personal Details:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>Nationality :</label>
                       @Html.DisplayFor(m=>m.Category) 
                    </td>
                    <td>
                        <label>PFMSCode :</label>
                        @Html.DisplayFor(m => m.PFMSCode)                       
                    </td>
                    <td>
                        <label>Address :</label>
                        @Html.DisplayFor(m => m.Address)                        
                    </td>
                    <td>
                        <label>Email :</label>
                        @Html.DisplayFor(m => m.Email)                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Contact Person :</label>
                        @Html.DisplayFor(m => m.ContactPerson)
                        
                    </td>
                    <td>
                        <label>Phone Number :</label>
                        @Html.DisplayFor(m => m.PhoneNo)
                        
                    </td>
                    <td>
                        <label>Mobile Number :</label>
                        @Html.DisplayFor(m => m.MobileNo)
                        
                    </td>
                    <td>
                        <label>State :</label>
                        @Html.DisplayFor(m => m.State)
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>State Code :</label>
                        @Html.DisplayFor(m => m.StateCode)
                        
                    </td>
                    <td>
                        <label>City :</label>
                        @Html.DisplayFor(m => m.City)
                        
                    </td>
                    <td>
                        <label>Pin Code :</label>
                        @Html.DisplayFor(m => m.PinCode)
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">Identity Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>Registered Name : </label>
                        @Html.DisplayFor(m => m.RegName)
                    </td>
                    <td>
                        <label>PAN :</label>
                        @Html.DisplayFor(m => m.PAN)
                    </td>
                    <td>
                        <label>TAN :</label>
                        @Html.DisplayFor(m => m.TAN)
                    </td>
                    <td>
                        <label>GST Exempted :</label>
                        @Html.DisplayFor(m => m.GSTExp)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>GSTIN : </label>
                        @Html.DisplayFor(m => m.GSTIN)
                    </td>
                    <td>
                        <label>Reason:</label>
                        @Html.DisplayFor(m => m.TaxExpReason)
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">Vendor Bank Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >
                        <label>Account Holder's Name : </label>
                        @Html.DisplayFor(m => m.AccHolderName)
                    </td>
                    <td>
                        <label>Bank Name :</label>
                        @Html.DisplayFor(m => m.BankName)
                    </td>
                    <td>
                        <label>Branch :</label>
                        @Html.DisplayFor(m => m.Branch)
                    </td>
                    <td>
                        <label>IFSC :</label>
                        @Html.DisplayFor(m => m.IFSC)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Account Number : </label>
                        @Html.DisplayFor(m => m.AccNo)
                    </td>
                    <td>
                        <label>Bank Address:</label>
                        @Html.DisplayFor(m => m.BankAddress)
                    </td>
                    <td>
                        <label>Bank Nature:</label>
                        @Html.DisplayFor(m => m.BankNature)
                    </td>
                    <td>
                        <label>Bank Email:</label>
                        @Html.DisplayFor(m => m.BankEmail)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>ABA Number : </label>
                        @Html.DisplayFor(m=>m.ABANumber)
                    </td>
                    <td>
                        <label>Sort Code : </label>
                        @Html.DisplayFor(m => m.SortCode)
                    </td>
                    <td>
                        <label>IBAN : </label>
                        @Html.DisplayFor(m => m.IBAN)
                    </td>
                    <td>
                        <label>MICR Code : </label>
                        @Html.DisplayFor(m => m.MICRCode)
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <label>SWIFT / BIC code :</label>
                        @Html.DisplayFor(m => m.SWiftCode)
                    </td>
                    <td>
                        <label>Bank Country :</label>
                        @Html.DisplayFor(m=>m.BankCountry)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">Vendor Service Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >
                        <label>Service Category : </label>
                        @Html.DisplayFor(m => m.ServiceCategory)
                    </td>
                    <td>
                        <label>Type :</label>
                        @Html.DisplayFor(m => m.Type)
                    </td>
                    <td>
                        <label>Reverse Tax :</label>
                        @Html.DisplayFor(m => m.RevTax)
                    </td>
                    <td>
                        <label>Reason :</label>
                        @Html.DisplayFor(m => m.ReverseTaxReson)
                    </td>
                </tr>
             
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">Vendor TDS Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>TDS Excempted : </label>
                        @Html.DisplayFor(m => m.TDSExp)
                    </td>
                    <td>
                        <label>Certificate Number :</label>
                        @Html.DisplayFor(m => m.CertificateNo)
                    </td>
                    <td>
                        <label>Validity Period :</label>
                        @Html.DisplayFor(m => m.ValidityReson)
                    </td>
                    <td>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">GST Document</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><b>Attachment type</b></td>
                    <td class="text-center"><b>Attachment Name</b></td>
                    <td class="text-center"><b>Attachment</b></td>
                </tr>
                @if(Model.GstDocument!=null)
                {
                    foreach(var item in Model.GstDocument)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(m => item.GstDocumenttypename)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(m => item.GstAttachementName)
                            </td>
                            <td class="text-center">
                               <a href="ShowDocument?file=@item.GstDocumentPath&filepath=~%2FContent%2FGstDocument%2F"target="_blank">@item.GstDocumentName</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">TDS Document</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><b>Attachment type</b></td>
                    <td class="text-center"><b>Attachment Name</b></td>
                    <td class="text-center"><b>Attachment</b></td>
                </tr>
                @if (Model.TdsDocument != null)
                {
                    foreach (var item in Model.TdsDocument)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(m => item.TdsDocumenttypename)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(m => item.TdsAttachementName)
                            </td>
                            <td class="text-center">
                                <a href="ShowDocument?file=@item.TdsDocumentPath&filepath=~%2FContent%2FTDSDocument%2F"target="_blank">@item.TdsDocumentName</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">Revised Tax Document</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><b>Attachment type</b></td>
                    <td class="text-center"><b>Attachment Name</b></td>
                    <td class="text-center"><b>Attachment</b></td>
                </tr>
                @if (Model.TaxDocument != null)
                {
                    foreach (var item in Model.TaxDocument)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(m => item.TaxDocumenttypename)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(m => item.TaxAttachementName)
                            </td>
                            <td class="text-center">
                                <a href="ShowDocument?file=@item.TaxDocumentPath&filepath=~%2FContent%2FReverseTaxDocument%2F"target="_blank">@item.TaxDocumentName</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">TDS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><b>Section</b></td>
                    <td class="text-center"><b>Nature Of Income</b></td>
                    <td class="text-center"><b>TDS Percentage</b></td>
                </tr>
                @if (Model.List != null)
                {
                    var count = 0;
                    foreach (var item in Model.List)
                    {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(m => item.Section)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(m => item.NatureOfIncome)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(m => item.TDSPercentage)
                    </td>
                </tr>
                count++;
                }
                }

            </tbody>
        </table>
    </div>
    <div class="col-md-offset-6 col-md-12">

        <input type="button" onclick="window.location.href='@Url.Action("Vendor", "Master")';" class="btn btn-primary" value="Close" />
    </div>
</div>

<input type="hidden" id="currentRefId" value="@Model.VedorId" />
<input type="hidden" id="processGuideLineId" value="@ViewBag.processGuideLineId" />
@Html.Partial("_ProcessStatus")



