@model IOAS.Models.ViewProposalModel
@{
    ViewBag.Title = "View Proposal";
    ViewBag.Subtitle = "Proposal";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="vw-dts-bg">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">Proposal References</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>Financial Year</label>
                            <h4>@Html.DisplayFor(m=>m.FinYearType)</h4>
                        </td>
                        <td>
                            <label>Proposal Source</label>
                            <h4>@Html.DisplayFor(m=>m.SourceName)</h4>
                        </td>
                        <td colspan="2" class="reg-no">
                            <label class="lblval">Proposal Number</label>
                            <h4 class="tatval">@Html.DisplayFor(m=>m.ProposalNumber)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Inward Date</label>
                            <h4>@Html.DisplayFor(m=>m.Prpsalinwrddate)</h4>
                        </td>
                        <td>
                            <label>Approval Date</label>
                            <h4>@Html.DisplayFor(m=>m.SourceEmailDate)</h4>
                        </td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">Categorization</th>
                    </tr>
                    
                </thead>
                <tbody class="table table-bordered">
                    <tr>
                        <td colspan="4">
                            <label>Project Type</label>
                            <h4>@Html.DisplayFor(m=>m.ProjectTypeName)</h4>
                        </td>
                    </tr>
                    @if(Model.ProjectType==2)
                    {
                        <tr>
                            <td>
                                <label>Project Category</label>
                                <h4>@Html.DisplayFor(m=>m.ProjectCategoryName)</h4>
                            </td>
                            <td>
                                <label>Agency</label>
                                <h4>@Html.DisplayFor(m=>m.AgencyName)</h4>
                            </td>
                            <td>
                                <label>Consultancy Type</label>
                                <h4>@Html.DisplayFor(m=>m.ConsultancyType)</h4>
                            </td>
                            <td>
                                <label>Person applied</label>
                                <h4>@Html.DisplayFor(m=>m.Personapplied)</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Place</label>
                                <h4>@Html.DisplayFor(m=>m.PersonAppliedPlace)</h4>
                            </td>
                            <td>
                                <label>Sanction Number</label>
                                <h4>@Html.DisplayFor(m=>m.SanctionNumber)</h4>
                            </td>
                        </tr>
                    }
                    else if(Model.ProjectType==1)
                    {
                        if (Model.ProjectSubtype == 1)
                        {
                        <tr>
                            <td>
                                <label>Project Sub Type</label>
                                <h4>@Html.DisplayFor(m => m.ProjectSubtypeName)</h4>
                            </td>
                            <td>
                                <label>Agency</label>
                                <h4>@Html.DisplayFor(m => m.AgencyName)</h4>
                            </td>
                            <td>
                                <label>Sanction Number</label>
                                <h4>@Html.DisplayFor(m => m.SanctionNumber)</h4>
                            </td>
                            <td>
                                <label>Person applied</label>
                                <h4>@Html.DisplayFor(m => m.Personapplied)</h4>
                            </td>
                        </tr>
                        <tr>
                           <td>
                               <label>Place</label>
                               <h4>@Html.DisplayFor(m => m.PersonAppliedPlace)</h4>
                           </td>
                        </tr>
                        <tr>
                            <td>
                                <label>SponSored Funding Type</label>
                                <h4>@Html.DisplayFor(m=>m.SponsoredTypeCode)</h4>
                            </td>
                        </tr>
                        }
                        else if(Model.ProjectSubtype==2)
                        {
                            <tr>
                                <td>
                                    <label>Agency</label>
                                    <h4>@Html.DisplayFor(m => m.AgencyName)</h4>
                                </td>
                                
                                <td>
                                    <label>Project Sub Type</label>
                                    <h4>@Html.DisplayFor(m => m.ProjectSubtypeName)</h4>
                                </td>
                                <td>
                                    <label>Sanction Number</label>
                                    <h4>@Html.DisplayFor(m => m.SanctionNumber)</h4>
                                </td>
                                <td>
                                    <label>Person applied</label>
                                    <h4>@Html.DisplayFor(m => m.Personapplied)</h4>
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <label>Place</label>
                                    <h4>@Html.DisplayFor(m => m.PersonAppliedPlace)</h4>
                                </td>
                                <td>
                                    <label>Project Category</label>
                                    <h4>@Html.DisplayFor(m => m.ProjectCategoryName)</h4>
                                </td>
                                @if(Model.ProjectCategory==1)
                                {
                                    <td>
                                        <label>Project Scheme</label>
                                        <h4>@Html.DisplayFor(m=>m.ConsultancyType)</h4>
                                    </td>
                                    <td>
                                        <label>Scheme Code</label>
                                        <h4>@Html.DisplayFor(m => m.SponsoredSchemes)</h4>
                                    </td>
                                }
                                else if (Model.ProjectCategory == 2)
                                {
                                    <td>
                                        <label>Project Scheme</label>
                                        <h4>@Html.DisplayFor(m => m.ConsultancyType)</h4>
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>
                                    <label>SponSored Funding Type</label>
                                    <h4>@Html.DisplayFor(m => m.SponsoredTypeCode)</h4>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">Proposal Details</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4">
                            <label>Title of assignment</label>
                            <h4>@Html.DisplayFor(m=>m.Projecttitle)</h4>
                        </td>
                    </tr>
                    <tr>
                       <td class="reg-no">
                           <label class="lblval">Base value</label>
                           <h4 id= "txtprpslbasicval" class="tatval">@Model.BasicValue</h4>
                       </td>
                        <td>
                            <label>Applicable Taxes(%)</label>
                            <h4 id= "txtprpsltaxes">@Model.ApplicableTaxes</h4>
                        </td>
                        <td class="reg-no">
                            <label class="lblval">Total Value (Base value + GST)</label>
                            <h4 id="lblOverallTtl" class="tatval"></h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <label>Name of Institute</label>
                            <h4>@Html.DisplayFor(m=>m.PersonAppliedInstitute)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Tentative Start Date</label>
                            <h4 id = "TentativeStartDate">@Html.DisplayFor(m => m.StartDate)</h4>
                            
                        </td>
                        <td>
                            <label>Tentative Close Date</label>
                            <h4 id= "TentativeCloseDate">@Html.DisplayFor(m => m.CloseDate)</h4>
                        </td>
                        <td>
                            <label>Duration</label>
                            <h4 id="lblDuration"></h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">Principal Investigator Details</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>Department</label>
                            <h4>@Html.DisplayFor(m=>m.Department)</h4>
                        </td>
                        <td>
                            <label>Name of Principal Investigator</label>
                            <h4>@Html.DisplayFor(m => m.PIName)</h4>
                        </td>
                        <td>
                            <label>Email Id of PI</label>
                            <h4>@Html.DisplayFor(m => m.PIEmail)</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">Co Investigator Details</th>
                    </tr>
                    <tr>
                        <th>Department of Co PI</th>
                        <th>Name of Co PI</th>
                        <th>Email id of Co PI</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.CopiList.Count>0)
                    {
                        foreach(var item in Model.CopiList)
                        {
                            <tr>
                                <td>@item.DepartMentOfCOPI</td>
                                <td>@item.COPIName</td>
                                <td>@item.COPIEmailId</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">Co Investigator from Other Institute</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            
                           <h4>@Model.Otherinstcopi_Qust_1</h4>
                           
                        </td>
                    </tr>
                    <tr>
                        <td><label>Institute of Co PI</label></td>
                        <td><label>Department of Co PI</label></td>
                        <td><label>Name of Co PI</label></td>
                        <td><label>Remarks</label></td>
                    </tr>
                    @if(Model.OtherCOPIList.Count>0)
                    {
                        foreach(var item in Model.OtherCOPIList)
                        {
                            <tr>
                                <td><h4>@item.InstituteName</h4></td>
                                <td><h4>@item.InstituteCOPIDEP</h4></td>
                                <td><h4>@item.NameOfCOPI</h4></td>
                                <td><h4>@item.Remarks</h4></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>
                            <label>Is there any Artificial Intelligence Component in the proposed project?</label>
                            <h4>@Html.DisplayFor(m => m.IsthereAnyArtificialIntelligence)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>If yes, please provide a description of the same in 200 characters.</label>
                            <h4>@Html.DisplayFor(m => m.AIDescription)</h4>
                        </td>
                        <td>
                            <label>Please select the domain relevant to the project</label>
                            <h4>@Html.DisplayFor(m => m.Domainrelevant)</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">Supporting Documents</th>
                    </tr>
                    <tr>
                        <th>Attachment type</th>
                        <th>Attachment Name</th>
                        <th>Attachment (.pdf, .doc, .docx)</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DocumentList.Count > 0)
                    {
                        foreach (var item in Model.DocumentList)
                        {
                            <tr>
                                <td><h4>@item.AttachmentTypeName</h4></td>
                                <td><h4>@item.AttachmentName</h4></td>
                                
                                <td><a href="@Url.Action("ShowDocument","Project",new { file = item.AttachmentFilePath, filepath = "~/Content/SupportDocuments" })" target="_blank">@item.AttachmentFileName</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center pd-tb-30">
        @if (Model.PFInit != true)
        {
            <input type="button" onclick="window.location.href='@Url.Action("ProposalList", "Proposal")';" class="btn btn-default" value="Close" id="btnclose" />
        }
        else
        {
            <input type="button" onclick="window.location.href='@Url.Action("Dashboard", "Home")';" class="btn btn-default" value="Close" id="btnclose" />
        }
    </div>
</div>
<script src="@Url.Content("~/Scripts/Proposal/Proposal.js")"></script>
<input type="hidden" id="currentRefId" value="@Model.ProposalID" />
<input type="hidden" id="processGuideLineId" value="@ViewBag.processGuideLineId" />
@Html.Partial("_ProcessStatus")


@if (ViewBag.succMsg != null)
{
    <div id="myModal" class="modal fade modal-success" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="window.location.href='@Url.Action("CreateProposal", "Proposal")';">&times;</button>
                    <i class="ion-android-checkmark-circle"></i>
                    <h3 class="modal-title">Saved successfully</h3>
                </div>
                <div class="modal-body">

                    <p>@ViewBag.succMsg</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.href='@Url.Action("CreateProposal", "Proposal")';">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#myModal').modal('show');
        });

    </script>

}

@if (ViewBag.errMsg != null)
{
    <div id="myModal1" class="modal fade modal-error" role="dialog">
        <div class="modal-dialog modal-sm">

            Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <i class="ion-android-cancel"></i>
                    <h3 class="modal-title">Error Message</h3>
                </div>
                <div class="modal-body">

                    <p>@ViewBag.errMsg</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#myModal1').modal('show');
        });

    </script>
}
<div id="ValidationModal" class="modal fade modal-warning" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <i class="ion-android-warning"></i>
                <h3 class="modal-title">Warning</h3>
            </div>
            <div class="modal-body">

                <p id="MsgValidation"></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script>
    var errMsg = '@ViewBag.errMsg';
    var piList = '@Html.Raw(Json.Encode(ViewBag.PI))';
    @*var allocationHeads = '@Html.Raw(Json.Encode(ViewBag.allocatehead))'*@
    var modelData = '@Html.Raw(Json.Encode(Model))';
    var mode = '@TempData["viewMode"]';
    //$('input[name="ProposalID"]').val("");
    //$('input[name="Docid"]').val("");
    //$('input[name="CoPIid"]').val("");
    $('#EmailDate').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true }).attr('readonly', 'readonly');
    //$('#TentativeCloseDate, #TentativeStartDate').datepicker({ dateFormat: 'dd-MM-yy', changeYear: true, yearRange: '-10:+50' });
    $(document).ready(function () {
        //get the relevant form
        //  var form = $('#frmSRB');
        $('.selectpicker').selectpicker({
            liveSearch: true
        });
        if (errMsg) {
            //$('#FailedAlert').html(errMsg);
            //$('#Failed').modal('toggle');

            $('#addnewpage').hide();
            $('#createproposal').show();
            $('#saveproposal').hide();
            $('#updateproposal').hide();
            $('#gridlist').hide();

            $('#viewdoc').hide();


        } else {

            $('#gridlist').show();
            $('#createproposal').hide();
         //   $('#viewdoc').hide();
         //   $('#saveproposal').hide();
         //   $('#updateproposal').hide();
        }
        @*var dis = '@ViewBag.disabled';
        if (dis != '') {
            $('#addnewpage').hide();
            $('#createproposal').show();
            $('#saveproposal').hide();
            $('#updateproposal').hide();
            $(".form-control").attr("disabled", true);
            $("input[name='removeButton']").hide();
            $("#btnAddCoPI").hide();
            $("#btnAddDoc").hide();
            $("input[type='file']").attr("disabled", true);
            $("input[type='radio']").attr("disabled", true);
        }
        if (mode == "ViewOnly") {
            $('.form-control,input').prop('disabled', true);
            $('#ddlActionList,#txtProcessComment').prop('disabled', false);
            $('#btnAddAttachment, #btnbookcommitment, input[name="removeDocButton"], .btn-danger, .removeExpense').hide();
        }*@
        
    });

    $('#Prjcttype').prop("selectedIndex", 0);
    $('#datepickerid').val("");
    //$('#inputdatepickerid').val("");

    $('#ddlprpslsrc').val("");
    $('#txtprjcttitle').val("");
    $('#Agncy').prop("selectedIndex", 0);
    $('#txtprpslval').val("");
    $('#txtprjctduratn').val("");
    $('#txtpersonapplied').val("");
    $('#schemename').prop("selectedIndex", 0);
    $('#txtremarks').val("");

    $('#Proposalinwarddate').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true });
    //$('#Inputdate').datepicker({ maxDate: 0, minDate: 0, dateFormat: 'dd-MM-yy', changeYear: true });
    $('#ProposalApproveddate').datepicker({ maxDate: 0, dateFormat: 'dd-MM-yy', changeYear: true });

    $('#department').prop("selectedIndex", 0);
    $('#PI').prop("selectedIndex", 0);
    $('#txtPIemail').val("");

    $('#copidepartment').prop("selectedIndex", 0);
    $('#CoPI').prop("selectedIndex", 0);
    $('#txtcopiemail').val("");

    $('#doctype').prop("selectedIndex", 0);
    $('#docname').val("");

    //$('#createproposal').hide();
    //$('#saveproposal').hide();
    //$('#updateproposal').hide();
    //$('#viewdoc').hide();
    $('#btnAddCoPI').click(function () {
        var cln = $("#primaryDiv").clone().find("input").val("").end();
        var cloneElement = $("#primaryDiv").find('#CoPI').parent().clone();
        cln.find('#CoPI').parent().replaceWith(selectPickerApiElement($(cloneElement), "empty", [], ''));
        $(cln).find('.dis-none').removeClass('dis-none');
        $('#divContent').append(cln)

    });
    //$("#TentativeStartDate, #TentativeCloseDate").change(function () {
    //    calcDateDiff();
    //});
    calcDateDiff();
    function calcDateDiff() {
        
        var strDate = $("#TentativeStartDate").text();
        var clsDate = $("#TentativeCloseDate").text();
        if (strDate != '' && clsDate != '') {
            var startDate = moment(parseDate(strDate));
            var closeDate = moment(parseDate(clsDate));

            var mins = closeDate.diff(startDate, 'minutes');
            if (mins <= 0) {
                $('#MsgValidation').html("Tentative Close Date must be greater than start date.");
                $('#ValidationModal').modal('toggle');
                return false;
            }
            var result = '';
            var years = closeDate.diff(startDate, 'year');
            startDate.add(years, 'years');

            var months = closeDate.diff(startDate, 'months');
            startDate.add(months, 'months');

            var days = closeDate.diff(startDate, 'days');
            if (years > 1) {
                result = years + ' years ';
            } else if (years == 1) {
                result = years + ' year ';
            }
            if (months > 1) {
                result = result +  months + ' months ';
            } else if (months == 1) {
                result = result + months + ' month ';
            }
            if (days > 1) {
                result = result + days + ' days';
            } else if (days == 1) {
                result = result + days + ' day';
            }
            $('#lblDuration').html(result);
        }
    }
    function parseDate(s) {
        var months = {
            january: 0, february: 1, march: 2, april: 3, may: 4, june: 5,
            july: 6, august: 7, september: 8, october: 9, november: 10, december: 11
        };
        var p = s.split('-');
        return new Date(p[2], months[p[1].toLowerCase()], p[0]);
    }

    $('#ddlprpslsrc').change(function () {
        var src = $(this).val();
        var select = $("#ddlRefNumber");
        select.empty();
        $("#divRefNum, #divRefEmailDate").addClass('dis-none');
        $("#SourceTapalOrWorkflow").val('False');
        if (src != '') {
            if (src == '1') {
                $.getJSON("@Url.Action("GetWorkflowRefNumber","Proposal")",
                 function (locationdata) {
                     $.each(locationdata, function (index, itemData) {
                         select.append($('<option/>', {
                             value: itemData.id,
                             text: itemData.name,
                         }));
                     });
                 });
                $("#divRefNum").removeClass('dis-none');
                $("#SourceTapalOrWorkflow").val('True');
            } else if (src == '3') {
                $.getJSON("@Url.Action("GetTapalRefNumber","Proposal")",
                function (locationdata) {
                    $.each(locationdata, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.id,
                            text: itemData.name,
                        }));
                    });
                });
                $("#divRefNum").removeClass('dis-none');
                $("#SourceTapalOrWorkflow").val('True');
            } else if (src == '2') {
                $()
                $("#divRefEmailDate").removeClass('dis-none');
            }

        }
        $('#ddlRefNumber').val("");
        $('input[name="EmailDate"]').val("")
        $('input[name="SourceTapalOrWorkflow"]').val("")
    });
    $('#btnAddotherinstCoPI').click(function () {
        var cln = $("#primaryotherinstcopiDiv").clone().find("input").val("").end();
        var cloneElement = $("#primaryotherinstcopiDiv").find('#OtherinstituteCoPI').parent().clone();
        $(cln).find('.dis-none').removeClass('dis-none');
        $('#divotherinstcopiContent').append(cln)

    });

    $(document).on('click', '#divotherinstcopiContent button[name="removeButton"]', function () {
        $(this).parent().parent("Div").remove();
    });

    $('#btnaddnew').on('click', function () {
        //$('#propslnum').val();
        //$('#prpslid').hide();
        //$('#docid').hide();
        //$('#copiid').hide();
        $('#addnewpage').hide();
        $('#createproposal').show();
        $('#gridlist').hide();
        //  $('#gridsearchlist').hide();
        $('#saveproposal').show();
        $('#updateproposal').hide();
        $('#viewdoc').hide();
        // $('#createuserid').show();
        // $('#editproposal').hide();
    });


    $('#btnSave').click(function (d) {
        d.preventDefault();
        var isValid = $('#formCP').valid();
        var pidept = $("#department").val(); //Year, Month, Date
        var piname = $("#PI").val();
        var projecttype = $("#Prjcttype").val();
        var projectsubtype = $("#Prjctsubtype").val();
        var projectcategory = $("#Prjctcategory").val();
        //var scheme = $("#Prjctscheme").val();
        //var schemecode = $("#schemecode").val();
        //var constype = $("#Prjctconsultype").val();
        //var constypecode = $("#Prjctconsultypecode").val();
        if (!isValid)
            return false;
        if ((projecttype == 1) && (projectsubtype == 2) && (projectcategory == null || projectcategory == 0 || projectcategory == "")) {
            isValid = false;
            $('#MsgValidation').html("Please select Project Category");
            $('#ValidationModal').modal('toggle');
            return false;
        }
        if ((projecttype == 2) && (projectcategory == null || projectcategory == 0 || projectcategory == "")) {
            isValid = false;
            $('#MsgValidation').html("Please select Project Category");
            $('#ValidationModal').modal('toggle');
            return false;
        }
        if ((projecttype == 1) && (projectsubtype == 0 || projectsubtype == null || projectsubtype == "")) {
            isValid = false;
            $('#MsgValidation').html("Please select Project Sub Type");
            $('#ValidationModal').modal('toggle');
            return false;
        }
        //if ((projecttype == 1) && (projectsubtype == 2) && (scheme == 0 || scheme == "" || scheme == "Select any") && (schemecode == 0 || schemecode == "" || schemecode == null))
        //{
        //    isValid = false;
        //    $('#MsgValidation').html("Please fill Project Scheme details");
        //    $('#ValidationModal').modal('toggle');
        //    return false;
        //}
        //if ((projecttype == 2) && (constype == 0 || constype == "" || constype == "Select any") && (constypecode == 0 || constypecode == "" || constypecode == null)) {
        //    isValid = false;
        //    $('#MsgValidation').html("Please fill Consultancy type details");
        //    $('#ValidationModal').modal('toggle');
        //    return false;
        //}
        if ((pidept > 0) && (piname == null || piname == 0)) {
            isValid = false;

            $('#MsgValidation').html("Please select Principal Investigator name");
            $('#ValidationModal').modal('toggle');
            return false;

        }

        if ((pidept == null || pidept == 0) && (piname > 0)) {
            isValid = false;

            $('#MsgValidation').html("Please select Department of selected Principal Investigator");
            $('#ValidationModal').modal('toggle');
            return false;

        }

        if ((pidept == 0 || pidept == null) && (piname == null || piname == 0)) {
            isValid = false;

            $('#MsgValidation').html("Please select Department and Principal Investigator name");
            $('#ValidationModal').modal('toggle');
            return false;

        }


        // to validate if copi department or copiname is left unselected when either one of them is selected
        var copideptvalues = [];
        var copinamvalues = [];

        $('select[name="CoPIDepartment"]').each(function (idx, val) { copideptvalues.push($(val).val()); });
        $('select[name="CoPIname"]').each(function (idx, val) { copinamvalues.push($(val).val()); });
        //// Sort it
        copideptvalues.sort();
        copinamvalues.sort();

        for (var k = 0; k < copideptvalues.length; ++k) {
            var piVal = parseInt(copinamvalues[k]);
            if ((copideptvalues[k] > 0) && isNaN(piVal)) {
                isValid = false;
                $('#MsgValidation').html("Please fill Co PI name");
                $('#ValidationModal').modal('toggle');
                return false;

            }

            if ((copideptvalues[k] == null || copideptvalues[k] == 0) && (copinamvalues[k] > 0)) {
                isValid = false;

                $('#MsgValidation').html("Please fill Department of selected Co PI");
                $('#ValidationModal').modal('toggle');
                return false;

            }
        }
        // duplicate check
        for (var k = 1; k < copinamvalues.length; ++k) {
            if (copinamvalues[k] == copinamvalues[k - 1]) {
                isValid = false;

                $('#MsgValidation').html("Co PI already selected. Please select a different Co PI.");
                $('#ValidationModal').modal('toggle');
                return false;

            }
        }

        // to validate if attachment type or attachment name is not left blank when either one of them is filled
        var doctypevalues = [];
        var docnamevalues = [];
        var docfile = [];
        $('select[name="DocType"]').each(function (idx, val) { doctypevalues.push($(val).val()); });
        $('input[name="AttachName"]').each(function (idx, val) { docnamevalues.push($(val).val()); });
        $('input[name="file"]').each(function (idx, val) { docfile.push($(val).val()); });

        for (var k = 0; k < doctypevalues.length; ++k) {
            if ((doctypevalues[k] > 0) && ((docnamevalues[k] == null) || docnamevalues[k] == "")) {
                isValid = false;

                $('#MsgValidation').html("Please fill Attachment name");
                $('#ValidationModal').modal('toggle');
                return false;

            }
            if ((doctypevalues[k] > 0) && (docfile[k] == "")) {
                isValid = false;

                $('#MsgValidation').html("Attachment field is required");
                $('#ValidationModal').modal('toggle');
                return false;

            }
            if ((docnamevalues[k] != null && docnamevalues[k] != "") && (doctypevalues[k] == null || doctypevalues[k] == 0)) {
                isValid = false;

                $('#MsgValidation').html("Please select Attachment type");
                $('#ValidationModal').modal('toggle');
                return false;

            }
            if ((docnamevalues[k] != null && docnamevalues[k] != "") && (docfile[k] == "")) {
                isValid = false;

                $('#MsgValidation').html("Attachment field is required");
                $('#ValidationModal').modal('toggle');
                return false;

            }
            if (docfile[k] != "" && (doctypevalues[k] == null || doctypevalues[k] == 0)) {
                isValid = false;

                $('#MsgValidation').html("Please select Attachment type");
                $('#ValidationModal').modal('toggle');
                return false;

            }
            if (docfile[k] != "" && ((docnamevalues[k] == null) || docnamevalues[k] == "")) {
                isValid = false;

                $('#MsgValidation').html("Please fill Attachment name");
                $('#ValidationModal').modal('toggle');
                return false;

            }
        }
        //// Sort it
        doctypevalues.sort();
        // duplicate check
        for (var k = 1; k < doctypevalues.length; ++k) {
            if (doctypevalues[k] == doctypevalues[k - 1]) {
                isValid = false;

                $('#MsgValidation').html("Attachment type is already existing. Please select a different Attachment type.");
                $('#ValidationModal').modal('toggle');
                return false;

            }
        }
        var strDate = $("#TentativeStartDate").val();
        var clsDate = $("#TentativeCloseDate").val();
        if (strDate != '' && clsDate != '') {
            var startDate = moment(parseDate(strDate));
            var closeDate = moment(parseDate(clsDate));

            var mins = closeDate.diff(startDate, 'minutes');
            if (mins <= 0) {
                $('#MsgValidation').html("Tentative Close Date must be greater than start date.");
                $('#ValidationModal').modal('toggle');
                return false;
            }
        }
        if (isValid)
            $('#formCP').submit();

        // $(this).closest("form").submit();
    });

    $('#btnupdate').on('click', function (e) {
        // to validate if PI department or PI name is left unselected when either one of them is selected
        e.preventDefault();
        var isValid = $('#formCP').valid();
        var pidept = $("#department").val(); //Year, Month, Date
        var piname = $("#PI").val();
        var projecttype = $("#Prjcttype").val();
        var projectsubtype = $("#Prjctsubtype").val();
        var projectcategory = $("#Prjctcategory").val();
        //var scheme = $("#Prjctscheme").val();
        //var schemecode = $("#schemecode").val();
        //var constype = $("#Prjctconsultype").val();
        //var constypecode = $("#Prjctconsultypecode").val();
        if (!isValid)
            return false;
        if ((projecttype == 1) && (projectsubtype == 2) && (projectcategory == null || projectcategory == 0 || projectcategory == "")) {
            isValid = false;
            $('#MsgValidation').html("Please select Project Category");
            $('#ValidationModal').modal('toggle');
            return false;
        }
        if ((projecttype == 2) && (projectcategory == null || projectcategory == 0 || projectcategory == "")) {
            isValid = false;
            $('#MsgValidation').html("Please select Project Category");
            $('#ValidationModal').modal('toggle');
            return false;
        }
        if ((projecttype == 1) && (projectsubtype == 0 || projectsubtype == null || projectsubtype == "")) {
            isValid = false;
            $('#MsgValidation').html("Please select Project Sub Type");
            $('#ValidationModal').modal('toggle');
            return false;
        }
        //if ((projecttype == 1) && (projectsubtype == 2) && (scheme == 0 || Scheme == "" || Scheme == "Select any") && (schemecode == 0 || schemecode == "" || schemecode == null)) {
        //    isValid = false;
        //    $('#MsgValidation').html("Please fill Project Scheme details");
        //    $('#ValidationModal').modal('toggle');
        //    return false;
        //}
        //if ((projecttype == 2) && (constype == 0 || constype == "" || constype == "Select any") && (constypecode == 0 || constypecode == "" || constypecode == null)) {
        //    isValid = false;
        //    $('#MsgValidation').html("Please fill Consultancy type details");
        //    $('#ValidationModal').modal('toggle');
        //    return false;
        //}
        if ((pidept > 0) && (piname == null || piname == 0)) {
            isValid = false;

            $('#MsgValidation').html("Please select Principal Investigator name");
            $('#ValidationModal').modal('toggle');
            return false;

        }

        if ((pidept == null || pidept == 0) && (piname > 0)) {
            isValid = false;

            $('#MsgValidation').html("Please select Department of selected Principal Investigator");
            $('#ValidationModal').modal('toggle');
            return false;

        }

        if ((pidept == 0 || pidept == null) && (piname == null || piname == 0)) {
            isValid = false;

            $('#MsgValidation').html("Please select Department and Principal Investigator name");
            $('#ValidationModal').modal('toggle');
            return false;

        }


        // to validate if copi department or copiname is left unselected when either one of them is selected
        var copideptvalues = [];
        var copinamvalues = [];

        $('select[name="CoPIDepartment"]').each(function (idx, val) { copideptvalues.push($(val).val()); });
        $('select[name="CoPIname"]').each(function (idx, val) { copinamvalues.push($(val).val()); });
        //// Sort it
        copideptvalues.sort();
        copinamvalues.sort();

        for (var k = 0; k < copideptvalues.length; ++k) {
            var piVal = parseInt(copinamvalues[k]);
            if ((copideptvalues[k] > 0) && isNaN(piVal)) {
                isValid = false;
                $('#MsgValidation').html("Please fill Co PI name");
                $('#ValidationModal').modal('toggle');
                return false;

            }

            if ((copideptvalues[k] == null || copideptvalues[k] == 0) && (copinamvalues[k] > 0)) {
                isValid = false;

                $('#MsgValidation').html("Please fill Department of selected Co PI");
                $('#ValidationModal').modal('toggle');
                return false;

            }
        }
        // duplicate check
        for (var k = 1; k < copinamvalues.length; ++k) {
            if (copinamvalues[k] == copinamvalues[k - 1]) {
                isValid = false;

                $('#MsgValidation').html("Co PI already selected. Please select a different Co PI.");
                $('#ValidationModal').modal('toggle');
                return false;

            }
        }

        // to validate if attachment type or attachment name is not left blank when either one of them is filled
        var doctypevalues = [];
        var docnamevalues = [];
        var docfile = [];
        var docId = [];
        $('select[name="DocType"]').each(function (idx, val) { doctypevalues.push($(val).val()); });
        $('input[name="AttachName"]').each(function (idx, val) { docnamevalues.push($(val).val()); });
        $('input[name="file"]').each(function (idx, val) { docfile.push($(val).val()); });
        $('input[name="Docid"]').each(function (idx, val) { docId.push($(val).val()); });

        for (var k = 0; k < docId.length; ++k) {
            if (docId[k] == 0 || docId[k] == '' || docId[k] == null) {

                if ((doctypevalues[k] > 0) && ((docnamevalues[k] == null) || docnamevalues[k] == "")) {
                    isValid = false;

                    $('#MsgValidation').html("Please fill Attachment name");
                    $('#ValidationModal').modal('toggle');
                    return false;

                }
                if ((doctypevalues[k] > 0) && (docfile[k] == "")) {
                    isValid = false;

                    $('#MsgValidation').html("Attachment field is required");
                    $('#ValidationModal').modal('toggle');
                    return false;

                }
                if ((docnamevalues[k] != null && docnamevalues[k] != "") && (doctypevalues[k] == null || doctypevalues[k] == 0)) {
                    isValid = false;

                    $('#MsgValidation').html("Please select Attachment type");
                    $('#ValidationModal').modal('toggle');
                    return false;

                }
                if ((docnamevalues[k] != null && docnamevalues[k] != "") && (docfile[k] == "")) {
                    isValid = false;

                    $('#MsgValidation').html("Attachment field is required");
                    $('#ValidationModal').modal('toggle');
                    return false;

                }
                if (docfile[k] != "" && (doctypevalues[k] == null || doctypevalues[k] == 0)) {
                    isValid = false;

                    $('#MsgValidation').html("Please select Attachment type");
                    $('#ValidationModal').modal('toggle');
                    return false;

                }
                if (docfile[k] != "" && ((docnamevalues[k] == null) || docnamevalues[k] == "")) {
                    isValid = false;

                    $('#MsgValidation').html("Please fill Attachment name");
                    $('#ValidationModal').modal('toggle');
                    return false;

                }
            } else {
                if ((docnamevalues[k] == null) || docnamevalues[k] == "") {
                    isValid = false;

                    $('#MsgValidation').html("Please fill Attachment name");
                    $('#ValidationModal').modal('toggle');
                    return false;

                }
                if (doctypevalues[k] == '' || doctypevalues[k] == 0) {
                    isValid = false;

                    $('#MsgValidation').html("Please select Attachment type");
                    $('#ValidationModal').modal('toggle');
                    return false;

                }
            }
        }

        doctypevalues.sort();
        // duplicate check
        for (var k = 1; k < doctypevalues.length; ++k) {
            if (doctypevalues[k] == doctypevalues[k - 1]) {
                isValid = false;
                $('#MsgValidation').html("Attachment type is already existing. Please select a different Attachment type.");
                $('#ValidationModal').modal('toggle');
                return false;
            }
        }
        var strDate = $("#TentativeStartDate").val();
        var clsDate = $("#TentativeCloseDate").val();
        if (strDate != '' && clsDate != '') {
            var startDate = moment(parseDate(strDate));
            var closeDate = moment(parseDate(clsDate));

            var mins = closeDate.diff(startDate, 'minutes');
            if (mins <= 0) {
                $('#MsgValidation').html("Tentative Close Date must be greater than start date.");
                $('#ValidationModal').modal('toggle');
                return false;
            }
        }
        if (isValid)
            $('#formCP').submit();
    });

    $(document).ready(function () {
        var SearchBy = $('input[name^="SearchField.SearchBy"]:checked').val();
        if (SearchBy == 'SODate') {
            $('#DivSODate').show();
            $('#DivCrtdDate').hide();
        }
        else {
            $('#DivCrtdDate').show();
            $('#DivSODate').hide();
        }
        $("#FromSODate, #ToSODate, #FromDate, #ToDate").datepicker
           ({
               dateFormat: 'dd-MM-yy',
               showStatus: true,
               showWeeks: true,
               changeYear: true,
               yearRange: '-100:+0',
               highlightWeek: true,
               numberOfMonths: 1,
               showAnim: "scale",
               showOptions: {
                   origin: ["top", "left"]
               }
           });

    });

    $('a[name="btnClose"],button[name="btnClose"]').click(function () {
        $('#popupFilter').css("display", "none");
    });
    $("#btnFilter").click(function () {
        $('#popupFilter').css("display", "Block");
    });

    function ResetFilter() {
        $('#srchPrjcttype').val('');
        $('#srchpropslnum').val('');
        $('#srchPIName').val('');
        $('#FromDate').val('');
        $('#ToDate').val('');
        $('#srchPrjcttypeStatus').val('');
    }
    $('#btnReset').click(function () {
        ResetFilter();
        getData();
    });
    function getData() {
        var searchProposalURL = 'SearchProposalList';
        var Projecttype = $('#srchPrjcttype').val();
        var Proposalnumber = $('#srchpropslnum').val();
        var PIName = $('#srchPIName').val();
        var FromDate = $('#FromDate').val() || null;
        var ToDate = $('#ToDate').val() || null;
        var funcstatus = $('#srchPrjcttypeStatus').val();
        var searchData = { ProjectType: Projecttype, PslNumber: Proposalnumber, Fromdate: FromDate, Todate: ToDate, PIName: PIName, FunctionStatus: funcstatus, pageIndex: 1, pageSize: 5 };
        $("#gridProposalList").jsGrid("search", searchData);
        //$.ajax({
        //    type: "GET",
        //    url: searchProposalURL,
        //    data: { ProjectType: Projecttype, ProposalNumber: Proposalnumber, Fromdate: FromDate, Todate: ToDate, PIName: PIName, FunctionStatus: funcstatus },
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    success: function (result) {
        //        $("#gridProposalList").jsGrid({ data: result });
        //        $('#projectopening').hide();
        //        $('#gridlist').show();
        //        $('#popupFilter').hide();
        //    },
        //    error: function (err) {
        //        console.log("error : " + err);
        //    }
        //});
    }
    $('#btnSearch').on('click', function () {
        getData();
    });

    $(document).on('click', '#divContent button[name="removeButton"]', function () {
        $(this).parent().parent("Div").remove();
    });

    $('#btnAddDoc').click(function () {
        var cln = $("#DocprimaryDiv").clone().find("input").val("").end();
        $(cln).find('.dis-none').removeClass('dis-none');
        $(cln).find('.doclink').addClass('dis-none');
        $('#DocdivContent').append(cln)

    });


    $(document).on('click', '#DocdivContent button', function () {
        $(this).parent().parent("Div").remove();
    });
    $("#Prjcttype").change(function () {

        var typeid = $(this).val();
        var subtypeid = $("#Prjctsubtype").val();
        var category = $('#Prjctcategory').val();
        $("#projectschemecode").addClass('dis-none');
        $("#PFMSSchemeCode").val("False");
        if (typeid == 0) {
            $("#sponprojectsubtype").addClass('dis-none');
            $("#sponsanctionnumber").addClass('dis-none');
            $("#projectcategory").addClass('dis-none');
            $("#projectconstype").addClass('dis-none');
            //$("#projectconstypecode").addClass('dis-none');
            $("#projectscheme").addClass('dis-none');
            $.getJSON("../Account/LoadPrjctcategorybytype", { typeid: typeid },
                   function (locationdata) {
                       var select = $("#Prjctscheme");
                       select.empty();

                       $.each(locationdata, function (index, itemData) {

                           select.append($('<option/>', {
                               value: itemData.id,
                               text: itemData.name,
                           }));
                       });
                   });
            $.getJSON("../Account/Loadcategorybytype", { typeid: typeid },
                       function (locationdata) {
                           var select = $("#Prjctcategory");
                           select.empty();

                           $.each(locationdata, function (index, itemData) {

                               select.append($('<option/>', {
                                   value: itemData.codevalAbbr,
                                   text: itemData.CodeValDetail,
                               }));
                           });
                       });
            $.getJSON("../Account/LoadAgencybysubtype", { subtypeid: 0 },
                          function (locationdata) {
                              var select = $("#Agncy");
                              select.empty();

                              $.each(locationdata, function (index, itemData) {

                                  select.append($('<option/>', {
                                      value: itemData.id,
                                      text: itemData.name,
                                  }));
                              });
                          });
        }
        if (typeid == 1) {
            $("#projectconstype").addClass('dis-none');
            //$("#projectconstypecode").addClass('dis-none');
            $("#sponprojectsubtype").removeClass('dis-none');
            $("#sponsanctionnumber").removeClass('dis-none');
            $.getJSON("../Account/LoadAgencybysubtype", { subtypeid: subtypeid },
                          function (locationdata) {
                              var select = $("#Agncy");
                              select.empty();

                              $.each(locationdata, function (index, itemData) {

                                  select.append($('<option/>', {
                                      value: itemData.id,
                                      text: itemData.name,
                                  }));
                              });
                          });
            $.getJSON("../Account/Loadcategorybytype", { typeid: typeid },
                       function (locationdata) {
                           var select = $("#Prjctcategory");
                           select.empty();

                           $.each(locationdata, function (index, itemData) {

                               select.append($('<option/>', {
                                   value: itemData.codevalAbbr,
                                   text: itemData.CodeValDetail,
                               }));
                           });
                       });
            $.getJSON("../Account/LoadPrjctcategorybytype", { typeid: typeid },
                   function (locationdata) {
                       var select = $("#Prjctscheme");
                       select.empty();
                       select.append($('<option/>', {
                           value: "",
                           text: "Select any",
                       }));
                       $.each(locationdata, function (index, itemData) {

                           select.append($('<option/>', {
                               value: itemData.id,
                               text: itemData.name,
                           }));
                       });
                   });
            if (subtypeid == 1 || subtypeid == 0) {
                $("#projectscheme").addClass('dis-none');
                $("#projectcategory").addClass('dis-none');
                $("#projectconstype").addClass('dis-none');
               // $("#projectconstypecode").addClass('dis-none');
            }
            if (subtypeid == 2) {
                $("#projectscheme").removeClass('dis-none');
                if (category == 1){
                    $("#projectschemecode").removeClass('dis-none');
                    $("#PFMSSchemeCode").val("True");
                }
                $("#projectcategory").removeClass('dis-none');
                $("#projectconstype").addClass('dis-none');
              //  $("#projectconstypecode").addClass('dis-none');
            }
        }

        if (typeid == 2) {

            $("#projectscheme").addClass('dis-none');
            $("#sponprojectsubtype").addClass('dis-none');
            $("#sponsanctionnumber").addClass('dis-none');
            $("#projectcategory").removeClass('dis-none');
            $.getJSON("../Account/LoadPrjctcategorybytype", { typeid: typeid },
                    function (locationdata) {
                        var select = $("#Prjctconsultype");
                        select.empty();
                        select.append($('<option/>', {
                            value: "",
                            text: "Select any",
                        }));
                        $.each(locationdata, function (index, itemData) {

                            select.append($('<option/>', {
                                value: itemData.id,
                                text: itemData.name,
                            }));
                        });
                    });
            $.getJSON("../Account/Loadcategorybytype", { typeid: typeid },
                       function (locationdata) {
                           var select = $("#Prjctcategory");
                           select.empty();

                           $.each(locationdata, function (index, itemData) {

                               select.append($('<option/>', {
                                   value: itemData.codevalAbbr,
                                   text: itemData.CodeValDetail,
                               }));
                           });
                       });
            $.getJSON("../Account/LoadAgencybysubtype", { subtypeid: 2 },
                       function (locationdata) {
                           var select = $("#Agncy");
                           select.empty();

                           $.each(locationdata, function (index, itemData) {

                               select.append($('<option/>', {
                                   value: itemData.id,
                                   text: itemData.name,
                               }));
                           });
                       });
            $("#projectconstype").removeClass('dis-none');
          //  $("#projectconstypecode").removeClass('dis-none');
        }
        $('#Prjctcategory').val('');
        $('#Prjctsubtype').val('');
        $('#schemecode').val('');
        $('#Prjctscheme').val('');
        //$('#Prjctconsultypecode').val('');
        $('#sanctionnumber').val('');
    });
    $("#Prjctcategory").change(function () {
        var category = $(this).val();
        $("#projectschemecode").addClass('dis-none');
        var subtypeid = $("#Prjctsubtype").val();
        if (category == 1 && subtypeid == 2) {
            $("#projectschemecode").removeClass('dis-none');
            $("#PFMSSchemeCode").val("True");
        }
    });
    $("#Prjctsubtype").change(function () {
        var typeid = $("#Prjcttype").val();
        var subtypeid = $(this).val();
        var category = $('#Prjctcategory').val();
        $("#projectschemecode").addClass('dis-none');
        $("#PFMSSchemeCode").val("False");
        if (typeid == 1 && subtypeid == 1) {
            $("#projectscheme").addClass('dis-none');
            $("#projectcategory").addClass('dis-none');
            $.getJSON("../Account/LoadAgencybysubtype", { subtypeid: subtypeid },
                           function (locationdata) {
                               var select = $("#Agncy");
                               select.empty();

                               $.each(locationdata, function (index, itemData) {

                                   select.append($('<option/>', {
                                       value: itemData.id,
                                       text: itemData.name,
                                   }));
                               });
                           });
        }
        if (typeid == 1 && subtypeid == 2) {
            $("#projectscheme").removeClass('dis-none');
            if (category == 1) {
                $("#projectschemecode").removeClass('dis-none');
                $("#PFMSSchemeCode").val("True");
            }
            $("#projectcategory").removeClass('dis-none');
            $.getJSON("../Account/LoadPrjctcategorybytype", { typeid: typeid },
                   function (locationdata) {
                       var select = $("#Prjctscheme");
                       select.empty();
                       select.append($('<option/>', {
                           value: "",
                           text: "Select any",
                       }));
                       $.each(locationdata, function (index, itemData) {

                           select.append($('<option/>', {
                               value: itemData.id,
                               text: itemData.name,
                           }));
                       });
                   });

            $.getJSON("../Account/LoadAgencybysubtype", { subtypeid: subtypeid },
                          function (locationdata) {
                              var select = $("#Agncy");
                              select.empty();

                              $.each(locationdata, function (index, itemData) {

                                  select.append($('<option/>', {
                                      value: itemData.id,
                                      text: itemData.name,
                                  }));
                              });
                          });
            $.getJSON("../Account/Loadcategorybytype", { typeid: typeid },
                       function (locationdata) {
                           var select = $("#Prjctcategory");
                           select.empty();

                           $.each(locationdata, function (index, itemData) {

                               select.append($('<option/>', {
                                   value: itemData.codevalAbbr,
                                   text: itemData.CodeValDetail,
                               }));
                           });
                       });
        }
        if (typeid == 1 && subtypeid == 0) {
            $("#projectscheme").addClass('dis-none');
            $("#projectconstype").addClass('dis-none');
           // $("#projectconstypecode").addClass('dis-none');
            $("#projectcategory").removeClass('dis-none');
            $.getJSON("../Account/LoadAgencybysubtype", { subtypeid: subtypeid },
                          function (locationdata) {
                              var select = $("#Agncy");
                              select.empty();

                              $.each(locationdata, function (index, itemData) {

                                  select.append($('<option/>', {
                                      value: itemData.id,
                                      text: itemData.name,
                                  }));
                              });
                          });
        }
        if (typeid == 0 && subtypeid == 0) {
            $("#projectscheme").addClass('dis-none');
            $("#projectcategory").addClass('dis-none');
            $("#projectconstype").addClass('dis-none');
           // $("#projectconstypecode").addClass('dis-none');
            $.getJSON("../Account/LoadAgencybysubtype", { subtypeid: subtypeid },
                          function (locationdata) {
                              var select = $("#Agncy");
                              select.empty();

                              $.each(locationdata, function (index, itemData) {

                                  select.append($('<option/>', {
                                      value: itemData.id,
                                      text: itemData.name,
                                  }));
                              });
                          });
            $.getJSON("../Account/LoadPrjctcategorybytype", { typeid: typeid },
                        function (locationdata) {
                            var select = $("#Prjctscheme");
                            select.empty();
                            select.append($('<option/>', {
                                value: "",
                                text: "Select any",
                            }));
                            $.each(locationdata, function (index, itemData) {

                                select.append($('<option/>', {
                                    value: itemData.id,
                                    text: itemData.name,
                                }));
                            });
                        });

        }

        if (typeid == 2) {
            $("#projectscheme").addClass('dis-none');
            $("#projectconstype").removeClass('dis-none');
           // $("#projectconstypecode").removeClass('dis-none');
            $("#projectcategory").removeClass('dis-none');
            $.getJSON("../Account/LoadAgencybysubtype", { subtypeid: 2 },
                           function (locationdata) {
                               var select = $("#Agncy");
                               select.empty();

                               $.each(locationdata, function (index, itemData) {

                                   select.append($('<option/>', {
                                       value: itemData.id,
                                       text: itemData.name,
                                   }));
                               });
                           });
        }
        //$('#Prjctcategory').val('');
        //$('#Prjctscheme').val('');
        //$('#Prjctconsultype').val('');
        //$('#Prjctconsultypecode').val('');

    });
    //$("#Agncy").change(function () {
    //    var agency = $(this).val();
    //    var typeid = $("#Prjcttype").val();
    //    var subtypeid = $("#Prjctsubtype").val();
    //    $.getJSON("../Account/LoadPrjctschemebyagency", { agency: agency },
    //                   function (locationdata) {
    //                       var select = $("#Prjctscheme");
    //                       select.empty();

    //                       $.each(locationdata, function (index, itemData) {

    //                           select.append($('<option/>', {
    //                               value: itemData.id,
    //                               text: itemData.name,
    //                           }));
    //                       });
    //                   });
    //});
    window.onload = function () {
        //var subtypeid = $("#Prjctsubtype").val();
        //$.getJSON("../Account/LoadAgencybysubtype", { subtypeid: subtypeid },
        //                  function (locationdata) {
        //                      var select = $("#Agncy");
        //                      select.empty();

        //                      $.each(locationdata, function (index, itemData) {

        //                          select.append($('<option/>', {
        //                              value: itemData.id,
        //                              text: itemData.name,
        //                          }));
        //                      });
        //                  });

        //$('[id^="Otherinstcopi_"]').each(function () {
        //    var ID = $(this).attr("id");
        //    var qustType = ID.substr(ID.lastIndexOf("_") + 1);
        //    var qustNo = ID.substring(ID.indexOf("_") + 1, ID.lastIndexOf("_"));

        //    if (qustType === "yes") {
        //        $('#otherinstitutecopidetail').css("display", "block");
        //    }
        //    if (qustType === "no") {
        //        $('#otherinstitutecopidetail').css("display", "none");
        //    }
        //});
        //$('#copiinstitute').val('');
        //$('#OtherInstcopidepartment').val('');
        //$('#OtherinstituteCoPI').val('');
        //$('#txtCoPIremarks').val('');

    }
    //$('#txtprpsltaxes,#txtprpslbasicval').blur(function () {
    //    calculateProjectTotal();

    //});
    calculateProjectTotal();
    function calculateProjectTotal() {
       
        var baseVal = parseFloat($('#txtprpslbasicval').text()) || 0;
        var taxVal = parseFloat($('#txtprpsltaxes').text()) || 0;
        var ttlVal = baseVal;
        if (taxVal != 0)
            ttlVal = baseVal + (baseVal * taxVal / 100);
        $('#lblOverallTtl').text(ttlVal.toFixed(2));
    }
    $('[id^="Otherinstcopi_"]').change(function () {
        var ID = $(this).attr("id");
        var qustType = ID.substr(ID.lastIndexOf("_") + 1);
        var qustNo = ID.substring(ID.indexOf("_") + 1, ID.lastIndexOf("_"));

        if (qustType === "yes") {
            $('#otherinstitutecopidetail').css("display", "block");
        }
        if (qustType === "no") {
            $('#otherinstitutecopidetail').css("display", "none");
        }
        $('#copiinstitute').val('');
        $('#OtherInstcopidepartment').val('');
        $('#OtherinstituteCoPI').val('');
        $('#txtCoPIremarks').val('');
    });
    @*window.onload = function () {


        var CoPIName = @Html.Raw(Json.Encode(Model.CoPIname));
        var CoPIemail = @Html.Raw(Json.Encode(Model.CoPIEmail));
        var CoPIDep = @Html.Raw(Json.Encode(Model.CoPIDepartment));
        $.each(CoPIName, function( i, val ){
            if(i == 0){
                document.getElementsByName('CoPIname')[0].value = CoPIName[0];
                document.getElementsByName('CoPIDepartment')[0].value = CoPIDep[0];
                document.getElementsByName('CoPIEmail')[0].value = CoPIemail[0];
            }else{
                var cln = $("#primaryDiv").clone().find("input").val("").end();
                var cloneElement = $("#primaryDiv").find('#CoPI').parent().clone() ;
                cln.find('#CoPI').parent().replaceWith(selectPickerApiElement($(cloneElement),"empty",[],''));
                $(cln).find('.dis-none').removeClass('dis-none');
                $('#divContent').append(cln)
                document.getElementsByName('CoPIname')[i].value = CoPIname[i];
                document.getElementsByName('CoPIDepartment')[i].value = CoPIdepartment[i];
                document.getElementsByName('CoPIEmail')[i].value = CoPIEmail[i];
            }
        });

        var Docname = @Html.Raw(Json.Encode(Model.AttachName));
        var Doctype = @Html.Raw(Json.Encode(Model.DocType));

        $.each(Docname, function( i, val ){
            if(i == 0){
                document.getElementsByName('DocType')[0].value = Doctype[0];
                document.getElementsByName('AttachName')[0].value = Docname[0];
            }else{
                var cln = $("#DocprimaryDiv").clone().find("input").val("").end();
                $(cln).find('.dis-none').removeClass('dis-none');
                $('#divContent').append(cln)
                document.getElementsByName('DocType')[i].value = Doctype[i];
                document.getElementsByName('AttachName')[i].value = Docname[i];
            }
        });
    }*@

    $("#department").change(function () {
        var Departmentid = $(this).val();
        $.getJSON("../Account/LoadPIByDepartment", { Departmentid: Departmentid, Instituteid: 3 },
                    function (locationdata) {
                        var select = $("#PI");
                        select.empty();

                        $.each(locationdata, function (index, itemData) {

                            select.append($('<option/>', {
                                value: itemData.id,
                                text: itemData.name
                            }));
                        });
                        select.selectpicker('refresh');
                    });

        var PIId = 0;
        $.getJSON("../Account/LoadPIEmailById", { Profid: PIId },
                function (locationdata) {
                    $('input[name="PIEmail"]').val(locationdata.name);
                });

    });

    $(document).on('change', 'select[name="CoPIDepartment"]', function () {
        var Departmentid = $(this).val();
        //var index = $(this).closest('#primaryDiv').index();
        //var select = $(this).closest('#primaryDiv').find('select[name="CoPIname"]');
        var select = $(this).closest('#primaryDiv').find('select[name="CoPIname"]');
        $(select).empty().selectpicker('refresh');
        $.getJSON("@Url.Action("LoadPIByDepartment", "Account")", { Departmentid: Departmentid, Instituteid: 3 },
                    function (locationdata) {
                        // $(select).selectpicker("destroy");
                        $.each(locationdata, function (index, itemData) {
                            $(select).append($('<option/>', {
                                value: itemData.id,
                                text: itemData.name
                            })).selectpicker('refresh');
                        });
                    });

        var Copiid = 0;
        var CoPIEmail = $(this).closest('#primaryDiv').find('input[name="CoPIEmail"]');
        $.getJSON("../Account/LoadPIEmailById", { Profid: Copiid },
                function (locationdata) {
                    CoPIEmail.val(locationdata.name);
                });


    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    //function noedit() {
    //    return false;
    //}

    $(document).on('change', 'select[name="OtherInstituteCoPIDepartment"]', function () {
        var Departmentid = $(this).val();
        var Institute = $(this).closest('#primaryotherinstcopiDiv').find('select[name="CoPIInstitute"]');
        var Instituteid = Institute.val();

        //var index = $(this).closest('#primaryDiv').index();
        //var select = $(this).closest('#primaryDiv').find('select[name="CoPIname"]');
        var select = $(this).closest('#primaryotherinstcopiDiv').find('select[name="OtherInstituteCoPIName"]');
        $(select).empty().selectpicker('refresh');
        $.getJSON("@Url.Action("LoadOtherInstCoPIByDepartment", "Account")", { Departmentid: Departmentid, InstituteId: Instituteid },
                    function (locationdata) {
                        // $(select).selectpicker("destroy");
                        $.each(locationdata, function (index, itemData) {
                            $(select).append($('<option/>', {
                                value: itemData.id,
                                text: itemData.name
                            })).selectpicker('refresh');
                        });
                    });
        //}
    });

    $(document).on('change', 'select[name="CoPIInstitute"]', function () {
        var Department = $(this).closest('#primaryotherinstcopiDiv').find('select[name="OtherInstituteCoPIDepartment"]');
        var Departmentid = Department.val();
        var Instituteid = $(this).val();
        //var index = $(this).closest('#primaryDiv').index();
        //var select = $(this).closest('#primaryDiv').find('select[name="CoPIname"]');
        var select = $(this).closest('#primaryotherinstcopiDiv').find('select[name="OtherInstituteCoPIName"]');
        $(select).empty().selectpicker('refresh');
        $.getJSON("@Url.Action("LoadOtherInstCoPIByDepartment", "Account")", { Departmentid: Departmentid, InstituteId: Instituteid },
                    function (locationdata) {
                        // $(select).selectpicker("destroy");
                        $.each(locationdata, function (index, itemData) {
                            $(select).append($('<option/>', {
                                value: itemData.id,
                                text: itemData.name
                            })).selectpicker('refresh');
                        });
                    });

    });
    $(document).on('change', 'select[name="CoPIname"]', function () {
        // var select = $(this).closest('#primaryDiv').find('select[name="CoPIname"]');
        var CoPIid = $(this).val();
        var CoPIEmail = $(this).closest('#primaryDiv').find('input[name="CoPIEmail"]');
        if (CoPIid > 0) {
            $.getJSON("@Url.Action("LoadPIEmailById", "Account")", { Profid: CoPIid },
                    function (locationdata) {

                        //$("#txtcopiemail").val(locationdata.name);
                        CoPIEmail.val(locationdata.name);
                    });
        }
        else {
            var Copiid = 0;
            $.getJSON("../Account/LoadPIEmailById", { Profid: Copiid },
                    function (locationdata) {
                        CoPIEmail.val(locationdata.name);
                    });
        }
    });
    $("#PI").change(function () {
        var PIid = $(this).val();
        if (PIid > 0) {
            $.getJSON("../Account/LoadPIEmailById", { Profid: PIid },
                    function (locationdata) {

                        //$("#txtcopiemail").val(locationdata.name);
                        $('input[name="PIEmail"]').val(locationdata.name);
                    });
        }
        else {
            var PIId = 0;
            $.getJSON("../Account/LoadPIEmailById", { Profid: PIId },
                    function (locationdata) {
                        $('input[name="PIEmail"]').val(locationdata.name);
                    });
        }

    });
    //$("#Prjctscheme").change(function () {
    //    var Schemeid = $(this).val();

    //    $.getJSON("../Account/LoadSchemeCodeById", { SchemeId: Schemeid },
    //                function (locationdata) {

    //                    //$("#txtcopiemail").val(locationdata.name);
    //                    $("#schemecode").val(locationdata.name);
    //                });


    //});
    //$("#Prjctconsultype").change(function () {
    //    var Schemeid = $(this).val();

    //    $.getJSON("../Account/LoadSchemeCodeById", { SchemeId: Schemeid },
    //                function (locationdata) {

    //                    //$("#txtcopiemail").val(locationdata.name);
    //                    $("#Prjctconsultypecode").val(locationdata.name);
    //                });


    //});
    var jsonData = JSON.parse(modelData);

    fillData(jsonData);
</script>
<link href="@Url.Content("~/Content/IOASContent/assets/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/IOASContent/assets/bootstrap-select/js/bootstrap-select.min.js")"></script>
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FoolProof/mvcfoolproof.unobtrusive.min.js")" type="text/javascript"></script>*@