@model IOAS.Models.ConsultantAppointmentModel
@using IOAS.GenericServices
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- favicon icon -->
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&display=swap" rel="stylesheet">
    <style>
        .umr-body {
            /*font-family: 'Poppins', sans-serif;*/
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            color: #2a2a2a;
            padding: 0px 45px 0px 45px;
            text-align: justify;
            line-height : 2;

        }

         .umr-body li {
             margin-bottom: 10px;
         }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .ct-in h2 em {
            float: left;
            font-style: normal;
            width: calc(100% - 250px);
            text-align: center;
            padding-top: 35px;
            font-size: 20px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mn-m-tt {
            font-size: 20px;
            padding-bottom: 5px;
        }

        .mn-tt {
            font-size: 16px;
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
        }

        h5 {
            font-weight: bold;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
            padding-top: 10px;
        }

        .umr-hd1 {
            text-align: center;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
            padding-top: 50px;
        }

        .umr-hd h2 {
            font-size: 16px;
            color: #000;
            font-weight: normal;
            text-align: left;
        }

            .umr-hd h2 em {
                font-size: 14px;
                float: left;
                font-style: normal;
            }

            .umr-hd h2 b {
                font-size: 14px;
                float: right;
                font-weight: normal;
            }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }


        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border: 0px;
        }


        .logo-section .icsr-logo {
            width: 80px;
            float: right;
        }

        .logo-section .dts {
            width: calc(100% - 230px);
            float: left;
            text-align: center;
        }

        .logo-section h4 {
            margin-top: 0px;
        }

        .logo-section .iitm-logo {
            width: 100px;
            float: left;
        }

        .logo-section h5 {
            font-size: 16px;
        }

        .tbl-style > .table > tbody > tr > td {
            border: inherit;
        }

        .tbl-style > .table > tbody > tr > th {
            border: inherit;
        }

        .tbl-style > .table > thead > tr {
            border-color: #000;
        }

            .tbl-style > .table > thead > tr > td {
                border: 1px solid #000;
            }

        .tbl-style > .table-bordered > thead > tr > th {
            border-bottom-width: 0px;
        }

        .tbl-style > .table.table-bordered > tbody > tr > td {
            border-color: #000;
        }

        .tbl-style > .table-bordered > thead > tr > th {
            border: 1px solid #000;
        }

        .tbl-style table, .tbl-style tr, .tbl-style td, .tbl-style th {
            border: 1px solid #000;
        }

        .tbl-style > .table {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="umr-body">
    <div class="umr-hd">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-section">
                    <img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" />
                    <div class="dts">
                        <h4 style="padding-bottom: 5px;"><b>CENTRE FOR INDUSTRIAL CONSULTANCY & SPONSORED RESEARCH</b></h4>
                        <h4 style="padding-bottom: 5px;"><b>INDIAN INSTITUTE OF TECHNOLOGY MADRAS,</b></h4>
                        <h4 style="padding-bottom: 5px;"><b>CHENNAI-600 036</b></h4>
                    </div>
                    <img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-md">
        <div class="col-md-6">
            <span>No: @Model.ApplicationRefNo</span>
        </div>
        <div class="col-md-6 text-right">
            <span>Dated: @Model.OfferDate</span>
        </div>
    </div>
    <div class="row mt-md">
        <div class="col-md-12">
            <p>To</p>
            <p style="margin-left:25px;">
                <b>
                    @Model.Name.ToUpper()<br />
                    @Model.TemporaryAddress.ToUpper()
                </b>
            </p>
            <p>
                <br>
                Sir / Madam,
            </p>
            <br>
            <p style="margin-left:25px;">
                Sub : Engagement of <b>@Model.Designation</b> in the project <b>@Model.ProjectDetailsModel.ProjectNumber</b> titled <b>@Model.ProjectDetailsModel.ProjectTitle</b> in <b>@Model.ProjectDetailsModel.PIDepartmentName</b>
            </p>
        </div>
        <div class="col-md-12">
            <br>
            <p style="margin-left:25px;">With the approval of the Dean IC&SR, we are pleased to engage you as <b>@Model.Designation</b>  in the above project for the period from <b>@Model.AppointMentStrDate to @Model.AppointMentEdDate</b></p>
            @if (string.IsNullOrEmpty(Model.GSTapplicabletext))
            {
                <p style="margin-left:25px;">You will be paid a retainer fee of <b>Rs. @string.Format("{0:#,##0.############}", Model.Total) /-pm (Rupees @CoreAccountsService.words(Model.Total, false, true))</b> with no other additional allowance</p>
            }
            else
            {
                <p style="margin-left:25px;">You will be paid a retainer fee of <b>Rs. @string.Format("{0:#,##0.############}", Model.Total) /-pm (Rupees @CoreAccountsService.words(Model.Total, false, true))</b> @Model.GSTapplicabletext of <b>GST</b> with no other additional allowance</p>
            }
            <p style="margin-left:25px;"> The other Terms and Conditions for this engagement is mentioned below:</p>
            <ol>
                <li>
                    Your services and conduct will be governed by the rules & Regulations of the Centre for IC & SR and any other administrative orders in force from time to time as applicable.
                </li>
                <li>
                    Your Engagement can be terminated with one week’s prior notice on either side.
                </li>
                <li>
                    Benefits like leave, medical, statutory etc. are not applicable for this engagement.
                </li>              
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-left" width=""></th>
                        <th class="text-center" width=""></th>
                        <th class="text-center" width="200px">
                            <br />
                            <br />
                            <br />
                            <span>SENIOR MANAGER - HR </span><br>
                            <span>(Project Recruitment)</span><br>
                            <span>IC&SR</span>
                        </th>
                    </tr>
                </thead>
            </table>
            @*<p>
                I agree to the above terms & conditions, fee and period mentioned in the letter.
            </p>
            <p>@Model.Name</p>*@
            <p>
                <br />
                <br />
                <em>*This is a system generated copy, hence signature is not required.</em>
            </p>
        </div>
    </div>
    <!-- main js files -->
</body>
</html>
