@model IOAS.Models.RelieveCertificateModel
@using IOAS.GenericServices
@{
    string TypeCode = Convert.ToString(Request.Params["TypeCode"]);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">    
    <!-- favicon icon -->    
    <title>Final Settlement</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />
    <style>
        /*
            body{
                width: 21cm;
                height: 29.7cm;
                margin: 30mm 45mm 30mm 45mm;
                border: 1px solid #ccc;
            }
        */
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            color: #2a2a2a;
            padding: 15px 15px 15px 15px;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 2px solid black;
            padding-bottom: 60px;
            padding-top: 10px;
        }

        .umr-hd1 {
            text-align: center;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
            padding-top: 50px;
        }

        .umr-hd h2 {
            font-size: 16px;
            color: #000;
            font-weight: normal;
            text-align: left;
        }

            .umr-hd h2 em {
                font-size: 14px;
                float: left;
                font-style: normal;
            }

            .umr-hd h2 b {
                font-size: 14px;
                float: right;
                font-weight: normal;
            }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 0px;
        }

        .cnt-bg1 {
            padding: 0px;
            padding-bottom: 10px;
            padding-top: 15px;
        }

        .gr-bg {
            background: #eee;
        }

        .logo-section .icsr-logo {
            width: 80px;
            float: right;
        }

        .logo-section .dts {
            width: calc(100% - 230px);
            float: left;
        }

        .logo-section h4 {
            margin-top: 0px;
        }

        .logo-section .iitm-logo {
            width: 100px;
            float: left;
        }

        .logo-section h5 {
            font-size: 16px;
        }

        .umr-body .table > tbody > tr > td, .umr-body .table > tbody > tr > th, .umr-body .table > tfoot > tr > td, .umr-body .table > tfoot > tr > th, .umr-body .table > thead > tr > td, .umr-body .table > thead > tr > th {
            padding: 8px;
        }

        .ct-tb em {
            width: 100%;
            display: inline-block;
            font-size: 13px;
            font-style: normal;
        }

        .ct-tb span {
            font-weight: bold;
        }

        .ct-tb {
            margin-bottom: 15px;
        }

        .ct-tr-tb {
            margin-bottom: 0px;
        }

            .ct-tr-tb.table-bordered > tbody > tr > td, .ct-tr-tb.table-bordered, .ct-tr-tb.table-bordered > tbody > tr > th {
                border: 0px;
            }

        .ct-br-tb.table-bordered > tbody > tr > td, .ct-br-tb.table-bordered > tbody > tr > th {
            border-color: rgba(0,0,0,0.7);
        }

        .logo-section h3 {
            margin-top: 0px;
            margin-bottom: 3px;
            font-size: 28px;
        }

        .logo-section h4 {
            margin-bottom: 3px;
            font-weight: normal;
        }

        .logo-section h5 {
            margin-bottom: 3px;
            font-weight: normal;
            font-size: 15px;
            margin-top: 0px;
        }
    </style>
</head>
<body class="umr-body">

    <header class="umr-hd">
        <div class="col-md-10 col-md-offset-1">
            <div class="">
                <div class="">
                    <h4>CENTERE FOR INDUSTRIAL CONSULTANCY & SPONSORED RESEARCH</h4>
                    <h4>INDIAN INSTITUTE OF TECHNOLOGY MADRAS I.I.T CAMPUS, CHENNAI 600036</h4>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered ct-tb  ct-tr-tb">
                        <tbody>
                            <tr>
                                <th>No. @Model.OrderNo</th>
                                <th class="text-right">
                                    Dated: @string.Format("{0:dd-MM-yyyy}", DateTime.Now)
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section class="cnt-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @if (Model.isDuplicate)
                    {
                        <h5>Final Settlement (Duplicate)</h5>
                    }
                    <table class="table table-bordered ct-tb  ct-tr-tb">
                        <tbody>
                            <tr>
                                <td>
                                    Sub:
                                </td>
                                <td>
                                    Final  settlement  of	account  of <b><u>@Model.CandidateName</u></b>  <b><u>@Model.Designation</u></b> for  the <b><u>@Model.AgencyName</u></b>
                                    project on <b><u>@Model.ProjectTitle</u></b> in the  <b><u>@Model.Department</u></b> .
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ref:
                                </td>
                                <td>
                                    Relieving order No. <b><u>@Model.OrderNo</u></b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">As  per  the  dues  report  received  in  response  to  this  office  relieving  order  cited,  there  are  no  dues  to be recovered from the above staff member.</td>
                            </tr>
                            <tr>
                                <td colspan="2">The   final   account   of  <b><u>@Model.CandidateName</u></b>  may,   therefore,please   be   settled   in   accordance   with   this letter.</td>
                            </tr>
                            <tr>
                                <th colspan="2" class="text-right"><br><br><br>
                                    <span>SENIOR MANAGER - HR </span>
                                    <span>(Project Recruitment)</span>
                                    <span>IC&SR</span>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2">To <br> Deputy Registrar (Project Accounts)</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <br><br>Copy to<br><br><br>
                                    <table class="table table-bordered ct-tb  ct-tr-tb">
                                        <tbody>
                                            <tr>
                                                <th>“	Prof.</th>
                                                <td>
                                                    <b><u>@Model.PIName</u></b> Project Co-ordinator<br>
                                                    <b><u>@Model.Department</u></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>“	The Head,</th>
                                                <th>
                                                    <u>@Model.Department</u>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>"	@Model.InitialGender</th>
                                                <th>
                                                    <u>@Model.CandidateName</u><br>
                                                    <u>@Model.Department</u><br>
                                                    <u>IIT MADRAS</u>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- main js files -->   

</body>
</html>
