@model IOAS.Models.RelieveCertificateModel
@using IOAS.GenericServices
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Service Certificate</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />
    <style>
        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            color: #2a2a2a;
            /*padding: 15px 15px 15px 15px;*/
            padding: 0px 45px 0px 45px;
            line-height: 2;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
            padding-top: 10px;
        }

        .umr-hd1 {
            text-align: center;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
            padding-top: 50px;
        }

        .umr-hd h2 {
            font-size: 16px;
            color: #000;
            font-weight: normal;
            text-align: left;
        }

            .umr-hd h2 em {
                font-size: 14px;
                float: left;
                font-style: normal;
            }

            .umr-hd h2 b {
                font-size: 14px;
                float: right;
                font-weight: normal;
            }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .cnt-bg {
            padding: 0px;
        }

        .cnt-bg1 {
            padding: 0px;
            padding-bottom: 10px;
            padding-top: 15px;
        }

        .logo-section .icsr-logo {
            width: 80px;
            float: right;
        }

        .logo-section .dts {
            width: calc(100% - 230px);
            float: left;
        }

        .logo-section h4 {
            margin-top: 0px;
        }

        .logo-section .iitm-logo {
            width: 100px;
            float: left;
        }

        .logo-section h5 {
            font-size: 16px;
        }

        /*.umr-body .table > tbody > tr > td, .umr-body .table > tbody > tr > th, .umr-body .table > tfoot > tr > td, .umr-body .table > tfoot > tr > th, .umr-body .table > thead > tr > td, .umr-body .table > thead > tr > th {
            padding: 8px;
        }*/


        /*.ct-tr-tb > .table > tbody > tr > td, .ct-tr-tb > .table > tbody > tr > th, .ct-tr-tb > .table > tfoot > tr > td, .ct-tr-tb > .table > tfoot > tr > th, .ct-tr-tb > .table > thead > tr > td, .ct-tr-tb > .table > thead > tr > th {
            border: 0px;
            border-top:0px solid #ffffff;
        }*/

        .ct-tb em {
            width: 100%;
            display: inline-block;
            font-size: 13px;
            font-style: normal;
        }

        .ct-tb span {
            font-weight: bold;
        }

        .ct-tb {
            margin-bottom: 15px;
        }

        .ct-tr-tb {
            margin-bottom: 0px;
        }

            .ct-tr-tb.table-bordered > tbody > thead > tr > td, .ct-tr-tb.table-bordered > tbody > thead > tr > th {
                border-bottom: 0px;
                border-left: 0px;
                border-right: 0px;
                border-top: 0px;
            }

        .table > thead > tr > th {
            vertical-align: bottom;
            border-bottom: 2px solid #fff;
        }

        .ct-br-tb.table-bordered > tbody > tr > td, .ct-br-tb.table-bordered > tbody > tr > th {
            border-color: #000000;
        }

        .logo-section h3 {
            margin-top: 0px;
            margin-bottom: 3px;
            font-size: 28px;
        }

        .logo-section h4 {
            margin-bottom: 3px;
            font-weight: normal;
        }

        .logo-section h5 {
            margin-bottom: 3px;
            font-weight: normal;
            font-size: 15px;
            margin-top: 0px;
        }
    </style>
</head>
<body class="umr-body">
    <div class="umr-hd">
        <div class="row">
            <div class="col-md-12 ">
                <div class="logo-section">
                    <img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" />
                    <div class="dts">
                        <h4 style="padding-bottom: 10px;"><b>CENTER FOR INDUSTRIAL CONSULTANCY & SPONSORED RESEARCH</b></h4>
                        <h4 style="padding-bottom: 10px;"><b>INDIAN INSTITUTE OF TECHNOLOGY MADRAS,</b></h4>
                        <h4 style="padding-bottom: 10px;"><b>CHENNAI-600 036</b></h4>
                    </div>
                    <img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-md">
        <div class="col-md-6">
            <h5>No: @Model.OrderNo</h5>
        </div>
        <div class="col-md-6 text-right">
            Dated: @string.Format("{0:dd/MM/yyyy}", DateTime.Now)
        </div>
    </div>
    <div class="row mt-md">
        <div class="col-md-12">
            <h4 class="text-center sb-tt">SERVICE CERTIFICATE</h4>
            <br />
            @if (Model.ExperienceList == null)
            {
                <p>
                    This is to certify that <b>@Model.CandidateName</b> has worked temporarily as <b>@Model.Designation</b> with effect from <b>@Model.FromDate</b> to <b>@Model.ToDate</b>.
                    At the time of @Html.Raw((Model.Gender == 1) ? "his" : "her") relief @Html.Raw((Model.Gender == 1) ? "he" : "she") was drawing a <b>@Model.Paytype</b> of Rs.<b>@string.Format("{0:#,##0.############}", Model.SalaryPerMonth) /- (Rupees @CoreAccountsService.words(Model.SalaryPerMonth, false, true)) per month.</b>
                </p>
                <br />
                <p>We wish @Html.Raw((Model.Gender == 1) ? "him" : "her") all the very best for @Html.Raw((Model.Gender == 1) ? "his" : "her") future endeavours.</p>
            }
            else
            {
                <p>
                    This is to certify that <b>@Model.CandidateName</b> has worked temporarily under various projects during the below mentioned periods.
                </p>
            }

            @if (Model.ExperienceList != null)
            {
                <br />
                <table class="table table-bordered ct-br-tb">
                    <tbody>
                        <tr>
                            <th>DESIGNATION</th>
                            <th>DEPARTMENT</th>
                            <th>DATE OF APPOINTMENT</th>
                            <th>DATE OF RELIEF</th>
                            <th>SALARY</th>
                        </tr>
                        @foreach (var item in Model.ExperienceList)
                        {
                            <tr>
                                <td>@item.Designation</td>
                                <td>@item.EmployeeDepartmentname</td>
                                <td>@item.FromDate</td>
                                <td>@item.ToDate</td>
                                <td>@string.Format("{0:#,##0.############}", item.Salary) /-</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <p>@Html.Raw((Model.Gender == 1) ? "His" : "Her") last drawn salary is <b>Rs.@string.Format("{0:#,##0.############}", Model.SalaryPerMonth) / - (Rupees @CoreAccountsService.words(Model.SalaryPerMonth, false, true)) per month</b></p>
                <br />
                <br />
                <p>We wish @Html.Raw((Model.Gender == 1) ? "him" : "her") all the very best for @Html.Raw((Model.Gender == 1) ? "his" : "her") future endeavours.</p>
            }



        </div>
        <div class="col-md-12">
            @*<p>
                    <h5 class="text-center" style="float:left;margin-top:80px;">
                        SENIOR MANAGER - HR<br />
                        (Project Recruitment)<br />
                        IC & SR
                    </h5>
                </p>*@
            <table class="ct-tr-tb table">
                <thead>
                    <tr>
                        <th class="text-center" width="20%">
                            <br />
                            <br />
                            <br />
                            <span>SENIOR MANAGER - HR </span><br>
                            <span>(Project Recruitment)</span><br>
                            <span>IC&SR</span>
                        </th>
                        <th class="text-center" width="80%"></th>
                    </tr>
                </thead>
            </table>
            <p>
                <br />
                <br />
                <br />
                <em>*This is a system generated copy, hence signature is not required.</em>
            </p>
        </div>
    </div>
    <!-- main js files -->
    <script src="js/plugins/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>