@model IOAS.Models.RCTPopupModel
@{
    ViewBag.Title = "Staff details";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Connect UW">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="images/connectuw-icn.png" />
    <title>Staff details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&display=swap" rel="stylesheet">
    @*<link href="css/bootstrap.min.css" rel="stylesheet">*@
    <style>
        /*
            body{
                width: 21cm;
                height: 29.7cm;
                margin: 30mm 45mm 30mm 45mm;
                border: 1px solid #ccc;
            }
        */
        body {
            margin: 0;
            padding: 0;
            font-weight: 300;
            letter-spacing: 0.5px;
        }

        .umr-body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #2a2a2a;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 5px;
            padding-top: 10px;
            width: 100%;
            display: inline-block;
            margin-bottom: 10px;
        }

            .umr-hd h2 {
                font-size: 16px;
                color: #000;
                font-weight: normal;
                text-align: left;
            }

                .umr-hd h2 em {
                    font-size: 14px;
                    float: left;
                    font-style: normal;
                }

                .umr-hd h2 b {
                    font-size: 14px;
                    float: right;
                    font-weight: normal;
                }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .sb-tt {
            margin-top: 0px;
            font-weight: normal;
            text-decoration: underline;
        }

        .mb-md {
            margin-bottom: 30px;
        }

        .mb-sm {
            margin-bottom: 15px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mb-sm {
            margin-bottom: 10px;
        }

        .umr-body li {
            margin-bottom: 10px;
        }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .grey-bg {
            background: #eee;
            padding: 15px;
            width: 100%;
            margin: 0 auto;
        }

            .grey-bg .icn-box {
                padding: 10px;
            }

                .grey-bg .icn-box em {
                    font-size: 13px;
                    color: #000;
                    font-style: normal;
                    width: 100%;
                    display: inline-block;
                    margin-bottom: 5px;
                }

                .grey-bg .icn-box span {
                    font-size: 15px;
                    color: #000;
                    font-style: normal;
                }

        .cnt-bg {
            padding: 0px;
        }

        .gr-bg {
            background: #eee;
        }

        .logo-section .icsr-logo {
            width: 50px;
            float: left;
        }

        .logo-section .dts {
            width: calc(100% - 160px);
            float: left;
        }

        .logo-section h4 {
            margin-top: 0px;
        }

        .logo-section .iitm-logo {
            width: 50px;
            float: right;
        }

        .logo-section h5 {
            font-size: 16px;
        }

        .umr-body .table > tbody > tr > td, .umr-body .table > tbody > tr > th, .umr-body .table > tfoot > tr > td, .umr-body .table > tfoot > tr > th, .umr-body .table > thead > tr > td, .umr-body .table > thead > tr > th {
            padding: 5px;
        }

        .ct-tb em {
            width: 100%;
            display: inline-block;
            font-size: 14px;
            font-style: normal;
        }

        .ct-tb span {
            font-weight: bold;
        }

        .ct-tb {
            margin-bottom: 15px;
        }

        .ct-tr-tb {
            margin-bottom: 0px;
        }

            .ct-tr-tb.table-bordered > tbody > tr > td, .ct-tr-tb.table-bordered {
                border: 0px;
            }

        .ct-br-tb.table-bordered > tbody > tr > td, .ct-br-tb.table-bordered > thead > tr > th, .ct-br-tb.table-bordered {
            border-color: rgba(0,0,0,0.7);
        }

        .ct-tb-trp.table-bordered > tbody > tr > td, .ct-tb-trp.table-bordered, .ct-tb-trp.table > thead > tr > th {
            border: 0px;
        }

        .cnt-bg h4 {
            margin-top: 30px;
        }

        .mn-tt {
            font-size: 18px;
        }
    </style>
</head>
<body class="umr-body">

    <header class="umr-hd">
        <div class="col-md-10 col-md-offset-1">
            <div class="logo-section">
                <div>
                    <h3>Staff Details</h3>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h5>Name : @Html.DisplayFor(m => m.CandidateName)</h5>
                </div>
                <div class="col-md-6 text-right">
                    <h5>Date of birth : @Html.DisplayFor(m => m.DateOfBirth)</h5>
                </div>
            </div>
        </div>
    </section>
    <section class="cnt-bg">
        <div class="container-fluid">
            <div class="row mt20">
                <h4 class="text-center">Experience</h4>
                <div class="col-md-12 scrl-body">
                    <table class="table alter-table">
                        <thead>
                            <tr>
                                <th>Project No</th>
                                <th>Appointment Type</th>
                                <th>Status</th>
                                <th>Designation</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Y</th>
                                <th>M</th>
                                <th>D</th>
                                <th>Basic Pay</th>
                                @if (Model.ExperienceList != null && Model.ExperienceList.Select(x => x.AppType).Contains("STE"))
                                {
                                    <th>HRA</th>
                                }
                                @if (Model.ExperienceList != null && Model.ExperienceList.Select(x => x.AppType).Contains("OSG"))
                                {
                                    <th>PF Basic</th>
                                }
                            </tr>
                        </thead>
                        <tbody id="tbodyExperience">
                            @if (Model.ExperienceList != null)
                            {
                                foreach (var item in Model.ExperienceList)
                                {
                                    <tr>
                                        <td>@item.ProjectNo</td>
                                        <td>@item.TypeofAppointment</td>
                                        <td>@item.Status</td>
                                        <td>@item.Designation</td>
                                        <td>@item.FromDate</td>
                                        <td>@item.ToDate</td>
                                        <td>@item.Years</td>
                                        <td>@item.Months</td>
                                        <td>@item.Days</td>
                                        <td>@item.Salary</td>
                                        @if (item.AppType == "STE")
                                        {
                                            <td>@item.Hra</td>
                                        }
                                        @if (item.AppType == "OSG")
                                        {
                                            <td>@item.PFBasicWages</td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt20">
                <h4 class="text-center">Total Period</h4>
                <div class="col-md-12 scrl-body">
                    <table class="table alter-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Year</th>
                                <th>Month</th>
                                <th>Days</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyExperience">
                            @if (Model.AppointmenttypeWiseExperience != null)
                            {
                                foreach (var item in Model.AppointmenttypeWiseExperience)
                                {
                                    <tr>
                                        <td>@item.TypeofAppointment</td>
                                        <td> : </td>
                                        <td>@item.Years</td>
                                        <td>@item.Months</td>
                                        <td>@item.Days</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
