@model IOAS.Models.STEViewModel
@using IOAS.GenericServices
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- favicon icon -->
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&display=swap" rel="stylesheet">
    <style>
        .umr-body {
            /*font-family: 'Poppins', sans-serif;*/
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            color: #2a2a2a;
            padding: 0px 45px 0px 45px;
            text-align: justify;
            line-height : 2;

        }

         .umr-body li {
             margin-bottom: 10px;
         }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .ct-in h2 em {
            float: left;
            font-style: normal;
            width: calc(100% - 250px);
            text-align: center;
            padding-top: 35px;
            font-size: 20px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mn-m-tt {
            font-size: 20px;
            padding-bottom: 5px;
        }

        .mn-tt {
            font-size: 16px;
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
        }

        h5 {
            font-weight: bold;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
            padding-top: 10px;
        }

        .umr-hd1 {
            text-align: center;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
            padding-top: 50px;
        }

        .umr-hd h2 {
            font-size: 16px;
            color: #000;
            font-weight: normal;
            text-align: left;
        }

            .umr-hd h2 em {
                font-size: 14px;
                float: left;
                font-style: normal;
            }

            .umr-hd h2 b {
                font-size: 14px;
                float: right;
                font-weight: normal;
            }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }


        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border: 0px;
        }


        .logo-section .icsr-logo {
            width: 80px;
            float: right;
        }

        .logo-section .dts {
            width: calc(100% - 230px);
            float: left;
            text-align: center;
        }

        .logo-section h4 {
            margin-top: 0px;
        }

        .logo-section .iitm-logo {
            width: 100px;
            float: left;
        }

        .logo-section h5 {
            font-size: 16px;
        }

        .tbl-style > .table > tbody > tr > td {
            border: inherit;
        }

        .tbl-style > .table > tbody > tr > th {
            border: inherit;
        }

        .tbl-style > .table > thead > tr {
            border-color: #000;
        }

            .tbl-style > .table > thead > tr > td {
                border: 1px solid #000;
            }

        .tbl-style > .table-bordered > thead > tr > th {
            border-bottom-width: 0px;
        }

        .tbl-style > .table.table-bordered > tbody > tr > td {
            border-color: #000;
        }

        .tbl-style > .table-bordered > thead > tr > th {
            border: 1px solid #000;
        }

        .tbl-style table, .tbl-style tr, .tbl-style td, .tbl-style th {
            border: 1px solid #000;
        }

        .tbl-style > .table {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="umr-body">
    <div class="umr-hd">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-section">
                    <img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" />
                    <div class="dts">
                        <h4 style="padding-bottom: 5px;"><b>CENTER FOR INDUSTRIAL CONSULTANCY & SPONSORED RESEARCH</b></h4>
                        <h4 style="padding-bottom: 5px;"><b>INDIAN INSTITUTE OF TECHNOLOGY MADRAS,</b></h4>
                        <h4 style="padding-bottom: 5px;"><b>CHENNAI-600 036</b></h4>
                    </div>
                    <img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-md">
        <div class="col-md-6">
            <span>No: @Model.ApplicationNo</span>
        </div>
        <div class="col-md-6 text-right">
            <span>Dated: @string.Format("{0:dd-MMMM-yyyy}", Model.offerDate)</span>
        </div>
    </div>
    <div class="row mt-md">
        <div class="col-md-12">
            <p>To</p>
            <p style="margin-left:25px;">
                <b>
                    @Model.Name.ToUpper()<br />
                    @Model.PresentAddress.ToUpper()
                </b>
            </p>
            <p>
                <br>
                Sir / Madam,
            </p>
            <br>
            @if (Model.Typeofappointment != "Selection")
            {
                <p style="margin-left:25px;">
                    Sub : Short-term appointment for the post of  <b>@Model.Designation</b> in the project <b>@Model.ProjectDetailsModel.ProjectNumber</b> titled <b>@Model.ProjectDetailsModel.ProjectTitle</b> in <b>@Model.ProjectDetailsModel.PIDepartmentName</b>
                </p>
            }
            else if (Model.Typeofappointment == "Selection" && Model.MsPhd)
            {
                <p style="margin-left:25px;">
                    Sub : <b>@Model.MsOrPhd</b> to the post of  <b>@Model.Designation</b> in the project <b>@Model.ProjectDetailsModel.ProjectNumber</b> titled <b>@Model.ProjectDetailsModel.ProjectTitle</b> in <b>@Model.ProjectDetailsModel.PIDepartmentName</b>
                </p>
            }
            else if (Model.Typeofappointment == "Selection")
            {
                <p style="margin-left:25px;">
                    Sub : Appointment to the post of <b>@Model.Designation</b> in the project <b>@Model.ProjectDetailsModel.ProjectNumber</b> titled <b>@Model.ProjectDetailsModel.ProjectTitle</b> in <b>@Model.ProjectDetailsModel.PIDepartmentName</b>
                </p>
            }
        </div>
        <div class="col-md-12">
            <br>
            <p style="margin-left:25px;">This is with reference to your application, the Centre for IC & SR is pleased to engage you as <b>@Model.Designation (@Model.Typeofappointment)</b> on temporary basis in the project funded by @Model.ProjectDetailsModel.SponsoringAgency on the following terms and conditions:</p>
            <ol>
                <li>
                    You will be governed by the conduct rules and any orders and rules in force from time to time as applicable to the Project staff.
                </li>
                <li>
                    You will be paid a <b>@Model.PayeeType of Rs. @string.Format("{0:#,##0.############}", Model.BasicPay) /- (Rupees @CoreAccountsService.words(Model.BasicPay, false, true)) per month</b>
                    @*You will be paid a <b>@Model.PayeeType of Rs. @string.Format("{0:#,##0.############}", Model.BasicPay) /- (Rupees @CoreAccountsService.words(Model.BasicPay)) per month</b>*@

                </li>
                <li>
                    Your engagement in this project will be purely temporary and for a period from <b>@Model.Appointmentstartdate to @Model.AppointmentEndDate.</b>
                </li>
                <li>
                    Your service in one project is independent of the services rendered in any other projects, since the funding agency and pay are different. This temporary engagement in this project or in any other project will not confer you any title to permanent employment at the Centre.
                </li>
                <li>
                    Your services may be discontinued at any point of time with <b>one month’s notice or the period decided by your Project Coordinator at the time of your Joining, whichever is longer,</b> on either side during the tenure of the assignment without assigning any reasons and also will come to an end as soon as the project is over earlier or if your service is not required for the project.
                </li>

                <li>
                    You will be relieved, from the project only after completion of the due notice period or after getting ‘No Objection Certificate’ for relief from the Co-ordinator.
                </li>
                <li>
                    You are not entitled to any travelling allowance for joining this post
                </li>
                <li>
                    You will be eligible to the leave etc. as per leave rules applicable to the project staff.
                </li>
                <li>
                    This appointment is valid subject to the successful verification of your data and all your documents in respect of your educational qualification,experience, age, category and other criteria. If any discrepancy is found, this offer of appointment shall stand cancelled without assigning any reason. You need to submit the following documents (soft copy via email) for completing the verification Process.
                    <ol type="a">
                        <li>
                            Self-attested copy of S.S.L.C. or School Certificate in proof of the date of birth.
                        </li>
                        <li>
                            Self-attested copy of Certificates relating to all your educational and technical qualifications and previous experience, if any.
                        </li>
                        <li>
                            Self-attested copy of address Proof and Pan card.
                        </li>
                    </ol>
                </li>
                <li>
                    Also You have to submit the following documents at the time of Verification:
                    <ol type="a">
                        <li>
                            Attestation (form enclosed)
                        </li>
                        <li>
                            An undertaking assigning all rights in respect of investigations and to abide by the rules and regulations of the Centre for Industrial Consultancy & Sponsored Research (as per form enclosed). Along with the declaration that you are not under bond or agreement or under obligation to serve the Central / state Government / University or a public Authority / Undertaking /Institution / Autonomous body.
                        </li>
                        <li>
                            If belonging to SC/ST category, submit the certificate issued by a competent authority. This offer is provisional and is subject to the verification of Scheduled Caste /Tribe certificates through proper channels. During the verification if it   revealed that the claim to be belonging to SC/ST category found false, then this offer will be withdrawn forthwith, without assigning any further reason and without prejudice to such further action as may be deemed fit under the provisions of the Indian Penal Code for production of false certificates.
                        </li>
                    </ol>
                </li>

                <li>
                    If any declaration given or information furnished by you, is found to be incorrect or not in order or if you are found to have willfully suppressed any information considered material by the Centre. Then the Centre reserves the right to withdraw /cancel this offer at any time without prejudice to such other action as it may deem necessary.
                </li>
                <li>
                    You shall maintain 100% compliances to all Regulatory Policies of the Centre for IC&SR like Code of conduct, Anti Sexual Harassment Policy and any such regulatory policies that may get communicated time to time. Any non-compliance to these regulatory policies or any other such policies, as may be defined or updated from time to time shall lead to termination of your employment with immediate effect.
                </li>
                <li>
                    While in the full employment with the Centre for IC&SR, you will not be employed by any other company/Institute /Organization/entity whether on a full time or on a temporary or offer your services with or without pay to any physical person, legal entity or public authority or be occupied in any business, nor in any way be associated with any person or persons as advisor, director, partner, whether paid or not for your services. In case this condition is contravened, your employment, as the case may be, will be deemed to have ceased in terms of this appointment as a result of misconduct and a breach of your obligations under this letter. In such event you will be held liable for any damage that the Center suffers as a consequence of your actions. (This is not applicable for Part time employees).
                </li>
                <li>
                    a) If you accept this offer, please communicate your acceptance in the enclosed form and
                     join on or before <br><b>@RequirementService.GetTenWorkingDates(Model.offerDate,Model.AppointmentFromdate ?? DateTime.Now)</b> . If you do not reply within this date, this offer is liable to be cancelled without further reference to you.<br>
                    b) Kindly note that you have to report to the undersigned for joining.
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-left" width="50px">
                            Encl : as above<br />
                            Copy to Prof . @Model.ProjectDetailsModel.PIName<br />
                            @Model.ProjectDetailsModel.PIDepartmentName
                        </th>
                        <th class="text-center" width="50px"></th>
                        <th class="text-center" width="50px">
                            <br />
                            <br />
                            <br />
                            <span>SENIOR MANAGER - HR </span><br>
                            <span>(Project Recruitment)</span><br>
                            <span>IC&SR</span>
                        </th>
                    </tr>
                </thead>
            </table>
            <p>
                <br />
                <br />
                <em>*This is a system generated copy, hence signature is not required.</em>
            </p>
        </div>
    </div>
    <!-- main js files -->
</body>
</html>
