@model IOAS.Models.STEViewModel
@using IOAS.GenericServices
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- favicon icon -->
    <link href="@Url.Content("~/Content/IOASContent/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&display=swap" rel="stylesheet">
    <style>
        .umr-body {
            /*font-family: 'Poppins', sans-serif;*/
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            color: #2a2a2a;
            padding: 0px 45px 0px 45px;
            text-align: justify;
            line-height : 2;

        }

         .umr-body li {
             margin-bottom: 10px;
         }

        .tp-tt {
            margin-top: 20px;
            text-decoration: underline;
            font-weight: bold;
        }

        .ct-in h2 em {
            float: left;
            font-style: normal;
            width: calc(100% - 250px);
            text-align: center;
            padding-top: 35px;
            font-size: 20px;
        }

        .mt-md {
            margin-top: 30px;
        }

        .mn-m-tt {
            font-size: 20px;
            padding-bottom: 5px;
        }

        .mn-tt {
            font-size: 16px;
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
        }

        h5 {
            font-weight: bold;
        }

        .umr-hd {
            text-align: center;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
            padding-top: 10px;
        }

        .umr-hd1 {
            text-align: center;
            border-bottom: 2px solid black;
            padding-bottom: 15px;
            padding-top: 50px;
        }

        .umr-hd h2 {
            font-size: 16px;
            color: #000;
            font-weight: normal;
            text-align: left;
        }

            .umr-hd h2 em {
                font-size: 14px;
                float: left;
                font-style: normal;
            }

            .umr-hd h2 b {
                font-size: 14px;
                float: right;
                font-weight: normal;
            }

        .umr-hd-tt {
            font-size: 26px;
        }

        .umr-hd-stt {
            font-size: 16px;
            margin-bottom: 20px;
        }


        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            border: 0px;
        }


        .logo-section .icsr-logo {
            width: 80px;
            float: right;
        }

        .logo-section .dts {
            width: calc(100% - 230px);
            float: left;
            text-align: center;
        }

        .logo-section h4 {
            margin-top: 0px;
        }

        .logo-section .iitm-logo {
            width: 100px;
            float: left;
        }

        .logo-section h5 {
            font-size: 16px;
        }

        .tbl-style > .table > tbody > tr > td {
            border: inherit;
        }

        .tbl-style > .table > tbody > tr > th {
            border: inherit;
        }

        .tbl-style > .table > thead > tr {
            border-color: #000;
        }

            .tbl-style > .table > thead > tr > td {
                border: 1px solid #000;
            }

        .tbl-style > .table-bordered > thead > tr > th {
            border-bottom-width: 0px;
        }

        .tbl-style > .table.table-bordered > tbody > tr > td {
            border-color: #000;
        }

        .tbl-style > .table-bordered > thead > tr > th {
            border: 1px solid #000;
        }

        .tbl-style table, .tbl-style tr, .tbl-style td, .tbl-style th {
            border: 1px solid #000;
        }

        .tbl-style > .table {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="umr-body">
    <div class="umr-hd">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-section">
                    <img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" />
                    <div class="dts">
                        <h4 style="padding-bottom: 5px;"><b>CENTRE FOR INDUSTRIAL CONSULTANCY & SPONSORED RESEARCH</b></h4>
                        <h4 style="padding-bottom: 5px;"><b>INDIAN INSTITUTE OF TECHNOLOGY MADRAS,</b></h4>
                        <h4 style="padding-bottom: 5px;"><b>CHENNAI-600 036</b></h4>
                    </div>
                    <img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-md">
        <div class="col-md-6">
            <span>No: @Model.ApplicationNo</span>
        </div>
        <div class="col-md-6 text-right">
            <span>Dated: @string.Format("{0:dd-MMMM-yyyy}", Model.offerDate)</span>
        </div>
    </div>
    <div class="row mt-md">
        <div class="col-md-12">
            <p style="text-align:center">

                <b>Letter of Appointment</b>
            </p>
            <p>To</p>
            <p style="margin-left:25px;">
                <b>
                    @Model.Name.ToUpper()<br />
                    @Model.PresentAddress.ToUpper()
                </b>
            </p>
           
            <p>
                <br>
                Sir / Madam,
            </p>
            <br>
                <p style="margin-left:25px;">
                    We are pleased to appoint you as <b>@Model.Designation</b> in the Project titled <b>@Model.ProjectDetailsModel.ProjectTitle</b> and you will be reporting to <b>Prof. @Model.ProjectDetailsModel.PIName</b>. Your date of joining will be   <b>@Model.Appointmentstartdate</b> and you will be paid a <b>@Model.PayeeType of Rs. @string.Format("{0:#,##0.############}", Model.BasicPay) /- (Rupees @CoreAccountsService.words(Model.BasicPay, false, true)) per month</b>
                </p>
            
        </div>
        <div class="col-md-12">
            <br>
            <p style="margin-left:25px;">Your employment with us will be governed by the terms and condition as mentioned in <b>Annexure 1</b></p>
            <br>
            <p style="margin-left:25px;">We look forward to your continued contribution for the growth of the IC&SR, IIT Madras and a mutually beneficial association.</p>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-left" width="50px">
                            <br />
                            <br />
                            <br />
                            <span style="margin-left:25px;">SENIOR MANAGER - HR </span><br>
                            <span style="margin-left:25px;">Centre for IC&SR, IITM</span><br>
                        </th>
                        
                    </tr>
                </thead>
            </table>
            <p>
                <br />
                <br />
                <em>*This is a system generated copy, hence signature is not required.</em>
            </p>
        </div>
    </div>
    <div style="page-break-before: always">
        <div class="umr-hd">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo-section">
                        <img src="~/Content/InstituteLogo/iitm_logo.png" class="iitm-logo" />
                        <div class="dts">
                            <h4 style="padding-bottom: 5px;"><b>CENTRE FOR INDUSTRIAL CONSULTANCY & SPONSORED RESEARCH</b></h4>
                            <h4 style="padding-bottom: 5px;"><b>INDIAN INSTITUTE OF TECHNOLOGY MADRAS,</b></h4>
                            <h4 style="padding-bottom: 5px;"><b>CHENNAI-600 036</b></h4>
                        </div>
                        <img src="~/Content/InstituteLogo/icsr_logo.png" class="icsr-logo" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-md">
            <div class="col-md-12">
                <p><b>Annexure 1</b></p>
                <ol>
                    <li>
                        Your appointment in this project is solely on a contractual basis starting from <b>@Model.Appointmentstartdate</b> till <b>@Model.AppointmentEndDate</b>. However, based on your performance and the project requirement the contract may be extended for the maximum period of 5 years or till the end of project closure date, whichever is earlier.
                    </li>
                    <li>
                        This offer of appointment shall hold good only upon the authenticity of documents provided by you. In case, if any information furnished by you, is found to be incorrect or if you are found to have willfully suppressed any information considered material by the institute, then the institute reserves the right to withdraw /cancel this appointment at any time without prejudice to such other action as it may deem necessary.
                    </li>
                    <li>
                        You will be eligible to avail leave as per the leave rules applicable to the project staff.
                    </li>
                    <li>
                        During your period of contract, your appointment shall continue unless and until terminated either the by PI or yourself by giving not less than ‘one month’ notice in writing. The PI has the sole discretion to waive off the notice period and, in that event, you will be paid only until your last working day. The notice period will be extended by the number of days of leave availed after submission of resignation.
                    </li>
                    <li>
                        The service for a project may vary from the services rendered in other projects since the scope, funding agency and pay might be different. The temporary engagement in this project or in any other project will not confer you any title to permanent employment at the Centre.
                    </li>

                    <li>
                        Your utmost compliance to all regulatory policies of the IIT Madras like Code of conduct, Anti Sexual Harassment Policy and any such regulatory policies that may get communicated from time to time, is solicited. Any non-compliance to these regulatory policies or any other such policies, as may be defined or updated from time to time shall lead to termination of your   contract with immediate effect.
                    </li>
                    <li>
                        While in the full time employment with the Centre for IC&SR, you will not be employed by any other  company/Institute /Organization/entity whether on a full time or on a temporary basis or offer your services with or without pay to any physical person, legal entity or public authority or be occupied in any business, nor in any way be associated with any person or persons as advisor, director, partner, whether paid or not for your services. In case this condition is contravened, your employment will be deemed to have ceased in terms of this appointment as a result of misconduct and a breach of your obligations under this letter. In such event you will be held liable for any damage that the Center suffers as a consequence of your actions. (This is not applicable for Part time employees).
                    </li>
                    <li>
                        If you accept this offer, please communicate your acceptance in the enclosed form and join on or before <b>@RequirementService.GetTenWorkingDates(Model.offerDate, Model.AppointmentFromdate ?? DateTime.Now)</b>. If you do not reply within this date, this offer stands cancelled without further notice to you.
                    </li>

                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-left" width="50px">
                            <br />
                            <br />
                            <br />
                            <span style="margin-left:25px;">SENIOR MANAGER - HR </span><br>
                            <span style="margin-left:25px;">Centre for IC&SR, IITM</span><br>
                        </th>
                       
                    </tr>
                </thead>
            </table>
            <p>
                <br />
                <br />
                <em>*This is a system generated copy, hence signature is not required.</em>
            </p>
        </div>
    </div>
    <!-- main js files -->
</body>
</html>
