@model IOAS.Models.MemberModel
@{
    ViewBag.Title = "MemberMaster";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h4><b>Committee Creation</b></h4>

    </div>
</div>
@using (Html.BeginForm("MemberMaster", "RequirementMaster", FormMethod.Post, new { @class = "", role = "form", @id = "formMe", enctype = "multipart/form-data" }))

{
<div class="row cts-mn-dts">
    <div class="page-wrapper mt30">
        <div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bl-lg-panel-box pb-null">
                            <div class="cmn-panel-box">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group custom-form-group">
                                            <label class="required">Type</label>
                                            @Html.DropDownListFor(m => m.MemberType, new SelectList(ViewBag.member, "id", "name"), "Select Type"
,new { @class = "form-control" })
                                            <div>@Html.ValidationMessageFor(m => m.MemberType)</div>
                                            @Html.HiddenFor(m=>m.MemberId)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group custom-form-group">
                                            <label class="required">Professor Name</label>
                                            @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control", @autocomplete = "off" })
                                            <div>@Html.ValidationMessageFor(m => m.EmployeeId)</div>
                                            @Html.HiddenFor(m => m.EmployeeId)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group custom-form-group">
                                            <label class="required">From Date</label>
                                            @Html.EditorFor(m => m.FromDate, new { @class = "form-control" })
                                            <div>@Html.ValidationMessageFor(m => m.FromDate)</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group custom-form-group">
                                            <label class="required">To Date</label>
                                            @Html.EditorFor(m => m.ToDate, new { @class = "form-control" })
                                            <div>@Html.ValidationMessageFor(m => m.ToDate)</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">

                                        <div id="divStatus" class="dis-none">
                                            <div class="form-group custom-form-group">
                                                <label class="required">Member Status</label>
                                                @Html.DropDownListFor(m => m.MemberStatus, new SelectList(ViewBag.memberstatus, "name", "name"), "Select Member Status"
, new { @class = "form-control" })
                                                <div>@Html.ValidationMessageFor(m => m.MemberStatus)</div>
                                            </div>
                                        </div>
                                        
                                        </div>
                                    <div class="col-md-6">
                                        <div id="diveffactive" class="dis-none">
                                            <div class="form-group custom-form-group">
                                                <label class="required">Effective date</label>
                                                @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "form-control", @readonly = "readonly" })
                                                <div>@Html.ValidationMessageFor(m => m.EffectiveDate)</div>
                                            </div>

                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bl-lg-panel-box  pb-null">
                            <div class="bl-lg-panel-box-hd mb-m-5 pd-null">
                                <div class="cmn-panel-box">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Name</label>
                                                <h4 id="lblEmpName"></h4>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>ID Number</label>
                                                <h4 id="lblEmpNo"></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Designation</label>
                                                <h4 id="lblEmpDes"></h4>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Department Code</label>
                                                <h4 id="lblEmpDepCode"></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Department Name</label>
                                                <h4 id="lblEmpDepName"></h4>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Email</label>
                                                <h4 id="lblEmpEmail"></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group custom-form-group mb-sm">
                                                <label>Contact Number</label>
                                                <h4 id="lblEmpCONNo"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-lg text-center">
        <input type="submit" class="btn btn-primary" value="Submit" name="Button" id="btnDeMas" />
        <input type="button" onclick="window.location.href='@Url.Action("MemberMasterList", "RequirementMaster")';" class="btn btn-default" value="Close" id="btnclose" />
    </div>
</div>
}
<div class="loading-bg dis-none">
</div>
<script>
    var errMsg = '@TempData["errMsg"]';
    var succMsg = '@TempData["succMsg"]';
    var alertMsg = '@TempData["alertMsg"]';
    $(document).ready(function () {
        if (succMsg != '') {
            $('#alertTitle').html("Success");
            $('#alertSuccessContent').html(succMsg);
            $('#SuccessAll').modal('toggle');
        }
        else if (errMsg != '') {
           
            $('#FailedAlert').html(errMsg);
            $('#Failed').modal('toggle');
            $('#diveffactive').removeClass('dis-none');
        }
        else if (alertMsg != '') {

            $('#alert').html(alertMsg);
            $('#Validation').modal('toggle');
        }
        applyAutoComplete($('#EmployeeName'), $('#EmployeeId'), '@Url.Action("LoadPIList", "CoreAccounts")', 'GetPIDetails', true);

    });
   function GetPIDetails()
   {
       var EmpId = $('#EmployeeId').val();
       if(EmpId!=""||EmpId!=0)
       {
           $(".loading-bg").removeClass('dis-none');
           $.getJSON("@Url.Action("LoadPIDetails", "Requirement")", { UserID: EmpId },
            function (result) {
                if (result.projectData.PICode != null)
                {
                    $('#lblEmpName').text(result.projectData.PIName);
                    $('#lblEmpNo').text(result.projectData.PICode);
                    $('#lblEmpDes').text(result.projectData.PIDesignation);
                    $('#lblEmpDepCode').text(result.projectData.PIDepartmentCode);
                    $('#lblEmpDepName').text(result.projectData.PIDepartmentName);
                    $('#lblEmpEmail').text(result.projectData.Email);
                    $('#lblEmpCONNo').text(result.projectData.Phone);
                }
                $(".loading-bg").addClass('dis-none');
            });

       }
   }
    $('#FromDate').datepicker({
        
        dateFormat: 'dd-MM-yy',
        changeYear: true,
        minDate: 0,

    });

    $('#ToDate').datepicker({
        dateFormat: 'dd-MM-yy',
        changeYear: true,
        minDate: 0,

    });
    $(document).ready(function () {
        var memberid = $('#MemberId').val();

        if (memberid != "")
        {
            $('#divStatus').removeClass('dis-none');
            $('#MemberStatus').addClass("required");
            GetPIDetails();
           $('#MemberStatus').val('@Model.MemberStatus');
            
        }
        else
        {
            $('#divStatus').addClass('dis-none');
            $('#MemberStatus').removeClass("required");
        }
        $('#MemberStatus').on('change', function () {

            var mestatus = $('#MemberStatus').val();
            if(mestatus=="InActive")
            {
                $('#diveffactive').removeClass('dis-none');
            }
            else
            {
                $('#diveffactive').addClass('dis-none');
            }
        });
        var defaultappstrFromDate = moment($('#FromDate').val()).add(0).toDate();
        var defaultapptodateDate = moment($('#ToDate').val()).add(0).toDate();
        $('#EffectiveDate').datepicker({
            dateFormat: 'dd-MM-yy',
            changeYear: true
        }).datepicker("option", "minDate", defaultappstrFromDate).datepicker("option", "maxDate", defaultapptodateDate);
    });
</script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/FoolProof/mvcfoolproof.unobtrusive.min.js")" type="text/javascript"></script>
