@model IOAS.Models.MemberViewModel
@{
    ViewBag.Title = "MemberMasterView";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h4><b>Member View</b></h4>

    </div>
</div>
<div class="vw-dts-bg">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>Member Type</label>
                            <h4>@Html.DisplayFor(m => m.MemberType)</h4>
                        </td>
                        <td>
                            <label>Employee Name</label>
                            <h4>@Html.DisplayFor(m => m.EmployeeName)</h4>
                        </td>
                        <td>
                            <label>From Date</label>
                            <h4>@Html.DisplayFor(m => m.FrmDate)</h4>
                        </td>
                        <td>
                            <label>To Date</label>
                            <h4>@Html.DisplayFor(m => m.ActualendDate)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Employee Designation</label>
                            <h4>@Html.DisplayFor(m => m.EmployeeDesignation)</h4>
                        </td>
                        <td>
                            <label>Department Code</label>
                            <h4>@Html.DisplayFor(m => m.EmployeeDepartmentCode)</h4>
                        </td>
                        <td>
                            <label>Department Name</label>
                            <h4>@Html.DisplayFor(m => m.EmployeeDepartmentName)</h4>
                        </td>
                        <td>
                            <label>Email</label>
                            <h4>@Html.DisplayFor(m => m.EmpEmail)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Contact Number</label>
                            <h4>@Html.DisplayFor(m => m.ConNumber)</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-lg text-center">
        <input type="button" onclick="window.location.href='@Url.Action("MemberMasterList", "RequirementMaster")';" class="btn btn-default" value="Close" id="btnclose" />
    </div>
</div>