@model IOAS.Models.StatutoryModel
@{
    ViewBag.Title = "StatutoryMasterView";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}
<div class="row hd-tt-bg">
    <div class="col-md-12">
        <h4 class="pull-left"><b>Statutory Master View</b></h4>
    </div>
</div>
<div class="vw-dts-bg">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>PF-Employee Percentage</label>
                            <h4>@Html.DisplayFor(m=>m.PFEmployeePercentage)</h4>
                        </td>
                        <td>
                            <label>PF-Employer Percentage </label>
                            <h4>@Html.DisplayFor(m => m.PFEmployerPercentage)</h4>
                        </td>
                        <td>
                            <label>PF-Slab</label>
                            <h4>@Html.DisplayFor(m => m.PFEmployeeAmount)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>ESIC- Employee Percentage </label>
                            <h4>@Html.DisplayFor(m => m.ESICEmployeePercentage)</h4>
                        </td>
                        <td>
                            <label>ESIC- Employer Percentage </label>
                            <h4>@Html.DisplayFor(m => m.ESICEmployerPercentage)</h4>
                        </td>
                        <td>
                            <label>ESIC-Physical Slab </label>
                            <h4>@Html.DisplayFor(m => m.ESICPhysicalAmount)</h4>
                        </td>
                        <td>
                            <label>ESIC- General Slab </label>
                            <h4>@Html.DisplayFor(m => m.ESICGeneralAmount)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>LWF-Employee Contribution</label>
                            <h4>@Html.DisplayFor(m => m.LWFEmployeeContribution)</h4>
                        </td>
                        <td>
                            <label>LWF-Employer Contribution </label>
                            <h4>@Html.DisplayFor(m => m.LWFEmployerContribution)</h4>
                        </td>
                        <td>
                            <label>Value Date </label>
                            <h4>@Html.DisplayFor(m => m.ValueDateType)</h4>
                        </td>
                        <td>
                            <label>End Date </label>
                            <h4>@Html.DisplayFor(m => m.EndDateType)</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-lg text-center">
       <input type="button" onclick="window.location.href='@Url.Action("StatutoryMasterList", "RequirementMaster")';" class="btn btn-default" value="Close" id="btnclose" />
    </div>
</div>
